
<ng-container *ngIf="predefinedCondition">
<ng-container *ngFor="let item of predefinedCondition.verifyPredefinedCondtions">
    <div class="form-group programPredefinedCondtion mt-3 pl-3 pr-3 mt-3">
        <p>
        لا يمكن الاشتراك فى هذا البرنامج بسبب عدم انطباق الشرك </p>
        <p>{{item.programPredefinedCondtionsName}}</p>
        <p>
            {{item.programPredefinedCondtion}} 
        </p>
  </div>
</ng-container>
<section class="mt-5">
    <div  class="row direction-rtl buttons-center mt-5">
      
        <button  type="reset" class="save-btn"   (click)="closeForm()">
        تم 
        </button>
    </div>
</section>

</ng-container>
