<!-- <div class="container-fluid">
    
    <div *ngFor = 'let bat of programDetails?.progBats'>
        {{bat.arBatName}}
    </div>
</div> -->

<div class="list-group list-group_program-list">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-start pb-2">
        <a (click)="showAddBatchOverlay()" class="btn_fram mb-3">
            {{ "PROGRAM_BATCHES.ADD_BATCH" | translate }} <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
      <div class="internal_scroll_list_group" >
        <div *ngFor = 'let bat of programDetails?.progBats let i = index;'>
          <a class="list-group-item d-flex" >
            <!--                  [class.active]="selectedIndex === -1"-->
            <!--                  (click)="loadProgramMaterial();selectedIndex=-1"-->
            <span>  {{bat.arBatName}}</span>
            <div class="d-flex">


              <i class="far fa-edit cursor-pointer"  (click)="showEditBatchOverlay(bat)" ></i>
              <i class="far fa-trash-alt cursor-pointer ml-1 mr-1" (click)="confirmDialog(bat.id)" ></i>
            </div>
          </a>
        </div>

            <!-- <span class="list-group-item"  *ngFor = 'let bat of programDetails?.progBats'> 
                
                {{bat.arBatName}} 
                
                <div class="d-flex">      
                    <i class="far fa-copy " ></i>
                    <i class="far fa-trash-alt ml-1 mr-1" ></i>
                </div>
            </span> -->
           
        </div>
    </div>
  </div>

        

</div>
