
<div class="container-fluid border">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 pl-0 border">
           <app-student-programs></app-student-programs>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0 border">
            <app-statistics></app-statistics>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0 border">
            <app-honorary-board></app-honorary-board>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 border">
        </div>
    </div>



</div>