.commantbackgrond{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    margin-top: 1rem;
}
.scroll_student_programs{
    overflow-y: auto;
    height: 88vh;
}