.overlay {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
  @media (max-width: 1200px) {
    .overlay {
      width:60%;
    }
  }
  
  @media (max-width: 600px) {
    .overlay {
      width: 90%;
    }
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 50px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #8e2520;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #8e2520;
  }
  
  
  .overlay::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }
  
  .overlay::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  .overlay::-webkit-scrollbar-thumb
  {
      background-color: #000000;
      border: 2px solid #555555;
  }
  