.overlay {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
 

}

@media (max-width: 1200px) {
  .overlay {
    width:60%;
   
  }
}

@media (max-width: 600px) {
  .overlay {
    width: 90%;
  }
}


.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #8e2520;
 
}
.overlay{
  background-color: #FBFBFB;
  box-shadow: 0 0 15px #0c0808;

  
}
.overlay_dir_right:lang(ar) {
  margin-left: calc(15% - 1rem);
            
 // padding-left: 0.5rem;
  //margin-right: calc(10% - 10px);
}
.overlay_dir_left:lang(en) {
 margin-left: calc(90% - 15rem);
       // padding-right: 0.5rem;
         // border-right: 1px 
      }