<ng-container *ngIf="ViewprogCondmood===programConditionViewMoodEnum.conditionProgramViewMood">
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{degreeLastProgramModel.title}}</span>
           <img class="close" src="../../../../../assets/images/feelings/close.svg" (click)="confirmDialog()">
        </div>
        <div class="body">
        <div class="form-group   w-100">

            <div class="input-group">
                <div class="input-group pr-2rem"> 
                    <select class="UpdateUser__Options form-control" name="nameEn" [(ngModel)]="degreeLastProgramModel.condSelcted">
                        <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_PROGRAM_DEGREE' | translate }}</option>
        
                           <option *ngFor="let degreeItem of collectionOfLookup.DEGREE"
                               [value]="degreeItem.id">
                               {{ translate.currentLang == langEnum.en ? degreeItem.nameEn :
                                   degreeItem.nameAr}}
                           </option>
                       </select>
                </div>
                <span class="plus-btn position-absolute">                                        
                    <button class="btn btn-light btn-add" type="button"
                        (click)="addDegreeItem()">
                        <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
                    </button>
                </span>
             </div>
             </div>
           
        </div>
          <div class="row">
                  <div class="badges">
                <span *ngFor="let p of selectedDegreeLastPrograms"
                    class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
                    <a (click)="removeItemFromSelectedDegreeLastPrograms(p)"><i class="fas fa-times-circle"></i></a>
                </span>
            </div>
             </div>
            
            <div  class="row  buttons-center ">
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="degreeLastProgramModel.isRequired" >
                    <span class="slider round">{{ "GENERAL.MANDATORY" | translate }}</span>
                  </label>
                <button   type="submit" class="save-btn" (click)="saveProgramConditions()"> 
                    {{ "GENERAL.SAVE" | translate }}
                </button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="ViewprogCondmood===programConditionViewMoodEnum.conditionSettingViewMood">
    <div class="card-setting viewMode">
        <div class="head">
           <span>  {{'CONDITIONDS.PASSING_LAST_PROGRAM' | translate}}</span>
        </div>
        <div class="body">
        <div class="form-group   w-90">
            <div class="input-group ">
                <div class="input-group "> 
                    <select class="UpdateUser__Options form-control" name="nameEn" [(ngModel)]="degreeLastProgramModel.condSelcted">
                        <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_PROGRAM_DEGREE' | translate }}</option>
        
                           <option *ngFor="let degreeItem of collectionOfLookup.DEGREE"
                               [value]="degreeItem.id">
                               {{ translate.currentLang == langEnum.en ? degreeItem.nameEn :
                                   degreeItem.nameAr}}
                           </option>
                       </select>
                </div>
                <!-- <span class="plus-btn position-absolute">                                        
                    <button class="btn btn-light btn-add" type="button"
                        (click)="addDegreeItem()">
                        <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
                    </button>
                </span> -->
             </div>
             <div class="badges mt-3">
                <span *ngFor="let p of selectedDegreeLastPrograms"
                    class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
                </span>
            </div>

        </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="ViewprogCondmood===programConditionViewMoodEnum.conditionBasicInfoViewMood">
    <label class="title">
        {{degreeLastProgramModel.title}}
        <span>  &nbsp;  : </span>
        <span>  &nbsp; </span>
     </label>
        <div class="badges">
      <span *ngFor="let p of selectedDegreeLastPrograms"
          class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
      </span>
      <span>  &nbsp; </span>
  <span *ngIf="degreeLastProgramModel.isRequired" class="requiredFlag">{{ "GENERAL.MANDATORY" | translate }} </span>
  </div>
</ng-container>