<ng-container >
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{item.title}}</span>
           <img class="close" src="../../../../../assets/images/feelings/close.svg">
        </div>
        <div class="body">
            <div class="details"> اجتياز اخر برنامج بالمنصة بتقدير</div>
            <select class="UpdateUser__Options" name="nameEn">
                <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_PROGRAM_DEGREE' | translate }}</option>

                   <option *ngFor="let degreeItem of collectionOfLookup.DEGREE"
                       [value]="degreeItem.id">
                       {{ translate.currentLang == langEnum.en ? degreeItem.nameEn :
                           degreeItem.nameAr}}
                   </option>
               </select>
        </div>
    </div>
</ng-container>