<div class="form-group add-question-template dynamic-radio-button-with-input-text-model mb-0"  >
    <div class="form-group row question px-2">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="matrialTitleAr">{{'SCIENTIFIC_MATERIAL.FILE_URL' | translate}}</label>
                <input type="text" class="form-control"  [(ngModel)]="programDayTaskVideoObj.videoName" id="fileLink">      
            </div>
            <label class="custom-file custom-file__text" for="importFile">{{'SCIENTIFIC_MATERIAL.CHOOSEFILE' |
                translate}}</label>
            <input type="file" class="custom-file-input" multiple id="importFile"
                (change)="onFileChange($any($event.target).files)" hidden>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="badges mt-3 ">
                            <div *ngFor="let item of fileList;let i=index" 
                                class="badge badge-info p-2 " >
                            <div class="d-flex justify-content-between">
                                <p class="ellipsis mb-0" > {{item.fileName}}</p>
                                <a (click)="deleteAttachment(i,item.id)"><i class="fas fa-times-circle"></i></a>
                            </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="form-group">
                    <label for="matrialTitleAr">{{'SCIENTIFIC_MATERIAL.FILE_URL' | translate}}</label>
                    <input type="text" class="form-control" [(ngModel)]="programDayTaskVideoObj.videoLink" id="fileLink">      
                </div>
             <div class="input-group justify-content-end"><button type="button" class="btn save-btn" (click)="saveVideoTaskToProgram()">{{"GENERAL.SAVE"|translate}}</button></div>
        </div>
        <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2">
            {{resultMessage.message}}
             </div>
    </div>
</div>
