
<div class="row ForgetPassword">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <form [formGroup]="forgetpasswordform" (ngSubmit)="onSubmit(forgetpasswordform.value)" class="form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                <h1 class="font-weight-bold "> {{'FORGET_PASSWORD_PG.ForgotPassword' | translate}} </h1> 
            </div>

            <!-- Email -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-12">
                <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <label class="ForgetPassword__Label" for="email"> {{'GENERAL.Email' | translate}} </label>
                    <input id="email"  pInputText type="email" formControlName="email" name="email" placeholder="Ex. email@gmail.com" class="form-control ForgetPassword__FormControl">                            
                </div>                                        
            </div>

            <!-- Submit Button -->
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto mb-0">
                <button type="submit" class="btn btn-primary btn-block ForgetPassword__Submit" > {{'GENERAL.Send' | translate}} </button> 
                <button type="submit" class="btn btn-primary btn-block ForgetPassword__Submit" >  {{'FORGET_PASSWORD_PG.Back' | translate}} </button>                       
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
            </div>
        </form>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
       
    </div>
</div>