@import '../teacher-recitation-groups/teacher-recitation-groups.component.scss';

.delete
{
    width: 13px;
    height: 16px;
    cursor: pointer;
}

.details_day .chat_details {
    height: 70.7vh;
}
.cancel-btn {
    background: #CB9118;
    font-size: 0.85rem;
   
}