@import '../teacher-recitation-groups/teacher-recitation-groups.component.scss';

.delete
{
    width: 13px;
    height: 16px;
    cursor: pointer;
}

.details_day .chat_details {
    height: 70.7vh;
}

 .chat_details.join_req {
    height: 70.7vh;
    padding: .5rem;
    
}
.cancel-btn {
    background: #CB9118;
    font-size: 0.85rem;
    font-family:Almarai-Bold
}
.chat_details {
    height: 59vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.7rem;
}
.cardRecourd.groupRequests{
    background-color: #fff !important;
    border-radius: 10px !important;
    border-radius: 1.2rem!important;
    border-bottom:none !important;
}

.ellipsis
{
    width: 80%;
}
.program_name{
    color: #3A3A3A;
    font-family: 'Almarai-Bold';
    font-size: 13px;
}
.message_date{
    font-family: Almarai-Bold;
}