<div class="row">
  <div class="col-6">
    <div class="details_day" >
    <div class="head_groupName  d-flex  align-items-center justify-content-between " >
    <P  class="mx-2">
      {{ translate.currentLang === langEnum.en ? detailsGroupExplanation?.groupNameEn : detailsGroupExplanation?.groupNameAr }}
    </P>
    <!-- [ngClass]="{'dimmed': !detailsGroupExplanation?.batId}" -->
     <button class="cancel-btn" 
      (click)="addNewStudent()">إضافة طالب</button>
  </div>


<!-- <div class="row mx-0 "> -->
<div class="chat_details w-100 mt-3">
<div class="chat_vontainer w-100">

  <ng-container *ngFor="let itemOfGroupRequests of detailsGroupExplanation?.groupMembers" >
      <div class=" cardRecourd  d-flex justify-content-between mb-3" >
          <div class="group_name  d-flex pb-0  align-items-center justify-content-between">
            <img class="img_user" *ngIf='!itemOfGroupRequests?.stuAvatarUrl' src="assets/images/Profile.svg" alt=""/>
             <img class="img_user" *ngIf='itemOfGroupRequests?.stuAvatarUrl' [src]="itemOfGroupRequests?.stuAvatarUrl" alt="">
              <div>
              <p class="ellipsis mb-0 ">
                {{ translate.currentLang === langEnum.en ? itemOfGroupRequests?.studNameEn : itemOfGroupRequests?.studNameAr }}
              </p>
              <!-- <p class="message_date mb-0 px-2">2020/10/25 </p>       -->
                  
              </div>

          </div>
          <div class="d-flex"  >
              <a (click)="removeStudentGroupExplanation(itemOfGroupRequests.id)"> <img  class="delete" src="assets/images/feelings/close.svg"></a>
            </div>
          </div>
  </ng-container>

</div>
<!-- </div> -->
</div>
</div>
</div>


  <div class="col-6">
    
<div class="details_day" >
  <div class="head_groupName  d-flex  align-items-center justify-content-between " >
  <P  class="mx-2">طلبات الانضمام</P>
</div>


<!-- <div class="row mx-0 "> -->
<div class="chat_details join_req w-100 mt-3">
<div class="chat_vontainer w-100">


  <ng-container   *ngFor="let itemOfGroupRequests of detailsGroupExplanation?.groupRequests" >
    <div class=" cardRecourd  groupRequests mb-3" >
        <div class=" flex-item-first  group_name  d-flex pb-0  align-items-center justify-content-satrt">
          <img class="img_user" src="../../../../../../assets/images/ASH_9078.png">
            <div>
            
            <p class="ellipsis mb-0 ">{{ translate.currentLang === langEnum.en ? itemOfGroupRequests?.studNameEn : itemOfGroupRequests?.studNameAr }}</p>
            <p class="message_date bold mb-0 px-2">{{ translate.currentLang === langEnum.en ? itemOfGroupRequests?.ProjNameEn : itemOfGroupRequests?.ProjNameAr }}</p>      
            <p class="program_name bold mb-0 px-2">{{ translate.currentLang === langEnum.en ? itemOfGroupRequests?.groupNameEn : itemOfGroupRequests?.groupNameAr }}</p>      
            <p class="message_date mb-0 px-2">{{itemOfGroupRequests.reqDate}}</p>     
            </div>
        </div>

        <div class=" flex-item-sc d-flex justify-content-end  align-items-center">
            <button  class="save-btn my-2 " (click)="acceptGroupRequest(itemOfGroupRequests.Id)">
                {{ "GENERAL.ACCEPT" | translate }}
            </button>
            <button  class="cancel-btn my-2 " (click)="rejectedGroupRequest(itemOfGroupRequests.Id)" >
                {{ "GENERAL.REJECT" | translate }}
            </button>
          </div>
        </div>
  </ng-container> 

</div>
<!-- </div> -->
</div>
</div>

  </div>
</div>

