@import "../stu-card-request/stu-card-request.component.scss";
@import "../../../../assets/scss/variables";
.prog{

  &__num{
    color: $labels;
  }
  &__name{
    color: $edit;
    font-weight: 600;
    font-size: 19px;
  }
}




.status{
    width: 20px;
    height: 20px;
   
    border-radius: 50%;
}

.rejected{
    color: red;
    background: red;
}

.pending{
    color: #EFDD39;
    background: #EFDD39;
}

.accept{
    color: #39B91A;
    background: #39B91A;
}
