<div class="card-request">
  <div class="card_header">
    <section class="example-section">
      <mat-checkbox class="example-margin"  [(ngModel)]="teacherDropOutRequestModel.checked" ></mat-checkbox>
    </section>
  <div>
      <span> {{'STUDENT_SUBSCRIBERS.TIME' | translate}} </span>        

      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>{{teacherDropOutRequestModel.requestDate  | date: 'dd/MM/yyyy'}}</span> 
  </div>
  </div>

  <div class="card_body">
    <div class="d-flex justify-content-between mb-3" >
    <div class="mx-1">
      <p class="name_user bold mb-2">{{ teacherDropOutRequestModel?.huffazNumber}}</p>
      <p class="name_user bold mb-2">{{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.enTechStatusName : teacherDropOutRequestModel?.arTechStatusName}}</p>
      <p class="name_user bold mb-2">{{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.teacherNameEn : teacherDropOutRequestModel?.teacherNameAr}}</p>
      <p class="program_user bold mb-2 "> {{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.enProgBatName : teacherDropOutRequestModel?.arProgBatName}}</p>
      <p class="name_user bold mb-2" *ngIf="teacherDropOutRequestModel.reasonReject != null" >رد الادارة</p>
      <p class="program_user bold mb-2 "*ngIf="teacherDropOutRequestModel.reasonReject != null"> تم رفض الطلب</p>
      <p class="program_user bold mb-0 ">         
    </div>
    
<span class="status" [ngClass]="{ 'accept' : teacherDropOutRequestModel.drpStat == teacherDropOutRequestStatus.Accept ,
                                'pending' : teacherDropOutRequestModel.drpStat == teacherDropOutRequestStatus.Pending , 
                                'rejected' : teacherDropOutRequestModel.drpStat == teacherDropOutRequestStatus.Rejected
}" 
></span>
    </div>
  </div>
</div>
