

<form class="form-group notifyForm mt-3 pl-3 pr-3" 
[formGroup]="notifyForm" (ngSubmit)="onSubmit()"
>
    <h3 class=" head  bold" *ngIf="!notificationDetails"> {{ 'NOTIFICATIONS.NOTIFICATION_NAME' | translate }}</h3>
    <h3 class=" head  bold" *ngIf="notificationDetails">{{ 'NOTIFICATIONS.EDIT_NOTIFICATION' | translate }}</h3>
       
        
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input"> {{ 'NOTIFICATIONS.NUMBER_HOMEWORK' | translate }}</label>
               <input type="text" class="form-control" formControlName="numberNotify" 
               placeholder=" {{ 'NOTIFICATIONS.WRITE_HOMEWORK_MISSED' | translate }}">
        
            </div>

            <div *ngIf="f.numberNotify.errors && (f.numberNotify.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 pl-4 pr-4">
                <div *ngIf="f.numberNotify.errors?.required">
                    {{ 'GENERAL.REQUIRED' | translate }}
                </div>
              
            </div> 


        </div>
        
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input"> {{ 'NOTIFICATIONS.NOTIFICATION_NAME' | translate }}</label>
               <input type="text" class="form-control" formControlName="notifyName" 
               placeholder="{{ 'NOTIFICATIONS.NOTIFICATION_NAME' | translate }}">
        
            </div>

            <div *ngIf="f.notifyName.errors && (f.notifyName.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 pl-4 pr-4">
                <div *ngIf="f.notifyName.errors?.required">
                    {{ 'GENERAL.REQUIRED' | translate }}
                </div>
              
            </div> 


        </div>
        
    </div>


    
    <div  class="form-group">
      
        <label class="text-right header_input"> {{ 'NOTIFICATIONS.NOTIFICITION_TYPE' | translate }}</label>
        <select class="form-control " formControlName="notifyType"  >
            <!-- <option [ngValue]="null"  disabled selected>{{ 'NOTIFICATIONS.SELECT_NOTIFICATION_TYPE' | translate }}</option> -->
           <ng-container *ngFor="let item of collectionOfLookup">
            <option  [value]="item.id">
                {{ translate.currentLang == langEnum.en ? item.nameEn : item.nameAr}}

            </option>
           </ng-container>
            
          </select>



          <div *ngIf="f.notifyType.errors && (f.notifyType.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 pl-2 pr-2">
            <div *ngIf="f.notifyType.errors?.required">
                {{ 'GENERAL.REQUIRED' | translate }}
            </div>
          
        </div> 


    </div>
    <div class="form-group">
        <label for="comment">{{ 'QUESTION_BANK.QUESTION_AR' | translate }}</label>
        <textarea class="form-control" cols="2" rows="3"   formControlName="messageAr"
        placeholder="{{ 'NOTIFICATIONS.WRITE_MESSAGE' | translate }}"
        ></textarea>
       
      </div>
   
      <div *ngIf="f.messageAr.errors && (f.messageAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 pl-2 pr-2">
        <div *ngIf="f.messageAr.errors?.required">
            {{ 'GENERAL.REQUIRED' | translate }}
        </div>
        <div *ngIf="f.messageAr.errors.pattern">
            {{ 'QUESTION_BANK.ARABIC_FIELD' | translate }}
         </div>
         <div *ngIf="f.messageAr.errors?.maxlength ">
          {{ 'QUESTION_BANK.QUESTION_AR_MAX_LENGHT' | translate}}
      </div>
    </div> 

      <div class="form-group">
        <label for="comment">{{ 'QUESTION_BANK.QUESTION_EN' | translate }}</label>
        <textarea class="form-control" cols="2" rows="3"   formControlName="messageEn"  placeholder="{{ 'NOTIFICATIONS.WRITE_MESSAGE' | translate }}"></textarea>
       
      </div>

      <div *ngIf="f.messageEn.errors && (f.messageEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 pl-2 pr-2">
        <div *ngIf="f.messageEn.errors?.required">
            {{ 'GENERAL.REQUIRED' | translate }}
        </div>
        <div *ngIf="f.messageEn.errors.pattern">
            {{ 'QUESTION_BANK.ARABIC_FIELD' | translate }}
         </div>
         <div *ngIf="f.messageEn.errors?.maxlength ">
          {{ 'QUESTION_BANK.QUESTION_AR_MAX_LENGHT' | translate}}
      </div>
    </div> 
    <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2 text-center">
        <span class="bold"> {{resultMessage.message}}</span>
     </div>
   <section class="mt-5">
            <div  class="row direction-rtl buttons-center mt-5">
                <button   type="submit" class="save-btn" *ngIf="!notificationDetails"> 
                    {{ "GENERAL.SAVE" | translate }}
                    
                </button>
                <button   type="submit" class="save-btn" *ngIf="notificationDetails"> 
                   
                   {{ "GENERAL.EDIT" | translate }}
                </button>
                <button    type="reset" class="cancel-btn" (click)="closeNotify()"> 
                    {{ "GENERAL.CANCEL" | translate }}
                    
                </button>
            </div>
        </section>
       
   </form>
