.list-group-item_custom{
    background-color: #ffff;
}

.list-group:hover .list-group-item_custom {
    background-color: #8E2520;
    color: #ffff;

}
.Catogry{
    top: 140px;
    left: 1324px;
    width: 409px;
    height: 915px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;

}
.Catogry_Icon{

top: 299px;
left: 1258px;
width: 410px;
// height: 26px;
text-align: right;
font: normal normal normal 23px/20px Almarai;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.Catogry_span{

    top: 180px;
left: 1610px;
width: 71px;
height: 31px;
text-align: right;
font: normal normal bold 20px/34px Almarai;
letter-spacing: 0px;
color: #3A3A3A;
opacity: 1;
}
.Catogry_Link_Add{
    top: 186px;
left: 1268px;
width: 72px;
height: 22px;
text-align: right;
font: normal normal bold 14px/20px Almarai;
letter-spacing: 0px;
color: #CB9118;
opacity: 1;
}
.Catogry_Text_Search{
    top: 231px;
left: 1284px;
width: 402px;
height: 36px;
background: #F4F5F7 0% 0% no-repeat padding-box;
border-radius: 9px;
opacity: 1;
}
.Catogry_Icon_Search{
 top: 240px;
left: 1656px;
width: 17px;
height: 17px;
background: no-repeat padding-box;
opacity: 1;
}
.Catogry_Icon_Details{

    top: 472px;
left: 1254px;
width: 17px;
height: 17px;
border: 2px solid #8E2520;
opacity: 1;
}
Catogry_Icon_delete{
 top: 308px;
left: 1385px;
width: 14px;
height: 16px;
background: no-repeat padding-box;
opacity: 1;
}
.Catogry_Add{
 top: -1px;
left: 0px;
width: 554px;
height: 1080px;
background: #FBFBFB 0% 0% no-repeat padding-box;
border: 1px solid #FBFBFB;
opacity: 1;
}
.Catogry_Add_Span{

 top: 10px;
left: 310px;
width: 103px;
height: 31px;
text-align: right;
font: normal normal bold 20px/34px Almarai;
letter-spacing: 0px;
color: #3A3A3A;
opacity: 1;
}
.Catogry_Add_TextNam{

 top: 155px;
left: 374px;
width: 88px;
height: 22px;
text-align: right;
font: normal normal bold 14px/34px Almarai;
letter-spacing: 0px;
color: #C1C7D0;
opacity: 1;
}
.Catogry_Add_Text{
    top: 190px;
left: 73px;
width: 409px;
height: 47px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.30000001192092896px solid #C1C7D0;
opacity: 1;
}
.Catogry_publish_btn{
    top: 404px;
left: 286px;
width: 196px;
height: 21px;
text-align: center;
font: normal normal normal 16px/20px Almarai;
letter-spacing: 0.32px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}
.Catogry_Back_btn{
    top: 404px;
left: 73px;
width: 196px;
height: 21px;
text-align: center;
font: normal normal normal 16px/20px Almarai;
letter-spacing: 0.32px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}

.main {
    width: 50%;
    margin: 50px auto;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
