<div class="row" *ngIf="isView">
    <div class="col-4">
        <div class="row">
            <p class="text-left col">{{ 'QUESTION_BANK.Departments' | translate }}</p>
            <a [routerLink]="" (click)="addCatogry()"><p class="text-right col">{{ 'QUESTION_BANK.Add_Department' | translate }}</p>
            </a> 
        </div>
        <div class="row">
            <input type="text" placeholder="{{'QUESTION_BANK.Search' | translate}}" name="search"#text><i><img src="assets/quesionBsnk/questionBankCategory/search-interface-symbol.svg" alt="" class="mt-10 cursor-pointer" (click)=" getQuestionBankCategories(text.value)"/></i>
          <br/>
        </div>
  <div *ngFor="let QBC of questionBankCategoryList ; let i=index;" class="list-group" >
    <div  class="list-group-item  list-group-item_custom list-group-item-action row" (click)="loadCatogryQuiestion(QBC.id)">
        <p>
         
          
          {{this.translate.currentLang==='en-US'?QBC.engCatgName:QBC.arabCatgName}}
          
       <i>
        <img src="assets/quesionBsnk/questionBankCategory/Icon feather-edit-3 (1).svg" alt="" class="mt-10 cursor-pointer" (click)="loadQuestionBankCategoryDetails(QBC.id)"/>
       </i>
          
          <i>
            <img src="assets/quesionBsnk/questionBankCategory/Icon feather-trash-2.svg" alt="" class="mt-10 cursor-pointer" (click)="delete_Categor(QBC.id)"/>
          </i>
        </p>

    </div>
    
  </div>
  
    </div>
    
  
  </div>
  <div class="row" *ngIf="!isView">
    
    <form class="form-group" [formGroup]="currentForm" (submit)="Submit()">
      <sup>{{ 'QUESTION_BANK.Add_Department' | translate }}</sup>
      <div class="form-group">
        <label for="exampleInputEmail1">{{'QUESTION_BANK.Department_Ar' | translate}}</label>
        <input type="text" class="form-control" id="InputNamAr" formControlName="nameAr">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{'QUESTION_BANK.Department_En' | translate}}</label>
        <input type="text" class="form-control" id="InputNamEN" formControlName="nameEn">
      </div>
  
      <button type="submit" class="btn btn-danger" >{{'QUESTION_BANK.Publish' | translate}}</button>
      <button type="button" class="btn btn-warning" (click)="back_list_Catogry()">{{'QUESTION_BANK.Back' | translate}}</button>
    </form>

  </div>
  
  
  