<div class="list-group list-category">
  <p class="mb-4 p_header mb-2">{{'QUESTION_BANK.DEPARTMENTS' | translate}}</p>
  <a (click)="newScientificProblem()" *ngIf='roleManagmentService.isStudent()' class="mb-2 add_scientfic_problem">
    <span class="link_Add ">
      {{ 'QUESTION_BANK.ADD_SCIENTIFIC_PROBLEM' | translate }}
      <img src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
    </span>
  </a>
  <a (click)="newCatogry()" *ngIf="roleManagmentService.isAdmin()" class="mb-2 add_scientfic_problem">
    <span class="link_Add ">
      {{ 'QUESTION_BANK.ADD_DEPARTMENT' | translate }}
      <img src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
    </span>
  </a>
  <!-- <div class="d-flex justify-content-between"  *ngIf="translate.currentLang===langEnum.ar">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white pl-2 pr-2 border-md border-right-0">

                    <img  class="UserLogin_icon_input" src="../../../../../../assets/images/search-ired.svg" (click)=" getQuestionBankCategories(text.value)">
                </span>
            </div>
            <input type="text"
            class=" px-3 form-control UserLogin__FormControl bg-white border-left-0 border-md input-sm"
            placeholder="{{'QUESTION_BANK.SEARCH' | translate}}" name="search"#text >

        </div>
  </div>
  <div class="d-flex justify-content-between"  *ngIf="translate.currentLang===langEnum.en" >
    <div class="input-group">
      <input type="text"
      class=" px-3 form-control UserLogin__FormControl bg-white border-right-0 border-md input-sm"
      placeholder="{{'QUESTION_BANK.SEARCH' | translate}}" name="search"#text >
        <div class="input-group-prepend">
            <span class="input-group-text bg-white pl-2 pr-2 border-md border-left-0">

                <img  class="UserLogin_icon_input" src="../../../../../../assets/images/search-ired.svg" (click)=" getQuestionBankCategories(text.value)">
            </span>
        </div>
    </div>
  </div> -->
  <app-search-input (searchTerm)=getQuestionBankCategories($event)></app-search-input>
  <!-- <div class="internal_scroll_list_group">
    <mat-accordion *ngIf='questionBankCategoryList' class="ques_bank" cdkDropList #unassignedList="cdkDropList" [cdkDropListData]="questionBankCategoryList" [cdkDropListConnectedTo]="[items1]" (cdkDropListDropped)="drop($event)">
      <mat-expansion-panel cdkDrag disabled *ngFor="let QBC  of questionBankCategoryList ; let i = index;">
        <mat-expansion-panel-header>
          <mat-panel-title class="qestionHeader">
            <span class=" span_question">
              <a class="list-group-item d-flex" (click)="loadCatogryQuiestion(QBC.id,QBC.arabCatgName,QBC.engCatgName);selectedIndex=i" [class.active]="selectedIndex === i">
                <p class="ellipsis mb-0 question-categories" matTooltip="{{translate.currentLang===langEnum.en?QBC.engCatgName:QBC.arabCatgName}}">{{translate.currentLang===langEnum.en?QBC.engCatgName:QBC.arabCatgName}}</p>
                <div class="d-flex " *ngIf="roleManagmentService.isAdmin()">
                  <a (click)="confirmDialog(QBC.id)"> <i class="far fa-trash-alt"></i></a>
                  <a (click)="loadCatogry(QBC.id) "> <i class="fas fa-pencil-alt"></i></a>
                </div>
              </a>
            </span>
            <div class="d-flex">
              <label class="no-data" *ngIf="questionBankCategoryList.length===0"> {{"QUESTION_BANK.NO_DATA"|translate}} </label>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div> -->

  <div class="internal_scroll_list_group ">
    <a class="list-group-item d-flex" *ngFor="let QBC  of questionBankCategoryList ; let i=index;" 
      
      (click)="loadCatogryQuiestion(QBC.id,QBC.arabCatgName,QBC.engCatgName);selectedIndex=i">
       
          <p class="ellipsis mb-0 question-categories" matTooltip="{{translate.currentLang===langEnum.en?QBC.engCatgName:QBC.arabCatgName}}">{{translate.currentLang===langEnum.en?QBC.engCatgName:QBC.arabCatgName}}</p>
          <div class="d-flex " *ngIf="roleManagmentService.isAdmin()">
             <a (click)="confirmDialog(QBC.id)" > <i class="far fa-trash-alt"></i></a>
             <a (click)="loadCatogry(QBC.id) "> <i class="fas fa-pencil-alt"></i></a> 
  
              <!-- <img src="../../../../../../assets/images/edit.svg" alt="" class="mt-10 cursor-pointer Catogry_Icon_Details" (click)="loadQuestionBankCategoryDetails(QBC.id)"/> -->
             
              <!-- <img src="assets/quesionBsnk/questionBankCategory/Icon feather-trash-2.svg" alt=""
               class="mt-10 cursor-pointer Catogry_Icon_delete" /> -->
            </div>
    
    </a>
    <div class="d-flex">
      <label  class="no-data" *ngIf="questionBankCategoryList.length===0">
        {{"QUESTION_BANK.NO_DATA"|translate}} 
    </label>
    </div>
    
     
        
       
  </div>
</div>
