<div class="card-student-scientific-problem">
    <div class="card_header">
    <span> {{'SCIENTIFIC_PROBLEM.TIME' | translate}}</span>
    <span>
     {{scientificProblem.scCreationDate}}
    </span>
    <a [class.disabled]='scientificProblem.reply'>
      <i (click)='deleteScientificProblemEve()' class="far fa-trash-alt"></i>
    </a>
    </div>

    <div class="card_body">
      <div class="body_header">
        <span class="bold">{{'SCIENTIFIC_PROBLEM.QUESTION' | translate}}</span>
        <span class="bold">{{scientificProblem.huffazNo}}</span>
      </div>
     
    <p>{{scientificProblem.question}}</p>
      <div class="body_header">
      <span>{{'SCIENTIFIC_PROBLEM.REPLY' | translate}}</span>

      </div>
      <p class="bold">
        {{scientificProblem.reply}}
      </p>
    
    </div>

   </div>