<div class="card-student-scientific-problem">
    <div class="card_header">
    <span>تاريخ الطلب</span>
    <span>
      03-05-1442
    </span>
    <span>
      <i class="far fa-trash-alt"></i>
    </span>
    </div>

    <div class="card_body">
      <div class="body_header">
        <span class="bold">السؤال</span>
        <span class="bold">0000</span>
      </div>
     
    <p>وريم إيبسالشكلي منذ الوريم إيبسوم(Loفي صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ ال</p>
      <div class="body_header">
      <span>الرد</span>

      </div>
      <p class="bold">
        وريبسوم صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ ال
      </p>
    </div>

   </div>