

<ng-container *ngIf='userMode === userRoleMode.student '>
<div class="card-request" >
  <div class="card_header ">

      <div class="col-6 d-flex align-items-center justify-content-between p-0 m-0">
          <span > {{'TEACHER_DROP_OUT.TIME' | translate}} </span>
          <!-- <span>{{studentSubscripModel.requestDate  | date: 'dd/MM/yyyy'}}</span> -->
      </div>


  </div>
  <div class="card_body program">
    <div class="d-flex align-items-center program__header justify-content-between " >

      <p class="program__num  mb-2"></p>
      <div class="d-flex align-items-center justify-content-between " >
      <p class="program__num mb-2  mr-3 ml-3">{{ translate.currentLang == langEnum.en ? studentSubscripModel?.usrNameEn : studentSubscripModel?.usrNameAr}}</p>
        <span class="status mb-0" [ngClass]="{ 'accept' : studentSubscripModel.programStaNum == tabTypeSelected.Accept ,
                                  'pending' : studentSubscripModel.programStaNum == tabTypeSelected.Pending ,
                                  'rejected' : studentSubscripModel.programStaNum == tabTypeSelected.Rejected
                                  }">
        </span>
      </div>


    </div>
      <div class="mx-1">
      <p class="program__name ellipsis  p-0 mb-0"
      title="{{ translate.currentLang == langEnum.en ? studentSubscripModel?.enProgBatName : studentSubscripModel?.arProgBatName}}"
      > {{ translate.currentLang == langEnum.en ? studentSubscripModel?.enProgBatName : studentSubscripModel?.arProgBatName}}</p>
      <span>
        {{'GENERAL_DROP_OUT_REQUEST.REQUEST_REASON' | translate}} :
      </span>
      <!-- <p class="program_user bold mb-0 "  *ngIf="studentSubscripModel.reason">{{'GENERAL_DROP_OUT_REQUEST.NO_DATA' | translate}} </p> -->
      <!-- <p class="program_user bold mb-2 ">{{ studentSubscripModel.reason }}</p> -->
      <p class="program__admin"   *ngIf="!studentSubscripModel.reasonReject " >{{'GENERAL_DROP_OUT_REQUEST.NO_DATA' | translate}} </p>
      <p class="program__answer "  *ngIf="studentSubscripModel.reasonReject ">{{studentSubscripModel.reasonReject}}</p>
    
    
    </div>
    


  </div>
</div>
</ng-container>