<div class="container-fluid">
    <div class="row">
       <div class="col-12">
           <!-- <app-view-condition-setting 
           (addEditCoidition)="openAddEditOverLay($event)"
           >
        </app-view-condition-setting> -->
        <app-view-program-categories
         (addEditProgramCategories)="addEditProgramCategories($event)"
        
        >
       </app-view-program-categories>
       </div>
       
    </div>

<div class="overlay" *ngIf="showAddForm">
  

     <app-add-program-categories  (closeOverlay)="closeForm()" 
     [modelEdit]="modelEdit" ></app-add-program-categories>
</div>

</div>