<div class="card-request">
  <div class="card_header">
    <div class="col-12 d-flex align-items-center justify-content-between p-0 m-0">
      <span > {{'TEACHER_DROP_OUT.TIME' | translate}} </span>
      <span>03-05-1442</span>
    </div>

  </div>

  <div class="card_body program">
    <div class="d-flex align-items-center justify-content-between program__header" >

      <p class="program__num  mb-2">20</p>
      <div class="d-flex align-items-center justify-content-between " >
        <p class="program__num mb-2  mr-3 ml-3">مقبول</p>
        <span class="status accept"
        ></span>
<!--        [ngClass]="{ 'accept' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Accept ,
                                  'pending' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Pending ,
                                  'rejected' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Rejected,
                                  'cancel' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Canceled
  }"-->
      </div>
    </div>
    <div class="mx-1">
      <!--      <p class="teacher__name  ">{{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.teacherNameEn : teacherDropOutRequestModel?.teacherNameAr}}</p>-->

      <p class="program__name ellipsis p-0 ">اسم البرنامج</p>
      <p class="program__admin" >{{'TEACHER_DROP_OUT.ADMIN_ANSWER' | translate}}</p>
      <p class="program__desc"> وريم إيبسوم(Loفي صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ ال </p>
      <p class="program__admin" >{{'TEACHER_DROP_OUT.ADMIN_ANSWER' | translate}}</p>
      <p class="program__answer " >{{'TEACHER_DROP_OUT.REJECTED' | translate}}</p>
    </div>




  </div>


</div>
