<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
      <app-student-program-list (selectedProgram)='selectedProgramCallBack($event)'></app-student-program-list>
    </div>
    <div class="col-lg-9  col-md-9 col-sm-12 pl-0">
    <app-student-program-vacation-requests *ngIf="programModel" [programModel]='programModel'
                                           (openStudentProgramVacationAddPopup)="openStudentProgramVacationAddPopup($event)"
                                           (closeStudentProgramVacationAddPopup)="closeAddStudentVacationRequest($event)"

    ></app-student-program-vacation-requests>
    </div>
  </div>
  <div class="overlay" *ngIf="openStudentProgramVacation">
    <app-add-student-program-vacation-request
      (closeAddVacationRequest)="closeAddStudentVacationRequest($event)"
    ></app-add-student-program-vacation-request>
  </div>
</div>


