$main-color: #f50;
$user-color:#8E2520;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$icon_input :#CB9118;
$hint_yellow: #CB9118;
$main_background:#F4F5F7;
$login_background:#F7F7F9;
$white:#ffffff;
$main-color-2 :#830909 ;
$shadow_color:#48647c1a;
$border-input:#ced4da;
$placeholder_inputs:#7A869A;
$labels:#C1C7D0;
$fill_button:#172B4D;
$p_color: #5A5A5A;
$RememberMeLabel:#5A5A5A;
$auth-color:#ccc;
$user-color:#8E2520;
$ForgetPasswordLink: #CB9118;
$info-color: #3F9BC8;
$error-message-bg: #FFEBEB;
$error-message-color: #D24E49;
$edit:#3A3A3A;
$aler_success:#155724;
$box-shadow:#0000001A;
$box-color:#414141;
$box-color2:#3A3A3A;

