$main-color: #f50;
$user-color:#8E2520;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$auth-backgroundcolor:#C1C7D0;
$auth-color:#ccc;
$auth-colorForgetPassword:#ccc;
$auth-colorRememberMe:#5A5A5A;
$auth-colorSignupLink:#5A5A5A;
