<!-- <div class="card-setting">
    <div class="head">
       
        {{item.title}}
    </div>
    <div class="body">
        <div class="details"> المؤهل العلمى</div>
       
    </div>
</div> -->
<ng-container >
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{item.title}}</span>
           <img class="close" src="../../../../../assets/images/feelings/close.svg">
        </div>
        <div class="body">
            <div class="details"> المؤهل العلمى</div>
            <select class="UpdateUser__Options" name="nameEn" >
                <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_EDU_LEVEL' | translate }}</option>

                <option *ngFor="let qualifiItem of collectionOfLookup.QUALIFI"
                    [value]="qualifiItem.id">
                    {{ translate.currentLang == langEnum.en ? qualifiItem.nameEn :
                    qualifiItem.nameAr}}
                </option>
            </select>
        </div>
    </div>
</ng-container>




