
@import 'src/assets/scss/_variables.scss';
.group-list{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height: 95%;
    margin-top: 1rem;
    p{
        font-family: Almarai-Bold;
        font-size: 1.2rem;
        letter-spacing: 0px;
        color: #3A3A3A;
        opacity: 1;
    }
    a{
        font-family: Almarai-Bold;
        font-size: 12px;
        letter-spacing: 0px;
        color: $icon_input;
        opacity: 1;
        letter-spacing: 0px;
        opacity: 1;
    }
    a i{
        margin: 0 3px;
    }
    .scroll_list_group{
        overflow-y: auto;
        .group_item{
            cursor: pointer;
            width: 100%;
            padding: 10px 15px;
            background: $main_background 0% 0% no-repeat padding-box;
            border-radius: 12px;
            margin: 15px 0;
            overflow: hidden;
            p {
                font-size: 14px;
                color: #828282;
                margin: 0;
                display: inline-block;
                width: 85%;
            }
            span{
                cursor: pointer;
                 color: $icon_input;
             }
             p:lang(en){
                float: left;
             }
             p:lang(ar){
                float: right;
            }
             span:lang(en){
                 float: right;
             }
             span:lang(ar){
                 float: left;
             }
        }

        .active_group_item{
            background: $icon_input 0% 0% no-repeat padding-box;
            box-shadow: 0px 1px 9px #00000073;
            p {
                color: #F4F5F7;
              
            }
            span{
                color: #F4F5F7;
            }
        }
    }
}


.group-list p:lang(en){
    text-align: left;
}
.group-list p:lang(ar){
    text-align: right;
}
