@import 'src/assets/scss/_variables.scss';

.item_user_card{
    width: 100%;
    background: $white;
    padding: 10px;
    margin: 12px 0;
    box-shadow: 0px 3px 10px $box-shadow;
    border-radius: 8px;
    position: relative;
    .img{
        width: 100%;
    }
    
    .email_user_card{
        color: #C1C7D0;
        margin: 0;
        font-size: 12px;
    }
    .title_user_card{
        color: #3A3A3A;
        margin: 0;
        font-size: 14px;
     
    }
    .email_user_card:lang(ar),
    .title_user_card:lang(ar){
        text-align: right;
    }
    .email_user_card:lang(en),
    .title_user_card:lang(en){
        text-align: left;
    }
    .delete_item{
        position: absolute;
        top: 10px;
        color: $icon_input;
    }
    .delete_item:lang(ar){
        left: 15px;
    }
    .delete_item:lang(en){
        right: 15px;
    }
}