<div class="container-fluid reuest_container" > 

  <div class="row group_header fix_margin w-100">
      <div class="item_group" (click)="onPendingChange()"
      [ngClass]="{ item_group_active: showTap == statusEnum.Pending }" >
           {{'TEACHER_SUBSCRIBERS.NEW_JOIN_REQUESTS' | translate}}
      </div>
      <div class="item_group" (click)="onAcceptChange()"
      [ngClass]="{ item_group_active: showTap == statusEnum.Accept }" >
       {{'TEACHER_SUBSCRIBERS.ACCEPTANCE_REQUESTS' | translate}}
      </div>
      <div class="item_group" (click)="onRejectedChange()"
      [ngClass]="{ item_group_active: showTap == statusEnum.Rejected }" >
       {{'TEACHER_SUBSCRIBERS.REJECTANCE_REQUESTS' | translate}}
      </div>

      <!-- <div class="offset-2 col-3" >
        <app-search-input (searchTerm)=searchByText($event)></app-search-input>
    </div> -->
   
  </div>
  
  <div class="row fix_margin w-100 " >

      <div class="col-12 px-2 interTab mb-3">
        
      <div *ngIf='showTap == statusEnum.Pending' >
        <app-program-subscription-grid *ngIf=' teacherProgramSubscriptionList.length > 0'   [totalCount]='totalCount' [teacherItems]='teacherProgramSubscriptionList' (acceptTeacherProgramSubscription)='acceptTeacherProgramSubscription($event)'
          (acceptAllTeacherProgramSubscriptionCheched)='acceptAllTeachersCheckedProgramSubscription()' [numberPerRow]='numberItemsPerRow' [userMode]='teacherCard' [typeTeacheEnum]='statusEnum.Pending'
          (rejectTeacherProgramSubscription)='rejectTeacherProgramSubscriptionEvent($event)' [teacherFilterRequestModel] = 'teacherProgramSubscriptionFilterRequestModel'></app-program-subscription-grid>
          <div *ngIf='teacherProgramSubscriptionList.length === 0'>
            {{ 'GENERAL.NO_DATA' | translate}}
        </div>
        </div>

        <div *ngIf='showTap == statusEnum.Accept' >
          <app-program-subscription-grid *ngIf=' teacherProgramSubscriptionList.length > 0'   [totalCount]='totalCount' [teacherItems]='teacherProgramSubscriptionList' (acceptTeacherProgramSubscription)='acceptTeacherProgramSubscription($event)'
            (acceptAllTeacherProgramSubscriptionCheched)='acceptAllTeachersCheckedProgramSubscription()' [numberPerRow]='numberItemsPerRow' [userMode]='teacherCard' [typeTeacheEnum]='statusEnum.Accept'
            (rejectTeacherProgramSubscription)='rejectTeacherProgramSubscriptionEvent($event)' [teacherFilterRequestModel] = 'teacherProgramSubscriptionFilterRequestModel'></app-program-subscription-grid>
            <div *ngIf='teacherProgramSubscriptionList.length === 0'>
              {{ 'GENERAL.NO_DATA' | translate}}
          </div>
          </div>
       
          <div *ngIf='showTap == statusEnum.Rejected' >
            <app-program-subscription-grid *ngIf='teacherProgramSubscriptionList.length > 0'   [totalCount]='totalCount' [teacherItems]='teacherProgramSubscriptionList' (acceptTeacherProgramSubscription)='acceptTeacherProgramSubscription($event)'
              (acceptAllTeacherProgramSubscriptionCheched)='acceptAllTeachersCheckedProgramSubscription()' [numberPerRow]='numberItemsPerRow' [userMode]='teacherCard' [typeTeacheEnum]='statusEnum.Rejected'
              (rejectTeacherProgramSubscription)='rejectTeacherProgramSubscriptionEvent($event)' [teacherFilterRequestModel] = 'teacherProgramSubscriptionFilterRequestModel'></app-program-subscription-grid>
              <div *ngIf='teacherProgramSubscriptionList.length === 0'>
                {{ 'GENERAL.NO_DATA' | translate}}
            </div>
            </div>

      </div>

  </div>

  </div>
  



