<div class="container-fluid reuest_container" > 
  <div class="col-5 offset-7 text-right d-flex align-items-center">
    <app-search-input (searchTerm)=searchByText($event) [searchKey]='this.teacherProgramSubscriptionFilterRequestModel.usrName || ""'></app-search-input>
<a class="advanced_search">بحث متقدم</a>
</div>

  <div class="row group_header fix_margin w-100">
      <div class="item_group" (click)="onPendingChange()"
      [ngClass]="{ item_group_active: showTap == statusEnum.Pending }" >
           {{'TEACHER_SUBSCRIBERS.NEW_JOIN_REQUESTS' | translate}}
      </div>
      <div class="item_group" (click)="onAcceptChange()"
      [ngClass]="{ item_group_active: showTap == statusEnum.Accept }" >
       {{'TEACHER_SUBSCRIBERS.ACCEPTANCE_REQUESTS' | translate}}
      </div>
      <div class="item_group" (click)="onRejectedChange()"
      [ngClass]="{ item_group_active: showTap == statusEnum.Rejected }" >
       {{'TEACHER_SUBSCRIBERS.REJECTANCE_REQUESTS' | translate}}
      </div>

      <!-- <div class="offset-2 col-3" >
        <app-search-input (searchTerm)=searchByText($event)></app-search-input>
    </div> -->
   
  </div>
  
  <div class="row fix_margin w-100 " >

      <div class="col-12 px-2 interTab mb-3">
        
      <div *ngIf='showTap == statusEnum.Pending' >
        <app-program-subscription-grid *ngIf=' teacherProgramSubscriptionList.length > 0' 
          [teacherItems]='teacherProgramSubscriptionList' 
          (acceptTeacherProgramSubscription)='acceptTeacherProgramSubscription($event)'
          (acceptAllTeacherProgramSubscriptionCheched)='acceptAllTeachersCheckedProgramSubscription()' 
          [numberPerRow]='numberItemsPerRow'
           [userMode]='teacherCard'
            [typeTeacheEnum]='statusEnum.Pending'
          (rejectTeacherProgramSubscription)='rejectTeacherProgramSubscriptionEvent($event)' 
         
          [totalCount]='totalCount'
          [teacherFilterRequestModel] = 'teacherProgramSubscriptionFilterRequestModel'
          (teacherFilterEvent)="teacherPendingChangePage($event)"
          >
        </app-program-subscription-grid>
          <div *ngIf='teacherProgramSubscriptionList.length === 0'>
            {{ 'GENERAL.NO_DATA' | translate}}
        </div>
        </div>

        <div *ngIf='showTap == statusEnum.Accept' >
          <app-program-subscription-grid *ngIf=' teacherProgramSubscriptionList.length > 0'  
            
              [teacherItems]='teacherProgramSubscriptionList' 
              (acceptTeacherProgramSubscription)='acceptTeacherProgramSubscription($event)'
            (acceptAllTeacherProgramSubscriptionCheched)='acceptAllTeachersCheckedProgramSubscription()' 
            [numberPerRow]='numberItemsPerRow'
             [userMode]='teacherCard' 
             [typeTeacheEnum]='statusEnum.Accept'
            (rejectTeacherProgramSubscription)='rejectTeacherProgramSubscriptionEvent($event)'

            [totalCount]='totalCount'
            [teacherFilterRequestModel] = 'teacherProgramSubscriptionFilterRequestModel'
            (teacherFilterEvent)="teacherAcceptChangePage($event)"
            >
            </app-program-subscription-grid>
            <div *ngIf='teacherProgramSubscriptionList.length === 0'>
              {{ 'GENERAL.NO_DATA' | translate}}
          </div>
          </div>
       
          <div *ngIf='showTap == statusEnum.Rejected' >
            <app-program-subscription-grid *ngIf='teacherProgramSubscriptionList.length > 0'  
                [teacherItems]='teacherProgramSubscriptionList' 
                (acceptTeacherProgramSubscription)='acceptTeacherProgramSubscription($event)'
              (acceptAllTeacherProgramSubscriptionCheched)='acceptAllTeachersCheckedProgramSubscription()'
               [numberPerRow]='numberItemsPerRow'
                [userMode]='teacherCard'
                 [typeTeacheEnum]='statusEnum.Rejected'
              (rejectTeacherProgramSubscription)='rejectTeacherProgramSubscriptionEvent($event)'
              
              [totalCount]='totalCount'
               [teacherFilterRequestModel] = 'teacherProgramSubscriptionFilterRequestModel'
               (teacherFilterEvent)="teacherRejectedChangePage($event)"
               >
              </app-program-subscription-grid>
              <div *ngIf='teacherProgramSubscriptionList.length === 0'>
                {{ 'GENERAL.NO_DATA' | translate}}
            </div>
            </div>

      </div>

  </div>

  </div>
  



