<div class="container-fluid UpdateUser">
 <div class="row">
     <div class="box_container"> 

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" class="form-group">

        <div class="col-12 profile p-0 mb-50">
            <div  class="profile_background"></div>
            <img class="img_profile"  src="../../../../../assets/images/profile1.png">
        </div>
<div class="col-12 mt-4 mb-3 pl-0 pr-0">
    <label class="UpdateUser__Label mt-5"> معلومات الشخصية </label>

</div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 pl-0 pr-0">
            <div class="row pl-0 pr-0 ">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="name"> الإسم </label>
                    <input id="name"  pInputText type="text" formControlName="name" name="name"  class="form-control UserRegister__FormControl">                            
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="fatherName"> إسم الأب </label>
                    <input id="fatherName"  pInputText type="text" formControlName="fatherName" name="fatherName"  class="form-control UserRegister__FormControl">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="familyName"> إسم العائلة </label>
                    <input id="familyName"  pInputText type="text" formControlName="familyName" name="familyName"  class="form-control UserRegister__FormControl">
                </div>
                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="birthdate"> تاريخ الميلاد </label>
                    <input id="birthdate"  pInputText type="date" formControlName="birthdate" name="birthdate"  class="form-control UserRegister__FormControl">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                    <label class="Register__Label" for="birthdate"> الجنس </label>      
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngFor="let item of collectionOfLookup.GENDER">                             
                            <label for="male">  
                                <input type="radio" id="male" name="gender" formControlName="gender" value="{{item.id}}"> {{item.nameAr}}
                            </label> 


             <!-- <section >
            <label class="UserLogin__Label" for="UserEmail">Radio-button</label>
                <mat-radio-group aria-label="Select an option"  class="example-radio-group">
                    <mat-radio-button value="1" class="example-radio-button" >Option 1</mat-radio-button>
                    <mat-radio-button value="2" class="example-radio-button" >Option 2</mat-radio-button>
                  </mat-radio-group>
          </section> -->
                        </div>
                    </div>                    
                </div>
            </div>                
        </div>


        <div class="col-12 mt-4 mb-3 pl-0 pr-0 mt-3 mb-3">
            <label class="UpdateUser__Label"> معلومات التواصل </label>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
            <div class="row pl-0 pr-0">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                       <label class="Register__Label" for="phoneNumber"> دولةالاقامة </label>

                            <select class="UpdateUser__Options" name="nameEn" formControlName="countryCode" > 
                                <option *ngFor = "let countryItem of collectionOfLookup.COUNTRY" [value]="countryItem.id">{{countryItem.nameEn}}</option>
                            </select>  
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                    <label class="Register__Label" for="phoneNumber"> رقم الجوال </label>

                            <input id="phoneNumber"  pInputText type="text" formControlName="phoneNumber" style="width:100%;" name="phoneNumber" class="form-control UserRegister__FormControl">
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label class="Register__Label" for="email"> البريد الاكترونى  </label>
                             <input id="email"   type="email" 
                             formControlName="email" style="width:100%;"
                              name="email" class="form-control UserRegister__FormControl">
                        </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="nationality"> الجنسية </label>
                    <div>
                        <select class="UpdateUser__Options" name="nameEn" formControlName="nationality" > 
                            <option *ngFor = "let nationalityItem of collectionOfLookup.NATIONALITY" [value]="nationalityItem.id">{{nationalityItem.nameEn}}</option>
                        </select> 
                    </div>                        
                </div>
               
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="address"> العنوان </label>
                    <input id="address"  pInputText type="text" formControlName="address" name="address" class="form-control UserRegister__FormControl">              
                </div>
            </div>                
        </div>



        <div class="col-12 mt-4 mb-3 pl-0 pr-0 mt-3 mb-3">
            <label class="UpdateUser__Label"> التعليم الأكاديمي</label>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
            <div class="row pl-0 pr-0">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="educationalLevel"> مستوى التعليمي  </label>
                    <select class="UpdateUser__Options" name="nameEn" formControlName="educationallevel" > 
                        <option *ngFor = "let educationalLevelItem of collectionOfLookup.EDU_LEVEL" [value]="educationalLevelItem.id">{{educationalLevelItem.nameEn}}</option>
                    </select>  
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label class="Register__Label" for="occupation"> المهنة </label>
                    <input id="occupation"  pInputText type="text" formControlName="occupation" name="occupation" class="form-control UserRegister__FormControl">
                </div>
            </div>
        </div>



        <div class="form-group col-lg-12 mx-auto mb-0 mt-4">
            <button type="submit" class="btn UserLogin__Submit"> حفظ </button>            
        </div> 
    </form>
</div>
</div>
</div>







<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" class="form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
        <h1 class="font-weight-bold "> {{'UPDATE_USER_PG.PERSONALINFORMATION' | translate}} </h1> 
    </div>

              
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-12">
        <div class="row">
            

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="firstNameAr"> {{'UPDATE_USER_PG.FIRSTNAMEAR' | translate}} </label>
                <input id="firstNameEn"  pInputText type="text" formControlName="firstNameAr" name="firstNameAr" placeholder="Enter First Name" class="form-control UserRegister__FormControl">                            
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="firstNameEn"> {{'UPDATE_USER_PG.FIRSTNAMEEN' | translate}} </label>
                <input id="firstNameEn"  pInputText type="text" formControlName="firstNameEn" name="firstNameEn" placeholder="Enter Father Name" class="form-control UserRegister__FormControl">                            
            </div>
            
            

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="middleNameAr"> Middle Name Arabic </label>
                <input id="middleNameAr"  pInputText type="text" formControlName="middleNameAr" name="middleNameAr" placeholder="Enter Middle Name Arabic" class="form-control UserRegister__FormControl">                            
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="middleNameEn"> Middle Name English </label>
                <input id="middleNameEn"  pInputText type="text" formControlName="middleNameEn" name="middleNameEn" placeholder="Enter Middle Name English" class="form-control UserRegister__FormControl">                            
            </div>  

            

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="familyNameAr"> Father Name Arabic </label>
                <input id="familyNameAr"  pInputText type="text" formControlName="familyNameAr" name="familyNameAr" placeholder="Enter Father Name Arabic" class="form-control UserRegister__FormControl">                            
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="familyNameEn"> Father Name English </label>
                <input id="familyNameEn"  pInputText type="text" formControlName="familyNameEn" name="familyNameEn" placeholder="Enter Father Name English" class="form-control UserRegister__FormControl">                            
            </div>

            
            
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="birthdate"> Birthdate </label>
                <input id="birthdate"  pInputText type="date" formControlName="birthdate" name="birthdate" class="form-control UserRegister__FormControl">                            
            </div>  

            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="gender"> Gender </label>
                <select name="nameEn" formControlName="gender" style="width: 100px; height: 35px;"> 
                    <option *ngFor = "let genderItem of collectionOfLookup.GENDER" [value]="genderItem.id" >{{genderItem.nameEn}}</option>
                </select>                     
            </div>  

            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="countryCode"> Country Code </label>
                <select name="nameEn" formControlName="countryCode" style="width: 100px; height: 35px;" > 
                    <option *ngFor = "let countryItem of collectionOfLookup.COUNTRY" [value]="countryItem.id">{{countryItem.nameEn}}</option>
                </select>      
            </div>  

            

            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="phoneNumber"> Mobile </label>
                <input id="phoneNumber"  pInputText type="text" formControlName="phoneNumber" name="phoneNumber" class="form-control UserRegister__FormControl">                            
            </div>  
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="nationality"> Nationality </label>
                <select name="nameEn" formControlName="nationality" style="width: 100px; height: 35px;"  > 
                    <option *ngFor = "let nationalityItem of collectionOfLookup.NATIONALITY" [value]="nationalityItem.id">{{nationalityItem.nameEn}}</option>
                </select>        
            </div>  
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="educationalLevel"> Educational Level </label>
                <select name="nameEn" formControlName="educationallevel" style="width: 100px; height: 35px;"> 
                    <option *ngFor = "let educationalLevelItem of collectionOfLookup.EDU_LEVEL" [value]="educationalLevelItem.id">{{educationalLevelItem.nameEn}}</option>
                </select>       
            </div>  

            

            <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="occupation"> Occupation </label>
                <input id="occupation"  pInputText type="text" formControlName="occupation" name="occupation" class="form-control UserRegister__FormControl">                            
            </div>  
            <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="address"> Address </label>
                <input id="address"  pInputText type="text" formControlName="address" name="address" class="form-control UserRegister__FormControl">                               
            </div>  
            
        </div>                                                        
    </div>

    
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto mb-0">
        <button type="submit" class="btn btn-primary btn-block UserRegister__Submit" > Update </button>                        
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
    </div>
</form> -->