<div class="container-fluid UpdateUser">
    <div class="row">
        <div class="box_container">

            <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" class="form-group">

                <div class="col-12 profile p-0 mb-50">
                    <div class="profile_background"></div>
                    <img class="img_profile" [src]="userProfileDetails?.proPic">
                    <input type="file" style="display: none;" #fileInput
                        (change)="onFileChange($any($event.target).files)">
                    <a class="custom_file_input" (click)="fileInput.click()" style="text-decoration: none;" id="upload_link">
                        <!-- {{'UPDATE_USER_PG.CHANGE_PIC' | translate}} -->
                        <img src="assets/images/update-user/UploadImage.svg"/>
                    </a>
                </div>

                <div class="internal_scroll">
                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 border_bottom">
                        <label class="UpdateUser__Label mt-5">{{'UPDATE_USER_PG.PERSONAL_INFORMATION' | translate}} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 pl-0 pr-0">
                        <div class="row pl-0 pr-0 ">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="firstName"> {{ 'UPDATE_USER_PG.NAME' | translate }}
                                </label>
                                <input id="firstName" pInputText type="text" formControlName="firstName"
                                    name="firstName" class="form-control UserRegister__FormControl">

                                <div *ngIf="f.firstName.errors && (f.firstName.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.firstName.errors?.required">
                                        {{ 'UPDATE_USER_PG.NAME_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="f.firstName.errors?.maxlength">
                                        {{ 'UPDATE_USER_PG.NAME_MAX_LENGTH' | translate }}
                                    </div>
                                    <div *ngIf="f.firstName.errors?.minlength">
                                        {{ 'UPDATE_USER_PG.NAME_MIN_LENGTH' | translate }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="middleName"> {{ 'UPDATE_USER_PG.FATHER_NAME' | translate }} </label>
                                <input id="middleName" pInputText type="text" formControlName="middleName"
                                    name="middleName" class="form-control UserRegister__FormControl">
                                    
                                    <div *ngIf="f.middleName.errors && (f.middleName.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.middleName.errors?.required">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.middleName.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.middleName.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_MIN_LENGTH' | translate }}
                                        </div>
                                    </div> 
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="familyName"> {{ 'UPDATE_USER_PG.FAMILY_NAME' | translate }} </label>
                                <input id="familyName" pInputText type="text" formControlName="familyName"
                                    name="familyName" class="form-control UserRegister__FormControl">

                                    <div *ngIf="f.familyName.errors && (f.familyName.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.familyName.errors?.required">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.familyName.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.familyName.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_MIN_LENGTH' | translate }}
                                        </div>
                                    </div> 
                            </div>

                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="birthdate"> {{ 'UPDATE_USER_PG.BIRTHDATE' |
                                    translate }} </label>
                                <input id="birthdate" pInputText type="date" formControlName="birthdate"
                                    name="birthdate" class="form-control UserRegister__FormControl">
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                                <label class="Register__Label" for="birthdate"> {{ 'GENERAL.GENDER' | translate }}
                                </label>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                        *ngFor="let item of collectionOfLookup.GENDER">
                                        <label for="male">
                                            <input type="radio" id="male" name="gender" formControlName="gender"
                                                value="{{item.id}}">
                                            {{ translate.currentLang == langEnum.en ? item.nameEn : item.nameAr}}
                                        </label>
                                        <div *ngIf="f.gender.errors && (f.gender.touched || isSubmit)"
                                            class="alert alert-danger mt-2 mb-2">
                                            <div *ngIf="f.gender.errors?.required">
                                                {{ 'UPDATE_USER_PG.GENDER_REQUIRED' | translate }}
                                            </div>
                                        </div>
                                        <!-- <section >
                                            <label class="UserLogin__Label" for="UserEmail">Radio-button</label>
                                                <mat-radio-group aria-label="Select an option"  class="example-radio-group">
                                                    <mat-radio-button value="1" class="example-radio-button" >Option 1</mat-radio-button>
                                                    <mat-radio-button value="2" class="example-radio-button" >Option 2</mat-radio-button>
                                                </mat-radio-group>
                                        </section> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 mt-3 mb-4 border_bottom">
                        <label class="UpdateUser__Label"> {{ 'UPDATE_USER_PG.CONTACT_INFO' | translate }} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="phoneNumber"> {{ 'UPDATE_USER_PG.COUNTRY' |
                                    translate }} </label>

                                <select class="UpdateUser__Options" name="nameEn" formControlName="countryCode">
                                    <option *ngFor="let countryItem of collectionOfLookup.COUNTRY"
                                        [value]="countryItem.id">
                                        {{ translate.currentLang == langEnum.en ? countryItem.nameEn : countryItem.nameAr}}
                                    </option>
                                    <!--change check after adding language listner-->
                                </select>

                                <div *ngIf="f.countryCode.errors && (f.countryCode.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.countryCode.errors?.required">
                                        {{ 'UPDATE_USER_PG.COUNTRY_CODE' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="phoneNumber"> {{ 'GENERAL.PHONE_NUMBER' | translate }} </label>
                                <input id="phoneNumber" pInputText type="text" formControlName="phoneNumber"
                                    style="width:100%;" name="phoneNumber"
                                    class="form-control UserRegister__FormControl">

                                    <div *ngIf="f.phoneNumber.errors && (f.phoneNumber.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.phoneNumber.errors?.required">
                                            {{ 'UPDATE_USER_PG.PHONE_NUMBER_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.phoneNumber.errors?.pattern">
                                            {{ 'UPDATE_USER_PG.PHONE_NUMBER_PATTERN' | translate }}
                                        </div>
                                    </div> 
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="email"> {{ 'GENERAL.EMAIL' | translate }} </label>
                                <input id="email" type="email" formControlName="email" style="width:100%;" name="email"
                                    class="form-control UserRegister__FormControl">
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="nationality"> {{ 'GENERAL.NATIONALITY' | translate
                                    }} </label>
                                <div>
                                    <select class="UpdateUser__Options" name="nameEn" formControlName="nationality">
                                        <option *ngFor="let nationalityItem of collectionOfLookup.NATIONALITY"
                                            [value]="nationalityItem.id">
                                            {{ translate.currentLang == langEnum.en ? nationalityItem.nameEn :
                                            nationalityItem.nameAr}}
                                            <!--change check after adding language listner-->
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.nationality.errors && (f.nationality.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.nationality.errors?.required">
                                        {{ 'UPDATE_USER_PG.NATIONALITY_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="address"> {{ 'UPDATE_USER_PG.ADDRESS' | translate }}
                                </label>
                                <input id="address" pInputText type="text" formControlName="address" name="address"
                                    class="form-control UserRegister__FormControl">

                                    <div *ngIf="f.address.errors && (f.address.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.address.errors?.required">
                                            {{ 'UPDATE_USER_PG.ADDRESS_REQUIRED' | translate }}
                                        </div>
                                    </div> 
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 mt-3 mb-4  border_bottom">
                        <label class="UpdateUser__Label"> {{ 'UPDATE_USER_PG.EDU' | translate }} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="educationalLevel"> {{ 'UPDATE_USER_PG.EDU_LEVEL' | translate }} </label>
                                <select class="UpdateUser__Options" name="nameEn" formControlName="educationallevel">
                                    <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                        [value]="educationalLevelItem.id">
                                        {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                        educationalLevelItem.nameAr}}
                                    </option>
                                </select>

                                <div *ngIf="f.educationallevel.errors && (f.educationallevel.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.educationallevel.errors?.required">
                                        {{ 'UPDATE_USER_PG.EDU_LEVEL_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="occupation"> {{ 'UPDATE_USER_PG.OCCUPATION' |
                                    translate }} </label>
                                <input id="occupation" pInputText type="text" formControlName="occupation"
                                    name="occupation" class="form-control UserRegister__FormControl">

                                <div *ngIf="f.occupation.errors && (f.occupation.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.occupation.errors?.required">
                                        {{ 'UPDATE_USER_PG.OCCUPATION_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label class="Register__Label" for="quraanMemorization"> {{ 'UPDATE_USER_PG.AMOUNT_QURAN' | translate }} </label>
                            <select class="UpdateUser__Options" name="nameEn" formControlName="quraanMemorization">
                                <option *ngFor="let amount of quraanParts; let i = index" [value]="i+1">
                                    {{i+1}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label class="Register__Label" for="educationalLevel"> {{ 'UPDATE_USER_PG.MEMORIES_QURAN' | translate }} </label>
                            <input type="file" class="form-control UserRegister__FormControl" multiple
                                id="importFile" (change)="onEjazaFileChange($any($event.target).files)"
                                placeholder="ارفق اجازة حفظ القران">
                            <div class="row">
                                <div class="col-lg-8 col-md-8">
                                    <ul class="files-conainer">
                                        <li *ngFor="let item of fileList;let i=index">
                                            <button (click)="DeleteAttachment(i,item.id)">{{ 'UPDATE_USER_PG.DELETE' | translate }}</button>
                                            <a class="card" href="{{item.url}}" target="_blank">
                                                <div class="pdf">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="text-center fileName">
                                                    <p
                                                        style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;margin-left: 10px;margin-right: 10px;">
                                                        {{item.fileName}}</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>
                                    {{ 'UPDATE_USER_PG.SHEIKHS_STUDIED' | translate }}
                                    

                                    <button type="button" tooltipClass="custom-tooltip"
                                        class="btn p-0 d-inline-block btn-link mr-2" placement="left" ngbTooltip="">
                                        <i class="fa  fa-exclamation-circle"></i>

                                    </button>
                                </label>

                                <div class="input-group">
                                    <!-- <input class="form-control" type="text" /> -->
                                    <div class="input-group">
                                        <select class="form-control" id="shiekhs" formControlName="userSheikhs">
                                            <option *ngFor="let sheikh of collectionOfLookup.SYSTEM_SHEIKHS"
                                                value="{{sheikh.id}}">
                                                {{translate.currentLang == langEnum.en ? sheikh.nameEn : sheikh.nameAr}}</option>
                                        </select>
                                        <span class="select-arrow position-absolute">
                                            <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                                    </div>
                                    <span class="plus-btn position-absolute">
                                        <button class="btn btn-primary btn-add" type="button"
                                            (click)="addUserShiekhs()">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div>
                                    <div *ngIf="shiekhsMessage" class="alert alert-{{ shiekhsMessage.type }} my-4 py-2">
                                        {{ shiekhsMessage.message }}
                                    </div>
                                </div>
                                <div class="badges mt-3">
                                    <span *ngFor="let p of selectedShiekhsList"
                                        class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
                                        <a (click)="removeItemFromSelectedShiekhs(p)"><i class="fa  fa-minus"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>
                                    المحفوظات العلمية

                                    <button type="button" tooltipClass="custom-tooltip"
                                        class="btn p-0 d-inline-block btn-link mr-2" placement="left" ngbTooltip="">
                                        <i class="fa  fa-exclamation-circle"></i>

                                    </button>
                                </label>

                                <div class="input-group">
                                    <!-- <input class="form-control" type="text" /> -->
                                    <div class="input-group">
                                        <select class="form-control" id="archives" formControlName="userArchives">
                                            <option *ngFor="let archive of collectionOfLookup.SCIENTIFIC_ARCHIVES"
                                                value="{{archive.id}}">
                                                {{translate.currentLang == langEnum.en ? archive.nameEn : archive.nameAr}}</option>
                                        </select>
                                        <span class="select-arrow position-absolute">
                                            <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                                    </div>
                                    <span class="plus-btn position-absolute">
                                        <button class="btn btn-primary btn-add" type="button"
                                            (click)="addUserArchives()">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div>
                                    <div *ngIf="archiveMessage" class="alert alert-{{ archiveMessage.type }} my-4 py-2">
                                        {{ archiveMessage.message }}
                                    </div>
                                </div>
                                <div class="badges mt-3">
                                    <span *ngFor="let p of selectedArchivesList"
                                        class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
                                        <a (click)="removeItemFromSelectedArchives(p)"><i class="fa  fa-minus"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>
                                        دورات تدريبية
                                    <button type="button" tooltipClass="custom-tooltip"
                                        class="btn p-0 d-inline-block btn-link mr-2" placement="left" ngbTooltip="">
                                        <i class="fa  fa-exclamation-circle"></i>

                                    </button>
                                </label>

                                <div class="input-group">
                                    <!-- <input class="form-control" type="text" /> -->
                                    <div class="input-group">
                                        <select class="form-control" id="course" formControlName="userCourses">
                                            <option *ngFor="let course of collectionOfLookup.TRAINING_COURSES"
                                                value="{{course.id}}">
                                                {{translate.currentLang == langEnum.en ? course.nameEn : course.nameAr}}</option>
                                        </select>
                                        <span class="select-arrow position-absolute">
                                            <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                                    </div>
                                    <span class="plus-btn position-absolute">
                                        <button class="btn btn-primary btn-add" type="button"
                                            (click)="addUserCourses()">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div>
                                    <div *ngIf="coursesMessage" class="alert alert-{{ coursesMessage.type }} my-4 py-2">
                                        {{ coursesMessage.message }}
                                    </div>
                                </div>
                                <div class="badges mt-3">
                                    <span *ngFor="let p of selectedTrainingCourseList"
                                        class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
                                      
                                        <a lass="btn btn-primary btn-add"
                                        (click)="removeItemFromSelectedCourses(p)"><i class="fa  fa-minus"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-lg-12 mx-auto mb-0 mt-4">
                        <button type="submit" class="btn UserLogin__Submit"> {{ 'GENERAL.SAVE' | translate }} </button>
                    </div>

                    <div *ngIf="resMessage" class="alert alert-{{ resMessage.type }} my-4 py-2">
                        {{ resMessage.message }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" class="form-group">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
        <h1 class="font-weight-bold "> {{'UPDATE_USER_PG.PERSONAL_INFORMATION' | translate}} </h1> 
    </div>

              
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-12">
        <div class="row">
            

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="firstNameAr"> {{'UPDATE_USER_PG.FIRSTNAMEAR' | translate}} </label>
                <input id="firstNameEn"  pInputText type="text" formControlName="firstNameAr" name="firstNameAr" placeholder="Enter First Name" class="form-control UserRegister__FormControl">                            
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="firstNameEn"> {{'UPDATE_USER_PG.FIRSTNAMEEN' | translate}} </label>
                <input id="firstNameEn"  pInputText type="text" formControlName="firstNameEn" name="firstNameEn" placeholder="Enter Father Name" class="form-control UserRegister__FormControl">                            
            </div>
            
            

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="middleNameAr"> Middle Name Arabic </label>
                <input id="middleNameAr"  pInputText type="text" formControlName="middleNameAr" name="middleNameAr" placeholder="Enter Middle Name Arabic" class="form-control UserRegister__FormControl">                            
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="middleNameEn"> Middle Name English </label>
                <input id="middleNameEn"  pInputText type="text" formControlName="middleNameEn" name="middleNameEn" placeholder="Enter Middle Name English" class="form-control UserRegister__FormControl">                            
            </div>  

            

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="familyNameAr"> Father Name Arabic </label>
                <input id="familyNameAr"  pInputText type="text" formControlName="familyNameAr" name="familyNameAr" placeholder="Enter Father Name Arabic" class="form-control UserRegister__FormControl">                            
            </div>

            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label class="Register__Label" for="familyNameEn"> Father Name English </label>
                <input id="familyNameEn"  pInputText type="text" formControlName="familyNameEn" name="familyNameEn" placeholder="Enter Father Name English" class="form-control UserRegister__FormControl">                            
            </div>

            
            
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="birthdate"> Birthdate </label>
                <input id="birthdate"  pInputText type="date" formControlName="birthdate" name="birthdate" class="form-control UserRegister__FormControl">                            
            </div>  

            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="gender"> Gender </label>
                <select name="nameEn" formControlName="gender" style="width: 100px; height: 35px;"> 
                    <option *ngFor = "let genderItem of collectionOfLookup.GENDER" [value]="genderItem.id" >{{genderItem.nameEn}}</option>
                </select>                     
            </div>  

            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="countryCode"> Country Code </label>
                <select name="nameEn" formControlName="countryCode" style="width: 100px; height: 35px;" > 
                    <option *ngFor = "let countryItem of collectionOfLookup.COUNTRY" [value]="countryItem.id">{{countryItem.nameEn}}</option>
                </select>      
            </div>  

            

            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="phoneNumber"> Mobile </label>
                <input id="phoneNumber"  pInputText type="text" formControlName="phoneNumber" name="phoneNumber" class="form-control UserRegister__FormControl">                            
            </div>  
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="nationality"> Nationality </label>
                <select name="nameEn" formControlName="nationality" style="width: 100px; height: 35px;"  > 
                    <option *ngFor = "let nationalityItem of collectionOfLookup.NATIONALITY" [value]="nationalityItem.id">{{nationalityItem.nameEn}}</option>
                </select>        
            </div>  
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="educationalLevel"> Educational Level </label>
                <select name="nameEn" formControlName="educationallevel" style="width: 100px; height: 35px;"> 
                    <option *ngFor = "let educationalLevelItem of collectionOfLookup.EDU_LEVEL" [value]="educationalLevelItem.id">{{educationalLevelItem.nameEn}}</option>
                </select>       
            </div>  

            

            <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="occupation"> Occupation </label>
                <input id="occupation"  pInputText type="text" formControlName="occupation" name="occupation" class="form-control UserRegister__FormControl">                            
            </div>  
            <div class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-4">
                <label class="Register__Label" for="address"> Address </label>
                <input id="address"  pInputText type="text" formControlName="address" name="address" class="form-control UserRegister__FormControl">                               
            </div>  
            
        </div>                                                        
    </div>

    
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto mb-0">
        <button type="submit" class="btn btn-primary btn-block UserRegister__Submit" > Update </button>                        
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
    </div>
</form> -->