<div class="container-fluid UpdateUser" *ngIf="telInputParam?.countryIsoCode">
    <div class="row">
        <div class="box_container">

            <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" class="form-group">

                <div class="col-12 profile p-0 mb-50" (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
                    <div class="profile_background"></div>
                    <img class="img_profile" [src]="userProfileDetails?.proPic">
                    <input type="file" style="display: none;" #fileInput
                        (change)="onFileChange($any($event.target).files)">
                    <a class="custom_file_input" (click)="fileInput.click()" style="text-decoration: none;" id="upload_link">
                        <!-- {{'UPDATE_USER_PG.CHANGE_PIC' | translate}} -->
                        <img src="assets/images/update-user/UploadImage.svg"/>
                    </a>
                </div>

                <div class="internal_scroll">
                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 border_bottom">
                        <label class="UpdateUser__Label mt-5">{{'UPDATE_USER_PG.PERSONAL_INFORMATION' | translate}} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 pl-0 pr-0">
                        <div class="row pl-0 pr-0 ">
                            <!-- Names Arabic -->

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.ar">
                                <label class="Register__Label" for="firstNameAr"> {{ 'UPDATE_USER_PG.NAME_AR' | translate }}
                                </label>
                                <input id="firstNameAr" pInputText type="text" formControlName="firstNameAr"
                                    name="firstNameAr" class="form-control UserRegister__FormControl"
                                    placeholder="{{ 'UPDATE_TEACHER_PG.FIRST_NAME' | translate }}">

                                <div *ngIf="f.firstNameAr.errors && (f.firstNameAr.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">

                                    <div *ngIf="f.firstNameAr.errors?.required">
                                        {{ 'UPDATE_USER_PG.NAME_AR_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="f.firstNameAr.errors?.maxlength">
                                        {{ 'UPDATE_USER_PG.NAME_AR_MAX_LENGTH' | translate }}
                                    </div>
                                    <div *ngIf="f.firstNameAr.errors?.minlength">
                                        {{ 'UPDATE_USER_PG.NAME_AR_MIN_LENGTH' | translate }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.ar">
                                <label class="Register__Label" for="middleNameAr"> {{ 'UPDATE_USER_PG.FATHER_NAME_AR' | translate }} </label>
                                <input id="middleNameAr" pInputText type="text" formControlName="middleNameAr"
                                    name="middleNameAr" class="form-control UserRegister__FormControl"
                                    placeholder="{{ 'UPDATE_TEACHER_PG.FATHER_NAME_AR' | translate }}">


                                    <div *ngIf="f.middleNameAr.errors && (f.middleNameAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.middleNameAr.errors?.required">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_AR_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.middleNameAr.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_AR_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.middleNameAr.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_AR_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.ar">
                                <label class="Register__Label" for="familyNameAr"> {{ 'UPDATE_USER_PG.FAMILY_NAME_AR' | translate }} </label>
                                <input id="familyNameAr" pInputText type="text" formControlName="familyNameAr"
                                    name="familyNameAr" class="form-control UserRegister__FormControl"
                                    placeholder="{{ 'UPDATE_TEACHER_PG.FAMILY_NAME_AR' | translate }}">

                                    <div *ngIf="f.familyNameAr.errors && (f.familyNameAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.familyNameAr.errors?.required">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_AR_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.familyNameAr.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_AR_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.familyNameAr.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_AR_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>
                            </div>

                            <!-- End Names Arabic -->

                            <!-- Names English -->

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.en">
                                <label class="Register__Label" for="firstNameEn"> {{ 'UPDATE_USER_PG.NAME_EN' | translate }}
                                </label>
                                <input id="firstNameEn" pInputText type="text" formControlName="firstNameEn"
                                    name="firstNameEn" class="form-control UserRegister__FormControl"    placeholder="{{ 'UPDATE_TEACHER_PG.FIRST_NAME' | translate }}">

                                <div *ngIf="f.firstNameEn.errors && (f.firstNameEn.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">

                                    <div *ngIf="f.firstNameEn.errors?.required">
                                        {{ 'UPDATE_USER_PG.NAME_EN_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="f.firstNameEn.errors?.maxlength">
                                        {{ 'UPDATE_USER_PG.NAME_EN_MAX_LENGTH' | translate }}
                                    </div>
                                    <div *ngIf="f.firstNameEn.errors?.minlength">
                                        {{ 'UPDATE_USER_PG.NAME_EN_MIN_LENGTH' | translate }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.en">
                                <label class="Register__Label" for="middleNameEn"> {{ 'UPDATE_USER_PG.FATHER_NAME_EN' | translate }} </label>
                                <input id="middleNameEn" pInputText type="text" formControlName="middleNameEn"
                                    name="middleNameEn" class="form-control UserRegister__FormControl"
                                    placeholder="{{ 'UPDATE_TEACHER_PG.FATHER_NAME_EN' | translate }}">

                                    <div *ngIf="f.middleNameEn.errors && (f.middleNameEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.middleNameEn.errors?.required">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_EN_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.middleNameEn.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_EN_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.middleNameEn.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_EN_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.en">
                                <label class="Register__Label" for="familyNameEn"> {{ 'UPDATE_USER_PG.FAMILY_NAME_EN' | translate }} </label>
                                <input id="familyNameEn" pInputText type="text" formControlName="familyNameEn"
                                    name="familyNameEn" class="form-control UserRegister__FormControl"
                                     placeholder="{{ 'UPDATE_TEACHER_PG.FAMILY_NAME_EN' | translate }}">

                                    <div *ngIf="f.familyNameEn.errors && (f.familyNameEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.familyNameEn.errors?.required">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_EN_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.familyNameEn.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_EN_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.familyNameEn.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_EN_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>
                            </div>

                            <!-- End Names English -->

                            <div class="col-lg-5 col-md-2 col-sm-2 col-xs-2 updateTeacher_hijriBirthDate">

                                    <div class="hijriBirthDate_contanier">
                                        <label class="Register__Label" for="birthdate"> {{ 'UPDATE_USER_PG.BIRTHDATE' |
                                            translate }} </label>
                                        <!-- <input id="birthdate" pInputText type="date" formControlName="birthdate"
                                            name="birthdate" class="form-control UserRegister__FormControl"> -->

                                            <app-milady-hijri-calendar (sendDate)="Hijri($event)" [dateTo]='hijriBirthDateInputParam'
                                               [hijri]="hijri" [milady]="milady">
                                             </app-milady-hijri-calendar>


                                            <div *ngIf="!hijriBinding && (f.birthdate.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                                <div *ngIf="!hijriBinding">
                                                    {{ 'UPDATE_USER_PG.BIRTHDATE_REQUIRED' | translate }}
                                                </div>
                                            </div>
                                    </div>


                            </div>
                            <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label class="Register__Label" for="gender"> {{ 'GENERAL.GENDER' | translate }}
                                </label>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                        *ngFor="let item of collectionOfLookup.GENDER">
                                        <label for="male">
                                            <input type="radio" id="male" name="gender" formControlName="gender"
                                                value="{{item.id}}">
                                            {{ translate.currentLang == langEnum.en ? item.nameEn : item.nameAr}}
                                        </label>



                                    </div>
                                    <div *ngIf="f.gender.errors && (f.gender.touched || isSubmit)"
                                            class="alert alert-danger mt-2 mb-2">
                                            <div *ngIf="f.gender.errors.required">
                                                {{ 'UPDATE_USER_PG.GENDER_REQUIRED' | translate }}
                                            </div>
                                        </div>
                                </div>
                            </div> -->
                            <div class="pl-3 pr-3 gender_contanier col-3">
                                <label class="Register__Label" for="gender"> {{ 'GENERAL.GENDER' | translate }}
                                </label>
                                <div class="row">
                                    <section class="col-12 mt-3" >
                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group"
                                         formControlName="gender">
                                            <mat-radio-button value="{{item.id}}" class="example-radio-button ml-3"
                                            *ngFor="let item of collectionOfLookup.GENDER">
                                            {{ translate.currentLang == langEnum.en ? item.nameEn : item.nameAr}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                   </section>
                                    <div *ngIf="f.gender.errors && (f.gender.touched || isSubmit)"
                                            class="alert alert-danger mt-2 mb-2">
                                            <div *ngIf="f.gender.errors.required">
                                                {{ 'UPDATE_TEACHER_PG.GENDER_REQUIRED' | translate }}
                                            </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 mt-3 mb-4 border_bottom">
                        <label class="UpdateUser__Label"> {{ 'UPDATE_USER_PG.CONTACT_INFO' | translate }} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="phoneNumber"> {{ 'GENERAL.PHONE_NUMBER' | translate }} </label>
                                <!-- <input id="phoneNumber" pInputText type="text" formControlName="phoneNumber"
                                    style="width:100%;" name="phoneNumber"
                                    class="form-control UserRegister__FormControl"> -->
                                    <app-tel-input  (getPhonNumber)="applyPhoneNumber($event)"
                                    [telInputParam]="telInputParam"></app-tel-input>

                                    <div *ngIf="f.phoneNumber.errors && (f.phoneNumber.touched || isSubmit)"
                                     class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.phoneNumber.errors.required">
                                            {{ 'UPDATE_USER_PG.PHONE_NUMBER_REQUIRED' | translate }}
                                        </div>
                                        <!-- <div *ngIf="f.phoneNumber.errors?.pattern">
                                            {{ 'UPDATE_USER_PG.PHONE_NUMBER_PATTERN' | translate }}
                                        </div>
                                        <div *ngIf="f.phoneNumber.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.PHONE_NUMBER_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.phoneNumber.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.PHONE_NUMBER_MIN_LENGTH' | translate }}
                                        </div> -->
                                    </div>
                            </div>



                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label class="Register__Label" for="email"> {{ 'GENERAL.EMAIL' | translate }} ({{ 'UPDATE_USER_PG.OPTIONAL' | translate }})</label>
                                <input id="email" type="email" formControlName="email" style="width:100%;" readonly name="email"
                                    class="form-control UserRegister__FormControl dimmed" />
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="nationality"> {{ 'GENERAL.NATIONALITY' | translate
                                    }} </label>
                                <div>
                                    <select class="UpdateUser__Options" name="nameEn" formControlName="nationality">
                                        <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_NATIONALITY' | translate }}</option>
                                        <option *ngFor="let nationalityItem of collectionOfLookup.NATIONALITY"
                                            [value]="nationalityItem.id">
                                            {{ translate.currentLang == langEnum.en ? nationalityItem.nameEn :
                                            nationalityItem.nameAr}}
                                            <!--change check after adding language listner-->
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.nationality.errors && (f.nationality.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.nationality.errors.required">
                                        {{ 'UPDATE_USER_PG.NATIONALITY_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="phoneNumber"> {{ 'UPDATE_USER_PG.COUNTRY' |
                                    translate }} </label>

                                <select class="UpdateUser__Options" name="nameEn" formControlName="countryCode" (change)="getCitiesLookupByCountry()">
                                <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_Country' | translate }}</option>

                                    <option *ngFor="let countryItem of collectionOfLookup.COUNTRY"
                                        [value]="countryItem.id">
                                        {{ translate.currentLang == langEnum.en ? countryItem.nameEn : countryItem.nameAr}}
                                    </option>
                                </select>

                                <div *ngIf="f.countryCode.errors && (f.countryCode.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.countryCode.errors.required">
                                        {{ 'UPDATE_USER_PG.COUNTRY_CODE' | translate }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 mt-3">
                                <label class="Register__Label" for="city"> {{ 'UPDATE_USER_PG.CITY' | translate }}
                                </label>

                                    <select class="UpdateUser__Options" name="nameEn" formControlName="city">
                                        <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELEC_CITY' | translate }}</option>

                                        <option *ngFor="let cityItem of collectionOfLookup.CITY"
                                            [value]="cityItem.id">
                                            {{ translate.currentLang == langEnum.en ? cityItem.nameEn : cityItem.nameAr}}
                                        </option>
                                    </select>

                                    <div *ngIf="f.city.errors && (f.city.touched || isSubmit)"
                                        class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.city.errors.required">
                                            {{ 'UPDATE_USER_PG.CITY_REQUIRED' | translate }}

                                        </div>
                                   </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-2 col-xs-2 mt-3">
                                <label class="Register__Label" for="address"> {{ 'UPDATE_USER_PG.ADDRESS' | translate }}
                                </label>
                                <input id="address" pInputText type="text" formControlName="address" name="address" width="70px"
                                    class="form-control UserRegister__FormControl " placeholder="{{ 'UPDATE_TEACHER_PG.SELECT_ADDRESS' | translate }}">

                                    <div *ngIf="f.address.errors && (f.address.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.address.errors.required">
                                            {{ 'UPDATE_USER_PG.ADDRESS_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 mt-3 mb-4  border_bottom">
                        <label class="UpdateUser__Label"> {{ 'UPDATE_USER_PG.EDU' | translate }} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="educationalLevel"> {{ 'UPDATE_USER_PG.EDU_LEVEL' | translate }} </label>
                                <select class="UpdateUser__Options" name="nameEn" formControlName="educationallevel">
                                    <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_EDU_LEVEL' | translate }}</option>

                                    <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                        [value]="educationalLevelItem.id">
                                        {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                        educationalLevelItem.nameAr}}
                                    </option>
                                </select>

                                <div *ngIf="f.educationallevel.errors && (f.educationallevel.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.educationallevel.errors.required">
                                        {{ 'UPDATE_USER_PG.EDU_LEVEL_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="occupation"> {{ 'UPDATE_USER_PG.OCCUPATION' |
                                    translate }} </label>
                                <input id="occupation" pInputText type="text" formControlName="occupation"
                                    name="occupation" class="form-control UserRegister__FormControl"
                                    placeholder="{{ 'UPDATE_USER_PG.INPUT_OCCUPATION' |translate }}">

                                <div *ngIf="f.occupation.errors && (f.occupation.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.occupation.errors.required">
                                        {{ 'UPDATE_USER_PG.OCCUPATION_REQUIRED' | translate }}
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-32">
                                <label class="Register__Label" for="quraanMemorization"> {{ 'UPDATE_USER_PG.AMOUNT_QURAN' | translate }} </label>
                                <select class="UpdateUser__Options" name="nameEn" formControlName="quraanMemorization">
                                    <option  [value]="0" disabled selected>
                                        {{ 'UPDATE_USER_PG.INPUT_AMOUNT_QURAN' | translate }}
                                    </option>

                                    <option *ngFor="let amount of quraanParts; let i = index" [value]="i+1">
                                        {{i+1}}
                                    </option>
                                </select>
                                <div *ngIf="f.quraanMemorization.errors && (f.quraanMemorization.touched || isSubmit)"
                                class="alert alert-danger mt-2 mb-2">
                                <div *ngIf="f.quraanMemorization.errors.pattern">
                                    {{ 'UPDATE_USER_PG.AMOUNT_QURAN_REQUIRED' | translate }}
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <label class="Register__Label" for="educationalLevel"> {{ 'UPDATE_USER_PG.MEMORIES_QURAN' | translate }} </label>

                                    <label class="custom-file custom-file__text" for="importFile">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                <input type="text" class=" form-control UserRegister__FormControl"  placeholder="{{ 'UPDATE_TEACHER_PG.JOIN_MEMORIES_QURAN' | translate }}">
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  UpdateUserIcon">
                                                <img class=" upload-icon" src="assets/images/update-user/UploadIcon.svg"/>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 m-2 UpdateUserIcon">

                                            </div>
                                        </div>
                                    </label>
                                    <input type="file" class="custom-file-input" id="importFile" multiple
                                     (change)="onEjazaFileChange($any($event.target).files)" hidden>


                                <!-- <input type="file" class="form-control UserRegister__FormControl" multiple
                                    id="importFile" (change)="onEjazaFileChange($any($event.target).files)"
                                    placeholder="ارفق اجازة حفظ القران"> -->
                                <div class="row">
                                    <div class="col-lg-8 col-md-8">
                                        <div class="badges mt-3 ">
                                            <div *ngFor="let item of fileList;let i=index"
                                                class="badge badge-info p-2 " >
                                            <div class="d-flex justify-content-between">
                                                <p class="ellipsis mb-0" matTooltip="{{item.fileName}}"> {{item.fileName}}</p>
                                                <a (click)="DeleteAttachment(i,item.id)"><i class="fas fa-times-circle"></i></a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <ul class="files-conainer">
                                            <li *ngFor="let item of fileList;let i=index">
                                                <button (click)="DeleteAttachment(i,item.id)">{{ 'UPDATE_USER_PG.DELETE' | translate }}</button>
                                                <a class="card" href="{{item.url}}" target="_blank">
                                                    <div class="pdf">
                                                        <i class="fa fa-file"></i>
                                                    </div>
                                                    <div class="text-center fileName">
                                                        <p
                                                            style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;margin-left: 10px;margin-right: 10px;">
                                                            {{item.fileName}}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4">
                                <label>
                                    {{ 'UPDATE_USER_PG.SHEIKHS_STUDIED' | translate }} ({{ 'UPDATE_USER_PG.OPTIONAL' | translate }})


                                    <!-- <button type="button" tooltipClass="custom-tooltip"
                                        class="btn p-0 d-inline-block btn-link mr-2" placement="left" ngbTooltip="">
                                        <i class="fa  fa-exclamation-circle"></i>

                                    </button> -->
                                </label>

                                <div class="input-group">
                                    <!-- <input class="form-control" type="text" /> -->
                                    <div class="input-group pr-2rem">
                                        <select class="form-control " id="shiekhs" formControlName="userSheikhs">
                                    <option [ngValue]="null"  disabled selected>{{ 'UPDATE_USER_PG.INPUT_CHOOSE_SHEIKHS' | translate }}</option>

                                            <option *ngFor="let sheikh of collectionOfLookup.SYSTEM_SHEIKHS"
                                                value="{{sheikh.id}}">
                                                {{translate.currentLang == langEnum.en ? sheikh.nameEn : sheikh.nameAr}}</option>
                                        </select>
                                        <!-- <span class="select-arrow position-absolute">
                                            <i class="fa fa-angle-down" style="color: inherit;"></i>

                                        </span> -->
                                    </div>
                                    <span class="plus-btn position-absolute">

                                        <button class="btn btn-light btn-add" type="button"
                                            (click)="addUserShiekhs()">

                                            <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
                                            <!-- <i class="fa  fa-plus"></i> -->
                                        </button>
                                    </span>


                                    <!-- <span class="PlusIcon position-absolute">
                                        <a style="text-decoration: none;" (click)="addUserShiekhs()">
                                            <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
                                        </a>

                                         <button class="btn btn-primary btn-add" type="button"
                                            (click)="addUserShiekhs()">

                                            <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
                                            <i class="fa  fa-plus"></i>
                                        </button>
                                    </span> -->
                                </div>
                                <div>
                                    <div *ngIf="shiekhsMessage.message" class="alert alert-{{ shiekhsMessage.type }} my-4 py-2">
                                        {{ shiekhsMessage.message }}
                                    </div>
                                </div>
                                <div class="badges mt-3">
                                    <span *ngFor="let p of selectedShiekhsList"
                                        class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
                                        <a (click)="removeItemFromSelectedShiekhs(p)"><i class="fas fa-times-circle"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <label>

                                    {{ 'UPDATE_USER_PG.SCIENTIFIC_ARCHIVES' | translate }} ({{ 'UPDATE_USER_PG.OPTIONAL' | translate }})

                                    <!-- <button type="button" tooltipClass="custom-tooltip"
                                        class="btn p-0 d-inline-block btn-link mr-2" placement="left" ngbTooltip="">
                                        <i class="fa  fa-exclamation-circle"></i>
                                    </button> -->
                                </label>

                                <div class="input-group">
                                    <!-- <input class="form-control" type="text" /> -->
                                    <div class="input-group pr-2rem">
                                        <select class="form-control" id="archives" formControlName="userArchives">
                                         <option [ngValue]="null"  disabled selected>{{ 'UPDATE_USER_PG.INPUT_ASRCHIVE' | translate }}</option>
                                            <option *ngFor="let archive of collectionOfLookup.SCIENTIFIC_ARCHIVES"
                                                value="{{archive.id}}">
                                                {{translate.currentLang == langEnum.en ? archive.nameEn : archive.nameAr}}</option>
                                        </select>
                                        <!-- <span class="select-arrow position-absolute">
                                            <i class="fa fa-angle-down" style="color: inherit;"></i></span> -->
                                    </div>
                                    <span class="plus-btn position-absolute">
                                        <button class="btn btn-light btn-add" type="button"
                                            (click)="addUserArchives()">
                                            <!-- <i class="fa  fa-plus"></i> -->

                                            <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">

                                        </button>
                                    </span>
                                </div>
                                <div>
                                    <div *ngIf="archiveMessage.message" class="alert alert-{{ archiveMessage.type }} my-4 py-2">
                                        {{ archiveMessage.message }}
                                    </div>
                                </div>
                                <div class="badges mt-3">
                                    <span *ngFor="let p of selectedArchivesList"
                                        class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
                                        <a (click)="removeItemFromSelectedArchives(p)"><i class="fas fa-times-circle"></i></a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <label>

                                    {{ 'UPDATE_USER_PG.TRAINING_COURSES' | translate }} ({{ 'UPDATE_USER_PG.OPTIONAL' | translate }})


                                    <!-- <button type="button" tooltipClass="custom-tooltip"
                                        class="btn p-0 d-inline-block btn-link mr-2" placement="left" ngbTooltip="">
                                        <i class="fa  fa-exclamation-circle"></i>

                                    </button> -->
                                </label>

                                <div class="input-group">
                                    <!-- <input class="form-control" type="text" /> -->
                                    <div class="input-group pr-2rem">

                                        <select class="form-control pr-2rem" id="course" formControlName="userCourses">
                                        <option [ngValue]="null"  disabled selected>{{ 'UPDATE_USER_PG.INPUT_COURSE' | translate }}</option>
                                            <option *ngFor="let course of collectionOfLookup.TRAINING_COURSES"
                                                value="{{course.id}}">
                                                {{translate.currentLang == langEnum.en ? course.nameEn : course.nameAr}}</option>
                                        </select>
                                        <!-- <span class="select-arrow position-absolute">
                                            <i class="fa fa-angle-down" style="color: inherit;"></i></span> -->
                                    </div>
                                    <span class="plus-btn position-absolute">
                                        <button class="btn btn-light btn-add" type="button"
                                            (click)="addUserCourses()">

                                            <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">

                                            <!-- <i class="fa  fa-plus"></i> -->
                                        </button>
                                    </span>
                                </div>
                                <div>
                                    <div *ngIf="coursesMessage.message" class="alert alert-{{ coursesMessage.type }} my-4 py-2">
                                        {{ coursesMessage.message }}
                                    </div>
                                </div>
                                <div class="badges mt-3">
                                    <span *ngFor="let p of selectedTrainingCourseList"
                                        class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}

                                        <a lass="btn btn-primary btn-add"
                                        (click)="removeItemFromSelectedCourses(p)"><i class="fas fa-times-circle"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-12 mx-auto mb-0 mt-4">
                        <button type="submit" class="btn UserLogin__Submit"> {{ 'GENERAL.SAVE' | translate }} </button>
                    </div>

                    <div *ngIf="resMessage.message" class="alert alert-{{ resMessage.type }} my-4 py-2">
                        {{ resMessage.message }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





