@import 'src/assets/scss/_variables.scss';


.UpdateUser{
    .UpdateUser__Label{
        color: $user-color;
        border-width: 70%;
        border-bottom: aliceblue;
        font-family:Almarai-Bold ;
        font-size: 1.25rem;
    }
    
    .UpdateUser__Options{
        width: 100%; height: 35px;
        border-radius: 0.65rem;
        border-color: $gray-300;
    }
    
    Label{
        font-family:Almarai-Regular;
        font-size: 0.875rem;
        color: #3A3A3A;

    
}
}

.box_container{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    padding: 26px 144px;
    margin: auto;
    margin-bottom: 0;
    border: 1px solid #FBFBFB;
    margin-top: 1rem;
}

.box_container:lang(ar)  {
    text-align: right;
}



.profile_background{

    background: url(../../../../../assets/images/profile_img.svg);
    height: 207px;
    width: 100%;
    border-radius: 30px;
    
}

.img_profile{
    position:absolute;
    top: 0;
    left: 43%;
    top: 20%;
    width: 13.313rem;
    height: 13.313rem;
}
.mb-50{
    margin-bottom: 50px;
}
.internal_scroll{
max-height: 300px;
overflow-y: scroll;
overflow-x: hidden;
}
.border_bottom{
    border-bottom: 1px solid #b9b0b061;
}


// {
//     width: 20px;
//     height: 20px;
//     background-position: 0 -134px;
//     background-image: url(/rsrc.php/v3/yO/r/e7tMeg9zyDj.png);
//     background-size: 34px 326px;
//     background-repeat: no-repeat;
//     display: inline-block;
// }
.custom_file_input{
  left: 37%;
  position: absolute;
  bottom: -37px;  
}

// .upload-image {
//     cursor:pointer;
//     width: 158px;
//     height: 45px;
//     overflow:hidden;
//     position:relative;
//     display:inline-block;
//     /*background-color:#fff;*/
//     background-repeat: no-repeat;
//     background-image:
//       url('http://icons.iconarchive.com/icons/martz90/circle/512/camera-icon.png');
//     background-size:20px 20px;
//   }