@import 'src/assets/scss/_variables.scss';


.UpdateUser{
    .UpdateUser__Label{
        color: $user-color;
        border-width: 70%;
        border-bottom: aliceblue;
        font-family:Almarai-Bold ;
        font-size: 1.25rem;
    }
    
    .UpdateUser__Options{
        width: 100%; height: 35px;
        border-radius: 0.65rem;
        border-color: $gray-300;
    }
    
    Label{
        font-family:Almarai-Regular;
        font-size: 0.875rem;
        color: #3A3A3A;
    }

    .badge {
        white-space: normal !important; 
   }
}

// .UpdateUserIcon{
//     background-color: $icon_input;
// }



.upload-icon{
    width: 2rem;
    // margin-top: -5px;
    // margin-bottom: 10px;        
    }

.box_container{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    padding: 26px 144px;
    margin: auto;
    margin-bottom: 0;
    border: 1px solid #FBFBFB;
    margin-top: 1rem;
}

.box_container:lang(ar)  {
    text-align: right;
}

.PlusIcon{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}



.btn-primary {
    color: #fff;
     background-color: white;
    /* border-color: #007bff; */
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: white;
    // border-color: #005cbf;
}

.btn {
    font-weight: 400;
    // color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    /* background-color: transparent; */
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.profile_background{

    background: url(../../../../../assets/images/profile_img.svg);
    height: 207px;
    width: 100%;
    border-radius: 30px;
    
}


.img_profile{
    position:absolute;
    top: 0;
    left: 40% !important;
    top: 20%;
    width: 13.313rem;
    height: 13.313rem;
    border-radius: 1rem;
}
.mb-50{
    margin-bottom: 50px;
}

.internal_scroll{
max-height: 335px;
overflow-y: scroll;
overflow-x: hidden;
padding-left: 0.5rem;
padding-right: 0.5rem;
}
.border_bottom{
    border-bottom: 1px solid #b9b0b061;
}

// {
//     width: 20px;
//     height: 20px;
//     background-position: 0 -134px;
//     background-image: url(/rsrc.php/v3/yO/r/e7tMeg9zyDj.png);
//     background-size: 34px 326px;
//     background-repeat: no-repeat;
//     display: inline-block;
// }
.custom_file_input:lang(ar){
  left: 58% !important;
  position: absolute;
  bottom: -46px;  
  
}

.custom_file_input:lang(en){
    left: 42% !important;
    position: absolute;
    bottom: -46px;  
}
// .upload-image {
//     cursor:pointer;
//     width: 158px;
//     height: 45px;
//     overflow:hidden;
//     position:relative;
//     display:inline-block;
//     /*background-color:#fff;*/
//     background-repeat: no-repeat;
//     background-image:
//       url('http://icons.iconarchive.com/icons/martz90/circle/512/camera-icon.png');
//     background-size:20px 20px;
//   }

