<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12 ">
            <app-teacher-recitation-groups 
            (showAddGroup)="showAddGroup($event)"
            (sendGroupId)="reciveGroupId($event)">
                
            </app-teacher-recitation-groups>
        </div>
       
        <div class="col-lg-8 col-md-3 col-sm-12 ">
            <app-teacher-recitation-group-selected 
            (addStudentRequest)="addStudentRequestMethod($event)"
            (rejectedRequestId)="reciveRejectedRequestId($event)">

            </app-teacher-recitation-group-selected>
        </div>
      
     
    </div>   
    <div class="overlay" *ngIf="showAddGroupForm">
        <app-add-new-group-teacher-recitation (hideform)="showAddGroup($event)"></app-add-new-group-teacher-recitation>
    </div>
    <div class="overlay" *ngIf="showRejectForm">
        <app-rejected-group-request-form (hideform)="openRejectForm($event)"
        [rejectedRequestId]="rejectedRequestId" >
    </app-rejected-group-request-form>
       
    </div>
    <div class="overlay" *ngIf="showAddStudent">
     <app-add-new-student-in-group 
     (hideform)="openAddStudentForm($event)"></app-add-new-student-in-group>
    </div>
</div>
    
