<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
            <app-add-new-group-teacher-recitation>
                
            </app-add-new-group-teacher-recitation>
        </div>
       
        <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
            <app-teacher-recitation-group-selected>

            </app-teacher-recitation-group-selected>
        </div>
      
       <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
            <app-teacher-recitation-join-request>

            </app-teacher-recitation-join-request>
        </div>
    </div>        
</div>
    
