<ng-container *ngIf="ViewprogCondmood===programConditionViewMoodEnum.conditionProgramViewMood">
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{lastProgramModel.title}}</span>
           <img class="close" src="../../../../../assets/images/feelings/close.svg" (click)="confirmDialog()">
        </div>
        <div class="body">
            <div class="form-group w-100"  >
            <div class="input-group">
                <div class="input-group pr-2rem"> 
                    <select class="UpdateUser__Options form-control" name="nameEn" [(ngModel)]="lastProgramModel.condSelcted">
                        <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_PROGRAM' | translate }}</option>
        
                            <option *ngFor="let item of ProgramsList"
                                [value]="item.id">
                                        {{ translate.currentLang == langEnum.en ? item.nameEn :
                                            item.nameAr}}
                                    </option>
                        </select>
                </div>
                <span class="plus-btn position-absolute">                                        
                    <button class="btn btn-light btn-add" type="button"
                        (click)="addDegreeItem()">
                        <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
                    </button>
                </span>
             
            </div>
            </div>
           
            
        </div>
         <div class="row internal_scroll_for_badge">
                <div class="badges ">
                <div *ngFor="let p of selectedLastPrograms"class="badge badge-info p-2">
                    <div class="d-flex justify-content-between">
                    <p class="ellipsis mb-0" title="{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}" >{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}} </p>
                    <a (click)="removeItemFromSelectedLastPrograms(p)"><i class="fas fa-times-circle"></i></a>
                </div>
              </div>
            </div>

              <!-- <div *ngFor="let p of selectedLastPrograms"
                    class="badge badge-info p-2">
                    <div class="d-flex justify-content-between">
                        <p class="ellipsis mb-0"> {{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}</p>
                    <a (click)="removeItemFromSelectedLastPrograms(p)"><i class="fas fa-times-circle"></i></a>
                       
                    </div>
              </div> -->
        </div>
                

            <div  class="row  buttons-center ">
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="lastProgramModel.isRequired" >
                    <span class="slider round">{{ "GENERAL.MANDATORY" | translate }}</span>
                  </label>
                <button   type="submit" class="save-btn" (click)="saveProgramConditions()"> 
                    {{ "GENERAL.SAVE" | translate }}
                </button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="ViewprogCondmood===programConditionViewMoodEnum.conditionSettingViewMood">
    <div class="card-setting viewMode">
        <div class="head">
           <span>
            {{'CONDITIONDS.PASSING_LAST_PROGRAM' | translate}}   
           </span>
        </div>
        <div class="body">
            <div class="form-group w-90"  >
            <select class="UpdateUser__Options form-control"  name="nameEn">
                <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_PROGRAM' | translate }}</option>

                <option *ngFor="let item of ProgramsList"
                [value]="item.id">
                        {{ translate.currentLang == langEnum.en ? item.nameEn :
                            item.nameAr}}
                    </option>
            </select>
            </div>
        </div>


    </div>
</ng-container>

<ng-container *ngIf="ViewprogCondmood===programConditionViewMoodEnum.conditionBasicInfoViewMood">
    <label class="title">
        {{lastProgramModel.title}}
        <span>  &nbsp;  : </span>
        <span>  &nbsp; </span>
     </label>
     <label class="badges ">
        <span *ngFor="let p of selectedLastPrograms"
            class="badge badge-info p-2">{{translate.currentLang == langEnum.en? p.nameEn :p.nameAr}}
        </span>
        <span *ngIf="lastProgramModel.isRequired" class="requiredFlag">{{ "GENERAL.MANDATORY" | translate }} </span>

    </label>
</ng-container>