<ng-container >
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{item.title}} 
            {{'CONDITIONDS.PASSING_LAST_PROGRAM' | translate}}   
           </span>
           <!-- <img class="close" src="../../../../../assets/images/feelings/close.svg"> -->
        </div>
        <div class="body">
            <!-- <div class="details">اتمام برنامج سابق بالمنصه</div> -->
            <div class="form-group w-90"  >
            <select class="UpdateUser__Options form-control"  name="nameEn">
                <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_PROGRAM' | translate }}</option>

                    <option *ngFor="let item of ProgramsList"
                        [value]="item.id">
                                {{ item.progName}}
                            </option>
            </select>
            </div>
        </div>


    </div>
</ng-container>