@import  '../setting-qualifications/setting-qualifications.component.scss';
@import '../../../../../assets/scss/buttons';
.save-btn
{
  height: 2.31rem;
  margin: 1rem;

 }
 .title{
  color: #CB9118;
  font-size: 14px;
  font-family: Almarai-Bold;
  
  }

  .requiredFlag{
      color:#C1C7D0;;
      font-size: 14px;
      font-family: normal normal normal;
      opacity: 1;
      
      }
      .internal_scroll_for_badge{
        height: 40px;
        overflow-y: auto;
      }