
           .card_program{
            &:lang(ar){
                text-align: right;
            }
            &:lang(en){
                text-align: left;
            }
        
            background: #fff;
            padding: 0.5rem;
            border-radius: 12px;
           
           
            .prog-photo{
                width: 175px;
               height: 214px;
               padding: 0.5rem;
            }
            .prog-name{

                    font-size: 1.125rem;
                    font-family:Almarai-Bold;
                    color: #3A3A3A;
                    font-weight: bold;
            }
            .batch-name{
                font-size: 0.857rem;
                font-family:Almarai-Bold;
                font-weight: bold;
                color: #757575;
            }
            .total_info
            {
                border-top: 1px solid rgba(0,0,0,.1);
                border-bottom: 1px solid rgba(0,0,0,.1);
            }

            .time_pro,.az_count{
                font-size: 0.56rem;
                font-family:Almarai-Bold;
                font-weight: bold;
                color: #3A3A3A;
            }.count
            {
                font-family:Almarai-Bold;
                font-weight: bold;
                font-size: 15px;
                color:#8E2520
            }
            .details{
                font-size: 11px;
                color: #000000;
                font-family:Almarai-Regular;
                min-width:230px
            }
            .slash{
                border: 1px solid #707070;
                height: 22px;
            }
        
  
 }

 a:hover {
    text-decoration: none !important;
}
