<ng-container *ngIf="userMode == programSubscriptionUsers.teacher">
<a class="card_link" (click)="gotoDetails(teachersubscriptionmodel.progId)"
 class="card_program d-flex justify-content-between align-items-center mb-3">
    <img class="prog-photo" src="../.././../../../assets/images/student-program/program-sub/qor2an.png">
    <div class="card_info">
      <p class="prog-name">{{teachersubscriptionmodel.progName}}</p>
      <p class="batch-name">
        <!-- {{translate.currentLang === langEnum.en ? teachersubscriptionmodel.enBatName:teachersubscriptionmodel.arBatName}} -->
      </p>

      <div class=" d-flex justify-content-around align-items-center  ">
        <div class="text-center">
          <span class="az_count">عدد الأجزاء المطلوبة</span>
          <p class="count" *ngIf="teachersubscriptionmodel.parts"> {{teachersubscriptionmodel.parts}} </p>
          <p class="count" *ngIf="!teachersubscriptionmodel.parts"> 0 </p>
        </div>
        <div class="slash"></div>
        <div class="text-center">
          <span  class="time_pro">مدة البرنامج باليوم</span>
          <p class="count"  *ngIf="teachersubscriptionmodel.dura"> {{teachersubscriptionmodel.dura}}</p>
          <p class="count"  *ngIf="!teachersubscriptionmodel.dura">0</p>

        </div>
      </div>
      <p class="details mt-2">
        {{teachersubscriptionmodel.idea}}

        <!-- نيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letras
        et) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور -->
      </p>
    </div>

  </a>
</ng-container>

<ng-container *ngIf="userMode == programSubscriptionUsers.student">
  <a class="card_link" (click)="gotoDetailsStudent(studentsubscriptionmodel.progId)">
<div class="card_program d-flex justify-content-between align-items-center mb-3">
    <img class="prog-photo" src="../.././../../../assets/images/student-program/program-sub/qor2an.png">
    <div class="card_info">
      <p class="prog-name">{{studentsubscriptionmodel.progName}}</p>
      <p class="batch-name">
        <!-- {{translate.currentLang === langEnum.en ? studentsubscriptionmodel.enBatName:studentsubscriptionmodel.arBatName}} -->
      </p>

      <div class=" d-flex justify-content-around align-items-center  ">
        <div class="text-center">
          <span class="az_count">عدد الأجزاء المطلوبة</span>
          <p class="count" *ngIf="studentsubscriptionmodel.parts"> {{studentsubscriptionmodel.parts}} </p>
          <p class="count" *ngIf="!studentsubscriptionmodel.parts"> 0 </p>
        </div>
        <div class="slash"></div>
        <div class="text-center">
          <span  class="time_pro">مدة البرنامج باليوم</span>
          <p class="count"  *ngIf="studentsubscriptionmodel.dura"> {{studentsubscriptionmodel.dura}}</p>
          <p class="count"  *ngIf="!studentsubscriptionmodel.dura">0</p>

        </div>
      </div>
      <p class="details mt-2">
        {{studentsubscriptionmodel.idea}}

        <!-- نيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letras
        et) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور -->
      </p>
    </div>

  </div>
  </a>
  </ng-container>
<!--feef1f87-d327-444c-8e40-1435a89bcacc-->
