<div class="question-list">
  
    <div class="row p-3">
        <div class="col-4">
            <span class = "mb-4 p_header" >{{translate.currentLang===langEnum.en?selectedCategoryId.engCatgName:selectedCategoryId.arabCatgName}}
            </span>
        </div>

    <div class="col-6" *ngIf="translate.currentLang===langEnum.ar">
        <div class="input-group search_group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white pl-2 pr-2 border-md border-right-0">
                    <img  class="UserLogin_icon_input" src="../../../../../../assets/images/search-ired.svg"
                    (click)="searchQuestions(text.value)">
                </span>
            </div>
            <input type="text"
            class=" px-3 form-control UserLogin__FormControl bg-white border-left-0 border-md input-sm"
            placeholder="{{'QUESTION_BANK.SEARCH' | translate}}" name="search"#text >
        
        </div>  
    </div>
    <div class="col-6" *ngIf="translate.currentLang===langEnum.en">
        <div class="input-group search_group">
          
            <input type="text"
            class=" px-3 form-control UserLogin__FormControl bg-white border-left-0 border-md input-sm"
            placeholder="{{'QUESTION_BANK.SEARCH' | translate}}" name="search"#text >
            <div class="input-group-prepend">
                <span class="input-group-text bg-white pl-2 pr-2 border-md border-right-0">
                    <img  class="UserLogin_icon_input" src="../../../../../../assets/images/search-ired.svg"
                    (click)="searchQuestions(text.value)">
                </span>
            </div>
        
        </div>  
    </div>

     <!-- <div class="col-12 mb-4"> <img calss="m-2 pull-left" src="assets/images/scientificMaterial/Group 18093.svg" alt="" (click)= "NewQuestion()"></div> -->
     <div class="d-flex justify-content-between col-2">
        <a [routerLink]="" (click)= "NewQuestion()">
            <span class="link_Add ">  {{ 'QUESTION_BANK.ADD_QUESTION' | translate }}
            <img  src="../../../../../../assets/images/add.svg"   class=" cursor-pointer Catogry_Icon_Add" >
          </span>
        </a> 
      </div>
    </div>

        <section class="w-100 row contanier_matrial-card">
            <div class="col-lg-12">
                <mat-accordion>
                    <mat-expansion-panel 
                      *ngFor="let QBQ of questionBankQuestionList; let i = index;"
                      (opened)="setOpened(i)"
                      (closed)="setClosed(i)">
                      <mat-expansion-panel-header >
                            <mat-panel-title class="qestionHeader">
                              
                                <span>
                                    {{this.translate.currentLang===langEnum.en?QBQ.engQuestion:QBQ.arabQuestion}}
                                </span>  
                             
                                <span>
                                    <img src="assets/quesionBsnk/questionBankCategory/Icon feather-edit-3 (1).svg" alt="" class="mt-10 cursor-pointer" (click)="loadQuestion(QBQ.id)"/>
                                    <img src="assets/quesionBsnk/questionBankCategory/Icon feather-trash-2.svg" alt="" class="mt-10 cursor-pointer" (click)="confirmDialog(QBQ.id)"/>
                                  
                                </span>
                                  
                           
                            </mat-panel-title>
                      
                      </mat-expansion-panel-header>
                      <p>{{this.translate.currentLang===langEnum.en?QBQ.engAnswer:QBQ.arabAnswer}}</p>
                    </mat-expansion-panel>
                  </mat-accordion>
            </div>
          
        
    </section>

   
  

  

       
</div>
