<p>question-bank-questions-view works!</p>


<div class="col">
    <div class="col-lg-12">
        <div class="row">
    
            <div class=" row">
                <!-- class="row text-left" -->
             <div class="col text-righ"><p>The question</p></div>
             <div class="col text-righ">
                <a [routerLink]="" (click)= "NewQuestion()">Add question</a> 
                <!-- [routerLink]="['/questionBank/add-question-bank-question']" -->
             </div>
             <div class="col text-left">
                <input type="text" placeholder="Search.." name="search">
             </div>
                   
              
               
            </div>      
        </div> 
    </div>
    
    <div class="col-lg-12">
        <div *ngFor="let QBQ of QuestionBankQuestionList ; let i=index;">
    
            <div class="col-lg-12" >
                <span class="filter-sapn" (click)="loadQuestion(QBQ.id)"> {{QBQ.engQuestion}}</span>
                <button (click)="loadQuestion(QBQ.id)">edit</button>
             <!-- <button >
                <span  >
                    
                    {{QBQ.engQuestion}}
                    

                </span>
             </button> -->
                

            
                   
               
                    <!-- <a   class="ml-2" [routerLink]="['/question-bank-question-details', QBQ.id]"> <img src="assets/quesionBsnk/questionBankCategory/Icon feather-edit-3 (1).svg" alt="" class="mt-10 cursor-pointer"  /></a> -->
               
             
               
            </div>
            <div class="col-lg-12">
                <span>{{QBQ.engAnswer}}</span>
                <!-- <img src="assets/quesionBsnk/questionBankCategory/Icon feather-edit-3 (1).svg" alt="" class="mt-10 cursor-pointer" (click)="DetailsQuestion(QBQ.id)" /> -->
                
            </div>   
        </div> 
                 
       
    </div>

</div>
