<div class="col">
    <div class="col-lg-12">
        <div class="row">
            <div class=" row">
             <div class="col text-righ"><p>The question</p></div>
             <div class="col text-righ">
                <a [routerLink]="" (click)= "NewQuestion()">Add question</a> 
             </div>
             <div class="col text-left">
                <input type="text" placeholder="Search.." name="search"#text><i><img src="assets/quesionBsnk/questionBankCategory/search-interface-symbol.svg" alt="" class="mt-10 cursor-pointer" (click)="searchQuestions(text.value)"/></i>
             </div>
            </div>      
        </div> 
    </div>
    <div class="col-lg-12">
        <div *ngFor="let QBQ of QuestionBankQuestionList ; let i=index;">
    
            <div class="col-lg-12" >
                <span class="filter-sapn" (click)="loadQuestion(QBQ.id)"> {{QBQ.engQuestion}}</span>
               <button>
                <img src="assets/quesionBsnk/questionBankCategory/Icon feather-edit-3 (1).svg" alt="" class="mt-10 cursor-pointer" (click)="loadQuestion(QBQ.id)"/>
               </button>
                      <i>
                        <img src="assets/quesionBsnk/questionBankCategory/Icon feather-trash-2.svg" alt="" class="mt-10 cursor-pointer" (click)="delete_Question(QBQ.id)"/>
                      </i>
            </div>
            <div class="col-lg-12">
                <span>{{QBQ.engAnswer}}</span>
            </div>   
        </div> 
    </div>
</div>
