@import 'src/assets/scss/_variables.scss';
.question-list{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 1rem;
    height : 100%;
    margin-top: 1rem;
    margin-bottom: 0;
}

.question-list:lang(en){
  margin-right: 0rem;
 
}
.question-list:lang(ar){
  margin-left: 1rem;
 
}

.contanier_matrial-card{
   
    height: 495px;
    overflow-y: auto;
    .internal_scroll_list_group:lang(ar) {
              height: 470px;
             overflow-y: auto;
              padding-left: 0.5rem;
          }
          .internal_scroll_list_group:lang(en) {
                      height: 470px;
                      overflow-y: auto;
                      padding-right: 0.5rem;
                  }
 
}

.qestion{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    opacity: 1;
    padding: 1rem;
   
}

.qestion p{
    text-align: right;
    font: normal normal bold 18px/28px Almarai;
    letter-spacing: -0.26px;
    color: #8E2520;
    opacity: 1;
}
.qestion h3{
text-align: right;
font: normal normal normal 12px/14px Almarai;
letter-spacing: -0.17px;
color: #3A3A3A;
opacity: 1;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .qestionHeader {
    background: #C1C7D0 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 10rem;
    height : 100%;
    width: 100%;

  }
// expanded


.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover ,
.mat-expansion-panel-header._mat-animation-noopable ,.mat-expansion-panel .mat-expansion-panel-header{
  background-color: #C1C7D0;
  
}


.mat-expansion-panel-header-description{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  background-color: #C1C7D0;
}
.mat-expansion-panel-header-title{
   color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.link_Add{
  color:$icon_input;
  margin-bottom: 3rem;
} 
.p_header{
  font: normal normal bold 1.25rem Almarai;
    color:black; 
    font-weight: bold;
    margin-bottom: 1rem;
}
.p_header:lang(en){
  float: left;
 padding-left: .5rem;
}
.p_header:lang(ar){
  float: right !important;
  padding-right: .75rem;
}

.span_icon:lang(ar){
  text-align: left;
  float: left;
  padding:0px; 
  margin: 0px;


}
.span_icon:lang(en){
  float: right ;
  text-align: right;
  padding:0px; 
  margin: 0px;
}
.span_question:lang(ar){
  text-align: right;


}
.span_question:lang(en){
  text-align: left;
}
.p_answer:lang(ar){
  text-align: right;


}
.p_answer:lang(en){
  text-align: left;
}