

<div class="container-fluid reuest_container" > 

    <div class="row group_header fix_margin w-100">
        <div class="item_group" (click)="onPendingChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Pending }" >
           طلبات الإنضمام الجديدة
        </div>
        <div class="item_group" (click)="onAcceptChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Accept }" >
        طلبات مقبولة
        </div>
        <div class="item_group" (click)="onRejectedChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Rejected }" >
        طلبات مرفوضة
        </div>
     
    </div>
    
    
    <div class="row fix_margin w-100 " >
        <div class="col-12 px-2 interTab mb-3">
            <app-program-subscription-grid *ngIf='showTap == statusEnum.Pending && studProgsSubsItems.length > 0' 
                [studentItems]='studProgsSubsItems' 
                (itemStuReq)="rejecteStuRequestMethod($event)"
                (acceptStuReq)="acceptStuReq($event)"
                (acceptAllStudentProgramSubscriptionCheched)="acceptAllStudentProgramSubscriptionCheched ()"
                [typeEnum]='statusEnum.Pending' >
            </app-program-subscription-grid>

            <app-program-subscription-grid *ngIf='showTap == statusEnum.Accept && studProgsSubsItems.length > 0' 
                 [typeEnum]='statusEnum.Accept ' 
                 [studentItems]='studProgsSubsItems'   >
                </app-program-subscription-grid>

            <app-program-subscription-grid *ngIf='showTap == statusEnum.Rejected && studProgsSubsItems.length > 0' 
                  [typeEnum]='statusEnum.Rejected' [studentItems]='studProgsSubsItems'>
                </app-program-subscription-grid>
         
        </div>
    
    </div>
    
    
    </div>
    
