

<div *ngIf="!showUserDetailsView && !showViewExam" class="container-fluid reuest_container" >
    <div class="col-12  justify-content-end text-right d-flex align-items-center">
            <app-search-input 
            (searchTerm)=filterByText($event)
            [searchKey]='this.filter.usrName || ""' >
            </app-search-input>

        <!-- <input  class=" w-60 px-3 form-control UserLogin__FormControl bg-white border-md input-sm" placeholder="بحث"> -->
        <a class="advanced_search mb-3" (click)="openAvancedSearch()">بحث متقدم</a>
    </div>
    <div class="row group_header fix_margin w-100">
        <div class="item_group" (click)="onPendingChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Pending }" >
           {{'STUDENT_SUBSCRIBERS.NEW_JOIN_REQUESTS' | translate}}
        </div>
        <div class="item_group" (click)="onAcceptChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Accept }" >
        {{'STUDENT_SUBSCRIBERS.ACCEPTANCE_REQUESTS' | translate}}

        </div>
        <div class="item_group" (click)="onRejectedChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Rejected }" >
        {{'STUDENT_SUBSCRIBERS.REJECTANCE_REQUESTS' | translate}}

        </div>
     
    </div>
    
    
    <div class="row fix_margin w-100 " >
       
        <div class="col-12 px-2 interTab mb-3 pt-3">
            <app-program-subscription-grid *ngIf='showTap == statusEnum.Pending && studProgsSubsItems.length > 0' 
                [studentItems]='studProgsSubsItems' 
                (itemStuReq)="rejecteStuRequestMethod($event)"
                (acceptStuReq)="acceptStuReq($event)"
                (acceptAllStudentProgramSubscriptionCheched)="acceptAllStudentProgramSubscriptionCheched ()"
                [typeEnum]='statusEnum.Pending'
                (studentFilterEvent)="stuPendingChangePage($event)"
                [totalCount]='totalCount'
                [studentFilterRequestModel]='filter'
               (studentIdFormGrid)= "sendUserIDEvent($event)"
               (viewExamEvent)="viewExam($event)"
            >
            </app-program-subscription-grid>

            <app-program-subscription-grid *ngIf='showTap == statusEnum.Accept && studProgsSubsItems.length > 0' 
                 [typeEnum]='statusEnum.Accept ' 
                 [studentItems]='studProgsSubsItems' 
                 (studentFilterEvent)="stuAcceptChangePage($event)"
                 [totalCount]='totalCount'
                 [studentFilterRequestModel]='filter'
                  (studentIdFormGrid)= "sendUserIDEvent($event)"
                  (viewExamEvent)="viewExam($event)"
                 
                  >
                </app-program-subscription-grid>

            <app-program-subscription-grid *ngIf='showTap == statusEnum.Rejected && studProgsSubsItems.length > 0' 
                  [typeEnum]='statusEnum.Rejected'
                   [studentItems]='studProgsSubsItems'
                   (studentFilterEvent)="stuRejectedChangePage($event)"
                   [totalCount]='totalCount'
                   [studentFilterRequestModel]='filter'
                   (studentIdFormGrid)= "sendUserIDEvent($event)"
                   (viewExamEvent)="viewExam($event)"
                   >
                </app-program-subscription-grid>
         
        </div>
    
    </div>
    
    
    </div>

<app-student-details-view *ngIf="showUserDetailsView"  (hideUserDetails) ="hideUserDetailsView($event)" [resiveUserId]="sendUserID"></app-student-details-view>
  <div *ngIf="showViewExam">
    <app-view-exam-answers  [studentExamAnswer]='studentExamAnswerResponse'></app-view-exam-answers>
    <div class="body_footer"  *ngIf="studentExamAnswerResponse && studentExamAnswerResponse.stuProgSub">
        <button class="btn cancel-btn"  (click)="acceptStuReq(studentExamAnswerResponse.stuProgSub)" >
         {{'STUDENT_SUBSCRIBERS.ACCEPT' | translate}}  </button>
        <button  class=" btn save-btn" (click)="rejecteStuRequestMethod(studentExamAnswerResponse.stuProgSub)">  {{'STUDENT_SUBSCRIBERS.REJECT' | translate}}  </button>
      </div>
  </div>
