@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/buttons";
.program{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 90%;
  margin: auto;
  margin-top: 66px;
  background: url('../../../../../assets/images/student-program/titleBg.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-color: $hint_yellow;
  background-size: auto;
  position: relative;
  border-radius: 12px;
  &__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-image: linear-gradient(to left,  $hint_yellow 0%, $hint_yellow 50%, transparent);

  }
  &__details{
    z-index: 2;
    position: absolute;
    right: 30px;
    bottom: -30px;
    background-color: $main_background;
    border-radius: 12px;
    box-shadow: 0px 3px 6px #0000000F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:7px 18px;
    text-align: center;
    width: 236px;
    &--slash{
      width: 2px ;
      height: 32px;
      background: #707070;
    }
    &--inner{
     
      &--text{
        font-size: 9px;
      }
      &--num{
        font-size: 15px;
        color: $main-color-2;
        font-weight: bold;
      }
    }
  }
  &__img{
    z-index: 2;
  }
  &__title{
    color: #fff;
    font-size: 1.56rem;
    z-index: 2;

    &:lang(en){
      padding-left: 37px;
    }
    &:lang(ar){
      padding-right: 37px;
    }
  }
}

.details{
  text-align: right;
  max-width: 90%;
  margin: auto;
  margin-top: 60px;
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  &__card{
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 25.5px;
    &--title{
      font-size: 1rem;
      color: $edit;
      margin-top: 30px;
    }
    &--text{
      font-size: 0.875rem;
      color: #000;
    }
  }
}

.detailsFooter{
  max-width: 90%;
  margin: auto;

  .save-btn{
    display: inline-block;
    width: 294px;
    margin-right: 89px;
  }
}
