<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-teacher-join-tab-request (itemTeacherSystemSubscriptionReq)="openRejectRequest($event)"></app-teacher-join-tab-request>
        </div>
    </div>
    <div class="overlay" *ngIf="openStuRejectOverlay">
        <app-teacher-system-subscription-rejected [itemTeacherSystemSubscriptionReq]='itemTeacherSystemSubscriptionReq' (closeRejectedRequest)="closeRejectedRequest()"></app-teacher-system-subscription-rejected>
    </div>
</div>