<div class="tab_page user">
  <div class=" pt-3">

    <div class="info_basic_info">


      <div class="d-flex justify-content-between" >
        <div class="d-flex align-items-center justify-content-start">
          <img  *ngIf="!studentProfileDetails?.proPic" src="../../../../assets/images/Profile.svg" class="user__image">
          <img *ngIf="studentProfileDetails?.proPic" src="{{studentProfileDetails?.proPic}}" class="user__image">
          <div class="mr-3 ml-3">
            <h3 class="user__name">
              {{
              translate.currentLang === langEnum.ar ?

                studentProfileDetails?.fnameAr + " " + studentProfileDetails?.mnameAr + " " + studentProfileDetails?.fanameAr

                :studentProfileDetails?.fnameEn + " " + studentProfileDetails?.mnameEn + " " + studentProfileDetails?.faNameEn
              }}
            </h3>
            <ngb-rating [(rate)]="starsSelected" [max]="5" [readonly]="true">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <h4 class="user__date">{{studentProfileDetails.birthdate | date: 'dd/MM/yyyy'}}</h4>
            <div class="row mt-3">
              <div class="col-12">
                <label class="title">
                  {{'UPDATE_USER_PG.PROGRAMS' | translate}}
                  <span>  &nbsp;  : </span>
                  <span>  &nbsp; </span>
                </label>
                <label>  </label>
                <label class="title_data">
                  {{resiveUserId?.progName}}
                </label>
              </div>
              <div class="col-12">
                <!--<label class="title">
                  {{'UPDATE_USER_PG.TIMES' | translate}}
                  <span>  &nbsp;  : </span>
                  <span>  &nbsp; </span>
                </label>
                <label>  </label>
                <label class="title_data">
                  الخميس من 18:00 الى 21:00 ، الاحد من 09:00 الى 15:00
                </label>-->
              </div>
            </div>
          </div>
        </div>

        <div>
          <div *ngIf="adminView" class="admin__view">
            <!-- <div class="d-flex align-items-center justify-content-between">
              <div class="col-.5  chicx_box">
                <label class="switch">
                  <input type="checkbox" (change)="onCheckboxChange()" [(ngModel)]='toggel'>
                  <span class="slider round"></span>
                </label>

              </div>
              <div class="d-flex align-items-center justify-content-between " >
              <span class="status active"></span>
              <h6 class="status-text">نشط</h6>
            </div>
            </div> -->
          </div>
          <h6 *ngIf="!adminView" class="user__back" (click)="hideUserDetailsView()">
            {{'UPDATE_USER_PG.BACK' | translate}}
            <i class="fas fa-arrow-left " [ngClass]="translate.currentLang === langEnum.en ?'fa-flip-horizontal': ''"></i></h6>
        </div>
        <!-- <div >
          <h6 class="user__back" (click)="hideUserDetailsView()">
            {{'UPDATE_USER_PG.BACK' | translate}}
            <i class="fas fa-arrow-left " [ngClass]="translate.currentLang === langEnum.en ?'fa-flip-horizontal': ''"></i></h6>
        </div> -->

      </div>

    </div>

  </div>
  <div class="col-md-12  user__height">
    <div class="row pl-4 pr-4">
      <div class="col-6 mb-3   ">
        <label class="title">
          {{'GENERAL.EMAIL' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label>  </label>
        <label class="title_data">
          {{studentProfileDetails.usrEmail}}
        </label>
      </div>

      <div class="col-6 mb-3   ">
        <label class="title">
          {{'GENERAL.PHONE_NUMBER' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label class="title_data" >
          {{studentProfileDetails.mobile}}
        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'GENERAL.NATIONALITY' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>

        </label>

        <label class="title_data">
          {{  translate.currentLang === langEnum.ar ? studentProfileDetails.arbNatName :studentProfileDetails.engNatName}}
        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'UPDATE_USER_PG.COUNTRY' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label class="title_data">
          {{  translate.currentLang === langEnum.ar ? studentProfileDetails.arbCountryName :studentProfileDetails.engCountryName}}
        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'UPDATE_USER_PG.CITY' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label class="title_data">
          {{  translate.currentLang === langEnum.ar ? studentProfileDetails.arbCityName :studentProfileDetails.engCityName}}

        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'UPDATE_USER_PG.ADDRESS' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>

        </label>
        <label class="title_data">
          {{studentProfileDetails.address}}
        </label>
      </div>


    </div>

    <div class="row pl-4 pr-4">
      <div class="col-12">
        <h3 class="head_conditions pb-3">{{'UPDATE_USER_PG.EDU' | translate}} </h3>
        <!--sdfsfdsfsdfsdfsdfwerwerwr-->
        <div class="col-12"></div>

        <div class="col-4  mb-3">
            <span class="label_info"> {{ 'VIEW_USER_PG.EDU_LEVEL' | translate }} </span>
            <span>  &nbsp; </span>
            <span>  &nbsp; </span>
            <span class="data_view">
                {{  translate.currentLang === langEnum.en ? studentProfileDetails?.engEduLevelName : studentProfileDetails?.arbEduLevelName }}
            </span>
        </div>

        <div class="col-4  mb-3">
            <span class="label_info">  {{ 'VIEW_USER_PG.OCCUPATION' | translate }}
            </span>
            <span>  &nbsp; </span>
            <span>  &nbsp; </span>
            <span class="data_view">
                {{ studentProfileDetails?.occupation }}
            </span>
        </div>
         <div class="col-4  mb-3">
            <span class="label_info"> {{ 'VIEW_USER_PG.AMOUNT_QURAN' | translate }}</span>
            <span>  &nbsp; </span>
            <span>  &nbsp; </span>
            <span class="data_view">
                {{ studentProfileDetails?.quraanMemorizeAmount }}
            </span>
        </div>

        <div class="col-3  ">
            <span class="label_info"> {{ 'VIEW_USER_PG.MASHAYIKH' | translate }}  </span>
            <span>  &nbsp; </span>
            <span>  &nbsp; </span>
            </div>
            <div class="col-9">
                <div class="badges mt-3">
                   <div class="badge badge-info p-2 " *ngFor="let item of studentProfileDetails?.usrSheikhs">
                    <div class="d-flex justify-content-between mt-0" >
                        <p class="ellipsis mb-0" matTooltip="{{translate.currentLang == langEnum.en? item.nameEn : item.nameAr}}"> {{translate.currentLang == langEnum.en? item.nameEn : item.nameAr}} </p>
                    </div>
                </div>
                </div>
            </div>


          <div class="col-3  ">
            <span class="label_info"> {{ 'VIEW_USER_PG.SCIENTIFIC_ARCHIVES' | translate }}   </span>
            <span>  &nbsp; </span>
            <span>  &nbsp; </span>
            </div>
            <div class="col-9">
                <div class="badges mt-3">
                   <div class="badge badge-info p-2 " *ngFor="let item of studentProfileDetails?.usrScientificArchives">
                    <div class="d-flex justify-content-between mt-0" >
                        <p class="ellipsis mb-0" matTooltip="{{translate.currentLang == langEnum.en? item.nameEn : item.nameAr}}"> {{translate.currentLang == langEnum.en? item.nameEn : item.nameAr}} </p>
                    </div>
                </div>
                </div>
            </div>

          <div class="col-3  ">
            <span class="label_info"> {{ 'VIEW_USER_PG.TRAINING_COURSES' | translate }} </span>
            <span>  &nbsp; </span>
            <span>  &nbsp; </span>
            </div>

            <div class="col-9">
                <div class="badges mt-3">
                   <div class="badge badge-info p-2 " *ngFor="let item of studentProfileDetails?.usrCourses">
                    <div class="d-flex justify-content-between mt-0" >
                        <p class="ellipsis mb-0" matTooltip="{{translate.currentLang == langEnum.en? item.nameEn : item.nameAr}}"> {{translate.currentLang == langEnum.en? item.nameEn : item.nameAr}} </p>
                    </div>
                </div>
                </div>
            </div>



      </div>
    </div>
  </div>
</div>
