<div class="details_day">
    <div class="form-group mt-3 mb-0">
        <label class="custom-file custom-file__text" for="importFile">
            <p class="custom-file__label">{{'GENERAL.CHOOSEFILE' |translate}}</p>
    </label>
        <input type="file" class="custom-file-input" id="importFile" 
       (change)="onFileChange($any($event.target).files)" 

       accept="application/pdf,image/*" >
            
    </div>
    <div class="row mx-0">
        <ng-container  *ngFor="let item of reviewDetailsModel?.bookAttatchments;let i=index" >
            <div class="col-4 cardRecourd" >
                <img src="assets/images/days/book.svg">
                <p class="ellipsis mb-0 "  matTooltip="{{item.fileName}}">{{item.fileName}}</p>
                <!-- <i class="fas fa-play-circle"></i> -->
                <img class="trash" src="assets/images/feelings/trash.svg"  (click)="DeleteAttachment(i,item.id)">
            </div>
        </ng-container>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label class="text-right header_input">{{'PROGRAM_DAY_TASK_DETIALS.PAGES'|translate}}</label>
    <div class="d-flex ">
        <input type="text" class="form-control  " [(ngModel)]="reviewDetailsModel.fromPage" >
        
        <input type="text" class="form-control mx-2" [(ngModel)]="reviewDetailsModel.toPage" >

    </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input">{{'PROGRAM_DAY_TASK_DETIALS.DEGREE'|translate}}</label>
               <input type="text" class="form-control w-25" [(ngModel)]="reviewDetailsModel.degree" >
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input">{{'PROGRAM_DAY_TASK_DETIALS.SHOW_QUESTION_TO_STUDENT'|translate}} </label>
    
               <input type="text" class="form-control " [(ngModel)]="reviewDetailsModel.questionToStudent" >
            </div>
        </div>
    </div>
    </div>