
<form class="form-group material-form" [formGroup]="currentForm" (submit)="submit()">
 
    <h3> 
        {{'PROGRAM_BATCHES.ADD_PROGRAM_BATCH' | translate}}   
    </h3>
    <div class="form-group">
        <label for="comment">Batch Name Ar</label>
        <input class="form-control" formControlName="batchNameAr" 
        [ngClass]="{'red-border-class': f.batchNameAr.errors && ( f.batchNameAr.touched || isSubmit)}"/>
        <div *ngIf="f.batchNameAr.errors && (f.batchNameAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
          <div *ngIf="f.batchNameAr.errors.required">
              {{"PROGRAM_BATCHES.REQUIRED"|translate}}
          </div>
        </div>

        <label for="comment">Batch Name En</label>
        <input class="form-control" formControlName="batchNameEn" 
        [ngClass]="{'red-border-class': f.batchNameEn.errors && ( f.batchNameEn.touched || isSubmit)}"/>
        <div *ngIf="f.batchNameEn.errors && (f.batchNameEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
          <div *ngIf="f.batchNameEn.errors.required">
              {{"PROGRAM_BATCHES.REQUIRED"|translate}}
          </div>
        </div>

        <div class="col-12 p-0">
            <label  class="label"> {{"PROGRAM_BATCHES.FROM_DATE"|translate}} </label>
          <app-milady-hijri-calendar  [editcalenderType]="calenderType" (sendDate)="updateStartDate($event)" 
          (keypress)="$event.preventDefault()"
          [hijri]="false" [milady]="true">
        </app-milady-hijri-calendar>

        <div *ngIf="!f.batchSubscriptionStartDate?.errors && (f.batchSubscriptionStartDate.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
            <div *ngIf="f.batchSubscriptionStartDate.errors?.required">
                {{ 'UPDATE_TEACHER_PG.HIJRIBIRTHDATE_REQUIRED' | translate }}
            </div>
        </div>

      </div>
      <div class="col-12 p-0">
          {{f.batchSubscriptionStartDate.value}}
            <label  class="label"> {{"PROGRAM_BATCHES.TO_DATE"|translate}} </label>
            <app-milady-hijri-calendar  [editcalenderType]="calenderType" (sendDate)="updateEndDate($event)" 
           (keypress)="$event.preventDefault()"
           [hijri]="false" [milady]="true">
        </app-milady-hijri-calendar>

        <div *ngIf="!f.batchSubscriptionEndDate?.errors && (f.batchSubscriptionEndDate.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
            <div *ngIf="f.batchSubscriptionEndDate.errors?.required">
                {{ 'UPDATE_TEACHER_PG.HIJRIBIRTHDATE_REQUIRED' | translate }}
            </div>
        </div>
      </div>
        
    </div>
      <div class="d-flex">
      <button type="button" class="cancel-btn btn btn-danger" (click)="close()"> {{'PROGRAM_BATCHES.CANCEL' | translate}} </button>
      <button  type="submit" class="save-btn btn btn-danger" type="submit"> {{'PROGRAM_BATCHES.SEND' | translate}} </button>
   </div>
        <div *ngIf="resMessage" class="alert alert-{{ resMessage.type }} my-4 py-2">
            {{resMessage.message}}
            </div>
    </form>
  
