<div class="form-group DataForm mt-5 pl-3 pr-3">
    <h3 class=" head  bold"> {{'GENERAL.ADVANCED_SEARCH' | translate}} </h3>
  


    <div class="form-group">
        <label  class="label" for="matrialTitleAr"> {{'GENERAL.APPLICANTNAME' | translate}}</label>
        <input type="text" class="form-control"  [(ngModel)]="filter.usrName"
       [ngModelOptions]="{standalone: true}">
    </div>
     
        <div class="form-group">
              <label  class="label" for="category"> {{'GENERAL.PROGRAM' | translate}}</label>
    
            <div class="d-flex">
                <div class="input-group">
                    <select class="form-control"  [(ngModel)]="filter.progId"    [ngModelOptions]="{standalone: true}">
                        <option   value="">{{'SCIENTIFIC_MATERIAL.SELECTOPTION' | translate}}</option>
                        <option *ngFor="let item of programsList" value="{{item.id}}">
                            {{item.progName}}
                            <!-- {{translate.currentLang === langEnum.en ? item.engName: item.arabName}} -->
                        </option>
                    </select>
                </div>
            </div>
            
        </div>
       

        <div class="form-group">
              <label  class="label">  {{'GENERAL.REQUEST_NUMBER' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="filter.numberRequest"    [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group subscribtion-date">
                
                    <div class="col-12 p-0">
                          <label  class="label">  {{'GENERAL.FROM' | translate}}</label>
                        {{datafromBinding}}
                        <app-milady-hijri-calendar  [editcalenderType]="calenderType" (sendDate)="SendDatafrom($event)" 
                        (keypress)="$event.preventDefault()"
                        [hijri]="!hijri" [milady]="milady"  [maxGreg]="maxGregDate"  [(ngModel)]="filter.fromDate">
                      </app-milady-hijri-calendar>

                    </div>
                    <div class="col-12 p-0">
                          <label  class="label">  {{'GENERAL.TO' | translate}}</label>
                          {{dataToBinding}}
                          <app-milady-hijri-calendar  [editcalenderType]="calenderType" (sendDate)="SendDataTo($event)" 
                         (keypress)="$event.preventDefault()"
                         [hijri]="!hijri" [milady]="milady"  [maxGreg]="maxGregDate"  [(ngModel)]="filter.toDate">
                      </app-milady-hijri-calendar>
                    </div>

                </div>


     
        <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2 text-center">
           <span class="bold"> {{resultMessage.message}}</span>
        </div>
        
        <section class="mt-5">
            <div  class="row direction-rtl buttons-center mt-5">
                <button   type="submit" class="save-btn" (click)="sendAdvancedSearch()"> 
                  {{'GENERAL.SEARCH' | translate}}
                </button>
                <button  (click)="closeStuAdvancedSearch()"  type="reset" class="cancel-btn"> 
                    {{ "GENERAL.CANCEL" | translate }}
                </button>
            </div>
        </section>
        


  
   
</div>