@import "../stu-card-request/stu-card-request.component.scss";

.card-request{
  height: 32vh;
}

.container-width{
    flex-basis: 200px;
}
.program_reason,
.program_rejected
{
    max-height: 10vh;
    overflow-y: auto;
}
.card_body{

    padding-bottom: 0;
}
.card-request .body_footer {
   
    padding: 0 10px;
    .btn{
        text-align: center;
    }
}