<div class="card-request">
    <div class="card_header">
      <section class="example-section mt-2"  *ngIf='typeDropOutRequestEnum.Pending === typeEnum'>
        <mat-checkbox class="example-margin"  [(ngModel)]="teacherDropOutRequestModel.checked" ></mat-checkbox>
      </section>
    <div>
        <span> {{'STUDENT_SUBSCRIBERS.TIME' | translate}} </span>        

        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>{{teacherDropOutRequestModel.requestDate  | date: 'dd/MM/yyyy'}}</span> 
    </div>
    </div>
  
    <div class="card_body pb-0">
      <span>{{teacherDropOutRequestModel.no}}</span> 
      <div class="d-flex  mb-2">
      <!-- <span>{{teacherDropOutRequestModel.no}}</span>  -->
        <img *ngIf='!teacherDropOutRequestModel.avatarLink' (click)="openDetails(teacherDropOutRequestModel?.id)" class="img_user" src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='teacherDropOutRequestModel.avatarLink' (click)="openDetails(teacherDropOutRequestModel?.id)"  class="img_user" src="{{teacherDropOutRequestModel.avatarLink}}" >
      <div class="mx-1 container-width">
        <p class="name_user bold mb-2 ellipsis p-0" (click)="openDetails(teacherDropOutRequestModel?.id)" 
        title=" {{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.teacherNameEn : teacherDropOutRequestModel?.teacherNameAr}}">
          {{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.teacherNameEn : teacherDropOutRequestModel?.teacherNameAr}}</p>
          <p class="program_user bold mb-2 ">
            {{teacherDropOutRequestModel.progName}}
            <!-- {{translate.currentLang === langEnum.en ? teacherDropOutRequestModel.enProgBatName : teacherDropOutRequestModel.arProgBatName }} -->
          </p>  
        <p class="program_user bold mb-2 "> {{translate.currentLang === langEnum.en ? teacherDropOutRequestModel.batchEn : teacherDropOutRequestModel.batchAr }}</p>        
        
     
      </div>
      </div>
      <div class="program_reason">
        <p class="  mb-0 pb-2"  > 
        <span>
          سبب الطلب :
        </span>
        <span class="program_user bold mb-0 "  *ngIf="!teacherDropOutRequestModel.reason">لا يوجد</span>
        <span class="program_user bold mb-0 ">{{ teacherDropOutRequestModel.reason }}</span>
        </p>
     
        <p class="  mb-0 pb-2" *ngIf='typeDropOutRequestEnum.Rejected === typeEnum' > 
          <span class="bold mx-1">سبب الرفض:</span> 
          <span class="program_user bold mb-0 " *ngIf="!teacherDropOutRequestModel.reasonReject ">لا يوجد</span>
          <span>
            {{ teacherDropOutRequestModel.reasonReject }}
          </span>
        </p>
    
    </div>

    <!-- <div class="d-flex justify-content-between mb-3">
      <span>{{teacherDropOutRequestModel.no}}</span> 
      <img *ngIf='!teacherDropOutRequestModel.avatarLink' (click)="openDetails(teacherDropOutRequestModel?.id)" class="img_user" src="../../../../assets/images/student/user-profile.svg">
      <img *ngIf='teacherDropOutRequestModel.avatarLink' (click)="openDetails(teacherDropOutRequestModel?.id)"  class="img_user" src="{{teacherDropOutRequestModel.avatarLink}}" >
      <div class="mx-1">
        <p class="name_user bold mb-2" (click)="openDetails(teacherDropOutRequestModel?.id)">
          {{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.teacherNameEn : teacherDropOutRequestModel?.teacherNameAr}}</p>
        <p class="program_user bold mb-2 "> {{teacherDropOutRequestModel.progName}}</p>      
        <p class="program_user bold mb-2 "> {{translate.currentLang === langEnum.en ? teacherDropOutRequestModel.batchEn : teacherDropOutRequestModel.batchAr }}</p>        
        <p class="program_user bold mb-0 "> {{ teacherDropOutRequestModel.reason }}</p> 
        <p class="program_user bold mb-0 " *ngIf='typeDropOutRequestEnum.Rejected === typeEnum'> {{ teacherDropOutRequestModel.reasonReject }}</p> 
      </div>

    </div> -->

  <ng-container *ngIf="typeEnum === typeDropOutRequestEnum.Pending">
    <div class="body_footer" >
        <button class="btn cancel-btn" (click)="acceptTeacherDropOutRequestEvent()"> {{'STUDENT_SUBSCRIBERS.ACCEPT' | translate}}   </button>
        <button  class=" btn save-btn"         
          (click)="rejectTeacherDropOutRequestEvent(teacherDropOutRequestModel)" 
          [attr.disabled]="teacherDropOutRequestModel.checked" > {{'STUDENT_SUBSCRIBERS.REJECT' | translate}} </button>
      </div>
  </ng-container>
    
  </div>
