<div class="card-request">
    <div class="card_header">
      <section class="example-section mt-2">
        <mat-checkbox class="example-margin"  [(ngModel)]="teacherDropOutRequestModel.checked" ></mat-checkbox>
      </section>
    <div>
        <span> {{'STUDENT_SUBSCRIBERS.TIME' | translate}} </span>        

        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>{{teacherDropOutRequestModel.requestDate  | date: 'dd/MM/yyyy'}}</span> 
    </div>
    </div>
  
    <div class="card_body">
      <div class="d-flex justify-content-between mb-3">
        <img *ngIf='!teacherDropOutRequestModel.avatarLink' (click)="openDetails(teacherDropOutRequestModel?.usrId)" class="img_user" src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='teacherDropOutRequestModel.avatarLink' (click)="openDetails(teacherDropOutRequestModel?.usrId)"  class="img_user" src="{{teacherDropOutRequestModel.avatarLink}}" >
      <div class="mx-1">
        <p class="name_user bold mb-2" (click)="openDetails(teacherDropOutRequestModel?.usrId)">{{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.teacherNameEn : teacherDropOutRequestModel?.teacherNameAr}}</p>
        <p class="program_user bold mb-2 "> {{teacherDropOutRequestModel.progName}}</p>        
        <p class="program_user bold mb-0 ">         
      </div>

      </div>
    </div>
 
  <ng-container *ngIf="typeEnum === typeDropOutRequestEnum.Pending">
    <div class="body_footer" >
        <button class="btn cancel-btn" (click)="acceptTeacherDropOutRequestEvent()"> {{'STUDENT_SUBSCRIBERS.ACCEPT' | translate}}   </button>
        <button  class=" btn save-btn"         
          (click)="rejectTeacherDropOutRequestEvent(teacherDropOutRequestModel)" 
          [attr.disabled]="teacherDropOutRequestModel.checked" > {{'STUDENT_SUBSCRIBERS.REJECT' | translate}} </button>
      </div>
  </ng-container>
    
  </div>
