@import  '../setting-qualifications/setting-qualifications.component.scss';
@import '../../../../../assets/scss/buttons';
.save-btn
{
  height: 2.31rem;
  margin: 1rem;

 }

 .buttons-center{
  display: flex;
  justify-content: flex-end !important;
}
.title{
  color: #CB9118;
  font-size: 14px;
  font-family: Almarai-Bold;
  
  }

  .requiredFlag{
      color:#C1C7D0;;
      font-size: 14px;
      font-family: normal normal normal;
      opacity: 1;
      
      }