

.card-setting{
    &:lang(ar){text-align: right;}
    &:lang(en){text-align:left;}

    padding: 1rem;
        width: 100%;
        height: 100%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 15px #0000001A;
        border-radius: 12px;
        opacity: 1;
    .head{
    
        color: #8E2520;
        font-family: Almarai-Bold;
        font-size: 1rem;
        margin-bottom: 0.5rem ;
    }
    .body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        font-family: Almarai-Regular;
        font-size: 14px;
        color: #3A3A3A;
    }
    .icon_actions img
    {
        width: 20px;
        height: 20px;
        margin: 0 0.3rem;
        cursor: pointer;
    }
}

.viewMode{
    .head{
        display: flex;
        justify-content: space-between;
        color: #3A3A3A;
        font-family: Almarai-Bold;
        font-size: 0.5875rem;
        margin-bottom: 0.5rem ;
    }
}