<ng-container >
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{accepModel.title}}</span>
           <img class="close" src="../../../../../assets/images/feelings/close.svg" (click)="confirmDialog()">
        </div>
        <div class="body">
            <div class="details"> القبول </div>
            <mat-radio-group [(ngModel)]="accepModel.value"  aria-label="Select an option">
                <mat-radio-button value="{{programConditionAcceptEnum.memorize}}" class="px-2" >حفظ فقط </mat-radio-button>
                <mat-radio-button value="{{programConditionAcceptEnum.readOnly}}" class="px-2"> قرائة فقط</mat-radio-button>
                <mat-radio-button value="{{programConditionAcceptEnum.moreProgramMemorize}}" class="px-2" >اكتر من برنامج حفظ</mat-radio-button> 
                <mat-radio-button value="{{programConditionAcceptEnum.moreProgramRead}}" class="px-2">اكتر من برنامج شرح </mat-radio-button>
            </mat-radio-group>
        </div>
        <div  class="row  buttons-center mt-5">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="accepModel.isRequired" >
                <span class="slider round">الزامى</span>
              </label>
            <button   type="submit" class="save-btn" (click)="saveProgramConditions()"> 
                {{ "GENERAL.SAVE" | translate }}
            </button>
    </div>
    </div>
</ng-container>
