<div class="row">
  <div class="col-12">
    <app-appointment-requests-tab
      (advancedSearchEvent)="openTeacherAdvancedSearchPopup($event)"
      (itemTeacherAppointmentReq)="openRejectRequest($event)"></app-appointment-requests-tab>
  </div>
</div>
<div class="overlay" *ngIf="openTeacherAppointmentRejectOverlay">
  <app-teacher-appointment-reject [itemTeacherAppointmentReq]='itemTeacherAppointmentReq'
                                  (closeRejectedRequest)="closeRejectedRequest()"></app-teacher-appointment-reject>
</div>

<div class="overlay" *ngIf="openTeacherAppointmentAdvancedSearch">
  <app-teacher-appointment-advanced-search
    (closeAdvancedSearch)="closeTeacherAdvancedSearch($event)"
    [filter]="filter"
  ></app-teacher-appointment-advanced-search>
</div>
