
<div class="row  scientific-problem-grid" *ngIf='userMode === programSubscriptionUsers.teacher'>


   <div class="col-12 d-flex justify-content-start">
    <ngb-pagination
       [maxSize]="5"
      [collectionSize]="totalCount"
      [(page)]="teacherFilterRequestModel.page"
      [pageSize]="teacherFilterRequestModel.take"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="onTeacherPageChange()">
    </ngb-pagination>
    <button 
     [ngClass]="{'default_btn': teacherFilterRequestModel.sortField != 'progName' , 'asend_desend_btn' : this.teacherFilterRequestModel.sortField != 'progcreation' }"
             (click)='sortTeacherByName()'>
      {{'User_Requests.SORT_NAME' | translate}}
      <span *ngIf='this.teacherFilterRequestModel.sortField != "progName" '>
                  <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span>
     <span *ngIf='sortTeacherByNameOrderType() == "asend"'>
             <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
     <span *ngIf='sortTeacherByNameOrderType() == "desend"'>
             <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
    </button>
    <button  [ngClass]="{'asend_desend_btn': teacherFilterRequestModel.sortField != 'progName', 'default_btn' : this.teacherFilterRequestModel.sortField != 'progcreation'}"
             (click)='sortTeacherRequestDate()'>
      {{'User_Requests.SORT_DATE' | translate}}

      <span *ngIf='this.teacherFilterRequestModel.sortField != "progcreation"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span>
     <span *ngIf='sortTeacherRequestDateOrderType() == "asend"'>
             <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
     <span *ngIf='sortTeacherRequestDateOrderType() == "desend"'>
             <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
    </button>
  </div> 
 

</div>


<div class="row scientific-problem-grid" *ngIf='userMode === programSubscriptionUsers.student'>


   <div class="col-12 d-flex justify-content-start">
    <ngb-pagination
      [collectionSize]="totalCountForStudent"
      [(page)]="studentFilterRequestModel.page"
      [pageSize]="studentFilterRequestModel.take"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="onStudentPageChange()">
    </ngb-pagination>

     <button
       [ngClass]="{'default_btn': studentFilterRequestModel.sortField != 'progName' , 'asend_desend_btn' : this.studentFilterRequestModel.sortField != 'progcreation' }"
       (click)='sortStudentByName()'>
       {{'User_Requests.SORT_NAME' | translate}}
       <span *ngIf='this.studentFilterRequestModel.sortField != "progName" '>
                  <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span>
       <span *ngIf='sortStudentByNameOrderType() == "asend"'>
             <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
       <span *ngIf='sortStudentByNameOrderType() == "desend"'>
             <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
     </button>
     <button  [ngClass]="{'asend_desend_btn': studentFilterRequestModel.sortField != 'progName', 'default_btn' : this.studentFilterRequestModel.sortField != 'progcreation'}"
              (click)='sortStudentRequestDate()'>
       {{'User_Requests.SORT_DATE' | translate}}

       <span *ngIf='this.studentFilterRequestModel.sortField != "progcreation"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span>
       <span *ngIf='sortStudentRequestDateOrderType() == "asend"'>
             <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
       <span *ngIf='sortStudentRequestDateOrderType() == "desend"'>
             <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span>
     </button>
  </div>


</div>


  <mat-grid-list cols="{{numberPerRow}}" rowHeight="3:2">
    <ng-container *ngIf="userMode == programSubscriptionUsers.teacher">
      <mat-grid-tile *ngFor='let item of teacherItems' >
        <app-teacher-student-program-for-subscription class="card"
            [teachersubscriptionmodel]='item' [userMode]="programSubscriptionUsers.teacher" >
        </app-teacher-student-program-for-subscription>
      </mat-grid-tile>
    </ng-container>
    <ng-container *ngIf="userMode == programSubscriptionUsers.student">
      <mat-grid-tile *ngFor='let item of studentItems' >
        <app-teacher-student-program-for-subscription class="card"
                                                      [studentsubscriptionmodel]='item'
                                                      [userMode]="programSubscriptionUsers.student">
        </app-teacher-student-program-for-subscription>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>

