
    <div class="row group_header fix_margin w-100">
        <div class="item_group" (click)="showTap = 'BASEINFO'"
        [ngClass]="{ item_group_active: showTap == 'BASEINFO' }" >
        {{'PROGRAM_TABS.BASIC_INFO' | translate}}

        </div>
        <div class="item_group" (click)="showTap = 'STUDENS'"
        [ngClass]="{ item_group_active: showTap == 'STUDENS' }" >
        {{'PROGRAM_TABS.STUDENTS' | translate}}
        </div>

        <!-- <div class="item_group" (click)="showTap = 'PROGRESSTEST'"
        [ngClass]="{ item_group_active: showTap == 'PROGRESSTEST' }">
            اختبار مرحلي
        </div> -->

        <div class="item_group" (click)="showTap = 'JOIN'"
        [ngClass]="{ item_group_active: showTap == 'JOIN' }" >
        {{'PROGRAM_TABS.JOINING_EXAM' | translate}}

        </div>

        <div class="item_group" (click)="showTap = 'DAYS'"
        [ngClass]="{ item_group_active: showTap == 'DAYS' }">
        {{'PROGRAM_TABS.DAYS' | translate}}

        </div>

        <!-- <div class="item_group" (click)="showTap = 'VACATION'"
        [ngClass]="{ item_group_active: showTap == 'VACATION'}">
             طلبات الاجازات
        </div> -->
        <div class="item_group" (click)="showTap = 'NOTIFACATION'"
        [ngClass]="{ item_group_active: showTap == 'NOTIFACATION' }">
        {{'PROGRAM_TABS.NOTIFACATION' | translate}}

        </div>
        <!-- <div class="item_group" (click)="showTap = 'CANDITION'"
        [ngClass]="{ item_group_active: showTap == 'CANDITION' }">
         شروط
        </div> -->
        <div class="item_group" (click)="showTap = 'BATCHES'"
        [ngClass]="{ item_group_active: showTap == 'BATCHES' }">
        {{'PROGRAM_TABS.BATCHES' | translate}}

        </div>
    </div>
    <!-- {{selectedRoleId | json}} -->

    <div class="row fix_margin w-100" *ngIf='programDetails'>
        <div class="col-12 px-0 ">

           <app-basic-information *ngIf="showTap == 'BASEINFO'" [progBasicInfoDetails]='programDetails?.progBaseInfo'
           (refreshProgList)='refreshProgList()' (refreshProgDetails)='getProgramDetails()'
                                  [programBatches]='programDetails?.progBats'
           ></app-basic-information>
           <app-days *ngIf="showTap == 'DAYS'" [progs]='programDetails'></app-days>
           <!-- <app-conditions *ngIf="showTap == 'CANDITION'"></app-conditions> -->
           <app-join-requests *ngIf="showTap == 'JOIN'" [programDetails]='programDetails'></app-join-requests>
           <app-notify *ngIf="showTap == 'NOTIFACATION'" [progId]='programDetails?.id'></app-notify>
           <!-- <app-progress-test  *ngIf="showTap == 'PROGRESSTEST'"></app-progress-test> -->
           <app-students *ngIf="showTap == 'STUDENS'"></app-students>
           <!-- <app-vacation-requests *ngIf="showTap == 'VACATION'"></app-vacation-requests> -->
           <app-program-batches *ngIf="showTap == 'BATCHES'" [programDetails]='programDetails'></app-program-batches>

        </div>

    </div>
