@import "../../../../assets/scss/buttons";
.add-question-template{
    border-bottom:1px solid rgba(193, 199, 208, 1);

    .label_item_question{
        font-size: .875rem;
        font-family:Almarai-Bold ;
        color: #3A3A3A;
        &:lang(ar){
            float: right;
        }
      
    }
    .add_answer{
        &:lang(ar)
        {text-align: right;}
    }
    .input_fullWidth
    {
        width:800px;
        &:lang(ar){
            margin-right: 4rem;

        }
        &:lang(en){
            margin-left: 4rem;
        }
        
    }

    .input_search_voice
    {
        input{
            // min-width: 400px;
            min-width: 0px;

            border-top-left-radius: 0.65rem ;
            border-top-right-radius: 0.65rem !important;
            border-bottom-left-radius: 0.65rem;
            border-bottom-right-radius: 0.65rem !important;
        }
        .input_with-voice{ 
            &:lang(ar){
            border-top-left-radius: 0 ;
            border-bottom-left-radius: 0;}
            &:lang(en){
                border-top-right-radius: 0  !important;;
                border-bottom-right-radius: 0  !important;}

        }
        .border-transparent
            {
                    &:lang(ar)
                    { border-left: transparent;}
                    &:lang(en)
                    { border-right: transparent;}
            }
    }


    .item_label{
        &:lang(ar){
            margin-right: 1rem;

        }
        &:lang(en){
            margin-left: 1rem;

        }
    }
}

.day_detils.add-question-template 
.input_search_voice input {
   min-width: 0 !important;}
