@import "../../../../assets/scss/buttons";
.add-question-template{
    border-bottom:1px solid rgba(193, 199, 208, 1);

    .label_item_question{
        font-size: .875rem;
        font-family:Almarai-Bold ;
        color: #3A3A3A;
        &:lang(ar){
            float: right;
        }
    }
    .add_answer{
        &:lang(ar)
        {text-align: right;}
    }
    .input_fullWidth
    {
        width:850px
    }

    .input_search_voice
    {
        input{
            min-width: 400px;
            border-top-left-radius: 0.65rem ;
            border-top-right-radius: 0.65rem !important;
            border-bottom-left-radius: 0.65rem;
            border-bottom-right-radius: 0.65rem !important;
        }
        .input_with-voice{ 
            &:lang(ar){
            border-top-left-radius: 0 ;
            border-bottom-left-radius: 0;}
            &:lang(en){
                border-top-right-radius: 0  !important;;
                border-bottom-right-radius: 0  !important;}

        }
        .border-transparent
            {
                    &:lang(ar)
                    { border-left: transparent;}
                    &:lang(en)
                    { border-right: transparent;}
            }
    }

}