<div class="form-group add-question-template"  >

    <div class="form-group row question mt-3 px-2">
    <div class="col-sm-8">
      <label class="label_item_question"> السؤال الاول</label>
      <!-- <app-voice-recording *ngIf="!questionTemplate.text" (getVoiceUrl)="saveVoiceUrl($event)"
      [viewMode]='viewMode' [voiceUrl]='questionTemplate?.voiceUrl'></app-voice-recording>
      <input type="text" *ngIf="!questionTemplate.voiceUrl" (input)="onQuestionTextChange()" [disabled]='viewMode'
      [(ngModel)]="questionTemplate.text" class="form-control" placeholder="add question">
 -->

       
    
        <div class="input-group input-sm input_search_voice" >
           <input type="text"
           *ngIf="!questionTemplate.voiceUrl"
             (input)="onQuestionTextChange()" 
             [disabled]='viewMode'
              [(ngModel)]="questionTemplate.text"
              class="form-control  border-left-transparent border-md " 
              placeholder="add question" >

             
            <app-voice-recording *ngIf="!questionTemplate.text" (getVoiceUrl)="saveVoiceUrl($event)"
            [viewMode]='viewMode' [voiceUrl]='questionTemplate?.voiceUrl'></app-voice-recording>

      </div> 


      
    </div>
    <div class="col-sm-2">
      <label class="label_item_question">  مدة الإجابة</label>
        <input type="text" [(ngModel)]="questionTemplate.degree"  class="form-control"  placeholder="degree" [disabled]='viewMode'>
      </div>
      <div class="col-sm-2">
        <label class="label_item_question">  الدرجة</label>
        <input type="text"  [(ngModel)]="questionTemplate.time"  class="form-control" placeholder="time" [disabled]='viewMode'>
      </div>
</div>
<div class="form-group row">
<div class="col-10 pl-4 pr-4  ">
  <label class="label_item_question">الاجابات</label>

</div>
  <div class="input-group col-sm-10">
    <mat-radio-group [(ngModel)]="questionTemplate.answerType" aria-label="Select an option" [disabled]='viewMode'>
        <mat-radio-button value="{{answerTypeEnum.singleSelect}}" class="px-2">{{ CHOICES()}}</mat-radio-button>
        <mat-radio-button value="{{answerTypeEnum.multiSelect}}" class="px-2"> {{ MULTI_SELECT()}}</mat-radio-button>
    </mat-radio-group>

  </div>
  
</div>


<div class="form-group row answerChick mb-0">

  <div class="col-10 pl-4 pr-4  ">
    <label class="label_item_question">الصحيحة</label>
  
  </div>
  
  <div *ngIf="questionTemplate.answerType === answerTypeEnum.multiSelect">
   
      <ng-container *ngFor = 'let answer of questionTemplate.answers'>
        <div class="col-12">
      <mat-checkbox class="example-margin " [(ngModel)]="answer.correct" [ngModelOptions]="{standalone: true}" [disabled]='viewMode'>
        <input type="text" class="form-control input_fullWidth" [(ngModel)]="answer.text"  aria-label="Text input with checkbox" [disabled]='viewMode'>
       
          <a *ngIf='!viewMode' (click)='deleteAnswerDialog(answer)'>
            <img src="../../../../assets/images/trash-2.svg" class="btn_trash">   
          </a>
        
      </mat-checkbox>
    </div>
    </ng-container>
  </div>
  <div class="form-group row">
   
      <ng-container *ngIf="questionTemplate.answerType === answerTypeEnum.singleSelect">
 
          <mat-radio-group [(ngModel)]="questionTemplate.correctAnswersByAnswerNumber" 
          class="input-group  col-12" [disabled]='viewMode'>
        <mat-radio-button *ngFor = 'let answer of questionTemplate.answers' 
         value="{{answer.answerNo}}"class=" px-4  col-12" >
         <input type="text" class="form-control input_fullWidth "
          [(ngModel)]="answer.text"  aria-label="Text input with checkbox" [disabled]='viewMode'>

          <a *ngIf='!viewMode' (click)='deleteAnswerDialog(answer)'>
             <img src="../../../../assets/images/trash-2.svg" class="btn_trash">    
          </a>
         
        </mat-radio-button>
      </mat-radio-group>
      
    
   </ng-container>
  </div>

</div>
<div class="col-12 add_answer mb-2">
  <button type="button" class="btn cancel-btn btn btn-warning" (click)="addAnswer()" [disabled]='viewMode'>{{"GENERAL.ADD_ANSWE"|translate}}</button>
</div>
</div>
