

@import '../../../student-program-subscription/student-program-sub-view/student-program-sub-details/student-program-sub-details.component.scss'
;
.disabledCheck{
    pointer-events: none;
    opacity: 0.5;
}

