<div class="card-request" *ngIf="!adminView">
    <div class="card_header">
      <div class="col-6 d-flex align-items-center justify-content-between p-0 m-0">
        <span > {{'TEACHER_DROP_OUT.TIME' | translate}} </span>
        <span>{{studentDropOutRequestFilterRequestStudentModel.requestDate  | date: 'dd/MM/yyyy'}}</span>
      </div>

    </div>

  <div class="card_body program">
    <div class="d-flex align-items-center justify-content-between program__header" >

      <p class="program__num  mb-0"></p>
      <div class="d-flex align-items-center justify-content-between " >
        <p class="program__num mb-0  mr-3 ml-3">
          {{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enStatName : studentDropOutRequestFilterRequestStudentModel?.arStatName}}</p>
        <span class="status" [ngClass]="{ 'accept' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Accept ,
                                  'pending' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Pending ,
                                  'rejected' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Rejected,
                                  'cancel' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Canceled
  }"
        ></span>
      </div>
    </div>
    <div class="mx-1">
      
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex  mb-0">
          <img *ngIf='!studentDropOutRequestFilterRequestStudentModel.avatarLink'  class="img_user" src="../../../../assets/images/student/user-profile.svg">
          <img *ngIf='studentDropOutRequestFilterRequestStudentModel.avatarLink'   class="img_user" src="{{studentDropOutRequestFilterRequestStudentModel.avatarLink}}" >
        <div class="mx-1 container-width">
          <p class="number_request  mb-0">{{ studentDropOutRequestFilterRequestStudentModel?.no}}</p>
          <p class="program__name  bold ellipsis  p-0 mb-0"
          title="{{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enProgBatName : studentDropOutRequestFilterRequestStudentModel?.arProgBatName}}"
          > {{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enProgBatName : studentDropOutRequestFilterRequestStudentModel?.arProgBatName}}</p> 
        </div>
        </div>
      </div>


      <div class="program_reason">
        <p class="  mb-0 pb-2"  > 
          <span class="program_user bold">
            {{'STUDENT_SUBSCRIBERS.REQUEST_REASON' | translate}}  :
         </span>
         <span class=" bold mb-0 " *ngIf="!studentDropOutRequestFilterRequestStudentModel.reason ">{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}} </span>
         <span class=" bold mb-0 " *ngIf="studentDropOutRequestFilterRequestStudentModel.reason ">{{ studentDropOutRequestFilterRequestStudentModel?.reason }}</span>
          
        </p>
      
        <p class="  mb-0 pb-2"  > 
          <span class=" program_user bold mx-1"> {{'GENERAL_DROP_OUT_REQUEST.REJECT_REASON' | translate}} : </span> 
       
          <!-- program__admin -->
          <!-- program__answer -->
            <span class=" bold mb-0 " *ngIf="!studentDropOutRequestFilterRequestStudentModel.reasonReject" >{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}}</span>
            <span  class=" bold mb-0 " *ngIf="studentDropOutRequestFilterRequestStudentModel.reasonReject != null && studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Rejected">{{ studentDropOutRequestFilterRequestStudentModel?.reasonReject }}</span>

 
        </p>
      
      </div>

     
     
    
    </div>
  
    <ng-container *ngIf="typeEnum === StudentDropOutRequestStatus.Pending" >
    <div  [ngClass]="{
      'dimmed': studentDropOutRequestFilterRequestStudentModel?.canCancel === false }" >
        <button class="program__btn cancel-btn"  (click)="cancelRequest()">{{'TEACHER_DROP_OUT.CANCEL' | translate}}</button>
    </div>
    </ng-container>
  </div>


</div>


<div class="card-request" *ngIf="adminView">
 
  <div class="card_header">
    <div class="col-6 d-flex align-items-center justify-content-between p-0 m-0">
      <span > {{'TEACHER_DROP_OUT.TIME' | translate}} </span>
      <span>{{studentDropOutRequestFilterRequestStudentModel.requestDate  | date: 'dd/MM/yyyy'}}</span>
    </div>

  </div>

<div class="card_body program">
  <div class="d-flex align-items-center justify-content-between program__header" >

    <p class="program__num  mb-2"></p>
    <div class="d-flex align-items-center justify-content-between " >
      <p class="program__num mb-0 mr-3 ml-3">
        {{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enStatName : studentDropOutRequestFilterRequestStudentModel?.arStatName}}</p>

      <span class="status" [ngClass]="{ 'accept' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Accept ,
                                'pending' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Pending ,
                                'rejected' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Rejected,
                                'cancel' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Canceled
                             }"
      >
    </span>
    </div>
  </div>
  <div class="mx-1">
    

    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex  mb-0">
        <img *ngIf='!studentDropOutRequestFilterRequestStudentModel.avatarLink'  class="img_user" src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='studentDropOutRequestFilterRequestStudentModel.avatarLink'   class="img_user" src="{{studentDropOutRequestFilterRequestStudentModel.avatarLink}}" >
      <div class="mx-1 container-width">
        <p class="number_request  mb-0">{{ studentDropOutRequestFilterRequestStudentModel?.no}}</p>
        <p class="program__name  bold ellipsis  p-0 mb-0"
        title="{{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enProgBatName : studentDropOutRequestFilterRequestStudentModel?.arProgBatName}}"
        > {{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enProgBatName : studentDropOutRequestFilterRequestStudentModel?.arProgBatName}}</p> 
      </div>
      </div>
    </div>

    
    <div class="program_reason">
      <p class="  mb-0 pb-2"  > 
        <span class=" program_user bold mx-1">
          {{'STUDENT_SUBSCRIBERS.REQUEST_REASON' | translate}}  :
       </span>
       <span class=" mb-0 " *ngIf="!studentDropOutRequestFilterRequestStudentModel.reason ">{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}} </span>
       <span class=" mb-0 " *ngIf="studentDropOutRequestFilterRequestStudentModel.reason ">{{ studentDropOutRequestFilterRequestStudentModel?.reason }}</span>
        
      </p>
    
      <p class="  mb-0 pb-2"  > 
        <span class=" program_user bold mx-1"> {{'GENERAL_DROP_OUT_REQUEST.REJECT_REASON' | translate}} : </span> 
      

          <span class=" mb-0" *ngIf="!studentDropOutRequestFilterRequestStudentModel.reasonReject" >{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}}</span>
          <span class=" mb-0 "  *ngIf="studentDropOutRequestFilterRequestStudentModel.reasonReject != null && studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Rejected">{{ studentDropOutRequestFilterRequestStudentModel?.reasonReject }}</span>


      </p>
    
    </div>


  </div>

 

</div>


</div>





