<div class="card-request">
    <div class="card_header">
      <div class="col-6 d-flex align-items-center justify-content-between p-0 m-0">
        <span > {{'TEACHER_DROP_OUT.TIME' | translate}} </span>
        <span>{{studentDropOutRequestFilterRequestStudentModel.requestDate  | date: 'dd/MM/yyyy'}}</span>
      </div>

    </div>

  <div class="card_body program">
    <div class="d-flex align-items-center program__header  " >

      <p class="program__num  mb-2">{{ studentDropOutRequestFilterRequestStudentModel?.no}}</p>
      <div class="d-flex align-items-center justify-content-between " >
        <p class="program__num mb-2  mr-3 ml-3">{{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enStudentStatusName : studentDropOutRequestFilterRequestStudentModel?.arStudentStatusName}}</p>
        <span class="status" [ngClass]="{ 'accept' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Accept ,
                                  'pending' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Pending ,
                                  'rejected' : studentDropOutRequestFilterRequestStudentModel.drpStat == StudentDropOutRequestStatus.Rejected
  }"
        ></span>
      </div>
    </div>
    <div class="mx-1">
      <!--      <p class="teacher__name  ">{{ translate.currentLang == langEnum.en ? teacherDropOutRequestModel?.teacherNameEn : teacherDropOutRequestModel?.teacherNameAr}}</p>-->
      <p class="program__name ellipsis p-0 " 
      title="{{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enProgBatName : studentDropOutRequestFilterRequestStudentModel?.arProgBatName}}"
      > {{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestStudentModel?.enProgBatName : studentDropOutRequestFilterRequestStudentModel?.arProgBatName}}</p>
      <p class="program__desc"> {{ studentDropOutRequestFilterRequestStudentModel?.reason }}  </p>
      <p class="program__admin" *ngIf="studentDropOutRequestFilterRequestStudentModel.reasonReject != null" >{{'TEACHER_DROP_OUT.ADMIN_ANSWER' | translate}}</p>
      <p class="program__answer "  *ngIf="studentDropOutRequestFilterRequestStudentModel.reasonReject != null">{{'TEACHER_DROP_OUT.REJECTED' | translate}}</p>
    </div>

    <div  [ngClass]="{
      'dimmed': studentDropOutRequestFilterRequestStudentModel?.canCancel === false }">
       
        <button class="program__btn cancel-btn"  (click)="cancelRequest()"
        >{{'TEACHER_DROP_OUT.CANCEL' | translate}}</button>
    </div>

 
  </div>


  </div>
