<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-teacher-quit-tab-request (itemTeacherDropOutRequest)="openRejectRequest($event)"></app-teacher-quit-tab-request>
        </div>
    </div>
    <div class="overlay" *ngIf="openTeacherDropOutRequestRejectOverlay">
        <app-teacher-drop-out-request-rejected [itemTeacherDropOutRequest]='itemTeacherDropOutRequest' (closeRejectedRequest)="closeRejectedRequest()"></app-teacher-drop-out-request-rejected>
    </div>
</div>