@import 'src/assets/scss/_variables.scss';


/* The side navigation menu */
.sidenav_profile {
    height: 100%; /* 100% Full-height */
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FBFBFB; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav_profile */
  }
  
  
  
  
  /* Position and style the close button (top right corner) */
  .sidenav_profile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav_profile (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav_profile {padding-top: 15px;}
    .sidenav_profile a {font-size: 18px;}
  }



//   

.label_profile{
    color: #3A3A3A;
    font-size: 20px;
    font-family:Almarai-Bold ;

}
.label_profile:lang(ar){
    text-align: right;
}

.profile_background{

    background: url(../../../../../assets/images/viewProfile.svg);
    height: 168px;
    width: 100%;
    border-radius: 30px;
    
}

.img_profile{
    position:absolute;
    top: 0;
    left: 32%;
    top: 20%;
    width: 178px;
    height: 178px;
}
.mb-50{
    margin-bottom: 50px;
}
.UpdateUser__Label{
    color: $user-color;
    font-family:Almarai-Bold ;
    font-size: 1.5rem;
}
