.tab_page{
    background: #fbfbfb;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
  }
  .interTab {
    background-color: #FBFBFB;
    height: 77vh;
    min-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 0.5rem;
  }
  