@import '../../../../../../assets/scss/buttons';

.notifyForm{
    height: 70vh;
        &:lang(en) {
            text-align: left;
        }
        &:lang(ar) {
            text-align: right;
        }
        .header_input{
            font-size: 14px;
            font-family: Almarai-Regular;
            color: #3A3A3A;
        }
        .head{
            font-size: 1.25rem;
            color:#3A3A3A;
        
        }
        .label{
            width: 100%;
            color: #3A3A3A;
            font-family: Almarai-Regular;
            font-size: 0.875rem;
            }
            .data_label{
            width: 100%;
            color: #8D8D8D;
            font-family: Almarai-Bold;
            text-align: right;
            font-size: 0.875rem;
            }
            .alert{
                margin: 0 !important;
                padding: 0;
                font-size: 12px;
            }
          .save-btn, .cancel-btn
          {
            height: 2.31rem;
            margin: 1rem;
        
           }
        
          select.form-control
          {
            appearance: auto !important;
          }


}