<div>
  <app-student-vacation-request-tab
    (rejectTeacherProgramSubscription)="openRejectRequest($event)"
    (advancedSearchEvent)="openTeacherAdvancedSearchPopup($event)"
  ></app-student-vacation-request-tab>

<!--  <div class="overlay" *ngIf="openStuRejectOverlay">-->
<!--    <app-teache-rejected  [itemTeacherReq]='itemTeacherReq' (closeRejectedRequest)="closeRejectedRequest()"></app-teache-rejected>-->
<!--  </div>-->
<!--  <div class="overlay" *ngIf="openTeacherAdvancedSearch">-->
<!--    <app-advanced-search-teacher (advancedSearchEvent)="teacherAdvancedSearch($event)"-->
<!--                                 [teacherFilterAdvancedSearch]='teacherFilterAdvancedSearch'-->
<!--    ></app-advanced-search-teacher>-->
  </div>

<div class="showoverlay" (click)="closeOverlay()" [ngClass]="{'disableBlock': openStuRejectOverlay }"></div>
