<div class="container side-nav-bar">
    <div class="container__navigation">
        <div>
            <a>
                <div>
                    <span><i class="side-nav-bar__icon side-nav-bar__logo-icon" aria-hidden="true"></i></span>
                </div>
            </a>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__dashboard-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">DashBoard</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__program-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">My Program</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__scientific-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">Scien. Mat.</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__message-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">Vacation Req.</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__student-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">Exam Results</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__teacher-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">Withdrawal Req.</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__setting-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">Certificates</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__reviews-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">My Messages</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <span>
                                <i class=" side-nav-bar__icon side-nav-bar__question-bank-icon" aria-hidden="true"></i>
                            </span> 
                            <span class="container__navigation__title">Question Bank</span>
                        </div>
                    </a>
                </li>
                <!--<a href="#">
                    <span class="icon">
                        <i class="side-nav-bar__dashboard-icon" aria-hidden="true"></i>
                        <span class="container__navigation__title">DashBoard</span>
                    </span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__program-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">My Program</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__scientific-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">Scientific Material</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__message-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">Vacation Request</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__student-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">Exam Results</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__teacher-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">Withdrawal Requests</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__setting-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">Certificates</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__reviews-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">Messages</span>
                </a>
                <a href="#">
                    <span class="icon"><i class="side-nav-bar__question-bank-icon" aria-hidden="true"></i></span>
                    <span class="container__navigation__title">Question Bank</span>
                </a> -->
            </ul>
        </div>
    </div>
</div>