.container{
    position: relative;
    .container__navigation{
        position: relative;
        height: 100vh;
        background-color: #3A0303;
        overflow: hidden !important;
        z-index: 4;
        .container__navigation__title{
            position: relative;
            display: block;
            line-height: 1.275rem;
            
            font-family:Almarai-Bold ;
            font-size: 0.55rem;
            color: #CB9118;
        }
       .internal_icons{
           overflow-y: auto;
           height: 85vh;
       }
    }

    .container__navigation ul{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
    }

    .container__navigation ul li{
        position: relative;
        list-style: none;
        width: 100%;
    }

    .container__navigation{
            &:lang(en) ul li:hover {
                background-color: #CB9118;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }

            &:lang(ar) ul li:hover {
                background-color: #CB9118;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
      }

          li:hover   .container__navigation__title{
        color: #fff;
    }
   

    .container__navigation{
        &:lang(en) ul li:active {
            background-color: #CB9118;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        &:lang(ar) ul li:active {
            background-color: #CB9118;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
  }


      li:hover   .container__navigation__title{
    color: #fff;
}

    // .nav-link.active .container__navigation__title{
    //     color: #fff;
    // }

    .container__navigation ul a{
        position: relative;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: #FFFF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.nav-item.teacherProfile{
    margin-top: 3.4rem;
}
// .studentProfile{
//     margin-top: 5.4rem;
// }
.nav-item :active ,
.active {
    &:lang(en) {
                background-color: #CB9118;
                color: #fff;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }

            &:lang(ar) {
                background-color: #CB9118;
                color: #fff;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
  }

 
.container{

    &:lang(en)::before{
        content: "";
        position:absolute;
        top:0;
        right:-50px;
        height:50px;
        width: 50px;
        border-top-left-radius: 58%;
        background:tranparent;
        box-shadow: -25px 0 0 0 #3A0303;
    }

    &:lang(ar)::before{
        content: "";
        position:absolute;
        top:0;
        left:-50px;
        height:50px;
        width: 50px;
        border-top-right-radius: 58%;
        background:tranparent;
        box-shadow: 25px 0 0 0 #3A0303;
    }
}
.container{
    &:lang(en)::after{
        content: "";
        position:absolute;
        bottom: 0;
        right:-49px;
        height:50px;
        width: 50px;
        border-bottom-left-radius: 58%;
        background:tranparent;
        box-shadow: -25px 0 0 0 #3A0303;
    }   

    &:lang(ar):after{
        content: "";
        position:absolute;
        bottom: 0;
        left:-49px;
        height:50px;
        width: 50px;
        border-bottom-right-radius: 58%;
        background:tranparent;
        box-shadow: 25px 0 0 0 #3A0303;
    } 
}

.side-nav-bar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    align-items: center;
    // height: 47.87rem;
    // overflow-y: scroll;

    .side-nav-bar__icon{
        position: relative;
        height: 2.1rem;
        width: 2.25rem;
        display: block;
        text-align: center;
        background-repeat: no-repeat !important;
        margin: auto;
    }
    .side-nav-bar__logo-icon{
        background: url('../../../../assets/images/sidebar/logo.png');
        position: relative;
        height: 82px;
        width: 86px;
        display: block;
        text-align: center;
        background-repeat: no-repeat !important;
        
    }
   
}

//  disabled sidenav
.disabled_sidenav{
    pointer-events: none;
    background-color: #e9ecef;
    cursor: no-drop !important;
}

.container .container__navigation  .disabled_sidenav  .container__navigation__title {
    color: #740606 !important;
    cursor: no-drop !important;

}

.nav-item.active 
.container__navigation__title
{
  color:#fff !important; 
} 

.menu-scroll{
    height: 84vh; 
    overflow-y: auto;
}

// li a img{
// height:20px ;
// }
