<div *ngIf="!showUserDetailsView" class="container-fluid reuest_container" >
    <div class="col-12  justify-content-end text-right d-flex align-items-center">
        <app-search-input (searchTerm)=searchByText($event) [searchKey]='this.studentDropOutRequestFilterRequestModel.usrName || ""'></app-search-input>
        <a class="advanced_search mb-3" (click)="openAvancedSearch()">بحث متقدم</a>
    </div>
    <div class="row group_header fix_margin w-100">
        <div class="item_group" (click)="onPendingChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Pending }" >
           {{'STUDENT_SUBSCRIBERS.CANCEL_REQUESTS' | translate}}
        </div>
        <div class="item_group" (click)="onAcceptChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Accept }" >
        {{'STUDENT_SUBSCRIBERS.ACCEPTANCE_REQUESTS' | translate}}

        </div>
        <div class="item_group" (click)="onRejectedChange()"
        [ngClass]="{ item_group_active: showTap == statusEnum.Rejected }" >
        {{'STUDENT_SUBSCRIBERS.REJECTANCE_REQUESTS' | translate}}

        </div>
     
    </div>
    
    
    <div class="row fix_margin w-100 " >
       
        <div class="col-12 px-2 interTab mb-3 pt-3">
            <app-student-drop-out-grid *ngIf='showTap == statusEnum.Pending && studentDropOutRequestList.length > 0' 
                [studentDropOutRequestAdminItems]='studentDropOutRequestList' 
                (acceptStudentDropOutAdminRequest)="acceptStudentDropOutRequest($event)"
                (itemStudentDropOutRequestForAdminReject)="rejectStudentDropOutRequestMethod($event)"
                [typeEnum]='statusEnum.Pending'
                [totalCount]='totalCount'
                [userMode]='userMode'
                (acceptAllStudentDropOutRequestAdminChecked)="acceptAllStudentDropOutRequestChecked ()"
                [studentDropOutRequestFilterRequestAdminModel]='studentDropOutRequestFilterRequestModel'
                (rejectStudentDropOutAdminRequest)='rejectStudentDropOutRequestEvent($event)'
                (studentDropOutRequestFilterAdminEvent)='studentDropOutRequestPendingChangePage($event)'
                                       (studentIdToDetails)="studentIdDrop($event)"
                >
            </app-student-drop-out-grid>

            <app-student-drop-out-grid *ngIf='showTap == statusEnum.Accept && studentDropOutRequestList.length > 0' 
                [typeEnum]='statusEnum.Accept ' 
                [studentDropOutRequestAdminItems]='studentDropOutRequestList' 
                (rejectStudentDropOutAdminRequest)='rejectStudentDropOutRequestEvent($event)'
                [totalCount]='totalCount'
                [userMode]='userMode'
                [studentDropOutRequestFilterRequestAdminModel]='studentDropOutRequestFilterRequestModel'
                (studentDropOutRequestFilterAdminEvent)='studentDropOutRequestAcceptChangePage($event)'
                                       (studentIdToDetails)="studentIdDrop($event)"
                ></app-student-drop-out-grid>

               <app-student-drop-out-grid *ngIf='showTap == statusEnum.Rejected && studentDropOutRequestList.length > 0' 
                [typeEnum]='statusEnum.Rejected'
                 [studentDropOutRequestAdminItems]='studentDropOutRequestList'
                 (rejectStudentDropOutAdminRequest)='rejectStudentDropOutRequestEvent($event)'
                 [totalCount]='totalCount'
                 [userMode]='userMode'
                 [studentDropOutRequestFilterRequestAdminModel]='studentDropOutRequestFilterRequestModel'
                 (studentDropOutRequestFilterAdminEvent)='studentDropOutRequestRejectChangePage($event)'
                                          (studentIdToDetails)="studentIdDrop($event)"
                 ></app-student-drop-out-grid>
        </div>
    
    </div>
    
    
    </div>
    
<app-student-details-view *ngIf="showUserDetailsView"  (hideUserDetails) ="hideUserDetailsView($event)" [resiveUserId]="StudentDropIdInput"></app-student-details-view>
