<p>add-program-day-tasks works!</p>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ng-container *ngFor="let item of collectionOfLookup.TASKS ;let i=index">
                <mat-checkbox  class="col-lg-12"  formControlName="dayTasks"  value="{{item.id}}"
                class="example-margin " [ngClass]="{'ml-1 mr-1':i==0 ,'ml-5 mr-5': i==1, 'ml-3 mr-3': i==2}" >
                  {{item.nameAr}}  
                </mat-checkbox>
            </ng-container>    
        </div>
    </div>
</div>



