@import '../../../../../../assets/scss/buttons';
@import '../../../../../modules/program/components/add-program/program-notifacations/add-edit-notification/add-edit-notification.component.scss';


.DataForm{
    &:lang(ar){
        text-align: right ;
    }
    &:lang(en){
        text-align: left ;
    }

    .cancel-btn{
        height: 2.31rem;
        margin: 1rem;
    }





}