<div class="form-group DataForm mt-5 pl-3 pr-3" [formGroup]="createGroupForm">
    <h3 class=" head  bold"> {{ "CHAT_GROUP.ADD_NEW_GROUP" | translate }}</h3>

     

        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label class="text-right header_input">{{ 'CHAT_GROUP.GROUP_NAME_AR' | translate }}</label>
              
                   <input id="firstNameAr" pInputText type="text"class="form-control"  formControlName="groupNameAr" name="groupNameAr" class="form-control UserRegister__FormControl"
                   placeholder="{{ 'CHAT_GROUP.GROUP_NAME_AR' | translate }}">
                </div>
    
                <!-- <div *ngIf="f.numberNotify.errors && (f.numberNotify.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 pl-4 pr-4">
                    <div *ngIf="f.numberNotify.errors?.required">
                        {{ 'GENERAL.REQUIRED' | translate }}
                    </div>
                    <div *ngIf="f.numberNotify.errors.pattern">
                        {{ 'NOTIFICATIONS.NUMBER_HOMEWORK_PATTERN' | translate }}
                      </div>
                      <div *ngIf="f.numberNotify.errors?.max">
                        {{ 'NOTIFICATIONS.NUMBER_HOMEWORK_MAX_LENGTH' | translate }}
                      </div>
                </div>  -->
    
    
            </div>
            
        </div>

        
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label class="text-right header_input">{{ 'CHAT_GROUP.GROUP_NAME_EN' | translate }} </label>
              
                    <input id="firstNameAr" pInputText type="text" class="form-control" formControlName="groupNameEn" name="groupNameEn" class="form-control UserRegister__FormControl"
                        placeholder="{{ 'CHAT_GROUP.GROUP_NAME_AR' | translate }}">
                </div>
      </div>
      </div> 


       <div class="row">
        <div class="col-12">  
        <div class="form-group"> 
            
               <div class="d-flex">
                <div class="input-group">
                    <label class="switch">
                        <input type="checkbox"  formControlName="allowed" >
                        <span class="slider round">
                            <!-- allowed group for chatting -->
                            السماح للمجموعه بالتحدث
                        </span>
                      </label>

        
                </div>
            </div>
            </div> 
               
            </div>
        </div> 







        <!-- <div class="form-group" >
            <label for="exampleInputEmail1" class="label">{{"Role_Management.SELECT_GROUP_MEMBERS" | translate
                }}</label>
            <app-chat-input-search-list [searchList]="chatService.allParticipantsList" formControlName="participants" (addSearchItem)="addParticipant()">
            </app-chat-input-search-list>
        </div>


        <mat-list >
            <mat-list-item *ngFor="let participant of chatService.allParticipantsList">
                <img *ngIf='participant?.avatar_url != null' class="img_user" src="{{participant.avatar_url}}" >

                <div mat-line>{{translate.currentLang == langEnum.en ? participant.name_en : participant.name_ar}}</div>
                
               <span class="mat-delete" (click)="removeItemFromSelectedParticipant(participant)"><i class="fas fa-trash-alt"></i></span>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list> -->














       
<div class="row">
 <div class="col-12">  
        <div class="form-group">
           
            <label for="programs"> اختر أعضاء المجموعة</label>
            <div class="input-group">
                <div class="input-group pr-2rem">
                    <select class="form-control"  id="participants" formControlName="participants">
                       
                        <option *ngFor="let participant of chatService.allParticipantsList" value="{{participant.key}}">
                            <p> {{translate.currentLang == langEnum.en ? participant.name_en : participant.name_ar}} </p>
                            <img *ngIf='participant?.avatar_url === null' class="img_user" src="../../../../../assets/images/Profile.svg" >
                            <img *ngIf='participant?.avatar_url != null' class="img_user" src="{{participant.avatar_url}}" >
                        </option>

                    </select>
                    <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                </div>
                <span class="plus-btn position-absolute">
                    <button class="btn  btn-light btn-add" type="button"
                    (click)="addParticipant()">
                        <img  src="assets/images/add.svg"   class=" cursor-pointer Catogry_Icon_Add" >
                    </button>
                </span>
            </div>
          
        
    
            <div class="badges mt-3 ">
              

                <div *ngFor="let participant of selectedParticipantsList"
                class="badge badge-info p-2">
                <div class="d-flex justify-content-between badge badge-info ">
                <p class="mb-0 ml-2 mr-2">    {{translate.currentLang == langEnum.en ? participant.name_en : participant.name_ar}} </p>
                <a (click)="removeItemFromSelectedParticipant(participant)"><i class="fas fa-times-circle"></i></a>
              </div>
            </div>

                </div>
            </div>
    
         </div>
    </div> 
    
    
        

        <!-- <div class="form-group">
            <select class="form-control col-20 col-md-2 col-sm-2 col-xs-2" id="participants" formControlName="participants">

                <option *ngFor="let participant of participantsList" 
                    value="{{participant.key}}">
                    <p> {{translate.currentLang == langEnum.en ? participant.name_en : participant.name_ar}} </p>
                    <img *ngIf='participant?.avatar_url === null' class="img_user" src="../../../../../assets/images/Profile.svg" >
                    <img *ngIf='participant?.avatar_url != null' class="img_user" src="{{participant.avatar_url}}" >
                </option>
            </select>
            <span class="plus-btn position-absolute">
                <button class="btn btn-light btn-add" type="button"
                    (click)="addParticipant()">
                    <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
                </button>
            </span>

            <div class="badges mt-3">
                <span *ngFor="let participant of selectedParticipantsList"
                    class="badge badge-info p-2">{{translate.currentLang == langEnum.en ? participant.name_en : participant.name_ar}}
                    <a (click)="removeItemFromSelectedParticipant(participant)"><i class="fas fa-times-circle"></i></a>
                </span>
            </div>
      </div> -->

    <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2 text-center">
        <span class="bold"> {{resultMessage.message}}</span>
    </div>
        
    <section class="mt-5">
        <div  class="row direction-rtl buttons-center mt-5">
            <button   type="submit" class="save-btn" (click)="createNewGroup(createGroupForm.value)"> 
              {{ "Role_Management.SAVE" | translate }}
            </button>
            <button  (click)="closeCreateGroupOverlayEvent()"  type="reset" class="cancel-btn"> 
                {{ "GENERAL.CANCEL" | translate }}
            </button>
        </div>
    </section>
</div>