// @import '../../../../../modules/user/components/update-user-profile/update-user-profile.scss';
// .UpdateUser{
    
//     .box_container{
//         width: 99%;
//         height: 656px;
//     }

//     .internal_scroll
//     {
//         max-height: 339px;
//     }
//     .col-20{
//         flex: 0 0 20%;
//         max-width: 20%;
//         position: relative;
//         width: 100%;
//         padding-right: 15px;
//         padding-left: 15px;
//         // border: 1px solid green;
//     }
//     .saveButton{
        
//         background: #CB9118;
//         border-radius: 12px;
//         opacity: 1;
//         width: 7.5rem;
//         padding: 0.5rem;
//         height: 2.31rem;
//         border: none;
//         color: #ffffff;
//         display: block;
//     }
//     .info_contact{
//         color: #B7BDC8;
//         font-size: 14px;
//         font-family:Almarai-Regular;
//         margin-top: 1rem;

//     }
// }

// @import 'src/assets/scss/_variables.scss';


// .UpdateUser{
//     .UpdateUser__Label{
//         color: $user-color;
//         border-width: 70%;
//         border-bottom: aliceblue;
//         font-family:Almarai-Bold ;
//         font-size: 1.25rem;
//     }
    
//     .UpdateUser__Options{
//         width: 100%; height: 35px;
//         border-radius: 0.65rem;
//         border-color: $gray-300;
//     }
    
//     Label{
//         font-family:Almarai-Regular;
//         font-size: 0.875rem;
//         color: #3A3A3A;
//     }

//     .badge {
//         white-space: normal !important; 
//    }
// }

// // .UpdateUserIcon{
// //     background-color: $icon_input;
// // }



// .upload-icon{
//     width: 2rem;
//     // margin-top: -5px;
//     // margin-bottom: 10px;        
//     }

// .box_container{
//     background: #FBFBFB 0% 0% no-repeat padding-box;
//     border-radius: 19px;
//     padding: 26px 144px;
//     margin: auto;
//     margin-bottom: 0;
//     border: 1px solid #FBFBFB;
//     margin-top: 1rem;
// }

// .box_container:lang(ar)  {
//     text-align: right;
// }

// .PlusIcon{
//     margin-top: 0.5rem;
//     margin-left: 0.5rem;
// }



// .btn-primary {
//     color: #fff;
//      background-color: white;
//     /* border-color: #007bff; */
// }

// .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
//     color: #fff;
//     background-color: white;
//     // border-color: #005cbf;
// }

// .btn {
//     font-weight: 400;
//     // color: #212529;
//     text-align: center;
//     vertical-align: middle;
//     -webkit-user-select: none;
//     user-select: none;
//     /* background-color: transparent; */
//     border: 1px solid transparent;
//     padding: .375rem .75rem;
//     font-size: 1rem;
//     line-height: 1.5;
//     border-radius: .25rem;
//     // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// }


// .img_profile{
//     position:absolute;
//     top: 0;
//     left: 40% !important;
//     top: 20%;
//     width: 13.313rem;
//     height: 13.313rem;
//     border-radius: 1rem;
// }
// .mb-50{
//     margin-bottom: 50px;
// }

// .internal_scroll{
// max-height: 335px;
// overflow-y: scroll;
// overflow-x: hidden;
// padding-left: 0.5rem;
// padding-right: 0.5rem;
// }
// .border_bottom{
//     border-bottom: 1px solid #b9b0b061;
// }

// // {
// //     width: 20px;
// //     height: 20px;
// //     background-position: 0 -134px;
// //     background-image: url(/rsrc.php/v3/yO/r/e7tMeg9zyDj.png);
// //     background-size: 34px 326px;
// //     background-repeat: no-repeat;
// //     display: inline-block;
// // }
// .custom_file_input:lang(ar){
//   left: 56% !important;
//   position: absolute;
//   bottom: -46px;  
  
// }

// .custom_file_input:lang(en){
//     left: 40% !important;
//     position: absolute;
//     bottom: -46px;  
// }
// // .upload-image {
// //     cursor:pointer;
// //     width: 158px;
// //     height: 45px;
// //     overflow:hidden;
// //     position:relative;
// //     display:inline-block;
// //     /*background-color:#fff;*/
// //     background-repeat: no-repeat;
// //     background-image:
// //       url('http://icons.iconarchive.com/icons/martz90/circle/512/camera-icon.png');
// //     background-size:20px 20px;
// //   }


// //@import '../../../stu-rejected/stu-rejected.component.scss';
// .input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation)>.custom-select:not(:last-child), .input-group:not(.has-validation)>.form-control:not(:last-child){
//     border: 5px;
// }

//  @import '../../../../../../assets/scss/buttons';
// .head{
//     font-size: 1.25rem;
//     color:#3A3A3A;
//     font-family: Almarai-Bold; 
//       }
//      .label{
//         width: 100%;
//         color: #3A3A3A;
//         font-family: Almarai-Bold;
//         font-size: 0.875rem;
//         }
//         .data_input{
//             font-family: Almarai-Bold;
//              color: #CB9118;
//             font-size: 0.875rem;
//         }
//         .data_label{
//         width: 100%;
//         color: #8D8D8D;
//         font-family: Almarai-Bold;
     
//         font-size: 0.875rem;
//         }

//     .alert{
//         margin: 0 !important;
//         padding: 0;
//         font-size: 12px;
//     }
//     .title_add{
//             font-size: 20px;
//             padding-top: 10%;
//             padding-bottom: 15px;
//     }
//     .DataForm{
//         height: 70vh;
//     }
//     .label,.data_label{
//     &:lang(ar){
//         text-align: right;
//     }
//     &:lang(en){
//         text-align: left;
//     }}
//   .save-btn, .cancel-btn{
//     height: 2.31rem;
//     margin: 1rem;

//   }
// .DataForm{
// &:lang(ar){
//     text-align: right !important;
// }
// &:lang(en){
//     text-align: left !important;
// }
//   }

