
<!-- 
<div class="list-group list-group_program-list">
  <div class="d-flex justify-content-between">
      <p class="mb-4">{{'PROGRAMS_LIST.PROGRAMS' | translate}}</p>
      <button class="cancel-btn" >
         اضافه برنامج
        </button>
  </div>
 
  <app-search-input ></app-search-input>
  <a class="advanced_search">
      بحث متقدم 
  </a>
       <div class="internal_scroll_list_group">
      <a class="list-group-item d-flex" > 
      <span>  {{'PROGRAMS_LIST.ALL' | translate}}</span>        
     </a>

      <a class="list-group-item  d-flex active"  >
             
           <span>day 1</span>                

      </a>

  
       </div>

</div> -->
<div *ngFor='let item of progDaysList'>
    <a (click)='onDayClick(item)'> day-{{item.dayOrder}} </a>
</div>
