
   <!-- <ng-container *ngFor='let item of progDaysList' >
            <a  class="list-group-item  d-flex active" (click)='onDayClick(item)'>
            day-{{item.dayOrder}} </a>
       </ng-container> -->

<div class="list-group list-group_program-list">
  <div class="d-flex justify-content-between">
      <p class="mb-4 head">الواجب اليومي</p>
  </div>
 
<app-search-input></app-search-input>
<div class="internal_scroll_list_group programDays">
    <ng-container *ngFor='let item of progDaysList' >
    <a  class="list-group-item  d-flex align-items-center"  (click)='onDayClick(item)'>
        <mat-checkbox    class="example-margin " >
            day-{{item.dayOrder}}
        </mat-checkbox>
        <span class="count">1</span>
    </a>
  </ng-container>
</div>

</div>


