
   <!-- <ng-container *ngFor='let item of progDaysList' >
            <a  class="list-group-item  d-flex active" (click)='onDayClick(item)'>
            day-{{item.dayOrder}} </a>
       </ng-container> -->

<div class="list-group list-group_program-list">
  <div class="d-flex justify-content-between">
      <p class="mb-4 head">الواجب اليومي</p>
  </div>
 
<!-- <app-search-input></app-search-input> -->
<div class="input-group  mb-3" >
  <div class="input-group-prepend ">
      <span class="input-group-text bg-white pl-2 pr-2 border-md ">
          <img  class="UserLogin_icon_input" src="../../../../../../assets/images/search-ired.svg">
      </span>
  </div>
  <input    type='number' [(ngModel)]='filterargs.dayOrder'
  class=" px-3 form-control UserLogin__FormControl bg-white  border-md input-sm">
  
</div>

<!-- {{filterargs.dayOrder}} -->

<!-- <input type='number' [(ngModel)]='filterargs.dayOrder'> -->
<div class="internal_scroll_list_group programDays" *ngIf='progDaysList'>
    <ng-container *ngFor='let item of progDaysList | myfilter:filterargs' >
    <a  class="list-group-item  d-flex align-items-center"  (click)='onDayClick(item)'>
        <mat-checkbox    class="example-margin " >
            day-{{item.order}}
        </mat-checkbox>
        <span class="count">{{item.tskCnt}}</span>
    </a>
  </ng-container>
</div>

</div>


