<div class=" general-box d-inline-flex">
    <div class=" pacman"></div>
    <div class="rating-box general-box d-inline-flex">
        <div class="img-container">
            <img src="../../../../assets/images/dashboard/student.png" alt="">
        </div>
        <div class="rating-details">
            <span class="student-name d-block">hhhhh</span>
            <span class="ratig d-block">80%</span>
            <span class="rting-text d-block">nnn, ,,,,,dm cdnm cnmdbcjkwbmc </span>
        </div>
        <div class="arrow">
            <img src="../../../../assets/images/dashboard/arrow.svg" alt="">
        </div>

    </div>
    
</div>
