@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_typography.scss';


.rating-box {

    .img-container {
        width: 46px;
        height: 46px;
        border-radius: 12px;
        overflow: hidden;
        
    }

    .arrow {
        margin: auto;
    }

    .student-name {
        color: $user-color;
        font: normal normal bold 15px/18px Almarai-Bold;
    }
    
    .ratig {
        color: $icon_input;
        font: normal normal bold 24px/16px Almarai-Bold;
        margin: 2px 0;
    }

    .rting-text {
        font: normal normal normal 10px/16px Almarai-Regular;
        letter-spacing: 0px;
        color: $box-color2;
        margin: 2px 0;
    }
    
}

.rating-details:lang(en) { 
    text-align: left;
    margin: 0 1rem;
}

.rating-details:lang(ar) { 
    text-align: right;
    margin: 0 1rem;
}
.pacman {
    width: 0px;
    height: 0px;
    margin: auto 0;
    padding: 0 .8rem;
    color: $white;
    position: relative;

    div {
        position: absolute;
        margin: auto;
        top: -10px;
        font-weight: bolder;
    }
  }

  .pacman:lang(ar){
    border-right: 20px solid transparent;
    border-top: 20px solid $user-color;
    border-left: 20px solid $user-color;
    border-bottom: 20px solid $user-color;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px;
  }

  .pacman:lang(en){
    border-left: 20px solid transparent;
    border-top: 20px solid $user-color;
    border-right: 20px solid $user-color;
    border-bottom: 20px solid $user-color;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
  }
   