<div class="col-md-12">
  <p class="title">{{ "Role_Management.ROLES" | translate }}</p>
  <div class="col-md-12 max_h">
    <div class="row">
      <app-role class="role" [listRoles]="listRoles" [selectedRoles]="selectedRoles"></app-role>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button type="button" class="cancel-btn" (click)="cancel()">
        {{ "QUESTION_BANK.CANCEL" | translate }}
      </button>
    </div>
    <div class="col-md-2">
      <button (click)="saveData()" class="save-btn">
        {{ "QUESTION_BANK.SAVE" | translate }}
      </button>
    </div>
    <!-- {{selectedRoleId | json}} -->
  </div>
</div>