
<div class="details_day" >
    <div class="head_groupName  d-flex  align-items-center justify-content-between " >
    <P  class="mx-2">المجموعات</P>
  </div>

<div class="head_btn_add  d-flex  align-items-center justify-content-end " >
<button class="cancel-btn" (click)="addNewGroup()">إضافة مجموعة جديدة</button>
</div>
<div class="row"> 
<div class="col-12 mt-3" >
 

    <app-search-input 
    (searchTerm)=filterByText($event)
    [searchKey]='this.groupExplanationsTeacherViewRequest.name || ""'
    ></app-search-input>
</div>
</div>

<!-- <div class="row mx-0 "> -->
<div class="chat_details w-100">
<div class=" w-100">
<ng-container *ngFor="let item of responseList; let i = index"  >
    <div class="cardRecourd  d-flex justify-content-between mb-3" >
        <a  (click)="sendIdForDetailsGroupExplanation(item.id)"
        class="group_name  d-flex pb-0  align-items-center justify-content-between">
            <img class="img_user" src="../../../../../../assets/images/group.svg">
            
            <div>
            <p class="ellipsis group_name mb-0 " >
            {{ translate.currentLang === langEnum.en ? item?.nameEn : item?.nameAr }}</p>
            <p class="message_date mb-0 px-2">{{item.date}} </p>      
                
            </div>

        </a>
        <div class="d-flex">
            <a> <img  class="vedio mx-2" src="../../../../assets/images/request/vedio.svg"></a>
            <a> <img  class="call mx-2"  src="../../../../assets/images/request/call.svg"></a>
          </div>
        </div>
</ng-container>
</div>
<!-- </div> -->
</div>
</div>
