<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-stu-tab-request (itemStuReq)="openRejectRequest($event)"></app-stu-tab-request>
        </div>
    </div>
    <div class="overlay" *ngIf="openStuRejectOverlay">
            <app-stu-rejected [itemStuReq]='itemStuReq' (closeRejectedRequest)="closeRejectedRequest()"></app-stu-rejected>
    </div>
    
</div>

<div class="showoverlay" (click)="closeOverlay()" [ngClass]="{'disableBlock': openStuRejectOverlay }"></div>
