@import '../../../../../../../../src/assets/scss/buttons';
.DataForm{
  .UpdateUser__Label{
      color: $user-color;
      border-width: 70%;
      border-bottom: aliceblue;
      font-family:Almarai-Bold ;
      font-size: 1.25rem;
  }
  .Catogry_Icon_Add{
    align-self: center;  
    margin-right: 0.3rem;
    margin-left: 0.3rem;
   }
  .UpdateUser__Options{
      width: 100%; height: 35px;
      border-radius: 0.65rem;
      border-color: $gray-300;
  }
  
  // Label{
  //     font-family:Almarai-Regular;
  //     font-size: 0.875rem;
  //     color: #3A3A3A;
  // }

  .badge {
      white-space: normal !important; 
 }
 .wrapper_addTime
 {
  border: #fff;
  background: #fff;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-radius: 10px;
 }
}

.head{
  font-size: 1.25rem;
  color:#3A3A3A;
  font-family: Almarai-Bold;
}
.label{
  width: 100%;
  color: #3A3A3A;
  font-family: Almarai-Bold;
  font-size: 0.875rem;
}
.data_input{
  font-family: Almarai-Bold;
  color: #CB9118;
  font-size: 0.875rem;
}
.data_label{
  width: 100%;
  color: #8D8D8D;
  font-family: Almarai-Bold;

  font-size: 0.875rem;
}

.alert{
  margin: 0 !important;
  padding: 0;
  font-size: 12px;
}
.title_add{
  font-size: 20px;
  padding-top: 10%;
  padding-bottom: 15px;
}
.DataForm{
  height: 70vh;
}
.label,.data_label{
  &:lang(ar){
    text-align: right;
  }
  &:lang(en){
    text-align: left;
  }}
.save-btn, .cancel-btn{
  height: 2.31rem;
  margin: 1rem;

}
.DataForm{
  &:lang(ar){
    text-align: right !important;
  }
  &:lang(en){
    text-align: left !important;
  }
}
