<form class="form-group DataForm mt-3 pl-3 pr-3">
  <h3 class=" head  bold">{{ "TEACHER_APPOINTMENT.MODIFY_APPOINTMENT" | translate }} </h3>
  <div class="form-group">
      <div class="row wrapper_addTime">
        <div class=" col-md-4 col-sm-2 col-xs-12 mt-3">
          <label class="Register__Label" for="availabilityDays">
            {{ 'UPDATE_TEACHER_PG.DAY_AND_TIME' | translate }}
          </label>

          <select [(ngModel)]="availabilityDaysModel.id"
          [ngModelOptions]="{standalone: true}" class="UpdateUser__Options" name="nameEn">
            <option [ngValue]="null"  disabled selected>{{ 'UPDATE_TEACHER_PG.SELECT_DAY' | translate }}</option>

            <option *ngFor="let interviewDayItem of collectionOfLookup.DAYS"
                    [value]="interviewDayItem.id">
              {{ translate.currentLang == langEnum.en ? interviewDayItem.nameEn : interviewDayItem.nameAr}}
            </option>
          </select>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mt-3">
          <label class="Register__Label" for="fromDayTimeinterview">
            {{ 'UPDATE_TEACHER_PG.FROM' | translate }}
          </label>

          <div  class="UpdateUser__Options form-group mb-0">
            <input matInput type="time" class="form-control" placeholder="HH:MM" id="end_time_hour" [(ngModel)]="availabilityDaysModel.fromTime"
            [ngModelOptions]="{standalone: true}">
           
          </div>

        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mt-3">
          <label class="Register__Label" for="toDayTimeinterview">
            {{ 'UPDATE_TEACHER_PG.TO' | translate }}
          </label>
          <div  class="UpdateUser__Options form-group mb-0">
            
            <input matInput type="time" class="form-control" placeholder="HH:MM" id="end_time1_hour" [(ngModel)]="availabilityDaysModel.toTime"
            [ngModelOptions]="{standalone: true}">
          
          </div>


        </div>

        <div class="col-2 align-self-end">
          <label class="Register__Label invisible " > {{ 'UPDATE_TEACHER_PG.ADD' | translate }} </label>

          <button  type="button" class="saveButton btn" (click)="addAvailabilityDays()"> 
            <img  src="../../../../../../assets/images/add.svg" class=" cursor-pointer Catogry_Icon_Add">
          </button>
        </div>

      </div>

     

      <div class="col-12">
        <div class="badges mt-3 ">
                                    <span *ngFor="let availabilityDay of selectedAvailabilityDaysList" class=" col-5 badge badge-info p-2">
                                      <span>
                                        {{  translate.currentLang === langEnum.en ? availabilityDay?.nameEn : availabilityDay?.nameAr }} <span>&nbsp; </span>
                                      </span>
                                        <span *ngIf="translate.currentLang === langEnum.en">
                                            From {{ availabilityDay.fromTime }} To {{ availabilityDay.toTime }}
                                        </span>
                                        <span *ngIf="translate.currentLang === langEnum.ar">
                                            من {{ availabilityDay.fromTime }} الي {{ availabilityDay.toTime }}
                                        </span>
                                        <a (click)="removeItemFromSelectedAvailabilityDays(availabilityDay)"><i class="fas fa-times-circle"></i></a>
                                    </span>
        </div>
      </div>

    <section class="mt-5">
      <div  class="row direction-rtl buttons-center mt-5">
        <button  (click)='saveRejectRequest()' type="submit" class="save-btn">
          {{ "GENERAL.SAVE" | translate }}
        </button>
        <button   (click)='closeRejectRequest()' type="reset" class="cancel-btn">
          {{ "GENERAL.CANCEL" | translate }}
        </button>
      </div>
    </section>


  </div>



</form>
