.files-conainer {
    display: flex;

    li:lang(ar) {
        margin-right: 1rem;
    }
    li:lang(en) {
        margin-left: 1rem;
    }
}
.material-form{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #FBFBFB;
    opacity: 1;
    text-align: right;
    padding: 1rem;
    padding-top: 3rem;   
}
.custom-file{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px dashed #DFDFDF;
    border-radius: 12px;
    opacity: 1;
    height: 100px;
    width: 90%;
    margin:2rem;
    padding: 2rem;
    text-align: center;
    &__text{
        color: var(--unnamed-color-3a3a3a);
        font: normal normal bold 18px/28px Almarai;
        letter-spacing: -0.26px;
        color: #3A3A3A;
        opacity: 0.5;
    }
}
label{
    
        text-align: right;
          font-family: Almarai-Bold;
          font-size: 1rem;
          letter-spacing: 0px;
          color: #3A3A3A;
          opacity: 1;
      

}

.save-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background: #8E2520 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    width: 5rem;
    margin: 1rem;
    padding: 0.5rem;
    height: 2.31rem;
    border: none;
    color: #ffffff;
    display: block;
}

.cancel-btn {
    background: var(--unnamed-color-cb9118) 0% 0% no-repeat padding-box;
    background: #CB9118 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 12px;
    width: 5rem;
    padding: .5rem;
    border: none;
    color: #172B4D;
    display: block;
    height: 2.31rem;
    margin: 1rem;

}


