<form class="form-group material-form" [formGroup]="currentForm" (submit)="Submit()">
    <div class="form-group">
        <label for="programs"> {{'SCIENTIFIC_MATERIAL.PROGRAMS' | translate}}</label>
        <div class="d-flex">
            <div class="input-group">
                <select multiple class="form-control" formControlName="programMatrial" name="formControlName"
                    (change)="selectProgram($event)">
                    <option value="">{{'SCIENTIFIC_MATERIAL.SELECTOPTION' | translate}}</option>
                    <option *ngFor="let item of programs" value="{{item.id}}">
                        {{translate.currentLang === LangEnum.en ? item.engName : item.arabName}}
                    </option>

                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">{{'SCIENTIFIC_MATERIAL.CATEGORY' | translate}}</label>

        <div class="d-flex">
            <div class="input-group">
                <select class="form-control" formControlName="matrialCategory" name="matrialCategory">
                    <option value="">{{'SCIENTIFIC_MATERIAL.SELECTOPTION' | translate}}</option>
                    <option *ngFor="let item of materialCategoriesLookup" value="{{item.id}}">
                        {{translate.currentLang === LangEnum.en ? item.nameEn: item.nameAr}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="matrialTitleAr">{{'SCIENTIFIC_MATERIAL.TITLEAR' | translate}}</label>
        <input type="text" class="form-control" formControlName="matrialTitleAr" id="matrialTitleAr">
    </div>
    <div class="form-group">
        <label for="matrialTitleEn">{{'SCIENTIFIC_MATERIAL.TITLEEN' | translate}}</label>
        <input type="text" class="form-control" formControlName="matrialTitleEn" id="matrialTitleEn">
    </div>

    <div class="custom-file">
        <label class="custom-file__text">{{'SCIENTIFIC_MATERIAL.CHOOSEFILE' | translate}}</label>
        <input type="file" class="custom-file-input" multiple id="importFile"
            (change)="onFileChange($any($event.target).files)">
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <ul class="files-conainer">
                <li *ngFor="let item of fileList;let i=index">
                    <button (click)="DeleteAttachment(i,item.id)">delete</button>
                    <a class="card" href="{{item.url}}" target="_blank">
                        <div class="pdf">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="text-center fileName">
                            <p
                                style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;margin-left: 10px;margin-right: 10px;">
                                {{item.fileName}}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <label class="control-label" for="availableForAllUsers">{{'SCIENTIFIC_MATERIAL.MATERIALAVAILABILITY' |
        translate}}</label>
    <div class="form-group">    
        <div class="form-check form-check-inline m-2">
            <input class="form-check-input" type="radio" formControlName="availableForAllUsers" id="1" [value]=true>
            <label class="form-check-label" for="1">{{'SCIENTIFIC_MATERIAL.ALL' | translate}}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="availableForAllUsers" id="2" [value]=false>
            <label class="form-check-label" for="2">{{'SCIENTIFIC_MATERIAL.SELECTEDPROGRAMS' | translate}}</label>
        </div>
    </div>
    <label for="availableForAllUsers">{{'SCIENTIFIC_MATERIAL.ACTIVATION' | translate}} </label>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="active" id="1" [value]=true>
            <label class="form-check-label" for="1">{{'SCIENTIFIC_MATERIAL.ACTIVE' | translate}}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="active" id="2" [value]=false>
            <label class="form-check-label" for="2">{{'SCIENTIFIC_MATERIAL.INACTIVE' | translate}}</label>
        </div>
    </div>


    <section>
        <div class="row direction-rtl">
                    <button class="save-btn" type="submit" [disabled]="disableSaveButtons">
                        {{'SCIENTIFIC_MATERIAL.SAVE' | translate}}
                    </button>
                    <button type="reset" class="cancel-btn" [disabled]="disableSaveButtons"  (click)="loadScientificMaterialDetails(null)">
                        {{'SCIENTIFIC_MATERIAL.CANCEL' | translate }}
                </button>
                
            <div *ngIf="successMessage" class="alert alert-success">
                {{successMessage.message}}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage.message}}
            </div>
        </div>

    </section>

</form>