.files-conainer {
    display: flex;

    li:lang(ar) {
        margin-right: 1rem;
    }
    li:lang(en) {
        margin-left: 1rem;
    }
}
.material-form{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #FBFBFB;
    opacity: 1;
    padding: 1rem;
    padding-top: 3rem;   
}
.fa-angle-down{
    display: none;
}
.material-form:lang(ar){
    text-align: right;
}

.material-form:lang(en){
    text-align: left;
}

.justify-content-between {
    justify-content: space-between !important;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

// .overlay a {
//     // padding: 0px 0px 0px 0px;
//     // /* text-decoration: none; */
//     // font-size: 18px;
//     // transition: 5s;
//     // margin-bottom: 10px;
//     // margin-top: 0px;
// }

.custom-file{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px dashed #DFDFDF;
    border-radius: 12px;
    opacity: 1;
    height: 100px;
    width: 90%;
    margin:2rem;
    padding: 2rem;
    text-align: center;
    &__text{
        color: var(--unnamed-color-3a3a3a);
        font: normal normal bold 18px/28px Almarai;
        letter-spacing: -0.26px;
        color: #3A3A3A;
        opacity: 0.5;
    }
}
label{
    
        text-align: right;
          font-family: Almarai-Bold;
          font-size: 1rem;
          letter-spacing: 0px;
          color: #3A3A3A;
          opacity: 1;
}

.save-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background: #8E2520 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    width: 5rem;
    margin: 1rem;
    padding: 0.5rem;
    height: 2.31rem;
    border: none;
    color: #ffffff;
    display: block;
}

.cancel-btn {
    background: var(--unnamed-color-cb9118) 0% 0% no-repeat padding-box;
    background: #CB9118 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 12px;
    width: 5rem;
    padding: .5rem;
    border: none;
    color: #172B4D;
    display: block;
    height: 2.31rem;
    margin: 1rem;

}


// input with +
.input-group:not(.has-validation)>.form-control:not(:last-child) {
    border-top-right-radius: 0.65rem;
    border-bottom-right-radius: 0.65rem;
}


.badges {
    
    .badge-info {
        // margin-bottom: 30px;
        // margin-top: 0px;  
        margin-left: 0.2rem;    
      a {
        color: inherit;
        // margin-top: -5px;
        font-size: 18px;
        // margin-left: -30px;
  
      }
    }
  }
  