@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_typography.scss';

.khatmeen-students {
    background: $user-color 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px $box-shadow;
    opacity: 1;
    padding: 25px;
    color: $white;
    font: normal normal normal 24px/32px Almarai-Regular;
    width: 266px;

    .khatmeen-numbers {
        margin: auto;
    }

    .khatmeen-text:lang(en) {
        text-align: left;
    }

    .khatmeen-text:lang(ar) {
        text-align: right;
    }

    
    .khatmeen-numbers:lang(en) {
        text-align: right;
    }

    .khatmeen-numbers:lang(ar) {
        text-align: left;
    }
}

.khatmeen-students:lang(ar) {
    border-radius: 60px 12px 12px 60px;
}

.khatmeen-students:lang(en) {
    border-radius: 12px 60px 60px 12px;
}