<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <app-programs-list (selectedProgram)='selectedProgramCallBack($event)'></app-programs-list>
            <!-- <app-view-all-content-management-type (selectedcmsTypeId)="setSelectedCmsType($event)"></app-view-all-content-management-type> -->
        </div>
        <div class="col-lg-9  col-md-9 col-sm-12 ">
            <!-- <app-content-management-system [selectedcmsTypeId]="selectedcmsTypeId">
            </app-content-management-system> -->
       <!-- <app-programs-type></app-programs-type> -->
            <!-- <programs-tabs></programs-tabs> -->
            <app-programs-tabs *ngIf="programModel" [programModel]='programModel' (refreshProgListEvent)='refreshProgList()'></app-programs-tabs>
          <div class="row mt-30 width-100" *ngIf="!programModel"></div>
          <div class="col-12 text-center mt-30">{{ 'VIEW_PROGRAMS_BASIC_INFO.NOProgramFound' | translate }}</div>
        </div>

    </div>

</div>
