.card_stu_program{
       &:lang(ar){
        text-align: right;
        }
        &:lang(en){
        text-align: left;
        }
    border: 1px solid #ffff;
    border-radius: 20px;
    box-shadow: 0px 3px 15px #0000001A;
    color: #3A0303;
    font-family: Almarai-Regular;
    padding: 1.5rem 1rem 1rem ;
    
    &__name{
        color: #3A0303;
        font-family: Almarai-Bold;
        font-size: 18px;
    }
    &__timer_contDown{
        color: #3A3A3A;
        font-family: Almarai-Bold;
        font-size: 1.0625rem;
        background-color: #F4F5F7;
        border-radius: 0.5rem;
        text-align: center;
        padding: 0.3rem;
    }
    &__count{
    color: #C1C7D0;
    font-family: Almarai-Bold;
    font-size: 0.625rem;
        
    }
    &__Day_tasks{
        padding: 0.5rem;
        text-align: center;
        color: #3A3A3A;
        font-family: Almarai-Bold;
        font-size: 0.6875rem;
        border: 1px solid #F4F5F7;
        background-color: #F4F5F7;
        border-radius: 0.875rem;
        width: 100%;

    }
    &__bookIcon{
        width: 2rem;
        height: 2rem;
        margin: 0.3rem;
        
    }
}