<div class="list-group list-group_program-list">
    <div class="d-flex justify-content-between">
        <p class="mb-4 head">  {{ 'PROGRAM_DAY_TASKS.DAILY_HOMEWORK' | translate }}</p>
    </div>
  <div class="internal_scroll_list_group programDays" >
      <ng-container *ngFor='let item of studentProgramDutiesList  ; let i = index' >
      <a  class="list-group-item  d-flex align-items-center"  (click)='onDayClick(item); defaultSelectedDay = i'
      [class.active]="defaultSelectedDay === i">
          <span class="py-1">{{ 'PROGRAM_DAY_TASKS.DAY' | translate }}-{{item.dayNum}}</span>
      </a>
    </ng-container>


  </div>
  
  </div>
