<div class="row scientific-problem-grid" >
    <div class="col-12 d-flex justify-content-start">
      <ngb-pagination
      [maxSize]="3"
        [collectionSize]="totalCount"
        [(page)]="filterAvailableStudent.page"
        [pageSize]="filterAvailableStudent.take"
        [rotate]="true" [boundaryLinks]="true"
        (pageChange)="onPageChange()">
      </ngb-pagination>
  
     
    </div>
    
    
  </div>

  
<mat-grid-list cols="2" rowHeight="180px">
   
      <mat-grid-tile *ngFor='let item of availableStudentResponseList' >
        <app-get-all-available-student-card
         [availableStudentResponseModel]='item'
        >
         <!-- (studentVacationId)="getStudentVacationId($event)" -->
        </app-get-all-available-student-card>
      </mat-grid-tile>
  
  </mat-grid-list>
