.Question{
 top: -1px;
left: 0px;
width: 300px;
height: 1080px;
background: #FBFBFB 0% 0% no-repeat padding-box;
border: 1px solid #FBFBFB;
opacity: 1;
}

.Question_Span_Add{
 top: 5px;
left: 180px;
width: 110px;
height: 31px;
text-align: right;
font: normal normal bold 20px/34px Almarai;
letter-spacing: 0px;
color: #3A3A3A;
opacity: 1;
}