<div class="Question">
  <sup class="Question_Span_Add">{{ 'QUESTION_BANK.Add_Question' | translate }}</sup>
  <form class="form-group" [formGroup]="currentForm" (submit)="Submit()">
    <!-- <div class="form-group">
       
        <select class="form-select">
            <option selected>select catogry</option>
            <option value="1">One</option>
           
            
          </select>
    </div> -->
    
    <div class="form-group">
        <label for="comment">{{ 'QUESTION_BANK.Question_Ar' | translate }}</label>
        <textarea class="form-control" cols="2" rows="5" id="InputQuestioAr" formControlName="QuestioAr"></textarea>
      </div>
      <div class="form-group">
        <label for="comment">{{ 'QUESTION_BANK.Question_En' | translate }}</label>
        <textarea class="form-control" cols="2" rows="5" id="InputQuestionEn" formControlName="QuestionEn"></textarea>
      </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">{{ 'QUESTION_BANK.Answer_Ar' | translate }}</label>
        <textarea class="form-control rounded-0" rows="10" id="InputAnswerAr" formControlName="AnswerAr"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">{{ 'QUESTION_BANK.Answer_En' | translate }}</label>
        <textarea class="form-control rounded-0" rows="10" id="InputAnswerEn" formControlName="AnswerEn"></textarea>
      </div>
      
      
    
    <button type="submit" class="btn btn-danger" [disabled]="disableSaveButtons">{{'QUESTION_BANK.Publish' | translate}}</button>
    <button type="button" class="btn btn-warning">{{'QUESTION_BANK.Back' | translate}}</button>
    <div *ngIf="resultMessage?.type==='success'" class="alert alert-success">
      {{resultMessage.message}}
  </div>
  <div *ngIf="resultMessage.type==='danger'" class="alert alert-danger">
    {{resultMessage.message}}
  </div>
  </form>
</div>

