
  <!-- <sup class="Question_Span_Add">{{ 'QUESTION_BANK.ADD_QUESTION' | translate }}</sup> -->
  <form class="form-group material-form" [formGroup]="currentForm" (submit)="Submit()">
    <!-- <div class="form-group">
       
        <select class="form-select">
            <option selected>select catogry</option>
            <option value="1">One</option>
           
            
          </select>
    </div> -->
    
    <div class="form-group">
        <label for="comment">{{ 'QUESTION_BANK.QUESTION_AR' | translate }}</label>
        <textarea class="form-control" cols="2" rows="5" id="InputQuestioAr" formControlName="QuestioAr"  maxlength="50"
        [ngClass]="{'red-border-class': f.QuestioAr.errors && ( f.QuestioAr.touched || isSubmit)}"></textarea>
        <div *ngIf="f.QuestioAr.errors && (f.QuestioAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
          <div *ngIf="f.QuestioAr.errors.required">
              {{"QUESTION_BANK.REQUIRED"|translate}}
          </div>
          <div *ngIf="f.QuestioAr.errors.pattern">
              {{ 'QUESTION_BANK.ARABIC_FIELD' | translate }}
           </div>
      </div>
      </div>
      <div class="form-group">
        <label for="comment">{{ 'QUESTION_BANK.QUESTION_EN' | translate }}</label>
        <textarea class="form-control" cols="2" rows="5" id="InputQuestionEn" formControlName="QuestionEn"  maxlength="50"
        [ngClass]="{'red-border-class': f.QuestionEn.errors && ( f.QuestionEn.touched || isSubmit)}"></textarea>
        <div *ngIf="f.QuestionEn.errors && (f.QuestionEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
          <div *ngIf="f.QuestionEn.errors.required">
              {{"QUESTION_BANK.REQUIRED"|translate}}
          </div>
          <div *ngIf="f.QuestionEn.errors.pattern">
              {{ 'QUESTION_BANK.ENGLISH_FIELD' | translate }}
           </div>
      </div>
      </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">{{ 'QUESTION_BANK.ANSWER_AR' | translate }}</label>
        <textarea class="form-control rounded-0" rows="10" id="InputAnswerAr" formControlName="AnswerAr" maxlength="500"
        [ngClass]="{'red-border-class': f.QuestionEn.errors && ( f.QuestionEn.touched || isSubmit)}"></textarea>
        <div *ngIf="f.AnswerAr.errors && (f.AnswerAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
          <div *ngIf="f.AnswerAr.errors.required">
              {{"QUESTION_BANK.REQUIRED"|translate}}
          </div>
          <div *ngIf="f.AnswerAr.errors.pattern">
              {{ 'QUESTION_BANK.ARABIC_FIELD' | translate }}
           </div>
      </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">{{ 'QUESTION_BANK.ANSWER_EN' | translate }}</label>
        <textarea class="form-control rounded-0" rows="10" id="InputAnswerEn" formControlName="AnswerEn" maxlength="500"
        [ngClass]="{'red-border-class': f.QuestionEn.errors && ( f.QuestionEn.touched || isSubmit)}"></textarea>
        <div *ngIf="f.AnswerEn.errors && (f.AnswerEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
          <div *ngIf="f.AnswerEn.errors.required">
              {{"QUESTION_BANK.REQUIRED"|translate}}
          </div>
          <div *ngIf="f.AnswerEn.errors.pattern">
              {{ 'QUESTION_BANK.ENGLISH_FIELD' | translate }}
           </div>
      </div>
      </div>
    <section>
      <div class="row">
          <button class="save-btn btn btn-danger" type="submit" [disabled]="disableSaveButtons">
            {{'QUESTION_BANK.SAVE' | translate}}
          </button>
      <button type="button" class="cancel-btn btn btn-warning" (click)="backListQuestio()">{{'QUESTION_BANK.CANCEL' | translate}}</button>
          <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2">
            {{resultMessage.message}}
        </div>
      </div>

  </section>
   
  </form>


