
.material-form{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #FBFBFB;
    opacity: 1;
    text-align: right;
    padding: 3rem;
}
label{
    color: var(--unnamed-color-3a3a3a);
    text-align: right;
    font: normal normal bold 14px/22px Almarai;
    letter-spacing: -0.2px;
    color: #3A3A3A;
    opacity: 1;
}
.save-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background: #8E2520 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    width: 10rem;
    margin: 5rem;
}
