<div class="list-group list-group_program-list">
  <div class="d-flex align-items-center mb-4 justify-content-between">
    <p class="m-0">{{'PROGRAMS_LIST.PROGRAMS' | translate}}</p>
    <button class="cancel-btn" (click)="showOverlay()">{{'PROGRAMS_LIST.ADD_PROGRAM' | translate}}</button>
  </div>

  <app-search-input ></app-search-input>
  <div class="internal_scroll_list_group">


    <a class="list-group-item  d-flex" *ngFor="let program  of count; let i = index"
       [class.active]="selectedIndex === i"
       >

      <span>{{'PROGRAMS_LIST.PROGRAM_NAME' | translate}}</span>
      <!-- <span>{{ translate.currentLang === langEnum.en ? program.engName : program.arabName}}</span>                 -->

    </a>


  </div>
  <div *ngIf="resMessage.message" class="alert alert-{{ resMessage.type }} my-4 py-2">
    {{ resMessage.message }}
  </div>
</div>
