
  <div class="row scientific-problem-grid"  >
  
    <div class="col-9 d-flex justify-content-start">
            <ngb-pagination 
            [maxSize]="3"
            [collectionSize]="totalCount"
            [(page)]="teacherDropOutRequestFilterRequestModel.page" 
            [pageSize]="teacherDropOutRequestFilterRequestModel.take"
            [rotate]="true"
            [boundaryLinks]="true" 
            (pageChange)="onTeacherPageChange()">
            </ngb-pagination>
      <button  [ngClass]="{'default_btn': teacherDropOutRequestFilterRequestModel.sortField != 'teacherNameAr' && teacherDropOutRequestFilterRequestModel.sortField != 'TeacherNameEn', 'asend_desend_btn' : this.teacherDropOutRequestFilterRequestModel.sortField != 'requestdate' }"
      (click)='sortTeacherByName()' *ngIf='userRoleMode.Admin === userMode'>
      {{'User_Requests.SORT_NAME' | translate}} 
          <span *ngIf='this.teacherDropOutRequestFilterRequestModel.sortField != "teacherNameAr" && this.teacherDropOutRequestFilterRequestModel.sortField != "TeacherNameEn"'>
                  <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span> 
          <span *ngIf='sortTeacherByNameOrderType() == "asend"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span> 
          <span *ngIf='sortTeacherByNameOrderType() == "desend"'>
              <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span>
      </button>
      <button  [ngClass]="{'asend_desend_btn': teacherDropOutRequestFilterRequestModel.sortField != 'teacherNameAr' && teacherDropOutRequestFilterRequestModel.sortField != 'TeacherNameEn', 'default_btn' : this.teacherDropOutRequestFilterRequestModel.sortField != 'requestdate'}"
      (click)='sortTeacherRequestDate()' *ngIf='userRoleMode.Admin === userMode'> 
       {{'User_Requests.SORT_DATE' | translate}}
       
          <span *ngIf='this.teacherDropOutRequestFilterRequestModel.sortField != "requestdate"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span>
          <span *ngIf='sortTeacherRequestDateOrderType() == "asend"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span> 
          <span *ngIf='sortTeacherRequestDateOrderType() == "desend"'>
              <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span>
       </button>


       <button  [ngClass]="{'default_btn': teacherDropOutRequestFilterRequestModel.sortField != 'batchNameAr' && teacherDropOutRequestFilterRequestModel.sortField != 'BatchNameEn', 'asend_desend_btn' : this.teacherDropOutRequestFilterRequestModel.sortField != 'requestdate' }"
      (click)='sortBatchByName()' *ngIf='userRoleMode.Teacher === userMode'>
      {{'User_Requests.SORT_NAME' | translate}} 
          <span *ngIf='this.teacherDropOutRequestFilterRequestModel.sortField != "teacherNameAr" && this.teacherDropOutRequestFilterRequestModel.sortField != "TeacherNameEn"'>
                  <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span> 
          <span *ngIf='sortBatchByNameOrderType() == "asend"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span> 
          <span *ngIf='sortBatchByNameOrderType() == "desend"'>
              <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span>
      </button>
      <button  [ngClass]="{'asend_desend_btn': teacherDropOutRequestFilterRequestModel.sortField != 'batchNameAr' && teacherDropOutRequestFilterRequestModel.sortField != 'BatchNameEn', 'default_btn' : this.teacherDropOutRequestFilterRequestModel.sortField != 'requestdate'}"
      (click)='sortTeacherRequestDate()' *ngIf='userRoleMode.Teacher === userMode'> 
       {{'User_Requests.SORT_DATE' | translate}}
       
          <span *ngIf='this.teacherDropOutRequestFilterRequestModel.sortField != "requestdate"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span>
          <span *ngIf='sortTeacherRequestDateOrderType() == "asend"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span> 
          <span *ngIf='sortTeacherRequestDateOrderType() == "desend"'>
              <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span>
       </button>
      </div> 
       <div class="col-3 pl-4 text-right align-self-center"  *ngIf='userRoleMode.Admin === userMode && teacherDropOutRequestStatus.Pending === typeEnum'>
          <mat-checkbox class="example-margin ml-1 mr-1 scProblem"
                    [checked]="allSelected"
                    [indeterminate]="someTeachertItemsChecked()"
                    (change)="setTeacherAllChecked($event.checked)"></mat-checkbox>

          <a class=" ml-2 mr-2" [class.disabled]='!enableTeacherSelectOperations()'
          [ngClass]="{'dimmed': typeDropOutRequestEnum === teacherTabTypeSelected.Accept ||  typeDropOutRequestEnum === teacherTabTypeSelected.Rejected}">
              <i (click)='acceptAllTeacherDropOutRequestCheckedEvent()' class="fa fa-check fa-lg "></i>
          </a>
          <a class=" ml-1 mr-1" [class.disabled]='!enableTeacherSelectOperations()'>
              <img  class="exportIcon" (click)='exportTeacherCSV()' 
              src="../../../../assets/images/sc-problem/exporticon.svg">
          </a>
       </div>
  </div>

  <mat-grid-list  cols="{{numberPerRow}}" rowHeight="3:3"  *ngIf='userRoleMode.Admin === userMode'>
    <ng-container >
        <mat-grid-tile *ngFor='let item of teacherDropOutRequestItems' >
         <app-teacher-drop-out-request-admin-card class="card" 
         [teacherDropOutRequestModel]='item' 
         (rejectTeacherDropOutRequest)="rejectTeacherDropOutRequestEvent($event)"
         (acceptTeacherDropOutRequest)="acceptTeacherDropOutRequestEvent($event)"
         [typeEnum]='typeEnum'
          (userIdEvent) = "userId($event)"
         ></app-teacher-drop-out-request-admin-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>

<mat-grid-list  cols="{{numberPerRow}}" rowHeight="3:3"  *ngIf='userRoleMode.Teacher === userMode'>
    <ng-container >
        <mat-grid-tile *ngFor='let item of teacherDropOutRequestTeacherViewItems' >
         <app-teacher-drop-out-request-teacher-card class="card" 
         [teacherDropOutRequestModel]='item' 
         (rejectTeacherDropOutRequest)="rejectTeacherDropOutRequestEvent($event)"
         (acceptTeacherDropOutRequest)="acceptTeacherDropOutRequestEvent($event)"
         (cancelRequestOfTeacher)="cancelRequestOfTeacherEvent($event)"
         [typeEnum]='typeEnum' 
         ></app-teacher-drop-out-request-teacher-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
