@import "../../../../../../../assets/scss/buttons";
.details{
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 19px;
  opacity: 1;
  padding: 2rem;
  height: 78vh;
  margin-top: 1rem;
  &__image{

  }
}
