<div class="details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <img src="../../../../assets/images/qor2an.png" class="derails__image">
      </div>
      <div class="col-9">
        <div class="d-flex align-items-center justify-content-end">
          <button class="user_tabs-btn"> <img src="../../../../assets/images/tab-trash.svg"> طرد من البرنامج</button>
          <div class="details__status">
            <span class="details__status--icon"></span>
            <h6 class="details__status--text">نشط</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
