@import '../../../../../../../../../src/assets/scss/_variables.scss';
@import '../../../../add-program/program-days/program-day-tasks/program-day-tasks.component.scss';
.group_header{
    margin-top: 1.5%;
    border-bottom:1px solid #CB9118;
    .item_group{
        cursor: pointer;
        background-color: #EBEBEB;
        font-size: .9rem;
        color: #828282;
        text-align: center;
        margin-left: 4px;
        padding: 10px 20px;
        border-radius: 10px 10px 0  0;
    }
    .item_group:lang(en){
        margin-left: 0 !important;
        margin-right: 4px !important;
    }
    .item_group_active{
        background-color: #CB9118;
        color: #FFFFFF;
    }
  
}
    .fix_margin{
        margin-left: 0 !important;
        margin-right: 0 !important;
    
    }
    .interTab
    {
        background-color: #FBFBFB;
        height: 80vh;
        border-radius: 0 0 0.5rem
    }

.list-group-item{
  padding: .75rem 1.25rem;
  margin-bottom: 0!important;
  span ,i{
    color: $user-color;
  }
  &:hover{
    span ,i{
      color: #fff;
    }
  }

}
.list-group_program-list{
  height: 37vh;
  overflow-y: auto;
  box-shadow: 0px 3px 15px #0000001A;
}
.teacher__title{
  text-align: right;
  font-weight: 600;
  color: $user-color;
  &:lang(en){
    text-align: left;
  }
}
