<div class="container-fluid ">
  <div class="row  fix_margin ">
    <div class="col-12">
      <div class="teacher list-group_program-list ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h3 class="bold teacher__title">{{"PROGRAM_BATCHES.TEACHERS" | translate}}</h3>
            </div>
            <ng-container class="" *ngIf="batchModel?.teacherBatchs">
            <div class="col-6"  *ngFor="let i of batchModel?.teacherBatchs">
                <a class="list-group-item d-flex">
                  <span> {{ translate.currentLang === langEnum.en ? i.teacherNameEn : i.teacherNameAr}}</span>

                </a>
            </div>
            </ng-container>
            <div class="no__data" *ngIf="!batchModel?.teacherBatchs || batchModel?.teacherBatchs?.length === 0">
                  <h3 class="no__data--text">
                    {{"PROGRAM_BATCHES.NO_TEACHERS" | translate}}
                  </h3>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12">
      <div class="teacher list-group_program-list ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h3 class="bold teacher__title">{{"PROGRAM_BATCHES.STUDENTS" | translate}}</h3>
            </div>
            <ng-container *ngIf="batchModel?.studentBatchs">
              <div class="col-6" *ngFor="let i of batchModel?.studentBatchs">
              <a class="list-group-item d-flex">
                <span>  {{ translate.currentLang === langEnum.en ? i.studentNameEn : i.studentNameAr}}</span>
              </a>
            </div>
            </ng-container>
            <div class="no__data" *ngIf="!batchModel?.studentBatchs || batchModel?.studentBatchs?.length === 0">
              <h3 class="no__data--text">
                {{"PROGRAM_BATCHES.NO_STUDENTS" | translate}}
              </h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
