
 .list-group_program-list{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 92%;
    margin-top: 1rem;
    margin-right: 1rem;
    .internal_scroll_list_group:lang(ar) {
        // background-color: antiquewhite;
                height: 470px;
                overflow-y: auto;
                padding-left: 0.5rem;
            }
            .internal_scroll_list_group:lang(en) {
                // background-color: antiquewhite;
                        height: 470px;
                        overflow-y: auto;
                        padding-right: 0.5rem;
                    }
}
.list-group_program-list > p{
    font-family: Almarai-Bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}
.list-group_program-list > p:lang(ar){
    text-align: right;}
.list-group_program-list
.list-group-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000000D;
    border-radius: 12px;
    letter-spacing: 0px;
    color: #828282;
    margin-bottom: 1rem;
    opacity: 1;
    margin-top: 1rem;
    font-family: Almarai-Bold;
    font-size: 1rem;
    justify-content: space-between;
        &.active ,&:hover {    
        background: #CB9118 0% 0% no-repeat padding-box;       
        box-shadow: 0px 0px 15px #31313173;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
    }

            
        .fa-trash-alt{
            color:#8E2520
        }

        &.active .fa-trash-alt
        ,&:hover .fa-trash-alt
        {
            color: #FFFFFF;
        }
       
} 
