
ul{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 90%;;
}

.list-group-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000000D;
    border-radius: 12px;
    text-align: right;
    font: normal normal bold 18px/34px Almarai;
    letter-spacing: 0px;
    color: #828282;
    margin: 1rem;
    opacity: 1;
        &.active{    
        background: #CB9118 0% 0% no-repeat padding-box;       
        box-shadow: 0px 0px 25px #00000073;
        color: #FFFFFF;
        opacity: 1;
    }
 

    }
    