
<div class="container-fluid tab_page">
  <div class="row fix_margin w-100 " >
    <div class="col-12 px-2 interTab mb-3 pt-3">
   <app-admin-drop-out-request-for-teacher-tab-and-student-tab-grid 
    [teacherDropOutRequestTeacherViewItems]='teacherDropOutRequestList' 
    [totalCount]='totalCount'
    [userMode]='userMode'
    (teacherDropOutRequestFilterEvent)="teacherDropOutRequestChangePage($event)"
    [teacherDropOutRequestFilterRequestModel]='teacherDropOutRequestFilterRequestModel'
    >
  </app-admin-drop-out-request-for-teacher-tab-and-student-tab-grid>
</div>
  </div>
</div>
<!-- 
<app-teacher-drop-out-request-admin-grid *ngIf='showTap == statusEnum.Pending && teacherDropOutRequestList.length > 0' 
  [teacherDropOutRequestItems]='teacherDropOutRequestList' 
  (acceptTeacherDropOutRequest)="acceptTeacherDropOutRequest($event)"
  (itemTeacherDropOutRequestForReject)="rejectTeacherDropOutRequestMethod($event)"
  [typeEnum]='statusEnum.Pending'
  [totalCount]='totalCount'
  [userMode]='userMode'
  (acceptAllTeacherDropOutRequestChecked)="acceptAllTeacherDropOutRequestChecked ()"
  [teacherDropOutRequestFilterRequestModel]='teacherDropOutRequestFilterRequestModel'
  (rejectTeacherDropOutRequest)='rejectTeacherDropOutRequestEvent($event)'
  (teacherDropOutRequestFilterEvent)='teacherDropOutRequestPendingChangePage($event)'
  (userIdInput)= "sendUserIDEvent($event)"
  >
</app-teacher-drop-out-request-admin-grid> -->