<!-- 

<div class="container-fluid UpdateUser" >
    <div class="row">
        <div class="box_container">
                <div class="col-12">
                    <div class=" row info_profile">
                        <div class="col-9  info_profile ">
                        <div class="row">
                                <div class="col-5"></div>
                                <div class="col-6  mt-4  mb-4  text-center align-items-center">

                                    <p class="update_item_profile-name"> {{ translate.currentLang === langEnum.en ? userProfileDetails?.fnameEn : userProfileDetails?.fnameAr }} {{ translate.currentLang === langEnum.en ? userProfileDetails?.mnameEn : userProfileDetails?.mnameAr }} {{ translate.currentLang === langEnum.en ? userProfileDetails?.faNameEn : userProfileDetails?.fanameAr }} </p>
                                       
                                </div>
                                <div class="col-12 internal_scroll">
                                    <div class="row">
                                        <div class="col-4  mb-3">
                                            <span class="label_info">{{ 'GENERAL.EMAIL' | translate }} </span>
                                            <span>  &nbsp; </span>
                                            <span>  &nbsp; </span>
                                            <span class="data_view">
                                                {{ userProfileDetails?.usrEmail }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>




 -->
