

<div class="details_day" >
    <div class="row">
        <div class="col-12 mt-3">
            <mat-checkbox  class="example-margin mx-2"   [(ngModel)]="allowed"  class="example-margin ">{{'GENERAL.MANDATORY'| translate}} </mat-checkbox>
        </div>
        
        <div class="col-12 mt-3" >
            <app-search-input (searchTerm)=filterByText($event)></app-search-input>
        </div>
    </div>
    
    <div class="row mx-0">
    
        <ng-container *ngFor="let participant of listOfUsers; let i = index"  >
            <div class="col-12 cardRecourd" >
                <p class="ellipsis mb-0 ">{{ translate.currentLang === langEnum.en ? participant?.name_en : participant?.name_ar }}</p>
                <img *ngIf='participant?.avatar_url === null' class="img_user" src="../../../../../assets/images/Profile.svg" >
                <img *ngIf='participant?.avatar_url != null' class="img_user" src="{{participant.avatar_url}}" >
            </div>
        </ng-container>
    </div>
</div>
    
