
@import '../../../../../../assets/scss/buttons';
@import '../../../../../modules/program/components/program-details/programs-tabs/days/days.component.scss';

.details_day{
    &:lang(en)
    {
        text-align: left;
    }
    &:lang(ar)
    {
        text-align: right;
    }
    background: #dcdee05e ;
    border-radius: 19px;
    opacity: 1;
    padding: 1.7rem;
  
    margin-top: 1rem;
    .head_groupName{
        color: #3A3A3A;
        font-size: 1.23rem;
        font-family:Almarai-Bold ;
         padding-bottom: 1rem;

    }
    .group_name{
        color: #8E2520;
        font-family: Almarai-Bold;
        font-size: 15px;
       }
    .chat_details{
        height: 51vh; 
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0.3rem;
    }
    .message_date{
        color: #C1C7D0;
        font-family: Almarai-Regular;
        font-size: 9px;
       
        
    }
    .ellipsis
    {
        width: 100%;
    }

   
        

    .cardRecourd{
   
        padding: 0.5rem ;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid #d6d7d8;
        border-radius: 0;
        margin: 0.2rem;
         box-shadow: none;
    }
 
    
  
}