

    <div  class="card">
    <div class="card_header">
      <img src="../../../../assets/images/feelings/ASH_9078.png">  
      <div class="data pl-3 pr-3">
        <p class="title">محمد محمد احمد</p>
        <p class="detlis">
        ؟وريم إيبسوم(Loفي صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ ال ؟
        </p>

      </div>
      <span class="date">17/3/1442</span>
    <div class="actions">
        <a > <img class="delete" src="../../../../assets/images/trash-2.svg"></a>
        <a > <img class="arrow"src="../../../../assets/images/feelings/leftArrow.svg"></a>

    </div>
    </div>
</div>
   

