.card{
    padding: 0.5rem;
    // width: 667px;
    // height: 103px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 12px;
    opacity: 1;
    .card_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &:lang(ar){
        text-align: right;
    }&:lang(en){
        text-align: left;
    }
    .actions_notNew{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    img{
        // top: 290px;
        // left: 1564px;
        // width: 58px;
        // height: 58px;
        // border-radius: 12px;
        // opacity: 1;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
    .proPic{
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .title{
        top: 286px;
        left: 1433px;
        // width: 120px;
        // height: 27px;
        color: var(--unnamed-color-8e2520);
        text-align: right;
        //font: normal normal bold 17px/20px Almarai;
        letter-spacing: 0px;
        color: #8E2520;
        opacity: 1;
    }
    .detlis{
       
        //font: normal normal normal 14px/20px Almarai;
      
        color: #3A3A3A;
        
    }
    .date{
        top: 292px;
        left: 1038px;
        // width: 41px;
        // height: 16px;
        color: var(--unnamed-color-3a3a3a);
        text-align: right;
        font: normal normal bold 10px/20px Almarai;
        letter-spacing: 0px;
        color: #3A3A3A;
        opacity: 1;
    }
    .dataInfo{
        flex-basis: 32rem;
    }
    
    .arrange
    {
            border-style: solid;
            border-width: 0;
            content: url('../../../../assets/images/feelings/arrange.svg') !important;
            display: inline-block;
            padding: 3px;
            transform: rotate(0);
            vertical-align: middle;
            margin-left: 0.23rem;
            margin-right: 0.23rem;
            width: 12px;
            height: 20px;
        }
  .actions {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        .delete
            {
                width: 13px;
                height: 16px;
                cursor: pointer;
            }

        .arrow{
                width: 10px;
                height: 8px;
                cursor: pointer;

            &:lang(en)
            {
                transform: rotate(180deg);
            }}
      }
}