/* my-loader.component.css */
.loading-spinner{    
    background-color:transparent;
    position: absolute;
    width: 100%;
    top: -5%;
    left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
}