
    <div class="row UserLogin">
        <div class="col-lg-6 col-md-6 col-sm-6 LoginBackground_left_img pl-0 pr-0  ">
            <div class="col-12  identity_img pl-0 pr-0 ">
            </div>
            <section class="row justify-content-center  ">
                <div class="box">
                    <form [formGroup]="resetpasswordform" (ngSubmit)="onApply(resetpasswordform.value)" class="form-group UserLogin__LoginForm">
                        <div class="content_form ">
                            <div class="col-lg-12 mb-4 mt-2">
                                <h1 class="font-weight-bold "> {{'RESETPASSWORD_PG.RESET_PASSWORD' | translate}} </h1> 
                            </div>
                                
                            <!-- Password -->      
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                                <label class="UserLogin__Label" for="password">{{'GENERAL.PASSWORD' | translate}}</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white pl-2 pr-2  border-md ">
                                            <!-- <i class="fa fa-lock text-muted"></i> -->
                                            <img   class="UserLogin_icon_input" src="../../../../../assets/images/password.svg">

                                        </span>
                                    </div>
                                    <input id="password" pPassword type="password" 
                                    [type]="hidePassword ? 'password' : 'text'" formControlName="password" name="password"
                                    placeholder="{{'GENERAL.PASSWORD' | translate}}"
                                    class="  px-1 form-control UserLogin__FormControl bg-white  border-md input-sm">
                                    
                                </div>
                                <div *ngIf="f.password.errors && (f.password.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.password.errors.required ">
                                        {{ 'GENERAL.PASSWORD_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="f.password.errors?.maxlength ">
                                        {{ 'GENERAL.PASSWORD_MAX_LENGTH' | translate}}
                                    </div>
                                    <div *ngIf="f.password.errors?.minlength ">
                                        {{ 'GENERAL.PASSWORD_MIN_LENGTH' | translate}}
                                    </div>      
                                </div>                              
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                                <label class="UserLogin__Label" for="confirmPassword">{{'GENERAL.CONFIRM_PASSWORD' | translate}}</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white pl-2 pr-2  border-md ">
                                            <!-- <i class="fa fa-lock text-muted"></i> -->
                                            <img   class="UserLogin_icon_input" src="../../../../../assets/images/password.svg">

                                        </span>
                                    </div>
                                    <input id="confirmPassword" pPassword type="password" 
                                    [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" name="confirmPassword"
                                    placeholder="{{'GENERAL.CONFIRM_PASSWORD' | translate}}"
                                    class="  px-1 form-control UserLogin__FormControl bg-white  border-md input-sm">
                                    
                                </div>          
                                <div *ngIf="f.confirmPassword.errors && (f.confirmPassword.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.confirmPassword.errors.required ">
                                        {{ 'GENERAL.CONFIRM_PASSWORD_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="f.confirmPassword.errors?.maxlength ">
                                        {{ 'GENERAL.CONFIRM_PASSWORD_MAX_LENGTH' | translate}}
                                    </div>
                                    <div *ngIf="f.confirmPassword.errors?.minlength ">
                                        {{ 'GENERAL.CONFIRM_PASSWORD_MIN_LENGTH' | translate}}
                                    </div>      
                                </div>                   
                            </div>
                
                            <!-- Submit Button -->
                            <div class="form-group col-lg-12 mx-auto mb-0">
                                <button type="submit" class="btn UserLogin__Submit" > {{'GENERAL.SAVE' | translate}} </button>
                            </div> 

                            <div *ngIf="resMessage" class="alert alert-{{ resMessage.type }} my-4 py-2">
                                {{ resMessage.message }}
                              </div>
                        </div>
                        
                        <div class="footer_form ">
                            <hr>
                            <p class="footer_form_p mb-0 text-center mb-3"> {{'LOGIN_PG.SOICAL_LOGIN' | translate}} </p>
                            <!-- <div class="d-flex mb-3"> -->
                            <div>
                                <ul class="list-inline ml-5 mr-5 UserLogin__SocialMedia">
                                    <li class="list-inline-item"> <img src="../../../../../assets/images/facebook.svg"></li>
                                    <li class="list-inline-item"><img src="../../../../../assets/images/twiiter.svg"></li>
                                    <li class="list-inline-item"><img src="../../../../../assets/images/gmail.svg"></li>
                                </ul>
                            </div>                    
                        </div>                    
                    </form>
                </div>
            </section>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 LoginBackground_Right_img" >
            <div class="test"></div>
        </div>        
        <div class="col-12 repeater_img"></div>
    </div>

   






