@import 'src/assets/scss/_variables.scss';

.ResetPassword{
    .ResetPassword__Label{
        color: #C1C7D0;
    }

    .ResetPassword__FormControl::placeholder {
        color: #ccc;
        font-size: 0.9rem;
    }

    .ResetPassword__Submit{
        background-color: $user-color;
        width: 19.063rem;
        height: 3.191rem;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 1rem;
    }
}