
<div class="row ResetPassword">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <form [formGroup]="resetpasswordform" (ngSubmit)="onApply(resetpasswordform.value)" class="form-group">
            <div class="col-lg-12 col-md-12 mb-4">
                <h1 class="font-weight-bold "> Reset Password </h1> 
            </div>

            <!-- Email -->
            <div class="col-lg-12 col-md-12 mb-12">
                <div class="form-group col-lg-10 col-md-10">
                    <label class="ResetPassword__Label" for="password"> Password </label>
                    <input id="password" pPassword type="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" name="password" placeholder="• • • • • • • • • • • • •" class="form-control ResetPassword__FormControl">
                </div>                                        
            </div>

            <div class="col-lg-12 col-md-12 mb-12">
                <div class="form-group col-lg-10 col-md-10">
                    <label class="ResetPassword__Label" for="confirmPassword"> Confirm Password </label>
                    <input id="confirmPassword" pPassword type="password" [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" name="confirmPassword" placeholder="• • • • • • • • • • • • •" class="form-control ResetPassword__FormControl">
                </div>                                        
            </div>

            <!-- Submit Button -->
            <div class="form-group col-lg-12 col-md-12 mx-auto mb-0">
                <button type="submit" class="btn btn-primary btn-block ForgetPassword__Submit" > Send </button> 
                <button type="submit" class="btn btn-primary btn-block ForgetPassword__Submit" > Back </button>                       
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
            </div>
        </form>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
       
    </div>
</div>