@import '../../../../../../assets/scss/buttons';
// @import '../../../../../modules/program/components/program-details/programs-tabs/days/days.component.scss';

.details_day{
    &:lang(en)
    {text-align: left;}
    &:lang(ar)
    {text-align: right;}
    background: #fbfbfb ;
    border-radius: 19px;
    opacity: 1;
    padding: 1.7rem;
    margin-top: 1rem;
    .head_groupName{
        color: #3A3A3A;
        font-size: 1.23rem;
        font-family:Almarai-Bold ;
    }
    .head_btn_add {
        color: #3A3A3A;
        font-size: 0.85rem;
        font-family:Almarai-Bold ;
    }
    .group_name{
        color: #8E2520;
        font-family: Almarai-Bold;
        font-size: 15px;
       }
    .chat_details{
        height: 59vh; 
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0.3rem;
    }
    .message_date{
        color: #3A3A3A;
        font-family: Almarai-Regular;
        font-size: 9px;
       
        
    }
    .ellipsis
    {
        width: 100%;
    }

    .cardRecourd{
        padding: 0.5rem ;
        background-color: transparent;
        border: none;
        border-bottom: 1.5px solid #d6d7d8;
        border-radius: 0;
        margin: 0.2rem;
         box-shadow: none;
         width: 100%;
    }
 
    .img_user{
        width: 60px;
        height: 60px;
        border: 1px solid #C1C7D0;
        border-radius: 5px;
      }
      .dimmed{
        color: gray;
        cursor: not-allowed;
        text-decoration: underline;
        pointer-events: none;
        opacity: 0.2;
      }
}