@import "../../../../../../assets/scss/buttons";

.request{
  margin-top: 1rem;
  padding: 30px 35px;
  border-radius: 19px;
  background: #FBFBFB;
  &__title{
    font-weight: bold;
  }
}
.interTab{
  background-color: #FBFBFB;
  height: 68vh;
  min-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 0.5rem;
}
