
<div class="row stu-program-subscriptions">
    <div class="col-12 d-flex justify-content-between align-items-center mt-3 mb-3">
       <p class="mb-0 head"> برامجنا</p>
        <img src="../../../../../assets/images/student-program/program-sub/certification.png" >
    </div>
<div class="col-12 d-flex justify-content-between align-items-center">
    <app-search-input class="w-90"></app-search-input>
    <button class="sort_icon mb-3">
        <img src="../.././../../../assets/images/student-program/program-sub/sorting.svg">
    </button>
</div>

    <div class="col-12 internal_scroll_program">
        <ng-container *ngFor="let program of programsForTeacherSubscriptionsLst">
        <div class="card_program d-flex justify-content-between align-items-center mb-3">
        <img class="prog-photo" src="../.././../../../assets/images/student-program/program-sub/qor2an.png">
        <div class="card_info">
        <p class="prog-name">{{program.progName}}</p>
        <div class=" d-flex justify-content-around align-items-center  ">
            <div class="text-center">
                <span class="az_count">عدد الأجزاء المطلوبة</span>
                <p class="count"> {{program.parts}} </p>
            </div>
            <div class="slash"></div>
            <div class="text-center">
                <span  class="time_pro">مدة البرنامج باليوم</span>
                <p class="count"> {{program.dura}}</p> 
            </div>
        </div>
        <p class="details mt-2">
            {{program.idea}}
        </p>
        </div>
       
      </div>
      </ng-container>

    </div>
</div>

