@import '../../../../../assets/scss/buttons';

.studentGroupCards{
  // height: 86vh;
  // overflow-y: scroll;
  
    &:lang(en)
    {text-align: left;}
    &:lang(ar)
    {text-align: right;}
    background: #fbfbfb ;
    border-radius: 19px;
    opacity: 1;
    padding: 1.7rem;
    margin-top: 1rem;
  
   
    .group_name{
        color: #8E2520;
        font-family: Almarai-Bold;
        font-size: 0.85rem;
       }
       
       .teacher_name{
        color: #3A3A3A;
        font-family: Almarai-Bold;
        font-size: 0.85rem;
       }  
    //      .chat_details{
    //     height: 59vh; 
    //     overflow-y: auto;
    //     overflow-x: hidden;
    //     padding: 0.3rem;
    // }
    .message_date{
        color: #3A3A3A;
        font-family: Almarai-Regular;
        font-size: 9px;
       
        
    }
    .ellipsis
    {
        width: 100%;
    }

    .cardRecourd{
      padding: 0.5rem;
      background-color: #fff;
      border: none;
      border: 1.5px solid #d6d7d8;
      border-radius: 20px;
      margin: 0.2rem;
      box-shadow: none;
      width:300px;
    }
 
    .img_user{
        width: 60px;
        height: 60px;
        border: 1px solid #C1C7D0;
        border-radius: 5px;
        background: #C1C7D0;
        padding: 0.5rem;
      }
      .dimmed{
        color: gray;
        cursor: not-allowed;
        text-decoration: underline;
        pointer-events: none;
        opacity: 0.2;
      }
}