<form class="form-group DataForm mt-5 pl-3 pr-3">
    <h3 class=" head  bold">بحث متقدم  </h3>
  


    <div class="form-group">
        <label  class="label" for="matrialTitleAr">أسم صاحب الطلب</label>
        <input type="text" class="form-control"  [(ngModel)]="teacherFilterAdvancedSearch.usrName"
        
       [ngModelOptions]="{standalone: true}">
    </div>
        <div class="form-group">
              <label  class="label" for="category">البرنامج</label>
            <div class="d-flex">
                <div class="input-group">
                    <select class="form-control"  [(ngModel)]="teacherFilterAdvancedSearch.progName"    [ngModelOptions]="{standalone: true}">
                        <option   value="">{{'SCIENTIFIC_MATERIAL.SELECTOPTION' | translate}}</option>
                        <option *ngFor="let item of ProgramsList" value="{{item.id}}">
                            {{item.progName}}
                        </option>
                    </select>
                </div>
            </div>
            
        </div>
        <div class="form-group">
              <label  class="label">رقم الطلب</label>
            <input type="text" class="form-control" [(ngModel)]="teacherFilterAdvancedSearch.numberRequest"    [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                          <label  class="label"> من </label>
                        <input type="time" class="form-control"  [(ngModel)]="teacherFilterAdvancedSearch.fromDate"    [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-6">
                          <label  class="label"> الى </label>
                        <input type="time" class="form-control"  [(ngModel)]="teacherFilterAdvancedSearch.toDate"    [ngModelOptions]="{standalone: true}">
                    </div>

                </div>
              
                </div>

        <section class="mt-5">
            <div  class="row direction-rtl buttons-center mt-5">
                <button   type="submit" class="save-btn" (click)="sendAdvancedSearch()"> 
                    {{ "GENERAL.SEARCH" | translate }}
                </button>
                <button  (click)="closeTeacherAdvancedSearch()"  type="reset" class="cancel-btn"> 
                    {{ "GENERAL.CANCEL" | translate }}
                </button>
            </div>
        </section>
        
</form>
