@import '../../../../../exam-form/components/exam-form-view/attache-exam-template/attache-exam-template.component.scss';
.attache-exam-list{
    height: auto;
    padding: 0;
}

.internal_scroll_list_group
 {
    height: 59.5vh}

    
  