@import '../../../../../exam-form/components/exam-form-view/attache-exam-template/attache-exam-template.component.scss';
.attache-exam-list{
    height:70vh;
    padding: 0;
}

.internal_scroll_list_group
 {
    height: 59.5vh}

  .p_header{
    font-size: 20px;

  }  
  .degree_detail{
      color: #8D8D8D;
      font-size: 14px;
      font-family: Almarai-Regular;
  }
  .label_item_question{
    font-size: 14px;
    font-family: Almarai-Bold;
      color: #3A3A3A;
  }