<div class="list-group teacher-list-request">
    <div class="internal_scroll_list_group">
        <a class="list-group-item d-flex"  
        [class.active]="selectedIndex === teacherRequestEnum.JoinRequest"
        (click)="teatcherRequestSelected(teacherRequestEnum.JoinRequest);selectedIndex=1"> 
        <span> {{'TEACHER_SUBSCRIBERS.JOIN_REQUESTS' | translate}} </span>        
       </a>
       <a class="list-group-item d-flex"  
       [class.active]="selectedIndex === teacherRequestEnum.JoinRequestProgram"
       (click)="teatcherRequestSelected(teacherRequestEnum.JoinRequestProgram);selectedIndex=2"> 
       <span>{{'TEACHER_SUBSCRIBERS.JOIN_REQUESTS_FOR_PROGRAM' | translate}}</span>        
      </a>

       <a class="list-group-item d-flex"  
       [class.active]="selectedIndex === teacherRequestEnum.CancelRequest"
       (click)="teatcherRequestSelected(teacherRequestEnum.CancelRequest);selectedIndex=3"> 
       <span> {{'TEACHER_SUBSCRIBERS.CANCEL_REQUESTS' | translate}}</span>        
      </a>

      <a class="list-group-item d-flex"  
      [class.active]="selectedIndex === teacherRequestEnum.ChangTimeRequest"
      (click)="teatcherRequestSelected(teacherRequestEnum.ChangTimeRequest);selectedIndex=4"> 
      <span> {{'TEACHER_SUBSCRIBERS.AVAILABLE_CHANGE_TIME_REQUESTS' | translate}}</span>        
     </a>

    </div>
    
    
</div>