

<div class="container-fluid">
    <div class="row ">




      
        
    <div class="col-lg-6 col-md-6 col-sm-6 LoginBackground_left_img pl-0 pr-0  ">
        <div class="col-12  identity_img pl-0 pr-0 ">

        </div>
        <section class="row justify-content-center  ">
          <div class="box">
               <form  class="form-group UserLogin__LoginForm">
                <div class="content_form ">

                <div class="col-lg-12 mb-4 mt-2">
                      <h1 class="font-weight-bold "> Login Number   </h1> 
                      <p class="UserLogin__Label">The access code has been sent to your email<small class="hint_yellow px-2">email@gmail.com</small></p>
                  </div>
      
               <div class="col-12 mb-3  d-flex">
                <input  class=" form-control bg-white border-md input-sm w-75 valid_num">
                <input  class=" form-control bg-white border-md input-sm w-75 valid_num">
                <input  class=" form-control bg-white border-md input-sm w-75 valid_num">
                <input  class=" form-control bg-white border-md input-sm w-75 valid_num">
               </div>

               <div class="col-lg-12 mb-4 mt-2">
                <p class="UserLogin__Label">I did not receive the passcode.<small class="hint_yellow px-2">Please Resend</small></p>
            </div>

            <div class="col-12">
              
                 
                    <label class="UserLogin__Label" for="UserEmail">Search</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white pl-2 pr-2 border-md border-right-0">
                                <!-- <i class="fa fa-envelope text-muted"></i> -->
                                <img  class="UserLogin_icon_input" src="../../../assets/images/search.svg">
                            </span>
                        </div>
                        <input   pInputText
                        placeholder="search" 
                        class=" px-1 form-control UserLogin__FormControl bg-white border-left-0 border-md input-sm">
                        
                                     
                </div>


            </div>


                   <!-- Submit Button -->
                   <div class="form-group col-lg-12 mx-auto mb-0 mt-2">
                    <!-- <button type="submit" class="btn btn-primary btn-block UserLogin__Submit"  [disabled]="!userform.valid">Submit</button> -->
                    <button type="submit" class="btn  UserLogin__Submit " >Send</button>

                 </div> 
                    


                </div>
                
                <!-- <div class="footer_form ">
                    <hr>
                <p class="footer_form_p mb-0 text-center mb-3">Log in via social media</p>
                    <div class="d-flex mb-3">
                        <button type="submit" class="btn UserLogin__Register" >Register as a teacher</button>
                        <ul class="list-inline ml-5 mr-5">
                            <li class="list-inline-item"> <img src="../../../../../assets/images/facebook.svg"></li>
                            <li class="list-inline-item"><img src="../../../../../assets/images/twiiter.svg"></li>
                            <li class="list-inline-item"><img src="../../../../../assets/images/gmail.svg"></li>
                          </ul>
                    </div>
                   
                </div> -->
                 
              </form>
          </div>
        </section>

    </div>
<div class="col-6 mt-5">
    <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Checkbox configuration</h2>
          <h2 class="example-h2">git color from TS file</h2>
      
          <section class="example-section">
            <mat-checkbox class="example-margin" >Checked</mat-checkbox>
            <mat-checkbox class="example-margin ml-5" >Indeterminate</mat-checkbox>
          </section>
      
          <section >
            <label class="UserLogin__Label" for="UserEmail">Radio-button</label>
                <mat-radio-group aria-label="Select an option"  class="example-radio-group">
                    <mat-radio-button value="1" class="example-radio-button" >Option 1</mat-radio-button>
                    <mat-radio-button value="2" class="example-radio-button" >Option 2</mat-radio-button>
                  </mat-radio-group>
          </section>
      
        
        </mat-card-content>
      </mat-card>


      <hr>
      <br>
      
     
      
</div>







        </div>

        <div class="container">
        <div class="row">
            <div class="col-4 mb-3 mt-3">
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>The name of the scientific article</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                  </mat-card-header>
                  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                  <mat-card-content>
                      <div class="d-flex justify-content-between">
                           <p class="content_card">
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                    </p>
                    <img  src="../../../assets/images/book.svg" class="align-self-baseline">
                      </div>
                   
                  </mat-card-content>
                 
                </mat-card>
            </div>

            <div class="col-4 mb-3 mt-3">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>The name of the scientific article</mat-card-title>
                      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <div class="d-flex justify-content-between">
                             <p class="content_card">
                                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                  bred for hunting.
                      </p>
                      <img  src="../../../assets/images/mic.svg" class="align-self-baseline">
                        </div>
                     
                    </mat-card-content>
                   
                  </mat-card>
              </div>


              <div class="col-4 mb-3 mt-3">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>The name of the scientific article</mat-card-title>
                      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                        <div class="d-flex justify-content-between">
                             <p class="content_card">
                                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                  bred for hunting.
                      </p>
                      <img  src="../../../assets/images/mic.svg" class="align-self-baseline">
                        </div>
                     
                    </mat-card-content>
                   
                  </mat-card>
              </div>
              

        </div>
    </div>
</div>
