<div class="card-setting">
    <div class="head">
     item.title
    </div>
    <div class="body">
        <!-- <div class="details">شرط رقمي</div> -->
        <div class="form-group w-75">
           
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        <ng-container >
            <span class="icon_actions">
                <img src="/assets/images/notify/edit.svg" > 
                <img src="/assets/images/notify/trash.svg">  
               </span>
        </ng-container>
    </div>
</div>