@import  '../setting-qualifications/setting-qualifications.component.scss';


.card-setting .body {
   
    align-items: flex-start;
   
}
select.form-control {
    appearance: auto;}

    .buttons-center {
        display: flex;
        justify-content: flex-end !important;}