<div class="card-setting">
    <div class="head">
     {{customConditionsModel.title}}
    </div>
    <div class="body">
        <div class="details" *ngIf='customConditionsModel.conditionModel?.answerType === answerType.Text'>text</div>
        <div class="form-group w-75" *ngIf='customConditionsModel.conditionModel?.answerType === answerType.Choices'>
           
            <select class="form-control" id="sel1">
              <option *ngFor='let item of customConditionsModel.conditionModel?.answerList'>{{item.text}} </option>
            </select>

          </div>
          <div *ngIf='customConditionsModel.conditionModel?.answerType === answerType.Toggel'>
            toog
          </div>

        <ng-container >
            <span class="icon_actions">
                <img src="/assets/images/notify/edit.svg" (click)="editCustomCondition()" > 
                <img src="/assets/images/notify/trash.svg"  (click)="deleteCustomCondition()">  
               </span>
        </ng-container>
    </div>
</div>