.input-group.search>.input-group-prepend>.input-group-text:lang(ar) {
    border-top-left-radius: 0.65rem;
    border-bottom-left-radius: 0.65rem;
  }
  .input-group.search>.input-group-prepend>.input-group-text:lang(en) {
    border-top-right-radius: 0.65rem;
    border-bottom-right-radius: 0.65rem;
  }
  