 @import '../../../add-program/program-notifacations/program-notification-view/program-notification-view.component.scss';



.tab_page 
 {
  background: #fbfbfb;
  width: 100%;
  border-radius:  0px 0px 12px 12px ;
 }