<p>chat-view works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <app-group-view  (createGroupOverlayEvent)="openCreateGroupPopup($event)" (groupDetailsEvent)="groupDetailsEvent($event)"></app-group-view>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <div class="overlay" *ngIf="openCreateGroupOverlay">
                <app-add-group (closeCreateGroupOverlay)="closeCreateGroupOverlay($event)" [createGroupChat]="createGroupChat"></app-add-group>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <app-group-details  [groupDetails]="groupDetails"></app-group-details>
        </div>
    </div>
</div>
    
    
    