
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
            <app-group-view  (createGroupOverlayEvent)="openCreateGroupPopup($event)" (groupDetailsEvent)="groupDetailsEvent($event)" (groupDetailsEvent)="chatDetailsEvent($event)"></app-group-view>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
            <app-chat-details></app-chat-details>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12 pl-0">
            <app-group-details></app-group-details>

        </div>
   

    </div> 
   
            <div class="overlay" *ngIf="openCreateGroupOverlay">
                <app-add-group (closeCreateGroupOverlay)="closeCreateGroupOverlay($event)" [createGroupChat]="createGroupChat"></app-add-group>
            </div>
     
</div>
    
    
    