<form class="form-group material-form" [formGroup]="currentForm" (submit)="Submit()">
    <div class="form-group">
      <label for="exampleInputEmail1" > {{"EXAM_FORM.FORM_NAME_AR"|translate}}</label>
      <input type="text" class="form-control" id="InputNamAr" formControlName="nameAr"
      [ngClass]="{'red-border-class': f.nameAr.errors && ( f.nameAr.touched || isSubmit)}">
      <div *ngIf="f.nameAr.errors && (f.nameAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
        <div *ngIf="f.nameAr.errors.required">
            {{"GENERAL.REQUIRED"|translate}}
        </div>
       
    </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" >{{"EXAM_FORM.FORM_NAME_EN"|translate}}</label>
      <input type="text" class="form-control" id="InputNamEN" formControlName="nameEn"
      [ngClass]="{'red-border-class': f.nameEn.errors && ( f.nameEn.touched || isSubmit)}">
      <div *ngIf="f.nameEn.errors && (f.nameEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
        <div *ngIf="f.nameEn.errors.required">
            {{"GENERAL.REQUIRED"|translate}}
        </div>
       
    </div>
    </div>
    <section>
      <div class="row">
        <button type="submit" class="save-btn btn btn-danger" [disabled]="disableSaveButtons" >{{'GENERAL.SAVE' | translate}}</button>
        <button type="button" class="cancel-btn btn btn-warning" (click)="backListExamForm()">{{'GENERAL.CANCEL' | translate}}</button>
      </div>
      <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2">
        {{resultMessage.message}}
    </div>
    </section>
  </form>
