<!-- <div class="container-fluid">
    <h1> {{ userProfileDetails.usrName }} </h1>
    <p> {{ userProfileDetails.usrEmail }} </p>
    <p> {{ userProfileDetails.Mobile }} </p>
    <p> {{ birthdate }} </p>
    <p> {{ translate.currentLang === langEnum.en ? userProfileDetails.engNatName : userProfileDetails.arbNatName}} </p>

</div> -->





<div id="mySidenav" class="sidenav_profile">



    <div class="row mb-4">
        <div class="col-12">
    <a  class="closebtn" (click)="closeNav()">&times;</a>

        </div>
        <div class="col-6 label_profile">
            <label>الملف الشخصي</label>
        </div>

        <div class="col-6 edit_profile">
           <a [routerLink] = "['/user/update-user-profile']" ><img src="../../../../../assets/images/edit.svg"></a>
        </div>
    </div>
    <div class="row">
    <div class="col-12 profile mb-50">
        <div  class="profile_background"></div>
        <img class="img_profile"  src="../../../../../assets/images/profile1.png">
    </div>
</div>


<div class="row mt-3 text-center">
    <div class="col-12 mt-2 mb-2">
    <label class="UpdateUser__Label "> {{ userProfileDetails?.usrName }}</label>
    </div>
    <div class="col-12 mt-2 mb-2">
        <input   type="email" class="form-control UserRegister__FormControl"  disabled
        placeholder="{{ userProfileDetails?.usrEmail }} ">                            
    </div>
    <div class="col-12 mt-2 mb-2 ">
        <input   type="number" class="form-control UserRegister__FormControl"  disabled
        placeholder="{{ userProfileDetails?.mobile }}">                            
    </div>

    <div class="col-12 mt-2 mb-2">
        <input   type="text" class="form-control UserRegister__FormControl"  disabled
        placeholder="{{ birthdate }} ">                            
    </div>
    <div class="col-12 mt-2 mb-2">
        <input   type="text" class="form-control UserRegister__FormControl"  disabled
        placeholder="{{ translate.currentLang === langEnum.en ? userProfileDetails?.engNatName : userProfileDetails?.arbNatName}}">                            
    </div>


</div>

<a (click) = "logout()">
    {{ 'GENERAL.LOGOUT' | translate}}
</a>

    <!-- <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a> -->
  </div>
  
  
