@import 'src/assets/scss/_variables.scss';



.label_profile{
    color: #3A3A3A;
    font-size: 20px;
    font-family:Almarai-Bold ;

}
.label_profile:lang(ar){
    text-align: right;
}

.profile_background{

    background: url(../../../../assets/images/viewProfile.svg);
    height: 168px;
    width: 100%;
    border-radius: 30px;
    
}

.img_profile{
    position:absolute;
    top: 0;
    left: 32%;
    top: 20%;
    width: 178px;
    height: 178px;
    border-radius: 1rem;
}
.profile_edit
{
  color: $edit;
  font-family:Almarai-Bold ;
  font-size: 0.7rem;
  cursor: pointer;
}
.mb-50{
    margin-bottom: 50px;
}
.UpdateUser__Label{
    color: $user-color;
    font-family:Almarai-Bold ;
    font-size: 1.5rem;
}

.logout{
  color: #828282;
    font-size: 0.9rem;
    font-family: Almarai-Bold;
    padding: 1rem 0.5rem ;cursor: pointer;
}
.logout_img{
  width: 1.3rem;
    height: 1.53rem;
    cursor: pointer;
}
.edit_profile:lang(en) ,.footer_logout:lang(en){
  text-align: right;
}
.edit_profile:lang(ar){
  text-align: left;
}
.footer_logout:lang(en){
.logout_img{
  transform: rotate(180deg)
}
}
.center_input 
{
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  input{
    text-align: center;
  }
}
.footer_logout{
  padding-left: 8%;
  padding-right: 8%;
}
.overlay {
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;}
// .overlay:lang(en) {
//   left: 0;
// }
// .overlay:lang(ar) {
//   right: 0;
// }
