<div class="tab_page ">
    <div class=" pt-3">

        <div class="info_basic_info">


            <div class="d-flex justify-content-between" >
                <p class="head">{{ progBasicInfoDetails?.prgName}} </p>
                <div class="d-flex">
                  <a (click)="open(content)"><i class="far fa-copy" ></i></a>
                    <i *ngIf='!basicInfoDetails?.prgIsPubli' class="fas fa-play" (click)="publishProgram()"></i>
                    <i *ngIf='basicInfoDetails?.prgIsPubli' class="fas fa-pause" (click)="confirmPuseDialog()"></i>
                    <img *ngIf='!basicInfoDetails?.prgPubliDate || !basicInfoDetails?.prgIsPubli' src="assets/images/question/edit-question.svg"  (click)="editBasicInfo()">
                    <img *ngIf='!basicInfoDetails?.prgPubliDate || !basicInfoDetails?.prgIsPubli' src="assets/images/feelings/trash.svg" (click)="confirmDialog()">

                </div>

            </div>
            <div class="row mt-3">
                <div class="col-2">
                <p class="details">{{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_DATE' | translate}}   <span class="num mx-1">{{progBasicInfoDetails?.prgDura}}</span>{{'VIEW_PROGRAMS_BASIC_INFO.DAY' | translate}} </p>
                </div>
                <div class="col-2">
                    <p> {{'VIEW_PROGRAMS_BASIC_INFO.STUDENT_NUMBER' | translate}}  <span class="num mx-1">{{progBasicInfoDetails?.prgcountStudents}}</span> </p>
                </div>

                <div class="col-2">
                    <p>{{'VIEW_PROGRAMS_BASIC_INFO.PARTS_NUMBER' | translate}}  <span class="num mx-1">10</span> </p>
                </div>
                <div class="col-2">
                    <p>{{'VIEW_PROGRAMS_BASIC_INFO.TEACHER_NUMBER' | translate}}  <span class="num mx-1">{{progBasicInfoDetails?.prgcountTeachers}}</span> </p>
                </div>
                <div class="col-2">
                    <p>{{'VIEW_PROGRAMS_BASIC_INFO.PUBLISH_DATE' | translate}}  <span class="num mx-1">{{prgPubliDate}}</span> </p>
                </div>
                <div class="col-2">
                    <p>{{'VIEW_PROGRAMS_BASIC_INFO.START_DATE' | translate}}  <span class="num mx-1">10</span> </p>
                </div>

            </div>
             </div>

    </div>
    <div class="col-md-12 max_h ">
        <div class="row pl-4 pr-4">
            <div class="col-6 mb-3   ">
                <label class="title">
                    {{'VIEW_PROGRAMS_BASIC_INFO.IDEA' | translate}}
                   <span>  &nbsp;  : </span>
                   <span>  &nbsp; </span>
                </label>
                <label>  </label>
                <label class="title_data">
                    {{ progBasicInfoDetails?.prgIda}}
                </label>
            </div>

            <div class="col-6 mb-3   ">
                <label class="title">
                 {{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_TYPE' | translate}}
                   <span>  &nbsp;  : </span>
                   <span>  &nbsp; </span>
                </label>
                <label class="title_data" *ngFor="let progTypeItem of progBasicInfoDetails?.prgTps ; let i = index;">
                    {{ this.translate.currentLang === langEnum.en? progTypeItem.enPrgTpeName : progTypeItem.arPrgTpeName }}
                </label>
            </div>
            <div class="col-6 mb-3  col-md-6">
                <label class="title">

                    {{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_GOALS' | translate}}
                    <span>  &nbsp;  : </span>
                    <span>  &nbsp; </span>

                 </label>

                <label> {{ progBasicInfoDetails?.prgGoal}} </label>
            </div>
            <div class="col-6 mb-3  col-md-6">
                <label class="title">

                    {{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_VISION' | translate}}
                    <span>  &nbsp;  : </span>
                    <span>  &nbsp; </span>
                 </label>
                <label> {{ progBasicInfoDetails?.prgVisi}} </label>
            </div>
            <div class="col-6 mb-3  col-md-6">
                <label class="title">

                    {{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_METHOD' | translate}}
                    <span>  &nbsp;  : </span>
                    <span>  &nbsp; </span>

                 </label>
                <label> {{ progBasicInfoDetails?.prgMeth}} </label>
            </div>
            <div class="col-6 mb-3  col-md-6">
                <label class="title">

                    {{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_ADVAN' | translate}}
                    <span>  &nbsp;  : </span>
                    <span>  &nbsp; </span>

                 </label>
                <label> {{ progBasicInfoDetails?.prgAdvan}} </label>
            </div>

            <div class="col-6 mb-3  col-md-6">
                <label class="title">

                    {{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_PLEDGTXT' | translate}}
                    <span>  &nbsp;  : </span>
                    <span>  &nbsp; </span>

                 </label>
                 <label> {{ progBasicInfoDetails?.prgPledgTxt}} </label>

            </div>

            <!-- <div class="col-6 mb-3  col-md-6">
                <label class="title">
                    أيام الإجازة
                    <span>  &nbsp;  : </span>
                    <span>  &nbsp; </span>

                 </label>

            </div> -->

            <div class="col-6 mb-3  col-md-6">
                <label class="title">

                    {{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_WEEK_DUTI_DAS' | translate}}
                    <span>  &nbsp;  :  </span>
                    <span >  &nbsp; </span>

                 </label>
                 <label *ngFor="let progWeekDutiDas of progBasicInfoDetails?.prgWeekDutiDas ;let i=index"> {{ this.translate.currentLang === langEnum.en? progWeekDutiDas.enDaName : progWeekDutiDas.arDaName }}  </label>


            </div>


        </div>

     <div class="row pl-4 pr-4">
        <div class="col-12">
            <h3 class="head_conditions">{{'VIEW_PROGRAMS_BASIC_INFO.CONDTIONS' | translate}} </h3>
            <div class="col-md-12 max_h">

                <div class="row ">
                    <ng-container  *ngFor="let item of programConditionsPredefinedList ;let i=index">
                          <div class="col-6 mb-3" *ngIf="programConditionsEnum.age===item.conditionNo">
                            <app-setting-age [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [ViewprogCondmood]='programConditionViewMoodEnum.conditionBasicInfoViewMood'></app-setting-age>
                          </div>
                 <div class="col-6 mb-3" *ngIf="programConditionsEnum.qualifications===item.conditionNo">
                    <app-setting-qualifications [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [ViewprogCondmood]='programConditionViewMoodEnum.conditionBasicInfoViewMood'></app-setting-qualifications>
                 </div>
                 <div class="col-6 mb-3" *ngIf="programConditionsEnum.dgreeaLastProgram===item.conditionNo">
                        <app-setting-degree-last-program [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [ViewprogCondmood]='programConditionViewMoodEnum.conditionBasicInfoViewMood'></app-setting-degree-last-program>
                    </div>
                    <div class="col-6 mb-3" *ngIf="programConditionsEnum.programFinished===item.conditionNo">
                        <app-setting-last-program [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [ViewprogCondmood]='programConditionViewMoodEnum.conditionBasicInfoViewMood'></app-setting-last-program>
                    </div>
            
                    <div class="col-6 mb-3" *ngIf="programConditionsEnum.numberStudentSubscribtion===item.conditionNo">
                        <app-setting-maxmum-subscribe [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [ViewprogCondmood]='programConditionViewMoodEnum.conditionBasicInfoViewMood'></app-setting-maxmum-subscribe>
                    </div>
                    <div class="col-6 mb-3" *ngIf="programConditionsEnum.memorizeQuran===item.conditionNo">
                        <app-setting-part-qraan [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()'  [ViewprogCondmood]='programConditionViewMoodEnum.conditionBasicInfoViewMood'></app-setting-part-qraan>
                    </div>
                    <div class="col-6 mb-3" *ngIf="programConditionsEnum.accept===item.conditionNo">
                        <app-setting-accept [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [ViewprogCondmood]='programConditionViewMoodEnum.conditionBasicInfoViewMood'></app-setting-accept>
                    </div>
                   
                   </ng-container >
                </div>
            </div>
        </div>
     </div>
    </div>



    <div class="copy_model">
        <ng-template #content let-modal >
            <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{'VIEW_PROGRAMS_BASIC_INFO.COPY_PROGRAM' | translate}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                    <label for="dateOfBirth">{{'VIEW_PROGRAMS_BASIC_INFO.PROGRAM_NAME' | translate}}</label>
                    <div class="input-group">
                        <input id="dateOfBirth" class="form-control" name="dp" type="text" [(ngModel)]="programName">
                    </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');copyProgramData(programName)">{{'VIEW_PROGRAMS_BASIC_INFO.SAVE' | translate}}</button>
            </div>
        </ng-template>
    </div>
</div>
