<div class="tab_page ">
    <div class=" pt-3">
        <div class="row">
            <div class="col-md-12 ">
                <label>
                BASE INFO
                </label>
            </div>
            <label> {{ progBasicInfoDetails?.prgName}} </label>
            
            <i class="far fa-copy" (click)="publishProgram()"></i>
            <i class="far fa-copy" (click)="copyTask()"></i>
            <i class="far fa-edit" (click)="editBasicInfo()"></i>
            <i class="far fa-trash-alt ml-1 mr-1" (click)="confirmDialog()"></i>
        </div>
    </div>
    <div class="col-md-12 max_h">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <div class="col-lg-6 col-md-6">
                        <label> 
                            نوع البرنامج
                        </label>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <label *ngFor="let progTypeItem of progBasicInfoDetails?.prgTps ; let i = index;"> 
                            {{ this.translate.currentLang === langEnum.en? progTypeItem.enPrgTpeName : progTypeItem.arPrgTpeName }}
                        </label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label> {{ progBasicInfoDetails?.prgIda}} </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <label> {{ progBasicInfoDetails?.prgGoal}} </label>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label> {{ progBasicInfoDetails?.prgVisi}} </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <label> {{ progBasicInfoDetails?.prgMeth}} </label>
                </div>
                <div class="col-lg-6 col-md-6">
                    <label> {{ progBasicInfoDetails?.prgAdvan}} </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-12 col-md-12">
                    <label> {{ progBasicInfoDetails?.prgPledgTxt}} </label>
                </div>
               
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <label> {{ progBasicInfoDetails?.prgName}} </label>
                </div>
            </div>
        </div>
    </div>
</div>