<!-- for milady -->
<ng-container *ngIf="hijri && !milady">
 <hijri-gregorian-datepicker #hijGeo class="HijriGregorianDatePicker removeHijri"
 [(selectedDate)]="dateTo"
[isRequired]="true"
[maxGreg]="maxGreg"
[maxHijri]="maxHijri"
[GregLabel]="GregLabel"
[hijriLabel]="hijriLabel"
 [selectedDateType]="selectedDateType_Melady"
 (selectedDateChange)="emitData($event)"
  #datePickerTo>
</hijri-gregorian-datepicker>
</ng-container>

<!-- for hijri -->
<ng-container *ngIf="!hijri && milady">

  <hijri-gregorian-datepicker #hijGeo class="HijriGregorianDatePicker removemilady  "
  [(selectedDate)]="dateTo"
 [isRequired]="true"
 [maxHijri]="maxHijri"
 [GregLabel]="GregLabel"
 [hijriLabel]="hijriLabel"
  [selectedDateType]="selectedDateType_Hijri"
  (selectedDateChange)="emitData($event)"
   #datePickerTo>
 </hijri-gregorian-datepicker>
</ng-container>
<!-- for hijri  and milady -->

<ng-container *ngIf="!hijri && !milady">

  <hijri-gregorian-datepicker #hijGeo class="HijriGregorianDatePicker "
  [(selectedDate)]="dateTo"
 [isRequired]="true"
 [maxGreg]="maxGreg"
 [maxHijri]="maxHijri"
 [GregLabel]="GregLabel"
 [hijriLabel]="hijriLabel"
  [selectedDateType]="calenderType"
  (selectedDateChange)="emitData($event)"
   #datePickerTo>
 </hijri-gregorian-datepicker>
</ng-container>

<!-- (selectedDateChange)="changeDateType('to')" -->
