<div class="tab_page  ">
    <!-- <div class=" pt-3">
        <div class="row">
            <div class="col-md-12 ">
                <p>join-requests works!</p>
            </div>
        </div>
    </div> -->
    <div class=" part1 list_exams">
        <!-- <p class="head">النمازج </p>
        <div class="internal_scroll_list_group">
        <div class="internal_scroll_list_group">
            <a class="list-group-item  d-flex"  >
                 <span> program.progName</span>                
            </a>
        
             </div>
            </div> -->





            <div class="list-group list-group_program-list">
                <p class="mb-4">النماذج</p>
                 
                <div class="internal_scroll_list_group">
                    <a class="list-group-item d-flex"> 
                        <span>  {{'PROGRAMS_LIST.ALL' | translate}}</span>        
                    </a>
            
                    <a class="list-group-item  d-flex" *ngFor="let progExamFormsDetailsItem of programExamFormsDetails ;let i=index">                           
                        <span> {{ this.translate.currentLang === langEnum.en? progExamFormsDetailsItem.enExaName : progExamFormsDetailsItem.arExaName }}</span>               
                    </a>
                </div>
                <!-- <div *ngIf="resMessage.message" class="alert alert-{{ resMessage.type }} my-4 py-2">
                    {{ resMessage.message }}
                </div> -->
            </div>
    </div>
    <div class="part2  list_exams">

    </div>
    <!-- <div class="col-md-12 max_h">
        <div class="row mb-3">
           <div class="col-3 list_exams" > 

           </div>
           <div class="col-6 list_exams" >

           </div>

        </div>
    </div> -->
   
    
</div>