<div class="tab_page  ">
  
    <div class=" part1 list_exams">


            <div class="list-group list-group_program-list">
               
                  <p class="mb-4">النمازج</p>
            <div class="internal_scroll_list_group">
                    <a class="list-group-item d-flex"  > 
                    <span>  {{'PROGRAMS_LIST.ALL' | translate}}</span>        
                   </a>
            
                    <a class="list-group-item  d-flex" >
                        <span> program.progName</span>   
                    </a>
            
                
                </div>
                <!-- <div *ngIf="resMessage.message" class="alert alert-{{ resMessage.type }} my-4 py-2">
                    {{ resMessage.message }}
                </div> -->
              </div>

              
    </div>
    <div class="part2  list_exams">
        <p class="mb-2 name_prog"> اسم البرنامج</p>
        <p class="mb-3 head">اسم البرنامج <small class="name_prog">الدرجة 100</small></p>

        <app-question-template  class="day_detils">
      </app-question-template>
      <!-- [questionTemplate] = 'question' -->
    </div>
    
   
    
</div>