
@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_typography.scss';

.student-numbers {
   position: relative;
   margin: 5rem 0;
    .student-text {
        background: $hint_yellow 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 15px $box-shadow;
        border-radius: 12px;
        width: 241px;
        height: 105px;
        font: normal normal bold 24px/32px Almarai-Bold;
        letter-spacing: 0px;
        color: $white;
        opacity: 1;
        padding: 18px 14px;
        position: relative;
    
        span {
            display: block;
        }
    }

    .student-text:lang(ar) {
        text-align: right;   
    }

    .student-text:lang(en) {
        text-align: left;   
    }
    

    .numbers {
        width: 126px;
        height: 126px;
        background: $white 0% 0% no-repeat padding-box;
        border: 5px solid $hint_yellow;
        opacity: 1;
        border-radius: 50%;
        font: normal normal bold 41px/48px Almarai-Bold;
        letter-spacing: 0px;
        color: $user-color;
        top: -0.625rem;

        p {
            line-height: 110px;
            text-align: center;
        }
    }

    .numbers:lang(ar) {
        position: absolute;
        left: -2rem;
        text-align: right;
    }

    .numbers:lang(en) {
        position: absolute;
        right: -2rem;
        text-align: left;
    }

}

