@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/buttons";
.tab_page
{
  background: #fbfbfb;
  width: 100%;
  border-radius:  0px 0px 12px 12px ;
  &:lang(ar){
    text-align: right;
  }
  &:lang(en){
    text-align: left;
  }



  .max_h {
    min-height: 50vh;
    max-height: 53.7vh;
    overflow-y: auto;
  }
  .info_basic_info{
    background-color: #fff;
    padding: 1.5rem;
    color: #3A3A3A;
    margin: 1rem 1.8rem;
    border-radius: 19px;
    font-family: Almarai-Regular;
    font-size: 1rem;
    .head{
      font-size: 2rem;
      font-family: Almarai-Bold;
    }

    .details
    {
      color: #3A3A3A;
      font-size:1rem
    }
    .num{
      color: #8E2520;
      font-family: Almarai-Bold;

    }

  }
  .title{
    color: #CB9118;
    font-size: 14px;
    font-family: Almarai-Bold;

  }
  .title_data{
    color: #363636;
    font-size: 14px;
    font-family: Almarai-Bold;
  }
  .head_conditions{
    width: 50%;
    color: #8E2520;
    font-size: 18px;
    font-family: Almarai-Bold;
    border-bottom: 1px solid #8080803d;

  }
}

.user{

  &__image{
    width: 191px;
    border-radius: 12px;
    height: auto;
  }
  &__name{
    font-weight: 600;
    font-size: 2.18rem;
    color: $edit;
  }
  &__date{
    font-weight: 600;
    font-size: 1rem;
    color: $edit;
  }
  &__back{
    font-size: 1.2rem;
    font-weight: bold;
    color: $icon_input;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    i{
      margin: 0 5px;
    }
  }
  &__height{
    height: 48vh;
    overflow-y: auto;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 0 !important;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #867e7e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CB9118;
}

input:focus + .slider {
  box-shadow: 0 0 1px #CB9118;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.p_header_sec,
.p_header{
  font-weight: bold;
  font-family: Almarai-Bold;
}
.p_header{

  color: maroon;
  font-size: 1rem;

}
.p_header_sec{

  font-size: 1.2rem;
  color:#3A3A3A ;
}
.status{
  width: 10px;
  height: 10px;
  background: #00C213;
  border-radius: 50%;
  &:lang(ar){
    margin-right: 10px;
    margin-left: 20px;
  }
  &:lang(ar){
    margin-right: 20px;
    margin-left: 10px;
  }

}
.status-text{
  color: #00C213;
  font-size: 1rem;
  margin: 0;
}

