<div class="tab_page user">
  <div class=" pt-3">

    <div class="info_basic_info">


      <div class="d-flex justify-content-between" >
        <div class="d-flex align-items-center justify-content-start">
        <img  *ngIf="!teacherProfileDetails?.proPic" src="../../../../assets/images/Profile.svg" class="user__image">
        <img *ngIf="teacherProfileDetails?.proPic" src="{{teacherProfileDetails?.proPic}}" class="user__image">
          <div class="mr-3 ml-3">
            <h3 class="user__name">
              {{
              translate.currentLang === langEnum.ar ?

                teacherProfileDetails?.fnameAr + " " + teacherProfileDetails?.mnameAr + " " + teacherProfileDetails?.fanameAr

                :teacherProfileDetails?.fnameEn + " " + teacherProfileDetails?.mnameEn + " " + teacherProfileDetails?.faNameEn
              }}
            </h3>
            <ngb-rating [(rate)]="starsSelected" [max]="5" [readonly]="true">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <h4 class="user__date">{{teacherProfileDetails.birthdate | date: 'dd/MM/yyyy'}}</h4>
            <div class="row mt-3">
              <div class="col-12">
                <label class="title">
                  {{'UPDATE_USER_PG.PROGRAMS' | translate}}
                  <span>  &nbsp;  : </span>
                  <span>  &nbsp; </span>
                </label>
                <label>  </label>
                <label class="title_data">
                  {{resiveUserId?.progName}}
                </label>
              </div>
              <div class="col-12">
                <label class="title">
                  {{'UPDATE_USER_PG.TIMES' | translate}}
                  <span>  &nbsp;  : </span>
                  <span>  &nbsp; </span>
                </label>
                <label>  </label>
                <label class="title_data">
                  الخميس من 18:00 الى 21:00 ، الاحد من 09:00 الى 15:00
                </label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="adminView" class="admin__view">
            <div class="d-flex align-items-center justify-content-between">
              <div class="col-.5  chicx_box">
                <label class="switch">
                  <input type="checkbox" (change)="onCheckboxChange()" [(ngModel)]='toggel'>
                  <span class="slider round"></span>
                </label>

              </div>
              <div class="d-flex align-items-center justify-content-between " >
              <span class="status active"></span>
              <h6 class="status-text">نشط</h6>
            </div>
            </div>
          </div>
          <h6 *ngIf="!adminView" class="user__back" (click)="hideUserDetailsView()">
            {{'UPDATE_USER_PG.BACK' | translate}}
            <i class="fas fa-arrow-left " [ngClass]="translate.currentLang === langEnum.en ?'fa-flip-horizontal': ''"></i></h6>
        </div>

      </div>

    </div>

  </div>
  <div class="col-md-12  user__height">
    <div class="row pl-4 pr-4">
      <div class="col-6 mb-3   ">
        <label class="title">
          {{'GENERAL.EMAIL' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label>  </label>
        <label class="title_data">
          {{teacherProfileDetails.usrEmail}}
        </label>
      </div>

      <div class="col-6 mb-3   ">
        <label class="title">
          {{'GENERAL.PHONE_NUMBER' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label class="title_data" >
          {{teacherProfileDetails.mobile}}
        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'GENERAL.NATIONALITY' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>

        </label>

        <label class="title_data">
        {{  translate.currentLang === langEnum.ar ? teacherProfileDetails.countryAr :teacherProfileDetails.country}}
        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'UPDATE_USER_PG.COUNTRY' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label class="title_data">
          {{  translate.currentLang === langEnum.ar ? teacherProfileDetails.cityAr :teacherProfileDetails.city}}
        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'UPDATE_USER_PG.CITY' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>
        </label>
        <label class="title_data">
          {{  translate.currentLang === langEnum.ar ? teacherProfileDetails.cityAr :teacherProfileDetails.city}}

        </label>
      </div>
      <div class="col-6 mb-3  col-md-6">
        <label class="title">

          {{'UPDATE_USER_PG.ADDRESS' | translate}}
          <span>  &nbsp;  : </span>
          <span>  &nbsp; </span>

        </label>
        <label class="title_data">
        {{teacherProfileDetails.address}}
        </label>
      </div>


    </div>

    <div class="row pl-4 pr-4">
      <div class="col-12">
        <h3 class="head_conditions  pb-3">{{'UPDATE_USER_PG.EDU' | translate}} </h3>
        <div class="col-md-12 ">
          <div class="row">
            <div class="col-4 mt-3">
              <label class="title">

                {{'UPDATE_USER_PG.EDU_LEVEL' | translate}}
                <span>  &nbsp;  : </span>
                <span>  &nbsp; </span>

              </label>
              <label class="title_data">
                {{  translate.currentLang === langEnum.ar ? teacherProfileDetails.educationLevelAr :teacherProfileDetails.educationLevelEn}}

              </label>
            </div>
            <div class="col-4 mt-3">
              <label class="title">

                {{'VIEW_USER_PG.EDU_LEVEL' | translate}}
                <span>  &nbsp;  : </span>
                <span>  &nbsp; </span>

              </label>
              <label class="title_data">
                {{  translate.currentLang === langEnum.ar ? teacherProfileDetails.qualifiAr :teacherProfileDetails.qualifiEn}}

              </label>
            </div>
            <div class="col-4 mt-3">
              <label class="title">
                {{'VIEW_USER_PG.OCCUPATION' | translate}}
                <span>  &nbsp;  : </span>
                <span>  &nbsp; </span>

              </label>
              <label class="title_data">
                {{  translate.currentLang === langEnum.ar ? teacherProfileDetails.speciaAr :teacherProfileDetails.speciaEn}}

              </label>
            </div>
            <div class="col-8 mt-3">
              <div class="row">
                <label class="title col-3">
                  {{'UPDATE_USER_PG.AMOUNT_QURAN_REQUIRED' | translate}}
                  <span>  &nbsp;  : </span>
                  <span>  &nbsp; </span>

                </label>
                <div class="col-9">
                  <div class="row">
                  <div class="col-6" *ngFor="let rewayat of teacherProfileDetails.rewayats">
                    <div  class="badges">
                      <span  class="badge badge-info p-2 ng-star-inserted">
                        {{  translate.currentLang === langEnum.ar ? rewayat.nameAr :rewayat.nameEn}}

                      </span>
                    </div>
                  </div>
              </div>
                </div>
              </div>
            </div>
            <div class="col-8 mt-3">
              <div class="row">
                <label class="title col-3">
                  {{'UPDATE_TEACHER_PG.LEAVE_RECITATION_VIEW' | translate}}
                  <span>  &nbsp;  : </span>
                  <span>  &nbsp; </span>

                </label>
                <div class="col-9">
                  <div class="row">
                  <div class="col-6" *ngFor="let ejaza of teacherProfileDetails.ejazaAttachments">
                    <div  class="badges">
                      <span  class="badge badge-info p-2 ng-star-inserted">
                       {{   ejaza.contentType }}

                      </span>
                    </div>
                  </div>

              </div>
                </div>
              </div>
            </div>
            <div class="col-8 mt-3">
              <div class="row">
                <label class="title col-3">
                  {{'UPDATE_TEACHER_PG.LANGUAGES' | translate}}
                  <span>  &nbsp;  : </span>
                  <span>  &nbsp; </span>

                </label>
                <div class="col-9">
                  <div class="row">
                  <div class="col-6" *ngFor="let lang of teacherProfileDetails.languages">
                    <div  class="badges">
                      <span  class="badge badge-info p-2 ng-star-inserted">
                        {{  translate.currentLang === langEnum.ar ? lang.nameAr :lang.nameEn}}

                      </span>
                    </div>
                  </div>

              </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end" >
            <div class="row align-items-center">
              <div class="col-3">
                <button class="save-btn">رفض</button>
              </div>
              <div class="col-3">
                <button class="cancel-btn">قبول</button>
              </div>
              <div class="col-3">
                <button class="cancel-btn">محادثة</button>
              </div>
              <div class="col-3">
                <button class="cancel-btn">مقابلة</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
