@import '../../../../../assets/scss/buttons';
.over_lay_exam{

&:lang(ar){
    text-align: right;
  
    }
    &:lang(en){
    text-align: left;
  
    }
.card_quest{
    &:lang(ar){
        text-align: right;
      
        }
        &:lang(en){
        text-align: left;
      
        }
    justify-content: center;
    background: #fff;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 12px;
    margin-bottom: 1rem;
    &.quest_num{
        top: 317px;
        left: 1173px;
        width: 70px;
        height: 25px;
        color: var(--unnamed-color-8e2520);
        text-align: right;
        font: normal normal bold 16px/52px Almarai;
        letter-spacing: 0px;
        color: #8E2520;

    }
    .quest_text{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0.5rem;
        min-height: 13vh;
        background: #F4F5F7 0% 0% no-repeat padding-box;
        border-radius: 12px;
        opacity: 1;
    }
    .button_actions{
        &:lang(ar){
            text-align: left;
            }
            &:lang(en){
                text-align: right;

          
            }   
            p{
                text-align: right;
                font: normal normal normal 16px/20px Almarai;
                letter-spacing: 0.32px;
                color: #3A3A3A;
            }

    }
   
}

} .cancel-btn{
        height: auto !important;
    }
    .btn_replay {
        margin-top: 0;
        margin-bottom: 0;

    }