<ng-container *ngIf="progDetails?.isContainExam">
<div class="over_lay_exam">


  <div class="row justify-content-center">
    <div class="col-10  "> 

      <h1 class="bold">{{'STUDENT_SUBSCRIPTION.ACCEPT_EXAMP' | translate}}</h1> 
      <p class="bold">
        <!-- {{progDetails?.prgName}} -->
        {{translate.currentLang===langEnum.en ? progDetails?.enProgBatName : progDetails?.arProgBatName}}
      </p>
          <p class="bold">
              {{translate.currentLang===langEnum.en ? randomExam?.exaNameEn : randomExam?.exaNameAr}}
          </p> 

      </div>
  </div>

<!-- {{currentQuestion}} -->
     <div class="row justify-content-center">
         <div class="col-10 card_quest "> 
                <p class="quest_num">
                   {{'STUDENT_SUBSCRIPTION.QUEST_NUM' | translate}}{{currentQuestion?.questionNo}}
                </p>
               
                <ng-container *ngIf="currentQuestion?.text">
                  <p class="quest_text" >
                      {{currentQuestion?.text}} 
                      
                   </p>
    </ng-container>
    <ng-container *ngIf="currentQuestion?.voiceUrl">
                   <app-voice-recording 
                    [viewMode]='true' [voiceUrl]='currentQuestion?.voiceUrl'>
                  </app-voice-recording>
     </ng-container>

                 {{'STUDENT_SUBSCRIPTION.LENGTH' | translate}}  {{currentQuestion?.answers?.length}}
        <ng-container *ngIf="currentQuestion?.answerType === answerTypeEnum?.singleSelect">
          <mat-radio-group  *ngIf="currentQuestion" 
           [(ngModel)]="currentQuestion.studentAnswersByAnswerNumber"
          aria-label="Select an option"
          class="input-group  col-12" >
         <mat-radio-button  *ngFor="let answer of currentQuestion?.answers;let i=index"
         value="{{answer.answerNo}}" class=" px-4  col-12" >
         <input type="text" class="form-control input_fullWidth "
          [(ngModel)]="answer.text"  aria-label="Text input with checkbox" >
         
        </mat-radio-button>
      </mat-radio-group>
      
    
   </ng-container>
   
   
        <ng-container    *ngIf="currentQuestion?.answerType === answerTypeEnum?.multiSelect">
            <ng-container class="mt-3" *ngFor = 'let answer of currentQuestion?.answers'>
              <div class="col-12 my-1">
              <mat-checkbox class="example-margin " (change)='addStudentAns(answer, $event)'>
               {{answer.text}}
            </mat-checkbox>
          </div>
            </ng-container> 

        </ng-container>

       
        </div>
        <div class="col-10  mt-4">
           <p class=" timer_contDown">
            {{counterTimer | formatTime}}
           </p>
          </div>
         </div>
     </div>

     <div class="row justify-content-end mt-5">
        <div class="col-6">
              <section class="mt-2 button_actions">
              <p class="text-right finshed">{{'STUDENT_SUBSCRIPTION.ANSWER_FINISHED' | translate}}</p>

              <div  class="row direction-rtl buttons-center mt-">
                  <button   type="submit" class="cancel-btn" (click)="NextQuestion()"> 
                     {{'STUDENT_SUBSCRIPTION.NEXT' | translate}} 
                  </button>
                  <button   type="reset" class="btn_replay mx-3" (click)="closeForm()"> 
                      {{ "GENERAL.CANCEL" | translate }}
                  </button>
              </div>
          </section>
            </div>
     </div>
 </ng-container>


<ng-container *ngIf="!progDetails?.isContainExam">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <p>
        {{'STUDENT_SUBSCRIPTION.NO_EXAM' | translate}} 

      </p>
    </div>
  </div>
</ng-container>
