<div class="form-group DataForm mt-5 pl-3 pr-3">
  <h3 class=" head  bold">{{'SCIENTIFIC_PROBLEM.ADVANCED_SEARCH' | translate}} </h3>

<!--  <ng-container *ngFor="let item of collectionOfLookup.PROG_TYPES ;let i=index">-->
<!--    <mat-checkbox   (change)='addProgTypeToList(item, $event)' [checked]="progTypeChecked(item)"-->
<!--                    class="example-margin mx-3 "-->
<!--    >-->
<!--      {{ translate.currentLang == langEnum.en ? item.nameEn :-->
<!--      item.nameAr}}-->
<!--    </mat-checkbox>-->
<!--  </ng-container>-->

  <div class="form-group">
    <label class="label" for="matrialTitleAr">{{'SCIENTIFIC_PROBLEM.QUESTION_OWNER_NAME' | translate}}</label>
    <input type="text" class="form-control" [(ngModel)]="filter.filterText"
           [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label class="label" for="category">{{'SCIENTIFIC_PROBLEM.PROGRAM_NAME_SEARCH' | translate}}</label>

    <div class="d-flex">
      <div class="input-group">
        <select class="form-control" [(ngModel)]="filter.progId" [ngModelOptions]="{standalone: true}">
          <option value="">{{'SCIENTIFIC_MATERIAL.SELECTOPTION' | translate}}</option>
          <option *ngFor="let item of ProgramsList" value="{{item.id}}">
            {{item.progName}}
            <!-- {{translate.currentLang === langEnum.en ? item.engName: item.arabName}} -->
          </option>
        </select>
      </div>
    </div>

  </div>


  <div class="form-group">
    <label class="label">{{'SCIENTIFIC_PROBLEM.QUESTION_NUMBER' | translate}}</label>
    <input type="number" class="form-control" [(ngModel)]="filter.scNo" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group subscribtion-date">

    <div class="col-12 p-0">
      <label class="label"> {{'SCIENTIFIC_PROBLEM.FROM' | translate}}</label>
      <app-milady-hijri-calendar [editcalenderType]="calenderType" (sendDate)="SendDatafrom($event)"
                                 (keypress)="$event.preventDefault()"
                                 [hijri]="!hijri" [milady]="milady" [maxGreg]="maxGregDate" [(ngModel)]="filter.scFrom">
      </app-milady-hijri-calendar>

    </div>
    <div class="col-12 p-0">
      <label class="label"> {{'SCIENTIFIC_PROBLEM.TO' | translate}} </label>
      <app-milady-hijri-calendar [editcalenderType]="calenderType" (sendDate)="SendDataTo($event)"
                                 (keypress)="$event.preventDefault()"
                                 [hijri]="!hijri" [milady]="milady" [maxGreg]="maxGregDate" [(ngModel)]="filter.scTo">
      </app-milady-hijri-calendar>
    </div>

  </div>


  <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2 text-center">
    <span class="bold"> {{resultMessage.message}}</span>
  </div>

  <section class="mt-5">
    <div class="row direction-rtl buttons-center mt-5">
      <button type="submit" class="save-btn" (click)="sendAdvancedSearch()">
        {{'SCIENTIFIC_PROBLEM.SEARCH' | translate}}
      </button>
      <button (click)="closeScientificAdvancedSearch()" type="reset" class="cancel-btn">
        {{ "GENERAL.CANCEL" | translate }}
      </button>
    </div>
  </section>
</div>
