<ng-container *ngIf="!isView">
<div class="details_day">
    <div class="form-group">
        <div class="row">
    <div class="col-12 mt-3">

            <mat-checkbox  class="example-margin mx-2"   [(ngModel)]="repetitionDetailsModel.isMndatory"
            class="example-margin ">الزامى </mat-checkbox>
        </div>
    </div>
    
    </div>
    
 
    <div class="form-group">
        <div class="row">
            <div class="col-3">
                <label class="text-right header_input"> عدد مرات التكرار</label>
                <input type="text" class="form-control  " [(ngModel)]="repetitionDetailsModel.repetitionNo" >
            </div>
            <div class="col-3">
                    <label class="text-right header_input"> {{'PROGRAM_DAY_TASK_DETIALS.PAGES'|translate}}</label>
                    <input type="text" class="form-control mx-2" [(ngModel)]="repetitionDetailsModel.degree" >
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input">الرسالة </label>
    
               <input type="text" class="form-control " [(ngModel)]="repetitionDetailsModel.msg" >
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input">{{'PROGRAM_DAY_TASK_DETIALS.SHOW_QUESTION_TO_STUDENT'|translate}}</label>
    
               <input type="text" class="form-control " [(ngModel)]="repetitionDetailsModel.questionToStudent" >
        
            </div>
    
        </div>
        
    </div>
    
    </div>
</ng-container>

<ng-container *ngIf="isView">
    <!-- <p class="mb-2 name"> الحفظ</p> -->

         <div class="d-flex mb-3">       

                 <div class="col-6 px-0">
                     <span class="regular">إلزامي</span>
                 </div>
                 <div class="col-6 px-0">
                     <span class="grad">الدرجة
                         <span>  &nbsp;  : </span>
                         <span>  &nbsp; </span> 

                         <small class="info">10</small>
                     </span>
                 </div>
                 
         </div>
         <div class="mt-3  mb-3">
             <span class="grad">  عدد مرات التكرار
                 <span>  &nbsp;  : </span>
                 <span>  &nbsp; </span> 
                 <small class="info">200 - 205</small>
             </span>

         </div>

              
        
             <ng-container >
               <div class=" cardRecourd mb-2 "   >
             <img src="assets/images/days/bookView.svg">
             <p class=" mr-2 mb-0" 
             >اسم الصفحة الصفحة الصفحة .pdf</p>
            </div>    
             
             </ng-container>
             
         <p class="mt-3 grad">
            الرسالة
         </p>
         <p class="mt-3 grad">
            السؤال الذي يظهر للطالب
        </p>

</ng-container>