.crad_report{
  
  &:lang(ar){
   text-align: right;
   }
   &:lang(en){
   text-align: left;
   }
   background-color: #fff;
   border: 1px solid #fff;
   border-radius: 20px;
   box-shadow: 0px 3px 15px #0000001A;
   color: #3A3A3A;
   font-family: Almarai-Regular;
   padding: 1.5rem 1rem 1rem ;

&__name{
color: #3A0303;
font-family: Almarai-Bold;
font-size: 18px;
}
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}