<div class="row" *ngIf='userMode != scientificProblemUsers.Student'>
    <ngb-pagination class="col-5" [collectionSize]="totalCount" [(page)]="page" [pageSize]="adminFilterRequestModel.take" [rotate]="true" [boundaryLinks]="true" (pageChange)="onAdminPageChange()"></ngb-pagination>
   
    <button class="col-2" [ngClass]="{'default_btn': adminFilterRequestModel.sorField != 'studfullnamear' && adminFilterRequestModel.sorField != 'studfullnameen', 'asend_desend_btn' : this.adminFilterRequestModel.sorField != 'createdon' }"
    (click)='sortByName()'>
    {{'User_Requests.SORT_NAME' | translate}} 
        <span *ngIf='this.adminFilterRequestModel.sorField != "studfullnamear" && this.adminFilterRequestModel.sorField != "studfullnameen"'>
                <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
        </span> 
        <span *ngIf='sortByNameOrderType() == "asend"'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span> 
        <span *ngIf='sortByNameOrderType() == "desend"'>
            <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span>
    </button>
    <button class="col-2" [ngClass]="{'asend_desend_btn': adminFilterRequestModel.sorField != 'studfullnamear' && adminFilterRequestModel.sorField != 'studfullnameen', 'default_btn' : this.adminFilterRequestModel.sorField != 'createdon'}"
    (click)='sortByCreatedOn()'> 
     {{'User_Requests.SORT_DATE' | translate}}
     
        <span *ngIf='this.adminFilterRequestModel.sorField != "createdon"'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
        </span>
        <span *ngIf='sortByCreatedOnOrderType() == "asend"'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span> 
        <span *ngIf='sortByCreatedOnOrderType() == "desend"'>
            <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span>
     </button>

     <div class="col-3">
        <mat-checkbox class="example-margin"
                  [checked]="allSelected"
                  [indeterminate]="someItemsChecked()"
                  (change)="setAllChecked($event.checked)"></mat-checkbox>
        <span>
            <i (click)='deleteScProblemsByIds()' class="far fa-trash-alt"></i>
        </span>
        <span>
            <i (click)='exportScProblems()' class="far fa-trash-alt"></i>
        </span>
     </div>
</div>
<div class="row" *ngIf='userMode == scientificProblemUsers.Student'>
    <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="userFilterRequestModel.take" [rotate]="true" [boundaryLinks]="true" (pageChange)="onUserPageChange()"></ngb-pagination>
    <button  class="asend_desend_btn" (click)='userSortByCreatedOn()'>
        {{'User_Requests.SORT_DATE' | translate}}
        <span   *ngIf='userSortByCreatedOnOrderType()'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
         </span> 
        <span   *ngIf='!userSortByCreatedOnOrderType()'>
            <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span>
    </button>
</div>
<mat-grid-list cols="{{numberPerRow}}" rowHeight="3:3">
    <ng-container *ngIf="userMode == scientificProblemUsers.Student">
        <mat-grid-tile *ngFor='let item of items' >
            <app-card-student-scientific-problem (deleteScientificProblem)='deleteScientificProblem($event)' class="card" [scientificProblem]='item'></app-card-student-scientific-problem>
        </mat-grid-tile>
    </ng-container>
    <ng-container *ngIf="userMode == scientificProblemUsers.Admin">
        
        <mat-grid-tile *ngFor='let item of adminItems' >
            <app-card-admin-scientific-problem class="card" (deleteScientificProblem)='deleteScientificProblem($event)' 
            (addReplyToScProb)='addReplyToScProbGr($event)' (saveScProbToQuestionBank)='saveScProbToQuestionBankGr($event)' 
            (updateAllItemsChecked)='updateAllItemsChecked($event)' [scientificProblem]='item'></app-card-admin-scientific-problem>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>