.card{
    width: 95%;
    border-color: transparent;
    
}
.asend_desend_btn{
    background-color: #CB9118;
    color: #fff;
    border: 1px solid #CB9118;
    width: auto;
    font-size: 0.75rem;
    font-family: Almarai-Regular;
    height: 34px;
    border-radius: 8px;
    padding: 0 1rem;
    margin: 0 0.3rem;
    
}
.default_btn{
    background-color: #fff;
    color: #CB9118;
    border: 1px solid #CB9118;
    width: auto;
    font-size: 0.75rem;
    font-family: Almarai-Regular;
    height: 34px;
    border-radius: 8px;
    padding: 0 1rem;
    margin: 0 0.3rem;
}
.asend_btn{
    transform: rotate(180deg);

}
.asend_btn,
.desend_btn
{
    margin: 0 0.3rem;
}