<div class="card-request">
  <div class="card_header">
    <div class="col-6 d-flex align-items-center justify-content-between p-0 m-0">
      <span> {{'STUDENT_SUBSCRIBERS.TIME' | translate}} </span>

      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>{{studentProgramVacationStudentViewModel.requestDate  | date: 'dd/MM/yyyy'}}</span>
    </div>
  </div>

  <div class="card_body program">
    <div class="d-flex align-items-center justify-content-between program__header" >

      <p class="program__num  mb-0"></p>
      <div class="d-flex align-items-center justify-content-between " >
        <p class="program__num mb-0  mr-3 ml-3">
          {{ translate.currentLang == langEnum.en ? studentProgramVacationStudentViewModel?.enNameVacationStatus : studentProgramVacationStudentViewModel?.arNameVacationStatus}}</p>
        <span class="status" [ngClass]="{ 'accept' : studentProgramVacationStudentViewModel.statusEnum == studentProgramVacationStatus.Accept ,
                                  'pending' : studentProgramVacationStudentViewModel.statusEnum == studentProgramVacationStatus.Pending ,
                                  'rejected' : studentProgramVacationStudentViewModel.statusEnum == studentProgramVacationStatus.Rejected,
                                  'cancel' : studentProgramVacationStudentViewModel.statusEnum == studentProgramVacationStatus.Cancelled
                                     }"
        ></span>
      </div>
    </div>
    
   
    <div class="mx-1">
      <div class="d-flex justify-content-between mb-3">
        <div class="d-flex  mb-0">
          <img *ngIf='!studentProgramVacationStudentViewModel.avatarLink'  class="img_user" src="../../../../assets/images/student/user-profile.svg">
          <img *ngIf='studentProgramVacationStudentViewModel.avatarLink'   class="img_user" src="{{studentProgramVacationStudentViewModel.avatarLink}}" >
        <div class="mx-1 container-width">
          <p class="number_request  mb-0">{{ studentProgramVacationStudentViewModel?.no}}</p>
          <p class="program__name  bold ellipsis  p-0 mb-0"
          title="{{ translate.currentLang == langEnum.en ? studentProgramVacationStudentViewModel?.enProgBatchName : studentProgramVacationStudentViewModel?.arProgBatchName}}"
          > {{ translate.currentLang == langEnum.en ? studentProgramVacationStudentViewModel?.enProgBatchName : studentProgramVacationStudentViewModel?.arProgBatchName}}</p> 
        </div>
        </div>
      </div>

      
      <div class="row align-items-center justify-content-between">
        <div class="col-6">
          <span>{{'STUDENT_VACATION.FROM' | translate}}</span>
          <span class="bold">
            {{studentProgramVacationStudentViewModel.vacStartDate  | date: 'dd/MM/yyyy'}}
          </span>
        </div>
        <div class="col-6">
          <span>{{'STUDENT_VACATION.TO' | translate}}</span>
          <span class="bold">
            {{studentProgramVacationStudentViewModel.vacEndDate  | date: 'dd/MM/yyyy'}}
          </span>
        </div>
      </div>



      <div class="program_reason">
        <p class="  mb-0 pb-2"  > 
          <span class="program_user bold mb-0 ">
            {{'STUDENT_SUBSCRIBERS.REQUEST_REASON' | translate}}  :
         </span>
         <span class=" bold mb-0 " *ngIf="!studentProgramVacationStudentViewModel.vacReason ">{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}} </span>
         <span class=" bold mb-0 " *ngIf="studentProgramVacationStudentViewModel.vacReason ">{{ studentProgramVacationStudentViewModel?.vacReason }}</span>
        </p>
      
        <p class="mb-0 pb-2"  > 
          <span class=" program_user bold mx-1"> {{'GENERAL_DROP_OUT_REQUEST.REJECT_REASON' | translate}} : </span> 
            <span class="bold mb-0" *ngIf="!studentProgramVacationStudentViewModel.rejReason" >{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}}</span>
            <span class="bold mb-0 "  *ngIf="studentProgramVacationStudentViewModel.rejReason">{{ studentProgramVacationStudentViewModel?.rejReason }}</span>
        </p>
      
      </div>

      
      <!-- <p class="program_user bold mb-0" ></p>
      <p class="program__admin" *ngIf="studentProgramVacationStudentViewModel.statusEnum==studentProgramVacationStatus.Rejected"> {{'STUDENT_VACATION.ADMIN_ANSWER' | translate}}</p>
      <p class="program__answer "  *ngIf="studentProgramVacationStudentViewModel.statusEnum==studentProgramVacationStatus.Rejected">{{studentProgramVacationStudentViewModel.rejReason}}</p> -->

    </div>
  </div>
<!-- {{typeEnum === statusEnum.Empty}} -->
  <ng-container *ngIf="typeEnum === statusEnum.Pending" >
    <div class="body_footer">
      <button (click)="cancelStudentReq()" [disabled]="!studentProgramVacationStudentViewModel.isCancel" [ngClass]="{ 'negative' : !studentProgramVacationStudentViewModel.isCancel }"
              class="btn cancel-btn"> {{'STUDENT_VACATION.CANCEL' | translate}}  </button>
      <button (click)="terminateStudentReq()" [disabled]="!studentProgramVacationStudentViewModel.isTerminate" [ngClass]="{ 'negative' : !studentProgramVacationStudentViewModel.isTerminate }"
              class=" btn save-btn"> {{'STUDENT_VACATION.TERMINATE' | translate}}  </button>
    </div>
  </ng-container>
</div>
