@import '../../../user/components/update-user-profile/update-user-profile.scss';


.UpdateUser{
    .profile_background
    {
        background: url(../../../../../assets/images/profile_img.svg);
        height: 207px;
        width: 100%;
        border-radius: 30px;

    }
    .box_container{
        width: 99%;
        height: 656px;
    }

    .internal_scroll
    {
        max-height: 339px;
    }
    .col-20{
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        // border: 1px solid green;
    }
    .saveButton{

        background: #CB9118;
        border-radius: 12px;
        opacity: 1;
        width: 7.5rem;
        padding: 0.5rem;
        height: 2.31rem;
        border: none;
        color: #ffffff;
        display: block;
    }
    .info_contact{
        color: #B7BDC8;
        font-size: 14px;
        font-family:Almarai-Regular;
        margin-top: 1rem;

    }
  .disableDiv{
    
    pointer-events:none;
  }
  
  
  
  
}


