<div class="container-fluid UpdateUser" >
<!-- <div class="container-fluid UpdateUser" *ngIf="telInputParam?.countryIsoCode"> -->

    <div class="row">
        <div class="box_container">
            <!-- [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)"  -->
            <form class="form-group" [formGroup]="profileForm" >

               <div class="col-12 profile p-0 mb-50">
                    <div class="profile_background"></div>
                    <img class="img_profile" [src]="userProfileDetails?.proPic">
                    <input type="file" style="display: none;" #fileInput
                        (change)="onFileChange($any($event.target).files)">
                    <a class="custom_file_input" (click)="fileInput.click()" style="text-decoration: none;" id="upload_link">
                        <!-- {{'UPDATE_USER_PG.CHANGE_PIC' | translate}} -->
                        <img src="assets/images/update-user/UploadImage.svg"/>
                    </a>
                </div>

                <div class="internal_scroll">
                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 border_bottom">
                        <label class="UpdateUser__Label mt-5">{{'UPDATE_USER_PG.PERSONAL_INFORMATION' | translate}} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 pl-0 pr-0">
                        <div class="row pl-0 pr-0 ">
                            <!-- Names Arabic -->
                            
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.ar">
                                <label class="Register__Label" for="firstAr"> {{ 'UPDATE_USER_PG.NAME_AR' | translate }}
                                </label>
                                <input id="firstAr" pInputText type="text" formControlName="firstAr"
                                    name="firstAr" class="form-control UserRegister__FormControl">

                                <!-- <div *ngIf="f.firstAr.errors && (f.firstAr.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">

                                    <div *ngIf="f.firstAr.errors?.required">
                                        {{ 'UPDATE_USER_PG.NAME_AR_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="f.firstAr.errors?.maxlength">
                                        {{ 'UPDATE_USER_PG.NAME_AR_MAX_LENGTH' | translate }}
                                    </div>
                                    <div *ngIf="f.firstAr.errors?.minlength">
                                        {{ 'UPDATE_USER_PG.NAME_AR_MIN_LENGTH' | translate }}
                                    </div>
                                </div> -->
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.ar">
                                <label class="Register__Label" for="middleAr"> {{ 'UPDATE_USER_PG.FATHER_NAME_AR' | translate }} </label>
                                <input id="middleAr" pInputText type="text" formControlName="middleAr"
                                    name="middleAr" class="form-control UserRegister__FormControl">
                                    
                                    <!-- <div *ngIf="f.middleAr.errors && (f.middleAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.middleAr.errors?.required">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_AR_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.middleAr.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_AR_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.middleAr.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_AR_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>  -->
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.ar">
                                <label class="Register__Label" for="familyAr"> {{ 'UPDATE_USER_PG.FAMILY_NAME_AR' | translate }} </label>
                                <input id="familyAr" pInputText type="text" formControlName="familyAr"
                                    name="familyAr" class="form-control UserRegister__FormControl">

                                    <!-- <div *ngIf="f.familyAr.errors && (f.familyAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.familyAr.errors?.required">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_AR_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.familyAr.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_AR_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.familyAr.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_AR_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>  -->
                            </div>

                            <!-- End Names Arabic -->

                            <!-- Names English -->

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.en">
                                <label class="Register__Label" for="firstEn"> {{ 'UPDATE_USER_PG.NAME_EN' | translate }}
                                </label>
                                <input id="firstEn" pInputText type="text" formControlName="firstEn"
                                    name="firstEn" class="form-control UserRegister__FormControl">

                                <!-- <div *ngIf="f.firstEn.errors && (f.firstEn.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">

                                    <div *ngIf="f.firstEn.errors?.required">
                                        {{ 'UPDATE_USER_PG.NAME_EN_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="f.firstEn.errors?.maxlength">
                                        {{ 'UPDATE_USER_PG.NAME_EN_MAX_LENGTH' | translate }}
                                    </div>
                                    <div *ngIf="f.firstEn.errors?.minlength">
                                        {{ 'UPDATE_USER_PG.NAME_EN_MIN_LENGTH' | translate }}
                                    </div>
                                </div> -->
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.en">
                                <label class="Register__Label" for="middleEn"> {{ 'UPDATE_USER_PG.FATHER_NAME_EN' | translate }} </label>
                                <input id="middleEn" pInputText type="text" formControlName="middleEn"
                                    name="middleEn" class="form-control UserRegister__FormControl">
                                    
                                    <!-- <div *ngIf="f.middleEn.errors && (f.middleEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.middleEn.errors?.required">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_EN_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.middleEn.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_EN_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.middleEn.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FATHER_NAME_EN_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>  -->
                            </div>
                            
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="translate.currentLang == langEnum.en">
                                <label class="Register__Label" for="familyEn"> {{ 'UPDATE_USER_PG.FAMILY_NAME_EN' | translate }} </label>
                                <input id="familyEn" pInputText type="text" formControlName="familyEn"
                                    name="familyEn" class="form-control UserRegister__FormControl">

                                    <!-- <div *ngIf="f.familyEn.errors && (f.familyEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.familyEn.errors?.required">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_EN_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.familyEn.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_EN_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.familyEn.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.FAMILY_NAME_EN_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>  -->
                            </div>

                            <!-- End Names English -->

                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="birthdate"> {{ 'UPDATE_USER_PG.BIRTHDATE' |
                                    translate }} </label>
                                <input id="birthdate" pInputText type="date" formControlName="birthdate"
                                    name="birthdate" class="form-control UserRegister__FormControl">
                                

                                    <!-- <div *ngIf="f.birthdate.errors && (f.birthdate.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.birthdate.errors.required">
                                            {{ 'UPDATE_USER_PG.BIRTHDATE_REQUIRED' | translate }}
                                        </div>
                                    </div>  -->
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                                <label class="Register__Label" for="gender"> {{ 'GENERAL.GENDER' | translate }}
                                </label>
                                <div class="row">
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                        *ngFor="let item of collectionOfLookup.GENDER">
                                        <label for="male">
                                            <input type="radio" id="male" name="gender" formControlName="gender"
                                                value="{{item.id}}">
                                            {{ translate.currentLang == langEnum.en ? item.nameEn : item.nameAr}}
                                        </label>
                                        
                                         <section >
                                            <label class="UserLogin__Label" for="UserEmail">Radio-button</label>
                                                <mat-radio-group aria-label="Select an option"  class="example-radio-group">
                                                    <mat-radio-button value="1" class="example-radio-button" >Option 1</mat-radio-button>
                                                    <mat-radio-button value="2" class="example-radio-button" >Option 2</mat-radio-button>
                                                </mat-radio-group>
                                        </section> 
                                    </div> -->
                                    <!-- <div *ngIf="f.gender.errors && (f.gender.touched || isSubmit)"
                                            class="alert alert-danger mt-2 mb-2">
                                            <div *ngIf="f.gender.errors.required">
                                                {{ 'UPDATE_USER_PG.GENDER_REQUIRED' | translate }}
                                            </div>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 mt-3 mb-4 border_bottom">
                        <label class="UpdateUser__Label"> {{ 'UPDATE_USER_PG.CONTACT_INFO' | translate }} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="phoneNumber"> {{ 'GENERAL.PHONE_NUMBER' | translate }} </label>
                              
                                    <!-- <app-tel-input  (getPhonNumber)="applyPhoneNumber($event)" 
                                    [telInputParam]="telInputParam"></app-tel-input> -->

                                    <!-- <div *ngIf="f.phoneNumber.errors && (f.phoneNumber.touched || isSubmit)"
                                     class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.phoneNumber.errors.required">
                                            {{ 'UPDATE_USER_PG.PHONE_NUMBER_REQUIRED' | translate }}
                                        </div>
                                      
                                    </div>  -->
                            </div>
                      
                           

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label class="Register__Label" for="email"> {{ 'GENERAL.EMAIL' | translate }} ({{ 'UPDATE_USER_PG.OPTIONAL' | translate }})</label>
                                <input id="email" type="email" formControlName="email" style="width:100%;" readonly name="email"
                                    class="form-control UserRegister__FormControl dimmed" />
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="nationality"> {{ 'GENERAL.NATIONALITY' | translate
                                    }} </label>
                                <div>
                                    <!-- <select class="UpdateUser__Options" name="nameEn" formControlName="nationality">
                                        <option *ngFor="let nationalityItem of collectionOfLookup.NATIONALITY"
                                            [value]="nationalityItem.id">
                                            {{ translate.currentLang == langEnum.en ? nationalityItem.nameEn :
                                            nationalityItem.nameAr}}
                                        </option>
                                    </select> -->
                                </div>
                                <!-- <div *ngIf="f.nationality.errors && (f.nationality.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.nationality.errors.required">
                                        {{ 'UPDATE_USER_PG.NATIONALITY_REQUIRED' | translate }}
                                    </div>
                                </div> -->
                            </div>
      
                            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="phoneNumber"> {{ 'UPDATE_USER_PG.COUNTRY' |
                                    translate }} </label>

                                <!-- <select class="UpdateUser__Options" name="nameEn" formControlName="countryCode">
                                    <option *ngFor="let countryItem of collectionOfLookup.COUNTRY"
                                        [value]="countryItem.id">
                                        {{ translate.currentLang == langEnum.en ? countryItem.nameEn : countryItem.nameAr}}
                                    </option>
                                </select> -->
<!-- 
                                <div *ngIf="f.countryCode.errors && (f.countryCode.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.countryCode.errors.required">
                                        {{ 'UPDATE_USER_PG.COUNTRY_CODE' | translate }}
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="col-lg-3 col-md-6 col-sm-2 col-xs-2 mt-3">
                                <label class="Register__Label" for="address"> {{ 'UPDATE_USER_PG.ADDRESS' | translate }}
                                </label>
                                <input id="address" pInputText type="text" formControlName="address" name="address" width="70px"
                                    class="form-control UserRegister__FormControl">

                                    <div *ngIf="f.address.errors && (f.address.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.address.errors.required">
                                            {{ 'UPDATE_USER_PG.ADDRESS_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MIN_LENGTH' | translate }}
                                        </div>
                                    </div> 
                            </div> -->
                           <div class="col-12">
                               <br>
                           </div>
                            <div class="col-3 align-self-end">
                                <p class="info_contact mb-0">
                                    {{ 'UPDATE_TEACHER_PG.INFO_CONTACT' | translate }}
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-2 col-xs-2 mt-3">
                                <label class="Register__Label" for="SelectDay"> اليوم
                                </label>
                                <input id="SelectDay" pInputText type="text" formControlName="SelectDay" name="SelectDay" width="70px"
                                    class="form-control UserRegister__FormControl">

                                    <!-- <div *ngIf="f.address.errors && (f.address.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.address.errors.required">
                                            {{ 'UPDATE_USER_PG.ADDRESS_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>  -->
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-2 col-xs-2 mt-3">
                                <label class="Register__Label" for="SelectTime"> الوقت
                                </label>
                                <input id="SelectTime" pInputText type="SelectTime" formControlName="SelectTime" name="SelectTime" width="70px"
                                    class="form-control UserRegister__FormControl">

                                    <!-- <div *ngIf="f.address.errors && (f.address.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.address.errors.required">
                                            {{ 'UPDATE_USER_PG.ADDRESS_REQUIRED' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.maxlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MAX_LENGTH' | translate }}
                                        </div>
                                        <div *ngIf="f.address.errors?.minlength">
                                            {{ 'UPDATE_USER_PG.ADDRESS_MIN_LENGTH' | translate }}
                                        </div>
                                    </div>  -->
                            </div>

                        </div>
                    </div>

                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 mt-3 mb-4  border_bottom">
                        <label class="UpdateUser__Label"> {{ 'UPDATE_TEACHER_PG.EDU' | translate }} </label>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
                        <div class="row pl-0 pr-0">

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="academiceEducation"> {{ 'UPDATE_USER_PG.EDU' | translate }} </label>
                                
                                <select class="UpdateUser__Options" name="nameEn" formControlName="academiceEducation">
                                    <!-- <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                        [value]="educationalLevelItem.id">
                                        {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                        educationalLevelItem.nameAr}}
                                    </option> -->
                                </select>
                                   <!-- 
                                <div *ngIf="f.academiceEducation.errors && (f.academiceEducation.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.academiceEducation.errors.required">
                                        {{ 'UPDATE_USER_PG.EDU_REQUIRED' | translate }}
                                    </div>
                                </div> -->
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="educationalLevel"> {{ 'UPDATE_USER_PG.EDU_LEVEL' | translate }} </label>
                                
                                <select class="UpdateUser__Options" name="nameEn" formControlName="educationallevel">
                                    <!-- <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                        [value]="educationalLevelItem.id">
                                        {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                        educationalLevelItem.nameAr}}
                                    </option> -->
                                </select>
<!-- 
                                <div *ngIf="f.educationallevel.errors && (f.educationallevel.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.educationallevel.errors.required">
                                        {{ 'UPDATE_USER_PG.EDU_LEVEL_REQUIRED' | translate }}
                                    </div>
                                </div> -->
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="occupation"> {{ 'UPDATE_USER_PG.OCCUPATION' |
                                    translate }} </label>
                                <input id="occupation" pInputText type="text" formControlName="occupation"
                                    name="occupation" class="form-control UserRegister__FormControl">

                                <!-- <div *ngIf="f.occupation.errors && (f.occupation.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.occupation.errors.required">
                                        {{ 'UPDATE_USER_PG.OCCUPATION_REQUIRED' | translate }}
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-12">
                                <br>
                                <br>
                            </div>

                            <div class="col-4">
                                <label class="Register__Label" for="learnQuran"> {{ 'UPDATE_TEACHER_PG.LEARN_THEQURAN' | translate }} </label>

                                <section>
                                    <!-- <label class="UserLogin__Label" for="UserEmail">Radio-button</label> -->

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.GOVERNMENTAL_ENTITY' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.NOTGOVERNMENTAL_ENTITY' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.learnQuran.errors && (f.learnQuran.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.learnQuran.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>


                            <div class="col-20">
                                <label class="Register__Label" for="side"> {{ 'UPDATE_TEACHER_PG.SIDE' |
                                    translate }} </label>
                                <input id="side" pInputText type="text" formControlName="occupation"
                                    name="side" class="form-control UserRegister__FormControl">

                                <!-- <div *ngIf="f.side.errors && (f.side.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.side.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                       
                                    </div>
                                </div> -->
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="duration"> {{ 'UPDATE_TEACHER_PG.duration' | translate }} </label>
                                
                                <select class="UpdateUser__Options" name="nameEn" formControlName="duration">
                                    <!-- <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                        [value]="educationalLevelItem.id">
                                        {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                        educationalLevelItem.nameAr}}
                                    </option> -->
                                </select>
                                <!-- 
                                <div *ngIf="f.duration.errors && (f.duration.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.duration.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}

                                    </div>
                                </div> 
                                -->
                            </div>
                            <div class="col-12">
                                <br>
                                <br>
                            </div>

                            <div class="col-20 ">
                                <label class="Register__Label" for="improvingQuran"> {{ 'UPDATE_TEACHER_PG.IMPROVING_QURAN_WITH_TAJWEED' | translate }} </label>

                                <section>

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.YES' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.NO' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.improvingQuran.errors && (f.improvingQuran.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.improvingQuran.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>

                            <div class="col-20 ">
                                <label class="Register__Label" for=" experienceTeachingSunnah "> {{ 'UPDATE_TEACHER_PG.EXPERIENCE_TEACHING_SUNNAH' | translate }} </label>

                                <section>

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.YES' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.NO' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.experienceTeachingSunnah.errors && (f.experienceTeachingSunnah.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.experienceTeachingSunnah.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>


                            <div class="col-20 ">
                                <label class="Register__Label" for="experienceTeachingOnline"> {{ 'UPDATE_TEACHER_PG.EXPERIENCE_TEACHING_ONLINE' | translate }} </label>

                                <section>

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.YES' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.NO' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.experienceTeachingOnline.errors && (f.experienceTeachingOnline.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.experienceTeachingOnline.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>




                            <div class="col-20 ">
                                <label class="Register__Label" for="experienceTeachingforeigners"> {{ 'UPDATE_TEACHER_PG.EXPERIENCE_TEACHING_FOREIGNERS' | translate }} </label>

                                <section>

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.YES' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.NO' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.experienceTeachingforeigners.errors && (f.experienceTeachingforeigners.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.experienceTeachingforeigners.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>
                            

                            <div class="col-20 ">
                                <label class="Register__Label" for="leaveSave"> {{ 'UPDATE_TEACHER_PG.LEAVE_SAVE' | translate }} </label>

                                <section>

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.YES' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.NO' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.leaveSave.errors && (f.leaveSave.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.leaveSave.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>
                            
                            <div class="col-12">
                                <br>
                            </div>
                            <div class="col-20 ">
                                <label class="Register__Label" for="leaveRecitation"> {{ 'UPDATE_TEACHER_PG.LEAVE_RECITATION' | translate }} </label>

                                <section>

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.YES' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.NO' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.leaveRecitation.errors && (f.leaveRecitation.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.leaveRecitation.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>


                            
                            <div class="col-20 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="typeReading"> {{ 'UPDATE_TEACHER_PG.TYPE_READING' |
                                    translate }} </label>
                                <input id="typeReading" pInputText type="text" formControlName="typeReading"
                                    name="typeReading" class="form-control UserRegister__FormControl">

                                <!-- <div *ngIf="f.typeReading.errors && (f.typeReading.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.typeReading.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                       
                                    </div>
                                </div> -->
                            </div>

                            <div class="col-20 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="languages"> {{ 'UPDATE_TEACHER_PG.LANGUAGES' |
                                    translate }} </label>
                                    <select class="UpdateUser__Options" name="nameEn" formControlName="languages">
                                        <!-- <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                            [value]="educationalLevelItem.id">
                                            {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                            educationalLevelItem.nameAr}}
                                        </option> -->
                                    </select>
                                <!-- <div *ngIf="f.languages.errors && (f.languages.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.Languages.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                       
                                    </div>
                                </div> -->
                            </div>

                            <div class="col-12">
                                <br>
                                <br>
                            </div>


                            <div class="col-4 mt-4 mb-3 mt-3 mb-4 border_bottom">
                                <label class="UpdateUser__Label"> {{ 'UPDATE_TEACHER_PG.AVAILABLE_PROGRAMS_AND_TIMES' | translate }} </label>
                            </div>
                         <div class="col-12"></div>
                            <div class="col-3 ">
                                <label class="Register__Label" for="workPlatform"> {{ 'UPDATE_TEACHER_PG.WORK_PLATFORM' | translate }} </label>

                                <section>

                                        <mat-radio-group aria-label="Select an option"  class="example-radio-group update_teacher_pg">
                                            <mat-radio-button value="1" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.VOLUNTEER' | translate }}</mat-radio-button>
                                            <mat-radio-button value="2" class="example-radio-button" >{{ 'UPDATE_TEACHER_PG.TOGET_REWARD' | translate }}</mat-radio-button>
                                          </mat-radio-group>
                                  </section>

                                    <!-- <div *ngIf="f.workPlatform.errors && (f.workPlatform.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.workPlatform.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                    </div>
                                </div> -->

                            </div>

                            <div class="col-20 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="bankName"> {{ 'UPDATE_TEACHER_PG.BANK_NAME' |
                                    translate }} </label>
                                <input id="bankName" pInputText type="text" formControlName="bankName"
                                    name="bankName" class="form-control UserRegister__FormControl">

                                <!-- <div *ngIf="f.bankName.errors && (f.bankName.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.bankName.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                       
                                    </div>
                                </div> -->
                            </div>
                            
                            <div class="col-20 col-md-2 col-sm-2 col-xs-2">
                                <label class="Register__Label" for="accountNumber"> {{ 'UPDATE_TEACHER_PG.ACCOUNT_NUMBER' |
                                    translate }} </label>
                                <input id="accountNumber" pInputText type="text" formControlName="accountNumber"
                                    name="accountNumber" class="form-control UserRegister__FormControl">

                                <!-- <div *ngIf="f.accountNumber.errors && (f.accountNumber.touched || isSubmit)"
                                    class="alert alert-danger mt-2 mb-2">
                                    <div *ngIf="f.accountNumber.errors.required">
                                        {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                       
                                    </div>
                                </div> -->
                            </div>



                            <div class="col-12">
                                <br>
                                <br>
                            </div>


                            <div class="col-8 ">
                                <label class="Register__Label" for="Languages"> {{ 'UPDATE_TEACHER_PG.PROGRAM_TAUGHT' | translate }} </label>
                                <div class="row">
                                    <div class="col-4">
                                <label class="Register__Label" for="Languages"> {{ 'UPDATE_TEACHER_PG.CHOOSE_PROGRAM' | translate }} </label>

                                        <select class="UpdateUser__Options" name="nameEn" formControlName="chooseProgram">
                                            

                                            <!-- <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                                [value]="educationalLevelItem.id">
                                                {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                                educationalLevelItem.nameAr}}
                                            </option> -->
                                        </select>
                                    <!-- <div *ngIf="f.chooseProgram.errors && (f.chooseProgram.touched || isSubmit)"
                                        class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.chooseProgram.errors.required">
                                            {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                           
                                        </div>
                                    </div> -->
                                    </div>

                                    <div class="col-4">
                                        <label class="Register__Label" for="proficiencyDegree"> {{ 'UPDATE_TEACHER_PG.PROFICIENCY_DEGREE' | translate }} </label>

                                        <select class="UpdateUser__Options" name="nameEn" formControlName="proficiencyDegree">
                           
                                            <!-- <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                                [value]="educationalLevelItem.id">
                                                {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                                educationalLevelItem.nameAr}}
                                            </option> -->
                                        </select>
                                    <!-- <div *ngIf="f.proficiencyDegree.errors && (f.proficiencyDegree.touched || isSubmit)"
                                        class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.proficiencyDegree.errors.required">
                                            {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                           
                                        </div>
                                    </div> -->
                                    </div>
                                    <div class="col-4 align-self-end">
                                        <label class="Register__Label invisible " for="Languages"> {{ 'UPDATE_TEACHER_PG.ADD' | translate }} </label>

                                        <button  type="button" class="saveButton btn"> {{ 'UPDATE_TEACHER_PG.ADD' | translate }}</button>
                                    </div>


                                 
                                </div>
                                   
                            </div>
                            <!-- upload file  -->
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3" *ngFor="let item of listbadges">
                                        <div class="badges mt-3 " >
                                            <div class="badge badge-info p-2 " >
                                            <div class="d-flex justify-content-between">
                                                <p class="ellipsis mb-0" matTooltip="fff"> uggggggggggggggggggggguuuuu</p>
                                                <a ><i class="fas fa-times-circle"></i></a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- ////////////////////////// part 2 -->

                            
                            <div class="col-12">
                                <br>
                                <br>
                            </div>


                            <div class="col-8 ">
                                <label class="Register__Label" for="Languages"> {{ 'UPDATE_TEACHER_PG.ADDING_SUGGESTION' | translate }} </label>
                                <div class="row">
                                    <div class="col-4">
                                <label class="Register__Label" for="writeProgram"> {{ 'UPDATE_TEACHER_PG.WRITE_PROGRAM' | translate }} </label>

                                    
                                        <input id="writeProgram" pInputText type="text" formControlName="writeProgram"
                                        name="writeProgram" class="form-control UserRegister__FormControl">
    
                                    <!-- <div *ngIf="f.writeProgram.errors && (f.writeProgram.touched || isSubmit)"
                                        class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.writeProgram.errors.required">
                                            {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                           
                                        </div>
                                    </div> -->
                                    </div>

                                    <div class="col-4">
                                        <label class="Register__Label" for="proficiencyDegree"> {{ 'UPDATE_TEACHER_PG.PROFICIENCY_DEGREE' | translate }} </label>

                                        <select class="UpdateUser__Options" name="nameEn" formControlName="proficiencyDegree_forSuggestion">
                           
                                            <!-- <option *ngFor="let educationalLevelItem of collectionOfLookup.EDU_LEVEL"
                                                [value]="educationalLevelItem.id">
                                                {{ translate.currentLang == langEnum.en ? educationalLevelItem.nameEn :
                                                educationalLevelItem.nameAr}}
                                            </option> -->
                                        </select>
                                    <!-- <div *ngIf="f.proficiencyDegree_forSuggestion.errors && (f.proficiencyDegree_forSuggestion.touched || isSubmit)"
                                        class="alert alert-danger mt-2 mb-2">
                                        <div *ngIf="f.proficiencyDegree_forSuggestion.errors.required">
                                            {{ 'UPDATE_USER_PG.THISFIELD_REQUIRED' | translate }}
                                           
                                        </div>
                                    </div> -->
                                    </div>
                                    <div class="col-4 align-self-end">
                                        <label class="Register__Label invisible " for="Languages"> {{ 'UPDATE_TEACHER_PG.ADD' | translate }} </label>

                                        <button  type="button" class="saveButton btn"> {{ 'UPDATE_TEACHER_PG.ADD' | translate }}</button>
                                    </div>


                                 
                                </div>
                                   
                            </div>
                            <!-- upload file  -->
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3" *ngFor="let item of listbadges">
                                        <div class="badges mt-3 " >
                                            <div class="badge badge-info p-2 " >
                                            <div class="d-flex justify-content-between">
                                                <p class="ellipsis mb-0" matTooltip="fff"> uggggggggggggggggggggguuuuu</p>
                                                <a ><i class="fas fa-times-circle"></i></a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

















                           
                            
                        </div>
                    </div>

                    
                    

                    <div class="form-group col-lg-12 mx-auto mb-0 mt-5">
                        <button type="submit" class="btn UserLogin__Submit"> {{ 'GENERAL.SAVE' | translate }} </button>
                    </div>

                    <!-- <div *ngIf="resMessage.message" class="alert alert-{{ resMessage.type }} my-4 py-2">
                        {{ resMessage.message }}
                    </div> -->
                </div>
            </form>
        </div>
    </div>
</div>



