@import '../../../../student-program-request-view/stu-request-details/stu-join-request/stu-tab-request/stu-tab-request.component.scss'
;
.reuest_container {
  height: 74vh;
  // .interTab {
  //   background-color: #FBFBFB;
  //   height: 53vh;
  //   min-height: 30vh;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   border-radius: 0 0 0.5rem;
  // }
}
.interTab {
  background-color: #FBFBFB;
  height: 54vh;
}
