<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <app-exam-forms-list (selectedExamFormId)="setSelectedExam($event)">
            </app-exam-forms-list>
        </div>
        <div class="col-lg-9  col-md-9 col-sm-12 pl-0">
            <app-program-attache-exam-templats [selectedExamFormId]="selectedExamFormId"></app-program-attache-exam-templats>

        </div>
        <section>
            <div class="row">
              <button (click)="assignExamFormToProgram()" class="save-btn btn btn-danger" >{{'QUESTION_BANK.SAVE' | translate}}</button>
            </div>
          </section>
    </div>
</div>





