<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <app-exam-forms-list (selectedExamFormId)="setSelectedExam($event)">
            </app-exam-forms-list>
        </div>
        <div class="col-lg-9  col-md-9 col-sm-12 pl-0">
            <app-program-attache-exam-templats [selectedExamFormId]="selectedExamFormId"></app-program-attache-exam-templats>
            <div  class="row justify-content-end ml-3 mt-3">
                <button   (click)="assignExamFormToProgram()"  class="save-btn" > 
                    {{ "GENERAL.SAVE" | translate }}
                </button>
              
              </div>
        </div>
          
    </div>
</div>





