@import '../../../../scientific-material/components/scientific-material-view/programs-list/programs-list.component.scss';

@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_buttons.scss';

.hidden__button{
    display: none;
}
.advanced_search {
    font-family: Almarai-Bold;
    font-size: 12px;
    letter-spacing: 0px;
    color: #CB9118;
    opacity: 1;
    letter-spacing: 0px;
    opacity: 1;
    cursor: pointer;
}
.card_advanced_search{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0.4rem ;
    background-color: #ffffff;
    border: 1px solid #C1C7D0;
    border-radius: 7px;
    margin: 0.2rem;
    p
      {
        color: #C1C7D0;
     }
}
.cancel-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background:$icon_input ;
    border-radius: 12px;
    opacity: 1;
    width:50%;
    padding: 0.5rem;
    height: 2.31rem;
    border: none;
    color: #ffffff;
    display: block;
    }

    .list-group-item{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 12px;
        letter-spacing: 0px;
        color: #828282;
        margin-bottom: 1rem;
        opacity: 1;
        margin-top: 1rem;
        font-family: Almarai-Bold;
        font-size: 1rem;
        justify-content: space-between;
            &.active ,&:hover {    
            background: #CB9118 0% 0% no-repeat padding-box;       
            color: #FFFFFF;
            opacity: 1;
            text-decoration: none;
            .count{
                background-color: #fff;
            }
        }
    
                
            .fa-trash-alt ,.fa-copy{
                color:#8E2520
            }
    
            &.active .fa-trash-alt ,  &.active .fa-copy
            ,&:hover .fa-trash-alt , &:hover .fa-copy
            {
                color: #FFFFFF;
            }

         
           
    }    .advancedSearchForm{
                .label{
                    display: block;
                    color: #C1C7D0;
                    font-size: 14PX;
                    font-family: Almarai-Bold;
                }
                &:lang(ar){
                    text-align: right;
                }
                &:lang(en){
                    text-align: left;
                }
                .btn_replay{
                    margin: 0 0.5rem;

                }
            }
