@import '../../../../scientific-material/components/scientific-material-view/programs-list/programs-list.component.scss';

@import 'src/assets/scss/_variables.scss';

.advanced_search {
    font-family: Almarai-Bold;
    font-size: 12px;
    letter-spacing: 0px;
    color: #CB9118;
    opacity: 1;
    letter-spacing: 0px;
    opacity: 1;
}
.cancel-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background:$icon_input ;
    border-radius: 12px;
    opacity: 1;
    width:50%;
    padding: 0.5rem;
    height: 2.31rem;
    border: none;
    color: #ffffff;
    display: block;
    }
