/*switching language*/
.btttn:lang(en){
    background-color: green !important;
}
.btttn:lang(ar){
    background-color: red !important;
}

.header{
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    background: transparent linear-gradient(90deg,#340303  0%, #680505 100%) 0% 0% no-repeat padding-box;
    border-radius: 25px 0px 0px 0px;
    display: inline-block;
    margin-left: -6px;

    .no-gutters {
        margin-right: 0;
        margin-left: 0;
      }
    
    .header__img-larg{
         height: 100%;
         width: 100%;
        margin-right: 22px;
        //transform: scaleX(-1); 
        background: url('../../../../assets/images/header/header-larg.png');
    }

    .header__img-small{
        // height: 100%;
        // width: 100%;
        margin-right: 22px;
        //transform: scaleX(-1); 
        background: url('../../../../assets/images/header/header-small.png');
    }

    .header__padding{
        padding: 2.1rem!important;
    }
}