/*switching language*/
.btttn:lang(en){
    background-color: green !important;
}
.btttn:lang(ar){
    background-color: red !important;
}
.header:lang(ar){
    border-radius: 0px  25px 0px  0px;
    margin-right: -6px;


}
.header{
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    background: transparent linear-gradient(90deg,#340303  0%, #680505 100%) 0% 0% no-repeat padding-box;
    border-radius: 25px 0px 0px 0px;
    display: inline-block;
    margin-left: -6px;

    .no-gutters {
        margin-right: 0;
        margin-left: 0;
      }
    
   
    .header__padding{
        padding: 2.1rem!important;
    }
    .large_img_header{
        width: 500px;
    }
}

// new style add by nermen  

.navbar:lang(en)
 {border-radius: 25px  0px 0px  0px;
    margin-left: 0.5rem;
     padding: 0;  
     background: transparent linear-gradient(90deg,#340303  0%, #680505 100%) 0% 0% no-repeat padding-box;
}
.navbar:lang(ar)
{ padding: 0;  
     background: transparent linear-gradient(90deg, #680505 0% ,#340303  100%) 0% 0% no-repeat padding-box;
    border-radius: 0px  25px 0px  0px;
    margin-right: 0.5rem;
}

.navbar-nav {
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
}
.nav-item_Scientific {
//    max-width: 20%;
   min-width: 110px;
    text-align: center;
    white-space: pre-line;
    // border: 1px solid red;
}
.nav-item_Scientific >a{
 font-size: 1.25rem;
 font-family:Almarai-Bold ;
color: #ffffff

}
.nav-item_language{
    font-size: 0.85rem;
 font-family:Almarai-Bold ;
color: #ffffff
}
.border-right:lang(ar){
    border-right: 1px solid #ffff;
}
.border-left:lang(en){
    border-left: 1px solid #ffff;
}
.fa-bell,.fa-user
{
    color: #ffffff;
    font-size: 20px;
}

.header__img-small{
 
    background-position: center;
     background: url('../../../../assets/images/header/small.svg'); 
     height: 72px;
     width: 229px;
     background-size: 70%;
     background-position-x: right;
     background-repeat: no-repeat;
     background-position-y: center;
     transform: scaleX(-1);
    // border: 1px solid red;

}
.header__img-small:lang(ar){
    transform: scaleX(1);
}
.header__img-larg{
   
    background: url('../../../../assets/images/header/largeimg.svg');
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;
    height: 72px;
    width: 866px;
    // border: 1px solid red;

    }
.nav-items_user ,.nav-items_notify{
    width: 1.5rem;
    height: 1.5rem;
}