<nav class="navbar navbar-expand-sm bg-light ">
    <ul class="navbar-nav">
        <li class="nav-item header__img-small">
          </li>
      <li class="nav-item nav-item_Scientific">
        <a class="nav-link" >{{title}}</a>
      </li>
      <li class="nav-item header__img-larg">
      </li>
    
    <li class="pl-3 pr-3 width_3">
        <a   class="nav-item_language" (click)="switchLang()" > {{displayLang()}}</a>
    </li>

    <li class="pl-3 pr-3 border-right border-left width_5">
        <a (click)="showoverlay()">
              <img  class="nav-items_user " src="../../../../assets/images/header/user.svg">
        </a>
        <app-view-user-profile-custom *ngIf="!showPro"  (submitClose)="closeProfile($event)"></app-view-user-profile-custom>
    </li>

    <li class="pl-3 pr-3 width_3">
        <a> 
            <img    class="nav-items_notify" src="../../../../assets/images/header/notify.svg">

        </a>
    </li>
    </ul>
  </nav>

  <div class="showoverlay" (click)="showoverlay_withoverlay()" [ngClass]="{'disableBlock': disableBlock}"></div>
