@import '../../../../../../src/assets/scss/_variables.scss';

.group_header{
  margin-top: 1.5%;
  border-bottom:1px solid #CB9118;
  .item_group{
    cursor: pointer;
    background-color: #EBEBEB;
    font-size: .9rem;
    color: #828282;
    text-align: center;
    margin-left: 4px;
    padding: 10px 20px;
    border-radius: 10px 10px 0  0;
  }
  .item_group:lang(en){
    margin-left: 0 !important;
    margin-right: 4px !important;
  }
  .item_group_active{
    background-color: #CB9118;
    color: #FFFFFF;
  }
}


.fix_margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
