<div class="list-group list-exam_form">
    <div class="d-flex justify-content-between">
    <p class="mb-4 p_header">{{'EXAM_FORM.EXAM_FORMS' | translate}}</p>
    <br/>
    <a [routerLink]="" (click)="newExam()">
        <span class="link_Add ">  {{ 'EXAM_FORM.ADD_FORM' | translate }}
        <img  src="../../../../../../assets/images/add.svg"   class=" cursor-pointer Catogry_Icon_Add" >
      </span>
    </a> 
  </div>
  <app-search-input (searchTerm)=getExamForms($event)></app-search-input>
  
  <div class="internal_scroll_list_group ">
    <a class="list-group-item d-flex" *ngFor="let examForm of examFormsList ; let i=index;" 
      [class.active]="selectedIndex === i" 
      (click)="loadExams(examForm.id,examForm.arabExamFormNam,examForm.engExamFormNam);selectedIndex=i">
       
          <p class="ellipsis mb-0 Exam-Forms" matTooltip="{{translate.currentLang===langEnum.en?examForm.engExamFormNam:examForm.arabExamFormNam}}">{{translate.currentLang===langEnum.en?examForm.engExamFormNam:examForm.arabExamFormNam}}</p>
          <div class="d-flex ">
             <a (click)="confirmDialog(examForm.id)" > <i class="far fa-trash-alt"></i></a>
             <!-- <a (click)="loadExam(examForm.id) "> <i class="fas fa-pencil-alt"></i></a>  -->
            </div>
    
    </a>
    <div class="d-flex">
      <label  class="no-data" *ngIf="examFormsList.length===0">
        {{"GENERAL.NO_DATA"|translate}} 
    </label>
    </div>
  </div>
  </div>
