@import 'src/assets/scss/_variables.scss';




.link_Add{
    color:$icon_input;
    margin-bottom: 3rem;
  } 

  .add_question:lang(ar){
    text-align: right;
  }

  .Catogry_Icon_Add{
    align-self: center;  
    margin-right: 0.3rem;
    margin-left: 0.3rem;
   }


@media (min-width: 992px){
    .offset-cu-21 {
        margin-left: 21%;
      margin-right: 0;
    
    }
    .offset-cu-21:lang(ar) {
      margin-right: 21%;
      margin-left: 0;
    
    }
    }