@import 'src/assets/scss/_variables.scss';
@import "../../../../../../assets/scss/buttons";

.attache-exam-list{
    background: #FBFBFB;
    border-radius: 19px;
    opacity: 1;
    padding: 1rem;
    height : 100%;
    margin-top: 1rem;
    margin-bottom: 0;
    .Catogry_Icon_Add{
      align-self: center;  
      margin-right: 0.3rem;
      margin-left: 0.3rem;
     }
    &:lang(en){
      margin-right: 0rem;}
    &:lang(ar){
      margin-left: 1rem;
    
    }

    .width1_4{
      width: 1.4rem;
      &:lang(en){
        float: right;
      }
    }
    .disabled
    {
      pointer-events: none;
    
    }
    
}




.internal_scroll_list_group
{
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;

    &:lang(ar)
     {
      padding-left: 0.5rem;
     }
     &:lang(en) 
     {
        padding-right: 0.5rem;
     }
  
}

   
.link_Add{
  color:$icon_input;
  margin-bottom: 3rem;
  cursor: pointer;
} 
.p_header{
  
    color:black; 
    margin-bottom: 1rem;
    font-size: large;
    font-weight: bold;
  
}
.p_header {
  &:lang(en){
    float: left;

  }
  &:lang(ar){
    float: right !important;

  }}

  
// Background border check box
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #8e2520;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #8e2520;
  border-radius: 5px;
  opacity: 1;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:#8e2520;

}

::ng-deep .mat-checkbox:hover {
  ::ng-deep .mat-checkbox-frame {
      border-color: #8e2520 !important; //what ever color you want
  }
}



.no-data{
    font: normal normal  1.25rem Almarai;
    color:black; 
    margin-bottom: 1rem;

    &:lang(en){
      text-align: left;
      padding-top: 2rem;
    padding-left: 4rem;
    }
    &:lang(ar){
      text-align: right ;
      padding-top: 2rem;
      padding-right: 4rem;
    }
}