@import 'src/assets/scss/_variables.scss';
.attache-exam-list{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 1rem;
    height : 100%;
    margin-top: 1rem;
    margin-bottom: 0;
    .Catogry_Icon_Add{
      align-self: center;  
      margin-right: 0.3rem;
      margin-left: 0.3rem;
     }
}

.attache-exam-list:lang(en){
  margin-right: 0rem;
 
}
.attache-exam-list:lang(ar){
  margin-left: 1rem;
 
}

.contanier_matrial-card{
   
   // height: 495px;
    overflow-y: auto;
 
}

.internal_scroll_list_group:lang(ar) {
  height: 470px;
 overflow-y: auto;
  padding-left: 0.5rem;
}
.internal_scroll_list_group:lang(en) {
          height: 470px;
          overflow-y: auto;
          padding-right: 0.5rem;
      }

.qestion{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    opacity: 1;
    padding: 1rem;
   
}

.qestion p{
    text-align: right;
    font: normal normal bold 18px/28px Almarai;
    letter-spacing: -0.26px;
    color: #8E2520;
    opacity: 1;
}
.qestion h3{
text-align: right;
font: normal normal normal 12px/14px Almarai;
letter-spacing: -0.17px;
color: #3A3A3A;
opacity: 1;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .qestionHeader {
    background: #C1C7D0 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 10rem;
    height : 100%;
    width: 100%;

  }
// expanded card 



.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover ,
.mat-expansion-panel-header._mat-animation-noopable ,.mat-expansion-panel .mat-expansion-panel-header{
  background-color: #C1C7D0;
  
}

.mat-accordion .mat-expansion-panel {
  margin-bottom: 1rem;
 
}
.mat-expansion-panel-header{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 60px;
  align-items: center;
}

.mat-expansion-panel-header-description{
  color: #3A3A3A;
  font-size: 14px;
  font-weight: bold;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  background-color: #C1C7D0;
}
.mat-expansion-panel-header-title{
   color: #3A3A3A;
  font-size: 14px;
  font-weight: bold;
}
.link_Add{
  color:$icon_input;
  margin-bottom: 3rem;
} 
.p_header{
  // font: normal normal bold 1.25rem Almarai;
  // font: normal normal 1.25rem Almarai;
    // font-weight: bold;
    color:black; 
    margin-bottom: 1rem;
    font-size: large;
    font-weight: bold;
    // margin-bottom: 1rem;
}
.p_header:lang(en){
  float: left;
//  padding-left: .5rem;
}
.p_header:lang(ar){
  float: right !important;
  // padding-right: .75rem;
}

.span_icon:lang(ar){
  text-align: left;
  float: left;
  padding:0px; 
  margin: 0px;


}
.span_icon:lang(en){
  float: right ;
  text-align: right;
  padding:0px; 
  margin: 0px;
}
.span_question{
  padding-right: 0;
  padding-left: 0;
}
.span_question:lang(ar){
  text-align: right;


}
.span_question:lang(en){
  text-align: left;
}
.add_question:lang(ar){
  text-align: right;
}
.p_answer:lang(ar){
  text-align: right;


}
.p_answer:lang(en){
  text-align: left;
}
.fa-trash-alt ,.fa-pencil-alt{
  color: #fff;;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;

}
// Background border
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #8e2520;
  // background-color: #ffffff;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #8e2520;
  border-radius: 5px;
  opacity: 1;
}
///
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
::ng-deep 
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:#8e2520;

}

::ng-deep .mat-checkbox:hover {
  ::ng-deep .mat-checkbox-frame {
      border-color: #8e2520 !important; //what ever color you want
  }
}
.chicx_box:lang(ar){
  float: right;
}
.chicx_box:lang(en){
  float: left;
}




.no-data{
  font: normal normal  1.25rem Almarai;
    color:black; 
    margin-bottom: 1rem;
}
.no-data:lang(en){
  text-align: left;
  padding-top: 2rem;
 padding-left: 4rem;
}
.no-data:lang(ar){
  text-align: right ;
  padding-top: 2rem;
  padding-right: 4rem;
}

// switch button

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 0 !important;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #867e7e;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CB9118;
}

input:focus + .slider {
  box-shadow: 0 0 1px #CB9118;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
// end
@media (min-width: 992px){
.offset-cu-21 {
    margin-left: 21%;
  margin-right: 0;

}
.offset-cu-21:lang(ar) {
  margin-right: 21%;
  margin-left: 0;

}
}

.disabled
{
  pointer-events: none;

}

.fa-trash-alt ,.fa-pencil-alt{
  color:#8E2520;
  margin-right: 0.2rem;
  margin-left: 0.2rem;

}