
<div class="attache-exam-list">
<div class="row">
  <div class="col-12">
    <p class="p_header mb-0" matTooltip="{{translate.currentLang===langEnum.en?selectedExamFormId.engExamName:selectedExamFormId.arabExamName}}">
      {{translate.currentLang===langEnum.en?selectedExamFormId.engExamName:selectedExamFormId.arabExamName}}
  </p>
  </div>
  <div class="col-12">
    <section class="internal_scroll_list_group ">
    
      <div  *ngIf="!isView">
         <div class="col-12 addQuestion pl-0 pr-0 mb-3 mt-2">
          <div class="input-group ">
               <a  (click)="addQuestion()" >
                <span class="link_Add ">  {{"GENERAL.ADD_QUESTION"|translate}}
                <img  src="../../../../../../assets/images/add.svg"   class=" cursor-pointer Catogry_Icon_Add" >
                </span>
              </a> 

              <!-- <button type="button" class="link_Add" (click)="addQuestion()"> 
               {{"GENERAL.ADD_QUESTION"|translate}}</button>
               <img  src="../../../../../../assets/images/add.svg" 
               class="cursor-pointer Catogry_Icon_Add"> -->
          </div>
        

         </div>
          <div class="input-group ">
          <div *ngFor = 'let question of exam.questions'>
            <div class="d-flex ">
              <a (click)="confirmDeleteQuestionDialog(question)">
                <img src="../../../../assets/images/trash-2.svg" class="btn_trash">
              </a>
             </div>
            <app-question-template [questionTemplate] = 'question'></app-question-template>
          </div>
          </div>
          <br>
          <div class="input-group "><button type="button" class="btn save-btn" (click)="saveExam()">{{"GENERAL.SAVE"|translate}}</button></div>
      </div>
  
    
      <!-- <br> -->
      <div *ngIf="isView" >
          <a *ngIf='this.selectedExamFormId.id' (click)="editQuestionTemplate() "> 
            <!-- <i style='font-size:24px' class='fas'>&#xf044;</i> -->
            <img class="mb-2 width1_4" src="../../../../../../assets/images/question/edit-question.svg " >
          </a> 
          <div class="input-group ">
              <div  *ngFor = 'let question of exam.questions' >
                <app-question-template [questionTemplate] = 'question' [viewMode] = 'isView'></app-question-template>
              </div>
            </div>
            <div  *ngIf="exam.questions.length===0">
              <label class="no-data input-group">
                  {{"GENERAL.NO_DATA"|translate}} 
              </label>
                
               
              </div>
      </div>

      <div *ngIf="!isView && resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2">
        {{resultMessage.message}}
         </div>


  </section>
  </div>
</div>

</div>

