// @import'../../../../role-management/role-management-view/add-group/add-group.component.scss';
@import '../add-new-group-teacher-recitation/add-new-group-teacher-recitation.component.scss'

// .title_add,
// .label{
// font-family:Almarai-Bold;

// }
// select.form-control {
//      appearance: inherit;
// }