<ng-container *ngIf="isViewToProgCond">
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{partQuranModel.title}}</span>
           <img class="close" src="../../../../../assets/images/feelings/close.svg" (click)="confirmDialog()">
        </div>
        <div class="body">
            <div class="details">عدد الأجزاء</div>
            <input type="text" class="form-control w-50" [(ngModel)]="partQuranModel.value" >
        </div>
        <div  class="row  buttons-center mt-5">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="partQuranModel.isRequired" >
                <span class="slider round">الزامى</span>
              </label>
            <button   type="submit" class="save-btn" (click)="saveProgramConditions()"> 
                {{ "GENERAL.SAVE" | translate }}
            </button>
    </div>
    </div>
</ng-container>

<!-- <ng-container *ngIf="!isViewToProgCond">
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{item.title}} {{'CONDITIONDS.NUMBER_PARTS' | translate}}   </span>
        </div>
      
        <div class="body">
            <div class="form-group w-90"  >
            <input type="text" class="form-control" >
            </div>
        </div>

    </div>
</ng-container> -->