<div class="users-counter">
    <div class="students-number" *ngIf="!student">
        <p class="col-12 p-0">{{ 'DASHBOARD.STUDENTS-COUNTER' | translate }}</p>
        <div class="row">
            <div class="col-lg-4">
                <div class="counter">950</div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div>
                        <img src="../../../../assets/images/dashboard/concierge.svg" alt="{{ 'DASHBOARD.STUDENTS-COUNTER' | translate }}" class="img-fluid">        
                    </div>
                    <div class="number__container ">
                        <span class="gender d-block">
                            {{ 'DASHBOARD.MALES' | translate }} 
                        </span>
                        <span class="number">1234</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div>
                        <img src="../../../../assets/images/dashboard/arab-woman.svg" alt="{{ 'DASHBOARD.STUDENTS-COUNTER' | translate }}" class="img-fluid">        
                    </div>
                    <div class="number__container ">
                        <span class="gender d-block">
                            {{ 'DASHBOARD.FEMALES' | translate }} 
                        </span>
                        <span class="number">1234</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="teachers-number " *ngIf="teacher">
        <p class="col-12 p-0">{{ 'DASHBOARD.TEACHERS-COUNTER' | translate }}</p>
        <div class="row">
            <div class="col-lg-4">
                <div class="counter">950</div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div>
                        <img src="../../../../assets/images/dashboard/concierge.svg" alt="{{ 'DASHBOARD.STUDENTS-COUNTER' | translate }}" class="img-fluid">        
                    </div>
                    <div class="number__container ">
                        <span class="gender d-block">
                            {{ 'DASHBOARD.MALES' | translate }} 
                        </span>
                        <span class="number">1234</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div>
                        <img src="../../../../assets/images/dashboard/arab-woman.svg" alt="{{ 'DASHBOARD.STUDENTS-COUNTER' | translate }}" class="img-fluid">        
                    </div>
                    <div class="number__container ">
                        <span class="gender d-block">
                            {{ 'DASHBOARD.FEMALES' | translate }} 
                        </span>
                        <span class="number">1234</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
