@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_typography.scss';

.users-counter {
    width: 450px;
    height: 120px;
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px $box-shadow;
    border-radius: 12px;
    opacity: 1;
    letter-spacing: 0px;
    color: $box-color;
    padding: 20px 30px;
    margin: 30px 0;

    p {
        font: normal normal normal 18px/0 Almarai-Regular;
    }

    .counter {
        font: normal normal normal 36px/29px Almarai-Regular;
        color: $box-color2;
    } 
}

.users-counter:lang(ar) {
    text-align: right;
}
.users-counter:lang(en) {
    text-align: left;
}

.number__container{

     margin: 20% auto;

    .gender {
        font: normal normal bold 12px/0 Almarai-Regular;
        letter-spacing: 0px;
        color: $box-color;
    }
    
    .number {
            font: normal normal bold 28px/55px Almarai-Bold;
            color: $box-color2;
    }

} 

