
<div class="container-fluid" > 

<div class="row group_header fix_margin w-100">
    <div class="item_group" (click)="studentTab()"
    [ngClass]="{ item_group_active: showTap == 'student' }" >
    {{'FEELINGS.STUDENTS_FEELINGS' | translate}}
       
    </div>
    <div class="item_group" (click)="teacherTab()"
    [ngClass]="{ item_group_active: showTap == 'teacher' }" >
       {{'FEELINGS.TEACHERS_FEELINGS' | translate}}
    
    </div>
    

</div>


<div class="row fix_margin w-100" >
    <div class="col-12 px-0 interTab">

        <app-list-feelings *ngIf='showTap == "student"' [tabType]='roleEnum'></app-list-feelings>
        <app-list-feelings *ngIf='showTap == "teacher"' [tabType]='roleEnum'></app-list-feelings>
       
    </div>

</div>


</div>
