@import 'src/assets/scss/_variables.scss';

.ActivationCode{   

    .ActivationSendCode{
        text-align: center;
        margin-bottom: 2rem;

        .ActivationSendCode__ActivationLink{
            color: $icon_input;
        }
    
        .ActivationSendCode__ActivateMessage{
            color: $placeholder_inputs;
        }           
    }       

    .ActivationCode__Label{
        color: $placeholder_inputs;
        font-size: 11px;
    }

    .ActivationCode__Email{
        color: $hint_yellow;
        font-size: 12px;        
    }

    // .ActivationCode__Submit{
    //     margin-top: 2rem;
    // }  
    input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
}