@import 'src/assets/scss/_variables.scss';

.ActivationCode{
    .ActivationCode__Label{
        color: $ForgetPasswordLink;
    }

    .ActivationCode__FormControl::placeholder {
        color: $auth-color;
        font-size: 0.9rem;
    }

    .ActivationCode__Submit{
        background-color: $user-color;
        width: 19.063rem;
        height: 3.191rem;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 1rem;
    }
}