
<div class="container-fluid">
  <div class="row"> 
    <div class="col-12">
    <app-student-program-sub-details 
    (ShowVerifyProgramPredefinedConditionOverlay)="ShowVerifyProgramPredefinedConditionOverlay($event)"
    ></app-student-program-sub-details>

  </div>
</div>
<div class="overlay" *ngIf="predefinedConditionOverlay">
  <app-predefined-condition-overlay [predefinedCondition]='predefinedCondition' (closeOverlay)="closeOverlay()"></app-predefined-condition-overlay>
  <!-- <app-add-scientifi-problem-reply (closeAddReplyToScProblem)='showAddReplyToScProblemView($event)' [scProbObjForAddReplyView]='scProbObjForAddReplyView'></app-add-scientifi-problem-reply> -->
</div>

</div>
