
<div class="container-fluid">
  <div class="row"> 
    <div class="col-12">
    <app-student-program-sub-details  (requestId)="sendRequestId($event)"
    (ShowVerifyProgramPredefinedConditionOverlay)="ShowVerifyProgramPredefinedConditionOverlay($event)"
    (ShowCustomConditionOverlay)="ShowCustomConditionOverlay($event)"
    (openJoiningExamEvent)='openJoiningExamOverlay($event)'
    ></app-student-program-sub-details>

  </div>
</div>
<div class="overlay" *ngIf="predefinedConditionOverlay">
  <app-predefined-condition-overlay 
  [predefinedCondition]='predefinedCondition'
   (closeOverlay)="closeOverlay()">
  </app-predefined-condition-overlay>
</div>
<div class="overlay"  *ngIf="customConditionOverlay">
  <app-custom-condition-overlay 
  [progDetails]='progDetails'
  [requestId]='requestId'
  (openJoiningExamEvent)='openJoiningExamOverlay($event)'
  >
  </app-custom-condition-overlay>
</div>
<div class="overlay joiningExamOverlay"  *ngIf="joiningExamOverlay">
  <app-joining-exam-overlay [progDetails]='progDetails' [requestId]='requestId' 
  (closeOverlay)="closeExamOverlay()">
  </app-joining-exam-overlay>
</div>
</div>
