@import '../../../../../teacher-program-subscription/teacher-program-sub-view/teacher-submit-subscription/teacher-submit-subscription.component.scss';
.DataForm{
  &:lang(ar){text-align: right;}
  &:lang(en){text-align: left;}

}
.programPredefinedCondtion{
  p{
    color: #000000 ;
    font-size: 25px ;
    font-family: Almarai-Bold;
    text-align: center;
    letter-spacing: 0px;
    line-height: 1.4;
  }
}
