<div class="form-group add-question-template dynamic-radio-button-with-input-text-model mb-0"  >
    <div class="form-group row question px-2">
        <div class="col-sm-8">
            <label class="label_item_question">  الرسالة </label>
            <div class="input-group input-sm input_search_voice" >
                <input type="text"
                *ngIf="!encouragementLetterDetailsModel.voiceUrl"
                  (input)="onQuestionTextChange()" 
                  [disabled]='viewMode'
                   [(ngModel)]="encouragementLetterDetailsModel.text"
                   class="form-control  border-md " 
                   [ngClass]="{' border-transparent': !encouragementLetterDetailsModel.text,
                  'input_with-voice': !encouragementLetterDetailsModel.text}"
                   placeholder="{{'EXAM_FORM.ADD_QUESTION'|translate}}" >
                 <app-voice-recording *ngIf="!encouragementLetterDetailsModel.text" (getVoiceUrl)="saveVoiceUrl($event)"
                 [viewMode]='viewMode' [voiceUrl]='encouragementLetterDetailsModel?.voiceUrl'></app-voice-recording>
                 <img src="assets/images/trash-2.svg" (click)="DeleteMSG()"/>
     
             </div>
        </div>
      
    </div>
</div>
