
.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, 
.input-group:not(.has-validation)>.custom-select:not(:last-child),
 .input-group:not(.has-validation)>.form-control:not(:last-child) {
    border-radius:0 0.65rem 0.65rem 0;
}
.label_item_question
{
    font-family: Almarai-Bold;
    font-size: 14px;
}