
.content_management{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 98%;
    margin: 1rem;
    margin-bottom: 0;
    .internal_scroll_list_group:lang(ar) {
        height: 470px;
       overflow-y: auto;
        padding-left: 0.5rem;
    }
    .internal_scroll_list_group:lang(en) {
                height: 470px;
                overflow-y: auto;
                padding-right: 0.5rem;
            }

}



