<div class="content_management">
  <div class="row">
    <span > {{ translate.currentLang === langEnum.en ? selectedcmsTypeId.nameEn : selectedcmsTypeId.nameAr}}</span>
   </div>
    <form class="form-group internal_scroll_list_group" [formGroup]="currentForm" (submit)="Submit()">
      <div class="form-group">
          <label for="comment">{{ 'CONTENT_MANEGMENT_SYSTEM.SHORTDESCRIPTIONAR' | translate }}</label>
          <textarea class="form-control text-arabic" cols="2"  rows="5" id="InputShortDescriptionAr" formControlName="shortDescriptionAr" maxlength="200"
          [ngClass]="{'red-border-class': f.shortDescriptionAr.errors && ( f.shortDescriptionAr.touched || isSubmit)}"></textarea>
          <div *ngIf="f.shortDescriptionAr.errors && (f.shortDescriptionAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
            <div *ngIf="f.shortDescriptionAr.errors.required">
                {{"CONTENT_MANEGMENT_SYSTEM.REQUIRED"|translate}}
            </div>
            <div *ngIf="f.shortDescriptionAr.errors.pattern">
                {{ 'CONTENT_MANEGMENT_SYSTEM.ARABIC_FIELD' | translate }}
             </div>
        </div>
        </div>
        <div class="form-group">
          <label for="comment" class="labl_dirc">{{ 'CONTENT_MANEGMENT_SYSTEM.SHORTDESCRIPTIONEN' | translate }}</label>
          <textarea class="form-control text-english" cols="2"  rows="5" id="InputShortDescriptionEn" formControlName="shortDescriptionEn"   maxlength="200"
          [ngClass]="{'red-border-class': f.shortDescriptionEn.errors && ( f.shortDescriptionEn.touched || isSubmit)}"></textarea>
          <div *ngIf="f.shortDescriptionEn.errors && (f.shortDescriptionEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
            <div *ngIf="f.shortDescriptionEn.errors.required">
                {{"CONTENT_MANEGMENT_SYSTEM.REQUIRED"|translate}}
            </div>
            <div *ngIf="f.shortDescriptionEn.errors.pattern">
                {{ 'CONTENT_MANEGMENT_SYSTEM.ENGLISH_FIELD' | translate }}
             </div>
        </div>
        </div>
      <div class="form-group">
          <label for="exampleFormControlTextarea1">{{ 'CONTENT_MANEGMENT_SYSTEM.LONGDESCRIPTIONAR' | translate }}</label>
          <textarea class="form-control rounded-0  text-arabic"  cols="2"  rows="10"  id="InputLongDescriptionAr" formControlName="longDescriptionAr" maxlength="500"
          [ngClass]="{'red-border-class': f.longDescriptionAr.errors && ( f.longDescriptionAr.touched || isSubmit)}"></textarea>
          <div *ngIf="f.longDescriptionAr.errors && (f.longDescriptionAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
            <div *ngIf="f.longDescriptionAr.errors.required">
                {{"CONTENT_MANEGMENT_SYSTEM.REQUIRED"|translate}}
            </div>
            <div *ngIf="f.longDescriptionAr.errors.pattern">
                {{ 'CONTENT_MANEGMENT_SYSTEM.ARABIC_FIELD' | translate }}
             </div>
        </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">{{ 'CONTENT_MANEGMENT_SYSTEM.LONGDESCRIPTIONEN' | translate }}</label>
          <textarea class="form-control rounded-0 text-english"  cols="2"  rows="10"  id="InputlongDescriptionEn" formControlName="longDescriptionEn"  maxlength="500"
          [ngClass]="{'red-border-class': f.longDescriptionEn.errors && ( f.longDescriptionEn.touched || isSubmit)}"></textarea>
          <div *ngIf="f.longDescriptionEn.errors && (f.longDescriptionEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
            <div *ngIf="f.longDescriptionEn.errors.required">
                {{"CONTENT_MANEGMENT_SYSTEM.REQUIRED"|translate}}
            </div>
            <div *ngIf="f.longDescriptionEn.errors.pattern">
                {{ 'CONTENT_MANEGMENT_SYSTEM.ENGLISH_FIELD' | translate }}
             </div>
        </div>
        </div>
      
     <section>
     <div class="row col-6 ">
      <button type="submit" class="save-btn btn btn-danger" >{{'CONTENT_MANEGMENT_SYSTEM.SAVE' | translate}}</button>
      <!-- <button type="button" class="cancel-btn btn btn-warning" (click)="reset()">{{'CONTENT_MANEGMENT_SYSTEM.CANCEL' | translate}}</button> -->
     </div>
       

      <div *ngIf="resultMessage" class="alert alert-{{ resultMessage.type }} my-4 py-2">
      {{resultMessage.message}}
       </div>
     </section>
           
      
       
    </form>
  </div>
  
  