
.material-list{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 100%;
    margin: 1rem;

}
.matrial-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    opacity: 1;
    padding: 1rem;
   
}

.cat{
    font: normal normal normal 10px/11px Almarai !important;
    letter-spacing: -0.14px !important;
    color: #3A3A3A !important;
}
.matrial-card p{
    text-align: right;
    font: normal normal bold 18px/28px Almarai;
    letter-spacing: -0.26px;
    color: #8E2520;
    opacity: 1;
}
.matrial-card h3{
text-align: right;
font: normal normal normal 12px/14px Almarai;
letter-spacing: -0.17px;
color: #3A3A3A;
opacity: 1;
}

