@import 'src/assets/scss/_variables.scss';
.content_management{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 98%;
    margin-top: 1rem;
    margin-bottom: 0;
    .internal_scroll_list_group:lang(ar) {
        height: 470px;
       overflow-y: auto;
        padding-left: 0.5rem;
    }
    .internal_scroll_list_group:lang(en) {
                height: 470px;
                overflow-y: auto;
                padding-right: 0.5rem;
            }

}
Label{
    font-family:Almarai-Regular;
    font-size: 0.875rem;
    color:$placeholder_inputs;
    
    .labl_right:lang(ar) {
        text-align: right;
    }
    .labl_lift:lang(en) {
             
        text-align: left;
            }


}
span{
    font-family:Almarai-Bold ;
    font-size: large;
    // font-size: 0.875rem;
    color:black; 
    font-weight: bold;
    .span_dir:lang(ar) {
        //float: right;
        direction: rtl;
       
    }
    .span_dir:lang(en) {
             
        // float: left;
        direction: ltr;
            }
}



