 .list-content_management{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 100%;;
    margin-top: 1rem;
    .list-content_management ul {
        padding-inline-start: 0 !important;
    }
    .internal_scroll_list_group:lang(ar) {
        // background-color: antiquewhite;
                height: 470px;
                overflow-y: auto;
                padding-left: 0.5rem;
            }
            .internal_scroll_list_group:lang(en) {
                // background-color: antiquewhite;
                        height: 470px;
                        overflow-y: auto;
                        padding-right: 0.5rem;
                    }

                    .Catogry_Icon_Sort{
                        padding: 0.5rem;
                       background-color: #F4F5F7;
                       margin-right: 0.3rem;
                       margin-left: 0.3rem;
                       border-radius: 0.5rem;
                       width: 1;
                       height: 29px;
                       align-self: center;
                       }
                       .Catogry_Icon_Add{
                        align-self: center;  
                        margin-right: 0.3rem;
                        margin-left: 0.3rem;
                       }

}
.list-content_management:lang(en){
    margin-left: 1rem;
   
  }
  .list-content_management:lang(ar){
   
    margin-right: 0rem;
  }
.list-content_management > p{
    font-family: Almarai-Bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}
.list-content_management > p:lang(ar){
    text-align: right;}
.list-content_management
.list-group-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000000D;
    border-radius: 12px;
    letter-spacing: 0px;
    color: #828282;
    margin-bottom: 1rem;
    opacity: 1;
    margin-top: 1rem;
    font-family: Almarai-Bold;
    font-size: 1rem;
    justify-content: space-between;
        &.active ,&:hover {    
        background: #CB9118 0% 0% no-repeat padding-box;       
        box-shadow: 0px 0px 15px #31313173;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
    }

            
        .fa-trash-alt ,.fa-pencil-alt{
            color:#8E2520;
            margin-right: 0.2rem;
            margin-left: 0.2rem;
        
        }

        &.active .fa-trash-alt , &.active  .fa-pencil-alt
        ,&:hover .fa-trash-alt , &:hover .fa-pencil-alt
        {
            color: #FFFFFF;
        }
       
} 

  