<div class="item_user_card">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="img">
          <img *ngIf='!userData?.usrAvatarUrl' width="63px" height="63px" src="assets/images/Profile.svg" alt="" srcset="" />
          <img *ngIf='userData?.usrAvatarUrl' width="63px" height="63px" [src]="userData?.usrAvatarUrl" alt="" srcset="" />
        </div>
      </div>
      <div class="col-md-8">
        <p class="email_user_card">{{ userData.usrEmail }}</p>
        <p class="title_user_card">
          {{
          translate.currentLang === langEnum.en
          ? userData.usrNameEn
          : userData.usrNameAr
          }}
        </p>
      </div>
    </div>
  </div>
  <a class="delete_item" (click)="delete(userData.usrId)"><i class="far fa-trash-alt"></i></a>
</div>