.custom-file{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px dashed #DFDFDF;
    border-radius: 12px;
    opacity: 1;
    height: 381px;
    width: 90%;
    margin:2rem;
    padding: 2rem;
    text-align: center;
    
    &__text{
        color: var(--unnamed-color-363636);
        text-align: center;
        font: normal normal bold 20px/31px Almarai;
        letter-spacing: -0.29px;
        color: #363636;
        opacity: 1;
        
    }
}
.upload-icon{
margin-bottom: 10px;        
}
label{
    color: var(--unnamed-color-c1c7d0);
text-align: center;
font: normal normal bold 14px/22px Almarai;
letter-spacing: 0px;
color: #C1C7D0;
opacity: 1;
}
textarea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 19px;
opacity: 1;
}

.save-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background: #8E2520 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    width: 5rem;
    margin: 2rem;
}