<div class="walk-through">
    <form class="form-group walk-through-form  internal_scroll_list_group" [formGroup]="currentForm" (submit)="submit()"
        *ngIf="selectedWalkThroughPageId">
        <div class="form-group">
            <label class="custom-file custom-file__text" for="importFile">
                <span *ngIf="fileList.length == 0"> 
                    <img calss="upload-icon" src="assets/images/walk-through/Group 18093.svg" alt="">
                    <p> {{"WALKTHROUGH.UPLOAD_PIC" | translate}}</p>
                </span>
                <span *ngIf="fileList.length > 0"> 
                    <img calss="page-image" src="{{fileList[0].url}}" alt="" style="width: 95%;height: 400px;">
                    <p> {{"WALKTHROUGH.UPLOAD_PIC" | translate}}</p>
                </span>
            </label>
            <input type="file" class="custom-file-input" id="importFile"
                (change)="onFileChange($any($event.target).files)" hidden>
            <!-- <div *ngIf="attachmentIds?.length == 0 && (isSubmit)" class="alert alert-danger mt-2 mb-2">
                <div *ngIf="attachmentIds.length == 0">
                    {{ 'WALKTHROUGH.REQUIRED' | translate }}
                </div>
            </div> -->
        </div>
        <!-- <div class="form-group">
            <div class="col-lg-8 col-md-8">
                <ul class="files-conainer">
                    <li *ngFor="let item of fileList;let i=index">
                        <button (click)="deleteAttachment(i,item.id)">delete</button>
                        <a class="card" href="{{item.url}}" target="_blank">
                            <div class="pdf">
                                <i class="fa fa-file"></i>
                            </div>
                            <div class="text-center fileName">
                                <p
                                    style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;margin-left: 10px;margin-right: 10px;">
                                    {{item.fileName}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="form-group">
            <label for="comment">{{"WALKTHROUGH.ARABIC_MESSAGE" | translate}} </label>
            <textarea class="form-control text-arabic" cols="2" rows="10"  id="InputtextAr" formControlName="textAr" maxlength="1000"></textarea>

            <div *ngIf="f.textAr.errors && (f.textAr.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                <div *ngIf="f.textAr.errors?.required">
                    {{ 'WALKTHROUGH.REQUIRED' | translate }}
                </div>
                <div *ngIf="f.textAr.errors.pattern">
                    {{ 'WALKTHROUGH.TITLEAR_PATTERN' | translate }}
                </div>
                <div *ngIf="f.textAr.errors?.maxlength">
                    {{ 'WALKTHROUGH.AR_MAX_LENGTH' | translate }}
                 </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">{{"WALKTHROUGH.ENGLISH_MESSAGE" | translate}} </label>
            <textarea class="form-control text-english" cols="2" rows="10" id="InputtextEn" formControlName="textEn" maxlength="1000"></textarea>
            <div *ngIf="f.textEn.errors && (f.textEn.touched || isSubmit)" class="alert alert-danger mt-2 mb-2">
                <div *ngIf="f.textEn.errors?.required">
                    {{ 'WALKTHROUGH.REQUIRED' | translate }}
                </div>
                <div *ngIf="f.textEn.errors.pattern">
                    {{ 'WALKTHROUGH.TITLEEN_PATTERN' | translate }}
                </div>
                <div *ngIf="f.textEn.errors?.maxlength">
                    {{ 'WALKTHROUGH.EN_MAX_LENGTH' | translate }}
                 </div>
            </div>
        </div>

        <section>
            <div class="form-group col-lg-12 mx-auto mb-0 mt-4 direction-rtl">
                <button class="save-btn" type="submit" [disabled]="disableSaveButtons">
                    {{'GENERAL.SAVE' | translate}}
                </button>

                <div *ngIf="resMessage.message" class="alert alert-{{ resMessage.type }} my-4 py-2">
                    {{ resMessage.message }}
                </div>
            </div>

        </section>
    </form>
</div>