@import '../join-requests/join-requests.component.scss';
 p.name {
     font-family: Almarai-Bold;
    font-size: 18px;
     letter-spacing: 0px;
    color: #3A3A3A;
     opacity: 1;
 }
.internal_scroll_list_group.order{
    height: 415px !important;
}    
.grad{
    color: #CB9118;
    font-size: 14px;
    font-family: Almarai-Bold;
 }
 .info{
    color: #3A3A3A;
     font-size: 14px;
     font-family: Almarai-Bold; 
 }
 .regular{
    color: #3A3A3A;
    font-size: 14px;
     font-family: Almarai-Regular;

}

.cardRecourd{
    justify-content: space-between;
    align-items: center;
    align-items: center;
    display: flex;
    padding: 0.5rem 1rem;
     background-color: #ffff;
    border-radius: 7px;
     border: 1px solid #DFDFDF;
     box-shadow: 0 2px 3px #dfdfdf;
 }
.redPoint{
 top: 269px;
left: 525px;
width: 20px;
height: 20px;
background: #E10000 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 50%;
}