<div class="tab_page  ">
  
    <div class=" part1 list_exams">
            <div class="list-group list-group_program-list">
                  <p class="mb-4">الايام</p>
                <app-search-input></app-search-input>

                <div class="internal_scroll_list_group order">
            
                    <a class="list-group-item  d-flex" 
                    *ngFor="let progDaysItem of progDays ;let i=index" 
                    [class.active]="selectedIndex === i" 
                    (click)='getDayTasks(progDaysItem.id);selectedIndex=i' >                           
                        <span>  Day - {{progDaysItem.order}} </span>               
                    </a>
                </div>
           
            </div>
    </div>
      


    <div class=" part1 list_exams">
        <div class="list-group list-group_program-list">
           
              <p class="mb-2">المهام المطلوبة</p>

            <div class="internal_scroll_list_group">
        
                <a class="list-group-item  d-flex"  *ngFor="let programDayTasksDetailsItem of programDayTasksDetails ;let i=index" >                           
                    <span>  {{ this.translate.currentLang === langEnum.en? programDayTasksDetailsItem.dayTaskNameEn : programDayTasksDetailsItem.dayTaskNameAr }} </span>               
                </a>
            </div>
       
        </div>
</div>
    
      
<div class=" part1 list_exams">
       <p class="mb-2 name"> الحفظ</p>
            <div class="d-flex">       

                    <div class="col-6 px-0">
                        <span class="regular">إلزامي</span>
                    </div>
                    <div class="col-6 px-0">
                        <span class="grad">الدرجة
                            <span>  &nbsp;  : </span>
                            <span>  &nbsp; </span> 

                            <small class="info">10</small>
                        </span>
                    </div>
                    
            </div>
            <div class="mt-3  mb-3">
                <span class="grad">  الصفحات
                    <span>  &nbsp;  : </span>
                    <span>  &nbsp; </span> 
                    <small class="info">200 - 205</small>
                </span>

            </div>

                 
           
                <ng-container *ngFor="let item of bookAttach;let i=index">
                  <div class=" cardRecourd mb-2  "   >
                <img src="assets/images/days/bookView.svg">
                <p class=" mr-2 mb-0" 
                >اسم الصفحة الصفحة الصفحة .pdf</p>
               </div>   
                
                </ng-container>
                
            <p class="mt-3 grad">
                السؤال الذي يظهر للطالب
            </p>
            <p class="regular">هل قمت بحفظ الصفحات؟</p>
        
</div>
    
</div>