<div class="tab_page  ">
  
    <div class=" part1 list_exams">
            <div class="list-group list-group_program-list">
               
                  <p class="mb-4">الايام</p>
                <app-search-input></app-search-input>

            <div class="internal_scroll_list_group">
                    <a class="list-group-item d-flex"  > 
                    <span>  {{'PROGRAMS_LIST.ALL' | translate}}</span>        
                   </a>
            
                    <a class="list-group-item  d-flex" >                           
                        <span>  sdfvsdgfdr </span>               
                    </a>
                </div>
           
            </div>
    </div>
      
    <div class=" part1 list_exams">
        <div class="list-group list-group_program-list">
           
              <p class="mb-2">المهام المطلوبة</p>

        <div class="internal_scroll_list_group">
                <a class="list-group-item d-flex"  > 
                <span>  {{'PROGRAMS_LIST.ALL' | translate}}</span>        
               </a>
        
                <a class="list-group-item  d-flex" >                           
                    <span>  sdfvsdgfdr </span>               
                </a>
            </div>
       
        </div>
</div>
    
      
<div class=" part1 list_exams">

          <p class="mb-2"> الحفظ</p>
   
</div>
    
</div>