<div class="container-fluid border">
    <div class="row">
        <div class=" col-md-4 col-sm-12 pl-0 border">
          <app-teacher-recitation-request></app-teacher-recitation-request>
        </div>
        <div class="col-md-4 col-sm-12 pl-0 border">
          <app-teacher-rate-for-student></app-teacher-rate-for-student>
        </div>

        <div class="col-md-4 col-sm-12 pl-0 border">
          <app-teacher-daily-upcoming-tasks></app-teacher-daily-upcoming-tasks>
        </div>


        <div class="col-md-4 col-sm-12 pl-0 border">
          <app-teacher-feelings></app-teacher-feelings>
        </div>


        <div class=" col-md-4 col-sm-12  border available_appointments">
          <app-teacher-available-appointments
          ></app-teacher-available-appointments>
        </div>



    </div>
</div>
