.commantbackgrond{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    margin-top: 1rem;
}
.col-md-4{
    height: 44vh;
}
.overlay.add_teacher_appointment_request{
    width: 50%;
}
.available_appointments{
    background-color: #FBFBFB;
    border-radius: 20px;
}