<div class="container-fluid border">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 pl-0 border">
          fghfg
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0 border">
          <app-teacher-available-appointments (AddTeacherRequest)="openAddRequest($event)"   (requestDetails)="openRequestDetails($event)"
          ></app-teacher-available-appointments>
        </div>

      <div class="overlay" *ngIf="openAddRequestOverlay">
        <app-add-teacher-appointment-request [itemStuReq]='itemStuReq' (openAddRequestOverlayRequest)="closeAddRequestOverlayRequest()"></app-add-teacher-appointment-request>
      </div>

      <div class="overlay" *ngIf="openTeacherRequestDetailsOverlay">
        <app-teacher-appointment-request-datails [itemStuReq]='itemStuReq' (closeDetailsRequest)="closeRequestDetails()"></app-teacher-appointment-request-datails>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 pl-0 border">
          fghf
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 border">
          fgh
        </div>
    </div>
</div>
