.container-fluid{
  background: #FBFBFB;
  border-radius: 19px;
  opacity: 1;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 98%;
}
.teacher{
  height: 86vh;
}
.fix_margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
 
}
.interTab
{
  background-color: #FBFBFB;
  height: 55vh;
  min-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 0.5rem
}
