

<div class="container-fluid tab_page">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ">
       <p class="UpdateUser__Label my-3 bold"> {{ 'UPDATE_TEACHER_PG.AVAILABLE_PROGRAMS_AND_TIMES' | translate }} </p>
    </div>
  </div>

<div class="row cardTime_container">
      <ng-container *ngFor="let item of teacherAvailableTimes?.teacherAvailableTimes">
            <div class="col-4 mb-2" >
              <div class="cardTime mx-3">
                <div *ngIf='translate.currentLang === lang.en' class="d-flex justify-content-between mb-0"
                     matTooltip='{{item?.dayEn}} From {{item.timeFrom}}  To  {{item.timeTo  }}'>
                  <p class="cardTime__day mb-0 bold ">{{ item?.dayEn }}</p>
      
                  <p class="cardTime__time mb-0">
                    From {{ item.timeFrom}} To {{ item.timeTo }}
                  </p>
      
                </div>
                <div *ngIf='translate.currentLang === lang.ar' class="d-flex justify-content-between mb-0"
                     matTooltip='{{item?.dayAr}} من {{item.timeFrom }}الي {{item.timeTo }}'>
                  <p class="cardTime__day  mb-0">{{ item?.dayAr }}</p>
                  <p class="cardTime__time  mb-0">
                    من {{ item.timeFrom }} الي {{ item.timeTo }}
                  </p>
      
                </div>
              </div>
      
            </div>
      </ng-container>
  </div>
</div>






  

<!-- end data -->
