<form [formGroup]="baseInfoForm" (ngSubmit)="onSubmit()" class="form-group " >

<div class="tab_page basICinfo_page ">
    <div class="col-md-12 max_h">
       
        <div class="row">
        <div class="col-md-3">
                <div class="form-group">
                        <label class="header_input">{{ 'PROGRAM_BASIC_INFO.PROG_NAME' | translate }}  </label>
                        <input type="text" class="form-control" formControlName="progName" [attr.disabled]='progBasicInfoDetails ? true : null' >
               </div>
            <div *ngIf="f.progName.errors && (f.progName.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
              <div *ngIf="f.progName.errors?.required">
                {{ 'GENERAL.REQUIRED' | translate }}
              </div>
              <div *ngIf="f.progName.errors.pattern">
                {{ 'PROGRAM_BASIC_INFO.PROG_PATTERN' | translate }}
              </div>
              <div *ngIf="f.progName.errors?.maxlength">
                {{ 'PROGRAM_BASIC_INFO.PROG_NAME_MAX_LENGTH' | translate }}
              </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label class="header_input">{{ 'PROGRAM_BASIC_INFO.SHARE_WITH' | translate }}  </label>
                    <select class="form-control "  formControlName="shareWith" >
                        <!-- <option [ngValue]="null"  disabled selected>{{ 'NOTIFICATIONS.SELECT_NOTIFICATION_TYPE' | translate }}</option> -->
                        <ng-container *ngFor="let item of collectionOfLookup.SHARED_TYPES">
                        <option [value]="item .id" >{{item.nameAr}}</option>
                        
                        </ng-container>
                      </select>

           </div>
           <div *ngIf="f.shareWith.errors && (f.shareWith.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
            <div *ngIf="f.shareWith.errors?.required">
             {{ 'GENERAL.REQUIRED' | translate }}
            </div>
         </div>

        </div>


      <div class="col-md-6 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3">{{ 'PROGRAM_BASIC_INFO.PROG_TYPE' | translate }} </label>
            </div>
            <ng-container *ngFor="let item of collectionOfLookup.PROG_TYPES ;let i=index">
                <mat-checkbox  (change)='addProgTypeToList(item, $event)' [checked]="progTypeChecked(item)"
                  class="example-margin " [ngClass]="{'ml-1 mr-1':i==0 ,'ml-5 mr-5': i==1, 'ml-3 mr-3': i==2}"
                  [disabled]='progBasicInfoDetails !== undefined'>
                    {{item.nameAr}}  
                </mat-checkbox>
            </ng-container>
       </div>
        <!-- <div *ngIf="f.progType.errors && (f.progType.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          <div *ngIf="f.progType.errors?.required">
          {{ 'GENERAL.REQUIRED' | translate }}
          </div>
          </div> -->
      </div>

      <div class="col-md-2">
        <div class="form-group">
                <label class="header_input">{{ 'PROGRAM_BASIC_INFO.PROG_DURATION' | translate }}</label>
                <input type="text" class="form-control"  formControlName="durationProg" [attr.disabled]='progBasicInfoDetails ? true : null'>
        </div>
        <div *ngIf="f.durationProg.errors && (f.durationProg.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          <div *ngIf="f.durationProg.errors?.required">
            {{ 'GENERAL.REQUIRED' | translate }}
          </div>
        </div>
      </div>
       <div class="col-md-2">
        <div class="form-group">
                <label class="header_input"> {{ 'PROGRAM_BASIC_INFO.PROG_DUTY_TIME' | translate }} </label>
                <input type="time" class="form-control"  formControlName="dutyTime">
       </div>

       <div *ngIf="f.dutyTime.errors && (f.dutyTime.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
        <div *ngIf="f.dutyTime.errors?.required">
         {{ 'GENERAL.REQUIRED' | translate }}
        </div>
        </div>

       </div>

       <div class="col-md-2">
        <div class="form-group">
                <label class="header_input">{{ 'PROGRAM_BASIC_INFO.PROG_AVAILABLE_DUTY' | translate }}</label>
                <input type="text" class="form-control"   formControlName="availableDuty">
       </div>
       <div *ngIf="f.availableDuty.errors && (f.availableDuty.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
        <div *ngIf="f.availableDuty.errors?.required">
         {{ 'GENERAL.REQUIRED' | translate }}
        </div>
        </div>

      </div>

      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment">{{ 'PROGRAM_BASIC_INFO.PROG_IDEA' | translate }}</label>
          <textarea class="form-control" cols="2" rows="2"  formControlName="ideaProg"></textarea>
        
        </div>
        <div *ngIf="f.ideaProg.errors && (f.ideaProg.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          <div *ngIf="f.ideaProg.errors?.required">
           {{ 'GENERAL.REQUIRED' | translate }}
          </div>
          <div *ngIf="f.ideaProg.errors.pattern">
            {{ 'PROGRAM_BASIC_INFO.PROG_IDEA_PATTERN' | translate }}
          </div>
          <div *ngIf="f.ideaProg.errors?.maxlength">
            {{ 'PROGRAM_BASIC_INFO.PROG_IDEA_MAX_LENGTH' | translate }}
          </div>
        </div>

      </div>


     <div class="col-6">
        <div class="form-group">
          <label  class="header_input"  for="comment">{{ 'PROGRAM_BASIC_INFO.PROG_GOAL' | translate }} </label>
          <textarea class="form-control" cols="2" rows="2" formControlName="goalProg"></textarea>
        
        </div>

        <div *ngIf="f.goalProg.errors && (f.goalProg.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          <div *ngIf="f.goalProg.errors?.required">
           {{ 'GENERAL.REQUIRED' | translate }}
          </div>
          <div *ngIf="f.goalProg.errors.pattern">
            {{ 'PROGRAM_BASIC_INFO.PROG_GOAL_PATTERN' | translate }}
          </div>
          <div *ngIf="f.goalProg.errors?.maxlength">
            {{ 'PROGRAM_BASIC_INFO.PROG_GOAL_MAX_LENGTH' | translate }}
          </div>
        </div>

      </div>

      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment"> {{ 'PROGRAM_BASIC_INFO.PROG_VISION' | translate }}  <small>{{ 'PROGRAM_BASIC_INFO.PROG_VISION_OPTIONAL' | translate }}</small></label>
          <textarea class="form-control" cols="2" rows="2" formControlName="visionProg"></textarea>        
        </div>

        <div *ngIf="f.visionProg.errors && (f.visionProg.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          
          <div *ngIf="f.visionProg.errors.pattern">
            {{ 'PROGRAM_BASIC_INFO.PROG_VISION_PATTERN' | translate }}
          </div>
          <div *ngIf="f.visionProg.errors?.maxlength">
            {{ 'PROGRAM_BASIC_INFO.PROG_VISION_MAX_LENGTH' | translate }}
          </div>
        </div>
      </div>


      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment">{{ 'PROGRAM_BASIC_INFO.PATH_PROG' | translate }}</label>
          <textarea class="form-control" cols="2" rows="2" formControlName="pathProg"></textarea>
        
        </div>

        <div *ngIf="f.pathProg.errors && (f.pathProg.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          <div *ngIf="f.pathProg.errors?.required">
           {{ 'GENERAL.REQUIRED' | translate }}
          </div>
          <div *ngIf="f.pathProg.errors.pattern">
            {{ 'PROGRAM_BASIC_INFO.PATH_PROG_PATTERN' | translate }}
          </div>
          <div *ngIf="f.pathProg.errors?.maxlength">
            {{ 'PROGRAM_BASIC_INFO.PATH_PROG_MAX_LENGTH' | translate }}
          </div>
        </div>

      </div>


      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment">{{ 'PROGRAM_BASIC_INFO.ADVANTAGE_PROG' | translate }} </label>
          <textarea class="form-control" cols="2" rows="2" formControlName="advantageProg"></textarea>
        </div>

        <div *ngIf="f.advantageProg.errors && (f.advantageProg.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          <div *ngIf="f.advantageProg.errors?.required">
           {{ 'GENERAL.REQUIRED' | translate }}
          </div>
          <div *ngIf="f.advantageProg.errors.pattern">
            {{ 'PROGRAM_BASIC_INFO.ADVANTAGE_PROG_PATTERN' | translate }}
          </div>
          <div *ngIf="f.advantageProg.errors?.maxlength">
            {{ 'PROGRAM_BASIC_INFO.ADVANTAGE_PROG_MAX_LENGTH' | translate }}
          </div>
        </div>

      </div>


      <div class="col-6">
        <div class="form-group">
          <label  class="header_input"  class="mb-3 header_input">{{ 'PROGRAM_BASIC_INFO.TEXT_PLEDGE' | translate }} </label>
          <textarea class="form-control" cols="2" rows="2" formControlName="textPledge"></textarea>
        </div>

        <div *ngIf="f.textPledge.errors && (f.textPledge.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
          <div *ngIf="f.textPledge.errors?.required">
           {{ 'GENERAL.REQUIRED' | translate }}
          </div>
          <div *ngIf="f.textPledge.errors.pattern">
            {{ 'PROGRAM_BASIC_INFO.TEXT_PLEDGE_PATTERN' | translate }}
          </div>
          <div *ngIf="f.textPledge.errors?.maxlength">
            {{ 'PROGRAM_BASIC_INFO.TEXT_PLEDGE_MAX_LENGTH' | translate }}
          </div>
        </div>

      </div>

      <div class="col-6">
        <div class="form-group">
          <div>
            <label class="header_input">{{ 'PROGRAM_BASIC_INFO.DAY_COUNT' | translate }}</label>
          </div>
          <mat-radio-group aria-label="Select an option"  class="example-radio-group"
          formControlName="dutiesDayType" (change)='dutyDaysChange($event)'>
            <ng-container *ngFor="let item of collectionOfLookup.DUTY_TYPES">
              <mat-radio-button value="{{item.id}}" class="example-radio-button ml-2 mr-2"  
              [disabled]='progBasicInfoDetails !== undefined'>{{item.nameAr}}</mat-radio-button>
            </ng-container>
            </mat-radio-group>
              <input type="text" class="form-control w-50" formControlName="dayCount" placeholder="{{ 'PROGRAM_BASIC_INFO.WRITE_DAY_COUNT' | translate }} " 
              [attr.disabled]='progBasicInfoDetails ? true : null' *ngIf='progDutyDaysFreeDaysSelection'>
      
              <div *ngIf='!progDutyDaysFreeDaysSelection'>
                <ng-container *ngFor="let item of collectionOfLookup.DAYS" >
                  <mat-checkbox   (change)='addProgWeeklyDayToList(item, $event)' [checked]="progWeeklyDaysChecked(item)"
                  class="example-margin ml-1 mr-1" [disabled]='progBasicInfoDetails !== undefined' >
                  {{item.nameAr}}  
                  </mat-checkbox>
                  </ng-container>
              </div>

        <!-- <mat-checkbox    *ngFor="let Item of days" 
        class="example-margin ml-1 mr-1"  >
          {{Item}}  
        </mat-checkbox> -->

            <div *ngIf="f.dayCount.errors && (f.dayCount.touched || isSubmit)" class="alert alert-danger mt-2 mb-2 ">
              <div *ngIf="f.dayCount.errors?.max">
              {{ 'PROGRAM_BASIC_INFO.DAY_COUNT_MAX' | translate }}
              </div>
            </div>


          </div>
      </div>
<div class="col-12 mt-2 mb-2">

</div>

      <div class="col-md-3 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3">{{ 'PROGRAM_BASIC_INFO.EXAM_PASS' | translate }} </label>
            </div>
                <mat-checkbox  class="example-margin " formControlName="examPass"> {{ 'PROGRAM_BASIC_INFO.REQUIRD' | translate }}
                </mat-checkbox>
       </div>
      </div>

      <div class="col-md-4 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3"> {{ 'PROGRAM_BASIC_INFO.RATING' | translate }}   </label>
            </div>
            <mat-checkbox   *ngFor="let item of collectionOfLookup.RATING;let i=index" [checked]='progProgRatingChecked(item)'
            (change)='addProgRatingToList(item, $event)'
            class="example-margin " [ngClass]="{'ml-1 mr-1':i==0 ,'ml-5 mr-5': i==1, 'ml-3 mr-3': i==2}" >
              {{item.nameAr}}  
            </mat-checkbox>
       </div>
      </div>


      
      
      <div class="col-md-4 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3"> {{ 'PROGRAM_BASIC_INFO.RECTMAND' | translate }}  </label>
            </div>
                <mat-checkbox  class="example-margin " formControlName="rectMand" > {{ 'PROGRAM_BASIC_INFO.REQUIRD' | translate }} 
                </mat-checkbox>
       </div>
      </div>





      <div class="col-2">
        <div class="form-group">
          <div>
            <label class="header_input">{{ 'PROGRAM_BASIC_INFO.ISALSARD' | translate }} </label>
          </div>
          <mat-radio-group aria-label="Select an option"  class="example-radio-group" formControlName="isAlsard" (change)='isSardChange($event)'>

              <mat-radio-button [value]="true" class="example-radio-button ml-2 mr-2" [disabled]='progBasicInfoDetails !== undefined'>{{ 'PROGRAM_BASIC_INFO.YES' | translate }}</mat-radio-button>
              <mat-radio-button [value]="false" class="example-radio-button ml-1 mr-1" checked="true" [disabled]='progBasicInfoDetails !== undefined'>{{ 'PROGRAM_BASIC_INFO.NO' | translate }}</mat-radio-button>
            </mat-radio-group>
            
          </div>
       </div>

       <div class="col-8" *ngIf='isSardEnabled'>
         <div class="row">
           <div class="col-4">
            <div class="form-group">
              <div>
                <label class="header_input">{{ 'PROGRAM_BASIC_INFO.RECITTYPE' | translate }}</label>
              </div>
               <mat-radio-group aria-label="Select an option"  class="example-radio-group" 
               (change)='isSardTimesChange($event)' formControlName="recitType">
            <ng-container *ngFor="let item of collectionOfLookup.SARD_TYPES ;let i=index">
                  
                <mat-radio-button value="{{item.id}}" class="example-radio-button ml-2 mr-2">{{item.nameAr}}</mat-radio-button>
                  <!-- <mat-radio-button value="2" class="example-radio-button ml-1 mr-1">فترة محددة</mat-radio-button> -->
                </ng-container>
                </mat-radio-group>
                
 
    
              </div>
           </div>
           <div class="col-8" *ngIf='isSardTimesEnabled'>
              
            <div class="row">
              <div class="col-4">
               <div class="form-group">
                 <label class="header_input">{{ 'PROGRAM_BASIC_INFO.FROM_HOUR' | translate }} </label>

                 <input type="time" class="form-control" [(ngModel)]='recitFrom' [ngModelOptions]="{standalone: true}">
                 
               </div>
               </div>
               <div class="col-4">
                 <div class="form-group">
                   <label class="header_input">{{ 'PROGRAM_BASIC_INFO.TO_HOUR' | translate }} </label>
                   <input type="time" class="form-control" [(ngModel)]='recitTo' [ngModelOptions]="{standalone: true}">
                   
                 </div>
                 </div>
                 <div class="col-4">
                 <label class="header_input invisible">{{ 'PROGRAM_BASIC_INFO.RECITTYPE' | translate }} </label>

                   <button  type="button" class="saveButton btn" (click)='addRecitationTimeToList()'>{{ 'PROGRAM_BASIC_INFO.ADD' | translate }} </button>
                     
                   </div>
   
                   <div class="col-12">
                    <div class="badges mt-3 ">
                      <div *ngFor="let item of progRecitationTimes;let i=index" 
                          class="badge badge-info p-2 " >
                      <div class="d-flex justify-content-between">
                          <p class="ellipsis mb-0"> {{ 'PROGRAM_BASIC_INFO.FROM' | translate }} : {{item.progRecFrom}} , {{ 'PROGRAM_BASIC_INFO.TO' | translate }} : {{item.progRecTo}}</p>
                          <a (click)='removeRecitationTimeToList(item)'><i class="fas fa-times-circle"></i></a>
                      </div>
                      </div>
                  </div>
                  <!-- <div class="badges mt-3 " *ngIf='progBasicInfoDetails'>
                    <div *ngFor="let item of progBasicInfoDetails.prgRecitTms;let i=index" 
                        class="badge badge-info p-2 " >
                    <div class="d-flex justify-content-between">
                        <p class="ellipsis mb-0"> from : {{item.recitFrom}} , to : {{item.recitTo}}</p>
                        <a (click)='removeRecitationTimeToList(item)'><i class="fas fa-times-circle"></i></a>
                    </div>
                    </div>
                </div> -->
                   </div>
              </div>
      
           </div>
         </div>

       </div>

    
     </div>


  
      


    </div>





</div> 
<div  class="row justify-content-end ml-3 mt-3">
  <button   type="submit" class="save-btn" > 
      {{ "GENERAL.SAVE" | translate }}
  </button>

  <button    type="reset" class="cancel-btn"> 
      {{ "GENERAL.CANCEL" | translate }}
  </button>
</div>
 </form>