
<div class="tab_page notifacation_page">
    <div class="col-md-12 max_h">
        <form [formGroup]="baseInfoForm" (ngSubmit)="onSubmit()" class="form-group " >
        <div class="row">
        <div class="col-md-3">
                <div class="form-group">
                        <label class="header_input">اسم البرنامج </label>
                        <input type="text" class="form-control" formControlName="progName"  >
               </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                    <label class="header_input">المشاركة مع </label>
                    <select class="form-control "  formControlName="shareWith" >
                        <!-- <option [ngValue]="null"  disabled selected>{{ 'NOTIFICATIONS.SELECT_NOTIFICATION_TYPE' | translate }}</option> -->
                        <option >f</option>
                        <option >f</option>  <option >f</option>  <option >f</option>
                      </select>
           </div>
         </div>


       <div class="col-md-6 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3">نوع البرنامح </label>
            </div>
            
                <mat-checkbox   formControlName="progType" *ngFor="let item of programType;let i=index" 
                class="example-margin " [ngClass]="{'ml-1 mr-1':i==0 ,'ml-5 mr-5': i==1, 'ml-3 mr-3': i==2}" >
                  {{item}}  
                </mat-checkbox>

                
       </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
                <label class="header_input">مدة البرنامج</label>
                <input type="text" class="form-control"  formControlName="durationProg">
       </div>
       </div>
       <div class="col-md-2">
        <div class="form-group">
                <label class="header_input">وقت اظهار الواجب</label>
                <input type="time" class="form-control"  formControlName="timeHomework">
       </div>
       </div>

       <div class="col-md-2">
        <div class="form-group">
                <label class="header_input">عدد أيام الواجب المتاحة</label>
                <input type="text" class="form-control"   formControlName="vaildDays">
       </div>
       </div>

      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment">الفكره</label>
          <textarea class="form-control" cols="2" rows="2"  formControlName="ideaProg"></textarea>
        
        </div>
      </div>


     <div class="col-6">
        <div class="form-group">
          <label  class="header_input"  for="comment">اهداف البرنامج</label>
          <textarea class="form-control" cols="2" rows="2" formControlName="goalProg"></textarea>
        
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment"> رؤية البرنامج <small>اختياري</small></label>
          <textarea class="form-control" cols="2" rows="2" formControlName="visionProg"></textarea>
        
        </div>
      </div>


      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment">طريقة البرنامج</label>
          <textarea class="form-control" cols="2" rows="2" formControlName="methodProg"></textarea>
        
        </div>
      </div>


      <div class="col-6">
        <div class="form-group">
          <label  class="header_input" for="comment">مميزات البرنامج</label>
          <textarea class="form-control" cols="2" rows="2" formControlName="featuresProg"></textarea>
        
        </div>
      </div>


      <div class="col-6">
        <div class="form-group">
          <label  class="header_input"  class="mb-3 header_input">نص التعهد</label>
          <textarea class="form-control" cols="2" rows="2" formControlName="textPledge"></textarea>
        
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <div>
            <label class="header_input">ايام الواجبات</label>
          </div>
          <mat-radio-group aria-label="Select an option"  class="example-radio-group" formControlName="countDays">
              <mat-radio-button value="1" class="example-radio-button ml-2 mr-2" >عدد أيام</mat-radio-button>
              <mat-radio-button value="2" class="example-radio-button ml-1 mr-1" >أيام محددة</mat-radio-button>
            </mat-radio-group>
              <input type="text" class="form-control w-50" placeholder="اكتب عدد الايام"  formControlName="countDaysInputSelct" >
      
       
       
        <!-- <mat-checkbox  formControlName="countDayCheckSelct"  *ngFor="let item of programType;let i=index" 
        class="example-margin ml-1 mr-1"  >
          {{item}}  
        </mat-checkbox> -->

          </div>
      </div>
<div class="col-12 mt-2 mb-2">

</div>

      <div class="col-md-3 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3">اجتياز الاختبار قبل القبول </label>
            </div>
                <mat-checkbox  class="example-margin " formControlName="examPass"> الزامى
                </mat-checkbox>
       </div>
      </div>

      <div class="col-md-4 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3">تقيم  </label>
            </div>
            <mat-checkbox   *ngFor="let item of rate;let i=index" formControlName="rateProg"
            class="example-margin " [ngClass]="{'ml-1 mr-1':i==0 ,'ml-5 mr-5': i==1, 'ml-3 mr-3': i==2}" >
              {{item}}  
            </mat-checkbox>
       </div>
      </div>


      
      
      <div class="col-md-4 example-section">
        <div class="form-group">
            <div>
                <label class="header_input mb-3">مواعيد التسميع </label>
            </div>
                <mat-checkbox  class="example-margin " formControlName="recitationDates" > الزامى
                </mat-checkbox>
       </div>
      </div>





      <div class="col-2">
        <div class="form-group">
          <div>
            <label class="header_input">هل يوجد سرد</label>
          </div>
          <mat-radio-group aria-label="Select an option"  class="example-radio-group" formControlName="thereNarration">
              <mat-radio-button value="1" class="example-radio-button ml-2 mr-2" >نعم</mat-radio-button>
              <mat-radio-button value="2" class="example-radio-button ml-1 mr-1" >لا</mat-radio-button>
            </mat-radio-group>
            
          </div>
       </div>


       <div class="col-8">
         <div class="row">
           <div class="col-4">
            <div class="form-group">
              <div>
                <label class="header_input">فترة التسميع</label>
              </div>
              <mat-radio-group aria-label="Select an option"  class="example-radio-group" formControlName="recitationPeriod">
                  <mat-radio-button value="1" class="example-radio-button ml-2 mr-2">طول اليوم</mat-radio-button>
                  <mat-radio-button value="2" class="example-radio-button ml-1 mr-1">فترة محددة</mat-radio-button>
                </mat-radio-group>
                
           
    
              </div>
           </div>
           <div class="col-8">
              
            <div class="row">
              <div class="col-4">
               <div class="form-group">
                 <label class="header_input">من الساعه</label>
             
                 <input type="time" class="form-control" formControlName="fromTime" >
                 
               </div>
               </div>
               <div class="col-4">
                 <div class="form-group">
                   <label class="header_input">الى الساعه</label>
               
                   <input type="time" class="form-control"  formControlName="toTime">
                   
                 </div>
                 </div>
                 <div class="col-4">
                 <label class="header_input invisible">فترة التسميع</label>

                   <button  type="button" class="saveButton btn"> Add</button>
                     
                   </div>
   
                   <div class="col-12">
                    <div class="badges mt-3 ">
                      <div *ngFor="let item of programType;let i=index" 
                          class="badge badge-info p-2 " >
                      <div class="d-flex justify-content-between">
                          <p class="ellipsis mb-0"> from:__ , to:__</p>
                          <a ><i class="fas fa-times-circle"></i></a>
                      </div>
                      </div>
                  </div>
                   </div>
              </div>
      
           </div>
         </div>

       </div>

    
     </div>
    </form>
    </div>
</div>