<div class=" notify_card">
    <div class="card_header">
    <span>{{notificationsCardDetails.notifyName}}</span>
    
    <span *ngIf="!viewMode" class="icon_actions">
     <img src="/assets/images/notify/edit.svg" (click)="editCard()"> 
     <img src="/assets/images/notify/trash.svg" (click)="deleteCard()">  
    </span>
    </div>
    <div class="row">
        <div class="col-12 ">
            <p class="notify_type mb-0"> 
                
               
                <span>{{translate.currentLang === lang.en? notificationsCardDetails?.notifyTypeLookup?.nameEn : notificationsCardDetails?.notifyTypeLookup?.nameAr}}</span> 
                <span>&nbsp;</span>
               
                <span>-</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span> 
                <span>{{'NOTIFICATIONS.AFTER_ASSIGNMENT' | translate}}
                    <span>&nbsp;</span> 
                <span class=" bold notify_number">{{notificationsCardDetails.noDuties}}</span> 
                <span>&nbsp;</span>
                <span>&nbsp;</span> 
                {{'NOTIFICATIONS.ASSIGNMENT' | translate}}  </span>
            </p>
        </div>
    </div>

    <div class="card_body">
        <div class="body_header">
            <span> {{'NOTIFICATIONS.MESSAGE_ARABIC' | translate}} </span>
            </div>
            <p class="bold">
                {{notificationsCardDetails.msgAr}}
                 
         
            </p>
    
      <div class="body_header">
      <span>{{'NOTIFICATIONS.MESSAGE_ENGLISH' | translate}}  </span>
      </div>
      <p class="bold">
        {{notificationsCardDetails.msgEn}}
      
          
   
      </p>
    </div>

   </div>
