<div class=" notify_card">
    <div class="card_header">
    <span>تنبية مبدائي</span>
    
    <span class="icon_actions">
     <img src="/assets/images/notify/edit.svg" (click)="deleteCard()"> 
     <img src="/assets/images/notify/trash.svg" (click)="editCard()">  
    </span>
    </div>
    <div class="row">
        <div class="col-12 ">
            <p class="notify_type mb-0"> 
                <span >نوع التنبيه  </span> 
                <span>{{'NOTIFACATIONS.AFTER_ASSIGNMENT' | translate}} <span class=" bold notify_number"> عدد الوجبات</span> {{'NOTIFACATIONS.ASSIGNMENT' | translate}}  </span>
            </p>
        </div>
    </div>

    <div class="card_body">
        <div class="body_header">
            <span> {{'NOTIFACATIONS.MESSAGE_ARABIC' | translate}} </span>
            </div>
            <p class="bold">
            
                  سبب الإجازة سبب الإجازة سبب الإجا
                  زة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة
         
            </p>
    
      <div class="body_header">
      <span>{{'NOTIFACATIONS.MESSAGE_ENGLISH' | translate}}  </span>
      </div>
      <p class="bold">
      
            سبب الإجازة سبب الإجازة سبب الإجا
            زة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة سبب الإجازة
   
      </p>
    </div>

   </div>