
.material-list{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 90%;
}
.card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    opacity: 1;
}

// .material-icon{ 

// }