<div class=" row material-list">
  <div class="col-12">
    <span> <img calss="m-2 pull-left" src="assets/images/scientificMaterial/Group 18093.svg" alt="" (click)="loadMaterial(null)">
    </span>

  </div>
  <div class="matrial-card col-lg-5 col-md-5 col-sm-12 m-2" *ngFor="let item of materials">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <span> <img calss="" src="assets/images/scientificMaterial/Group 18138.svg" alt=""></span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <p class="cat">{{translate.currentLang === langEnum.en ? item.matrialCategoryEn : item.matrialCategoryAr }}</p>
        <p> {{ translate.currentLang === langEnum.en ? item.matrialTitleEn : item.matrialTitleAr}}</p>
        <h3>{{translate.currentLang === langEnum.en  ? item.matrialTitleEn : item.matrialTitleAr}}</h3>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-4 mt-4">
        <span> <img calss="" src="assets/images/scientificMaterial/Icon feather-edit-3.svg" alt=""
            (click)="loadMaterial(item.id || '')"></span>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-4 mt-4">
        <span> <img calss="" src="assets/images/scientificMaterial/Icon feather-trash-2.svg" alt=""></span>
      </div>
    </div>
  </div>
</div>