
.material-list{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem;
    height : 100%;
    margin: 1rem;
    margin-bottom: 0;

}
.matrial-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C5C5C5;
    border-radius: 12px;
    opacity: 1;
    padding: 1rem;
    height: 100px;
}




.matrial-card p{
    text-align: right;
    font-family:Almarai-Bold ;
    font-size: 18px ;
    letter-spacing: -0.26px;
    color: #8E2520;
    opacity: 1;
    margin-bottom: 0 !important;
}
.matrial-card .cat{
    font-family:Almarai-Regular ;
  font-size: 0.625rem ;
  color: #3A3A3A ;

  }
.matrial-card h3{
text-align: right;
font-family:Almarai-Regular ;
font-size: 0.75rem ;
letter-spacing: -0.17px;
color: #3A3A3A;
opacity: 1;
}

// add by nermen 

p.title_material-list{
    font-family: Almarai-Bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}
p.title_material-list:lang(ar),.example-section:lang(ar){
    text-align: right;
}
.upload:lang(en) 
{
    text-align: right;
} 
.contanier_matrial-card{
    // background-color: antiquewhite;
    height: 495px;
    overflow-y: auto;
 
}
.size_icon{
    width: 1.25rem;
    height: 1.25rem;
}

@media (min-width: 992px){
.col-lg-5 {
    flex: 0 0 47.666667%;
    max-width: 47.666667%;
}}