.material-list {
    background: #fbfbfb 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 1.7rem;
    height: 95%;
    margin-top: 1rem;
}
.material-list:lang(en){
    margin-right: 1rem;
}
.material-list:lang(area){
    margin-left: 1rem;
}

.matrial-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c5c5c5;
    border-radius: 12px;
    opacity: 1;
    padding: 1rem;
    height: 100px;
}

.matrial-card p {
    text-align: right;
    font-family: Almarai-Bold;
    font-size: 18px;
    letter-spacing: -0.26px;
    color: #8e2520;
    opacity: 1;
    margin-bottom: 0 !important;
}
.matrial-card .cat {
    font-family: Almarai-Regular;
    font-size: 0.625rem;
    color: #3a3a3a;
}
.matrial-card h3 {
    text-align: right;
    font-family: Almarai-Regular;
    font-size: 0.75rem;
    letter-spacing: -0.17px;
    color: #3a3a3a;
    opacity: 1;
}

// add by nermen

p.title_material-list {
    font-family: Almarai-Bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3a3a3a;
    opacity: 1;
}
p.title_material-list:lang(ar),
.example-section:lang(ar) {
    text-align: right;
}
.upload:lang(en) {
    text-align: right;
}
.contanier_matrial-card {
    // background-color: antiquewhite;
   // height: 70%;
    overflow-y: auto;
    margin: auto;
}
.size_icon {
    width: 1.25rem;
    height: 1.25rem;
}

// Background border
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #8e2520;
    // background-color: #ffffff;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 3px solid #8e2520;
    border-radius: 5px;
    opacity: 1;
}
///
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
::ng-deep 
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    // margin-top: 1px;
    background-color:#8e2520;
    // margin-left: 1px;
    // width: 18px;
    // height: 18px;
}
 
::ng-deep .mat-checkbox:hover {
    ::ng-deep .mat-checkbox-frame {
        border-color: #8e2520 !important; //what ever color you want
    }
}

@media (min-width: 992px) {
    .col-lg-5 {
        flex: 0 0 47.666667%;
        max-width: 47.666667%;
    }
}

.internal_scroll_list_group:lang(ar) {
    // background-color: antiquewhite;
            height: 470px;
            overflow-y: auto;
            padding-left: 0.5rem;
        }
        .internal_scroll_list_group:lang(en) {
            // background-color: antiquewhite;
                    height: 470px;
                    overflow-y: auto;
                    padding-right: 0.5rem;
                }
.no-data{
    font: normal normal  1.25rem Almarai;
        color:black; 
        padding-top: 2rem;
    
    }
    .no-data:lang(en){
    text-align: left;
    
    padding-left: 2rem;
    }
    .no-data:lang(ar){
    text-align: right ;
    
    padding-right: 2rem;
    }
    .pull-left{
        width: 21px;
        height: 32px;
    }
    .sc{
       font-family: Almarai-Regular;
    }