child{{hearingTaskDetailsModel}}
<div class="hearing_days">
<div class="row">
<span class="ml-3 head">الاستماع</span>
    
    <mat-checkbox  class="example-margin mx-2"   [(ngModel)]="hearingTaskDetailsModel.isMndatory"
    class="example-margin ">الزامى </mat-checkbox>
</div>


<div class="form-group">
    <div class="row">
        <div class="col-12">
            <label class="text-right header_input"> الدرجة</label>

           <input type="text" class="form-control w-50" [(ngModel)]="hearingTaskDetailsModel.degree" >
    
        </div>

    </div>
    
</div>

<div class="form-group">
    <label class="custom-file custom-file__text" for="importFile">
            <!-- <img calss="page-image"    src="assets/images/walk-through/Group 18093.svg"  > -->
            <p class="custom-file__label"> إختر الملفات لرفعها / اسحبها وضعها هنا</p>
       
    </label>
    
    <input type="file" class="custom-file-input" id="importFile" 
    (change)="onFileChange($any($event.target).files)" >
            <div class="col-4 cardRecourd"  *ngFor="let item of hearingTaskDetailsModel?.hearingAttachments;let i=index" >
                <img src="assets/images/days/book.svg">
                <span>{{item.fileName}}</span>
                <i class="fas fa-play-circle"></i>
                <img src="assets/images/trash-2.svg" (click)="DeleteAttachment(i,item.id)">
            </div>
</div>



<div class="form-group">
    <div class="row">
        <div class="col-12">
            <label class="text-right header_input"> السؤال الذي يظهر للطالب </label>

           child  {{hearingTaskDetailsModel.questionToStudent}}
           <input type="text" class="form-control " [(ngModel)]="hearingTaskDetailsModel.questionToStudent" >
    
        </div>

    </div>
    
</div>
</div>