@import '../../../../../assets/scss/buttons';
@import '../../../../modules/program/components/program-details/programs-tabs/days/days.component.scss';

.details_day{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 58vh;
    .head {
        font-weight: bold;
        font-size: 1rem;
    }
    &:lang(en)
    {
        text-align: left;
    }
    &:lang(ar)
    {
        text-align: right;
    }
        .header_input{
            font-family:Almarai-Bold ;
            font-size: 14px;
        }
   
   .trash {
            color: #8E2520;
          }

    .custom-file__text {
        color: var(--unnamed-color-363636);
        text-align: center;
        font: normal normal bold 20px/31px Almarai;
        letter-spacing: -0.29px;
        color: #363636;
        opacity: 1;
        padding: 2rem;
    }

    .custom-file {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 3px dashed #DFDFDF;
        border-radius: 12px;
        opacity: 1;
        height: 30%;
        width: 100%;
        text-align: center;
    }
    .custom-file__label{
        margin-bottom: 0;
        color: #dedddd;
     }
    .upload-icon{
        margin-bottom: 10px;  
        width: 3rem;
        height: 3rem;      
        }
    .page-image{
        width: 100%;
        height: 400px;
    }
    .cardRecourd{
       justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 0.5rem 1rem;
        background-color: #DFDFDF;
        border-radius: 7px;
        margin: 0.2rem;
    }
    .save-btn, .cancel-btn
    {
      height: 2.31rem;
      margin: 1rem;
  
     }
     .custom-file-input{
         height: 0;
         width: 0;
     }
     .hint_validation{
         color: #C1C7D0;
         font-size: 12px;
         font-family: Almarai-Regular;
         display: flex;
         justify-content: flex-end;
         margin:0.2rem  0.5rem;
     }
  
}