<ng-container *ngIf="currentQuestion">
    <div class="over_lay_exam">
      <div class="row justify-content-center">
        <div class="col-10  "> 
          <!-- <h1 class="bold">اختبار القبول</h1>  -->
              <p class="bold">
                  {{translate.currentLang===langEnum.en ? joinExamModel?.engExamFormNam : joinExamModel?.arabExamFormNam}}
              </p> 
          </div>
      </div>
         <div class="row justify-content-center">
             <div class="col-10 card_quest "> 
                    <p class="quest_num"> Quest number-{{currentQuestion?.questionNo}} </p>
    
                    <ng-container *ngIf="currentQuestion?.text">
                      <p class="quest_text" >
                          {{currentQuestion?.text}} 
                          
                       </p>
        </ng-container>
        <ng-container *ngIf="currentQuestion?.voiceUrl">
                       <app-voice-recording 
                        [viewMode]='true' [voiceUrl]='currentQuestion?.voiceUrl'>
                      </app-voice-recording>
         </ng-container>
            <ng-container *ngIf="currentQuestion?.answerType === answerTypeEnum?.singleSelect">
              <mat-radio-group  *ngIf="currentQuestion" 
               [(ngModel)]="currentQuestion.studentAnswersByAnswerNumber"
              aria-label="Select an option"
              class="input-group  col-12" >
             <mat-radio-button  *ngFor="let answer of currentQuestion?.answers;let i=index"
             value="{{answer.answerNo}}" class=" px-4  col-12" >
             <input type="text" class="form-control input_fullWidth "
              [(ngModel)]="answer.text"  aria-label="Text input with checkbox" >
             
            </mat-radio-button>
          </mat-radio-group>
          
        
       </ng-container>
       
       
            <ng-container    *ngIf="currentQuestion?.answerType === answerTypeEnum?.multiSelect">
                <ng-container class="mt-3" *ngFor = 'let answer of currentQuestion?.answers'>
                  <mat-checkbox class="example-margin " (change)='addStudentAns(answer, $event)'>
                {{answer.text}}
                </mat-checkbox>
                </ng-container> 
    
            </ng-container>
    
           
            </div>
            <div class="col-10  mt-4">
               <p class=" timer_contDown">
                {{counterTimer | formatTime}}
               </p>
              </div>
             </div>
         </div>
         <div class="row justify-content-end mt-5">
            <div class="col-6">
                  <section class="mt-2 button_actions">
                  <p class="text-right finshed">  {{ "JPIN_EXAM.ARE_YOU_FINISHED_EXAM" | translate }}</p>
    
                  <div  class="row direction-rtl buttons-center mt-">
                      <button   type="submit" class="cancel-btn" (click)="NextQuestion()"> 
                        
                        {{ "GENERAL.NEXT" | translate }}
                      </button>
                      <button   type="reset" class="btn_replay mx-3" > 
                          {{ "GENERAL.CANCEL" | translate }}
                      </button>
                  </div>
              </section>
                </div>
         </div>
     </ng-container>