<div class="row  scientific-problem-grid" *ngIf='userMode === programSubscriptionUsers.student'>
  <div class="col-9 d-flex justify-content-start">
   <ngb-pagination 
   [maxSize]="3"
    [collectionSize]="totalCount"
    [(page)]="studentFilterRequestModel.page"
     [pageSize]="studentFilterRequestModel.take"
    [rotate]="true" [boundaryLinks]="true" 
    (pageChange)="onStudentPageChange()">
  </ngb-pagination>
    
    <button  [ngClass]="{'asend_desend_btn': studentFilterRequestModel.sortField != 'userNameAr' && studentFilterRequestModel.sortField != 'UserNameEn', 'default_btn' : this.studentFilterRequestModel.sortField != 'requestdate'}"
    (click)='sortByStudentRequestDate()'> 
     {{'User_Requests.SORT_DATE' | translate}}
     
        <span *ngIf='this.studentFilterRequestModel.sortField != "requestdate"'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
        </span>
        <span *ngIf='sortByStudentRequestDateOrderType() == "asend"'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span> 
        <span *ngIf='sortByStudentRequestDateOrderType() == "desend"'>
            <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span>
     </button>
    </div> 
     <div class="col-3 pl-4 text-right align-self-center">
        <!-- class="exportIcon" -->
        <a class=" ml-1 mr-1" >
            <img   (click)='exportStudentCSV()' 
            src="../../../../assets/images/sc-problem/exporticon.svg">
        </a>
     </div>
</div>

<div class="row scientific-problem-grid" *ngIf='userMode === programSubscriptionUsers.teacher'>

  <div class="col-9 d-flex justify-content-start">
          <ngb-pagination 
          [maxSize]="3"
          [collectionSize]="totalCount"
          [(page)]="teacherFilterRequestModel.page" 
          [pageSize]="teacherFilterRequestModel.take"
          [rotate]="true"
          [boundaryLinks]="true" 
          (pageChange)="onTeacherPageChange()">
          </ngb-pagination>
    
    <button  [ngClass]="{'asend_desend_btn': teacherFilterRequestModel.sortField != 'userNameAr' && teacherFilterRequestModel.sortField != 'UserNameEn', 'default_btn' : this.teacherFilterRequestModel.sortField != 'requestdate'}"
    (click)='sortTeacherRequestDate()'> 
     {{'User_Requests.SORT_DATE' | translate}}
     
        <span *ngIf='this.teacherFilterRequestModel.sortField != "requestdate"'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
        </span>
        <span *ngIf='sortTeacherRequestDateOrderType() == "asend"'>
            <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span> 
        <span *ngIf='sortTeacherRequestDateOrderType() == "desend"'>
            <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
        </span>
     </button>
    </div> 
     <div class="col-3 pl-4 text-right align-self-center">
        <a class=" ml-1 mr-1" >
            <img  (click)='exportTeacherCSV()' 
            src="../../../../assets/images/sc-problem/exporticon.svg">
        </a>
     </div>
</div>

<mat-grid-list cols="{{numberPerRow}}" rowHeight="3:3">
  <ng-container *ngIf="userMode == programSubscriptionUsers.student">
      <mat-grid-tile *ngFor='let item of studentItems' >
        <app-admin-join-request-for-teacher-tab-and-student-tab-card
         class="card"
        [studentSubscripModel]='item' 
        [userMode]="programSubscriptionUsers.student"
        >

        </app-admin-join-request-for-teacher-tab-and-student-tab-card>
        
      </mat-grid-tile>
  </ng-container>
  <ng-container *ngIf="userMode == programSubscriptionUsers.teacher">
      <mat-grid-tile *ngFor='let item of teacherItems' >
        <app-admin-join-request-for-teacher-tab-and-student-tab-card
         class="card" 
         [teacherSubscripModel]='item' 
         [userMode]="programSubscriptionUsers.teacher"
         >
      </app-admin-join-request-for-teacher-tab-and-student-tab-card>
      </mat-grid-tile>
  </ng-container>
</mat-grid-list>
