@import  '../setting-qualifications/setting-qualifications.component.scss';
@import '../../../../../assets/scss/buttons';
.title{
    color: #CB9118;
    font-size: 14px;
    font-family: Almarai-Bold;
    
    }

    .requiredFlag{
        color:#C1C7D0;;
        font-size: 14px;
        font-family: normal normal normal;
        opacity: 1;
        
        }
