<!-- <div class="card-setting">
    <div class="head">
     {{item.title}}
    </div>
    <div class="body">
        <div class="details"> السن لا يقل عن</div>
      
    </div>
</div> -->

<ng-container >
    <div class="card-setting viewMode">
        <div class="head">
           <span>{{ageModel.title}}</span>
           <img class="close" src="../../../../../assets/images/feelings/close.svg" (click)="confirmDialog()">
        </div>
        <div class="body">
            <div class="details">السن لا يقل عن</div>
            <input type="text" class="form-control w-50" [(ngModel)]="ageModel.value" >
        </div>
        <div  class="row  buttons-center mt-5">
            <label class="switch">
                <input type="checkbox" [(ngModel)]="ageModel.isRequired" >
                <span class="slider round">الزامى</span>
              </label>
            <button   type="submit" class="save-btn" (click)="saveProgramConditions()"> 
                {{ "GENERAL.SAVE" | translate }}
            </button>
    </div>
    </div>
   
</ng-container>