// @import '../../../../../teacher-program-subscription/teacher-program-sub-view/teacher-submit-subscription/teacher-submit-subscription.component.scss';
@import '../../../../../../teacher-program-subscription/teacher-program-sub-view/teacher-program-sub-view.component.scss';
