// @import '../../../../../../teacher-program-subscription/teacher-program-sub-view/teacher-program-sub-view.component.scss';

@import 'src/assets/scss/_buttons.scss';
.add-pro-stu {
    &:lang(ar){text-align: right;}
    &:lang(en){text-align: left;}

            .cancel-btn {
                height: 2.31rem;
                margin: 1rem;
                width: auto;
            }
            .save-btn {
                width: auto;
                height: 2.31rem;

            }
            .head_conditions {

            font-family:  Almarai-Bold;
            font-size:1.25rem ;
            color: #3A3A3A;
            }
            .header_input{
                font-family:Almarai-Bold;
                font-size:0.857rem ;
                color: #3A3A3A;
                
            }
            select.form-control
            {
                appearance: auto;
            }

}