// @import '../../../../../teacher-program-subscription/teacher-program-sub-view/teacher-submit-subscription/teacher-submit-subscription.component.scss';
@import '../../../../../../teacher-program-subscription/teacher-program-sub-view/teacher-program-sub-view.component.scss';
@import 'src/assets/scss/_buttons.scss';
.cancel-btn {
    height: 2.31rem;
    margin: 1rem;
    width: 196px;
    height: 43px;
}
.save-btn {
    width: 196px;
    height: 43px;
}
.head_conditions {
   
 
text-align: right;
font: normal normal bold 20px/34px Almarai;
letter-spacing: 0px;
color: #3A3A3A;
opacity: 1;
   
    
}
.mat-expansion-indicator::after {
    position:absolute;
    top: 180px;
    left: 30px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    padding: 3px;
    transform: rotate(
45deg);
    vertical-align: middle;
}