.crad_teacher{
  
       &:lang(ar){
        text-align: right;
        }
        &:lang(en){
        text-align: left;
        }
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        box-shadow: 0px 3px 15px #0000001A;
        color: #3A3A3A;
        font-family: Almarai-Regular;
        padding: 1.5rem 1rem 1rem ;

  &__name{
    color: #3A0303;
    font-family: Almarai-Bold;
    font-size: 18px;
  }
}