

<div class="form-group conditionForm mt-3 pl-3 pr-3" >
    <h3 class="head"> إضافة شرط</h3>
    
       
        
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input">عنوان الشرط</label>
               <input type="text" class="form-control"  [(ngModel)]="conditionModel.title">
        
            </div>

        </div>
        
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input mb-3"> نوع الاجابه</label>
                <mat-radio-group  
                 class="example-radio-group" 
                 [(ngModel)]="conditionModel.answerType" 
                aria-label="Select an option" >
                   <!-- <ng-container  *ngFor="let item of collectionOfLookup.PROGRAM_CONDTION"></ng-container> -->
                    <!-- <mat-radio-button value="{{item.id}}" class="example-radio-button ml-3"  
                    *ngFor="let item of collectionOfLookup.PROG_COND_TYPES" (change)="radioChange($event)">
                    {{ translate.currentLang == langEnum.en ? item.nameEn : item.nameAr}}
                    </mat-radio-button> -->
                    <mat-radio-button  value="{{answerTypeEnum.Choices}}" class="example-radio-button ml-1 mr-1" aria-checked="" >{{Choices() }} </mat-radio-button>
                    <mat-radio-button  value="{{answerTypeEnum.text}}" class="example-radio-button ml-1 mr-1"  >{{text() }} </mat-radio-button>
                    <mat-radio-button  value="{{answerTypeEnum.toggel}}" class="example-radio-button ml-1 mr-1"  >{{toggel() }} </mat-radio-button>
                </mat-radio-group>
        
            </div>

           

        </div>
        
    </div>
    <!-- *ngIf="conditionModel.answerType === answerTypeEnum.Choices"  -->
<ng-container>
    <div class="form-group" >
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input mb-3"> الاجابات </label>
                <ng-container *ngFor="let answer of conditionModel.answerList">
                    <div class="d-flex mb-2">
                    <input type="text" class="form-control w-90" [(ngModel)]="answer.text" >
                    <a>
                        <img src="../../../../assets/images/trash-2.svg" class="btn_trash" >   
                    </a>
                    </div>
                </ng-container>
            </div>
                <div class="col-12 mt-3">
                    <button   type="submit" class="cancel-btn m-0" (click)="addAnswer()"> 
                        اضافه اجابه
                    </button>
                </div>
        </div>
    </div>
</ng-container>


    
   <section class="mt-5">
            <div  class="row direction-rtl buttons-center mt-5">
                <button   type="submit" class="save-btn" (click)="saveCondition()"> 
                    {{ "GENERAL.SAVE" | translate }}
                    
                </button>
               
                <button  type="reset" class="cancel-btn"    (click)="closeForm()"> 
                    {{ "GENERAL.CANCEL" | translate }} 
                    
                </button>
            </div>
        </section>
</div>
