@import 'src/assets/scss/_variables.scss';

    
    .UserLogin__ForgetPassword{
        float: right;
        .UserLogin__ForgetPasswordLink{
            color: $auth-colorForgetPassword
        }
    }
    
    .UserLogin__RememberMeLabel{
        opacity: 0.5;
        .UserLogin__RememberMe{
            color: $auth-colorRememberMe;
            opacity: 0.5;
        }
    }


