@import 'src/assets/scss/_variables.scss';

    
    .UserLogin__ForgetPassword{
        float: right;
        .UserLogin__ForgetPasswordLink{
            color: #CB9118;
        }
    }
    .UserLogin__ForgetPassword:lang(ar)
{
  float: left 
}
    .UserLogin__RememberMeLabel{
        opacity: 0.5;
        .UserLogin__RememberMe{
            color: #5A5A5A;
            opacity: 0.5;
        }
    }
   
