@import 'src/assets/scss/_variables.scss';
    
    .UserLogin__ForgetPassword{
        float: right;
        .UserLogin__ForgetPasswordLink{
            color: $ForgetPasswordLink;
        }
    }

    

    .UserLogin__RememberMeLabel{
        opacity: 0.5;
        .UserLogin__RememberMe{
            color: $RememberMeLabel;
            opacity: 0.5;
        }
    }

    .input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation)>.custom-select:not(:last-child), .input-group:not(.has-validation)>.form-control:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 8px;
    }
    // .UserLogin__FormControl.pw{
    //     border-radius: 0px !important;

    // }
    // .UserLogin__FormControl.pw:lang(ar){
    //     border-top-right-radius: 8px !important;
    //     border-bottom-right-radius: 8px  !important

    // }
    .placeholder{
        position: absolute;
        right: 15px;
        top: 5px;
        cursor: pointer;
      }
      
      .input-placeholder {
        position: absolute;
      }

      .UserLogin__ForgetPassword:lang(ar)
      {
          float: left 
      }


      .input-group-prepend:lang(ar) {
          float: left;
    }
   
    // .UserLogin__LoginForm:lang(ar){
    //     float: left;

        
    // }



  