@import 'src/assets/scss/_variables.scss';
    
    .UserLogin__ForgetPassword{
        float: right;
        .UserLogin__ForgetPasswordLink{
            color: $ForgetPasswordLink;
        }
    }

    .UserLogin__ForgetPassword:lang(ar)
    {
        float: left 
    }

    .UserLogin__RememberMeLabel{
        opacity: 0.5;
        .UserLogin__RememberMe{
            color: $RememberMeLabel;
            opacity: 0.5;
        }
    }
   
