@import 'src/assets/scss/_variables.scss';

.UserLogin{
    // background-color: aliceblue;
    // background-repeat: no-repeat;

    .UserLogin__LoginHeader{
        text-align: left;
    }

    // .UserLogin__FormContainer{
    //     padding: 2rem;
    //     border-radius: 10px;
    //     box-shadow: 0 3px 15px #0000001A
    // }

    .UserLogin__Label{
        color: $auth-backgroundcolor;
    }

    // Email And Password
    .UserLogin__FormControl:not(select) {
        padding: 1.5rem 0.5rem;
    }
    
    select.UserLogin__FormControl {
        height: 52px;
        padding-left: 0.5rem;
    }
    
    .UserLogin__FormControl::placeholder {
        color: $auth-color;
        font-weight: bold;
        font-size: 0.9rem;
    }
    
    .UserLogin__FormControl:focus {
        box-shadow: none;
    }

    .UserLogin__PasswordError{
        position: relative; 
        top: -1.563rem;
    }
    
    .UserLogin__LoginFooterForm{        
        text-align: center;
    }

    .UserLogin__ForgetPassword{
        float: right;
        .UserLogin__ForgetPasswordLink{
            color: $auth-colorForgetPassword
        }
    }
    
    .UserLogin__RememberMeLabel{
        opacity: 0.5;
        .UserLogin__RememberMe{
            color: $auth-colorRememberMe;
            opacity: 0.5;
        }
    }

    .UserLogin__Submit{
        background-color: $user-color;
        width: 19.063rem;
        height: 3.191rem;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 1rem;
    }

    .UserLogin__SignUp{
        margin-top: 1.25rem;
        background-color: $auth-colorSignupLink;
        width: 19.063rem;
        height: 3.191rem;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 1rem;        
    }

    .UserLogin__SignUpContainerOfLink{
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        .UserLogin__SignUpLink{
            color: #172B4D;
        }
    }

    
}

