
<div class="row UserLogin">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <!-- <img class="UserLogin__LoginImage" src="D:\ArabDT_Projects\Hudaz_Front\huffaz-app\src\assets\images/LoginHeader.svg"/> -->

        <section class="row justify-content-center UserLogin__FormContainer">
            <section class="col-12 col-md-12 col-sm-12">
              <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)" class="form-group UserLogin__LoginForm">
                  <div class="col-lg-12 mb-4">
                      <h1 class="font-weight-bold "> Login </h1> 
                  </div>
      
                  <!-- Email Address -->                    
                  <div class="col-lg-12 mb-4">
                      <label class="UserLogin__Label" for="UserEmail">Email Address</label>
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-envelope text-muted"></i>
                              </span>
                          </div>
                          <input id="email"  pInputText type="email" formControlName="email" name="email" placeholder="Email Address" class="form-control UserLogin__FormControl bg-white border-left-0 border-md ">
                          
                      </div>                        
                  </div>
       
                  <!-- Password -->                    
                  <div class="col-lg-12 mb-4">
                      <label class="UserLogin__Label" for="UserPassword">Password</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-lock text-muted"></i>
                              </span>
                          </div>
                          <input id="password" pPassword type="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" name="password" placeholder="Password" class="form-control UserLogin__FormControl bg-white border-left-0 border-md ">
                          
                      </div>                        
                  </div>
       
                  <!-- Remember Me -->
                  <div class="form-group col-lg-12 mb-4">
                      <label class="UserLogin__RememberMeLabel">
                          <input class="UserLogin__RememberMe" type="checkbox" name="remember"> Remember me
                      </label>
                                       
                      <label class="UserLogin__ForgetPassword">
                          <a class="UserLogin__ForgetPasswordLink" href="/forget-password" [routerLink]="['/forget-password']" > Forget Password ?</a>
                      </label>
                  </div>
       
                  <!-- Submit Button -->
                  <div class="form-group col-lg-12 mx-auto mb-0">
                      <!-- <button type="submit" class="btn btn-primary btn-block UserLogin__Submit"  [disabled]="!userform.valid">Submit</button> -->
                      <button type="submit" class="btn btn-primary btn-block UserLogin__Submit" >Submit</button>
                      <a [routerLink]="['/register']" class="btn btn-primary btn-block py-2 UserLogin__SignUp">
                          <div class="UserLogin__SignUpContainerOfLink">
                              <span class="font-weight-bold UserLogin__SignUpLink"> Sign Up</span>
                          </div>
                      </a>
                  </div> 

                  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                    {{ errorMessage }}
                  </div>
              </form>
            </section>
          </section>

        <!-- <img class="UserLogin__LoginHeader" src="/src/assets/images/LoginBackground.png" /> -->
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 UserLogin__LoginImageLeft">
        <p> Welcome 7oda </p>
        <!-- <img class="UserLogin__LoginImage" src="/src/assets/images/LoginBackground.png" /> -->
    </div>
</div>


<!-- <div class="container">
    <div class="Login">

    </div>
</div>> -->