@import 'src/assets/scss/_variables.scss';
    
    .UserLogin__ForgetPassword{
        float: right;
        .UserLogin__ForgetPasswordLink{
            color: $ForgetPasswordLink;
        }
    }

    

    .UserLogin__RememberMeLabel{
        opacity: 0.5;
        .UserLogin__RememberMe{
            color: $RememberMeLabel;
            opacity: 0.5;
        }
    }

    .placeholder{
        position: absolute;
        right: 15px;
        top: 5px;
        cursor: pointer;
      }
      
      .input-placeholder {
        position: absolute;
      }

    
   




  