<div class="container-fluid details_day">
      <div class="row stu-program-subscriptions">
       <div class="col-12 d-flex justify-content-between align-items-center mt-3">
        <p class="mb-0 head"> المجموعات </p>
         <app-search-input
         (searchTerm)=filterByText($event)
         [searchKey]='this.groupExplanationsStuViewRequest.techName || ""'
         ></app-search-input>
      </div>
      </div>

      <div class="row fix_margin w-100 " >
  
<div class="col-12">
   <app-student-group-grid
        [groupResponseList]='responseList'
        [groupExplanationsStuViewRequest] = 'groupExplanationsStuViewRequest'
        [totalCount]='totalCount'
        [numberPerRow]='numberPerRow'
        (studentFilterEvent)='filterRequestStudent($event)'
        >
        </app-student-group-grid>
</div>
       
        <!-- <app-teacher-stu-program-for-subscription-grid
        [studentItems]='programsForStudentSubscriptionsLst'
        [studentFilterRequestModel] = 'filterRequest'
        [totalCountForStudent]='totalCount'
        [userMode]="studentCard"
        (studentFilterEvent)='filterRequestTeacher($event)' >
      </app-teacher-stu-program-for-subscription-grid> -->
    
    </div>
  </div>
  
