
 .list-group_program-list{
          background: #fff 0% 0% no-repeat padding-box;
          border-radius: 19px;
          opacity: 1;
          padding: 2rem;
          height: 70vh;
          margin-top: 1rem;

    .internal_scroll_list_group:lang(ar) {
                height: 70vh;
                overflow-y: auto;
                padding-left: 0.5rem;

            }
            .internal_scroll_list_group:lang(en) {
              height: 70vh;
              overflow-y: auto;
              padding-right: 0.5rem;
                    }
}

.list-group_program-list:lang(en){
    margin-left: 1rem;

  }
  .list-group_program-list:lang(ar){

    margin-right: 0rem;
  }

.list-group_program-list > p{
    font-family: Almarai-Bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}
.list-group_program-list > p:lang(ar){
    text-align: right;}
.list-group_program-list
.list-group-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #828282;
    border-radius: 12px;
    letter-spacing: 0px;
    margin-bottom: 1rem;
    opacity: 1;
    margin-top: 1rem;
    font-family: Almarai-Bold;
    font-size: 1rem;
    justify-content: space-between;
        &.active ,&:hover {
        background: #CB9118 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
        .count{
            background-color: #fff;
        }
    }


        .fa-trash-alt ,.fa-copy{
            color:#8E2520
        }

        &.active .fa-trash-alt ,  &.active .fa-copy
        ,&:hover .fa-trash-alt , &:hover .fa-copy
        {
            color: #FFFFFF;
        }

}
