

<div class="list-group teacher-list-request">

    <p class="mb-0 head_groupName"> {{ "CHAT_GROUP.GROUPS" | translate }} </p>

      <app-search-input (searchTerm)=filterByText($event) ></app-search-input>

    <div class="internal_scroll_list_group">
        <ng-container *ngFor="let groupOfItem of listOfGroups; let i = index" >
            <div class="list-group-item " 
            (click)="getGroupDetails(groupOfItem)">
                <div  class="d-flex justify-content-between" >
                    <p class=" ellipsis p-0  group_name" title=" {{ groupOfItem.group_name }} "> {{ groupOfItem.group_name }}  </p>   
                    <p class="last_date"> {{ groupOfItem.last_date }} </p>    
                </div>
                <div  class="d-flex justify-content-between" >  
                    <p class=" ellipsis p-0 last_message" title="{{ groupOfItem.last_message }} "> {{ groupOfItem.last_message }}   </p>     
                </div>
            </div>
        </ng-container>
    </div>
</div>
