
    

    


    <div class="container-fluid">
        <!-- add-drop-out -->
        <div class="row">
            <div class="col-12">
                <app-student-drop-out-request (createDropOutOverlayEvent)="openStudentDropOutRequestCreatePopup($event)"></app-student-drop-out-request>
            </div>
        </div>
    
        <div class="overlay" *ngIf="openStudentDropOutRequestCreateOverlay">
            <app-add-student-drop-out-request
                (closeCreateDropOutOverlay)="closeCreateStudentDropOutRequestOverlay($event)"
                [createDropOut]="createDropOut"
            ></app-add-student-drop-out-request>
        </div>
        
    </div>