<div class="tab_page notifacation_page condition_details">
    <div class=" pt-3 mb-3">
        <div class="row">
            <div class="col-md-12 container_haeder mb-2">
         
               <button class="cancel-btn" (click)="AddConditions()" >
                إضافة شرط
               </button>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 max_h">
        <div class="row">
                        
            <div class="col-4 mb-3">
                <app-setting-scientific-problem></app-setting-scientific-problem>
            </div>

            <div class="col-4 mb-3">
                <app-setting-part-qraan></app-setting-part-qraan>

            </div>
            <div class="col-4 mb-3">
                <app-setting-age></app-setting-age>
            </div>

            <div class="col-4">
                <app-setting-last-program></app-setting-last-program>
            </div>
                
            <div class="col-4">
                <app-setting-degree-last-program></app-setting-degree-last-program>
            </div>    

            <div class="col-4 mb-3">
                <app-setting-maxmum-subscribe></app-setting-maxmum-subscribe>

            </div>    
       



        </div>
    </div>
   
    
</div>
