@import 'src/assets/scss/_variables.scss';

.condition_details{

    &.tab_page  {
      background: #fbfbfb;
      width: 100%;
      margin-top: 1rem;
      border-radius: 5px;
      padding: 1rem;
      }
      
      .max_h {
        min-height: 73vh;
        max-height: 73vh;
        overflow-y: auto;
      }
      .container_haeder{
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
      }
      .cancel-btn{
        background:$icon_input ;
        border-radius: 12px;
        opacity: 1;
        width:135px;
        padding: 0.5rem;
        height: 2.31rem;
        border: none;
        color: #ffffff;
        display: block;
        }
    .haeder{
      // font-family: Almarai-Bold;
      font-size:1.25rem;
      color:$edit;
      font-weight: bold;
    }
    .title{
      border-bottom: 1px solid rgba(0,0,0,.1);

    }
    .title_custom{
      color: #8E2520;
      font-size:1.25rem;
      font-weight: bold;
        &:lang(en) {
          text-align: left;
      }
      &:lang(ar) {
        text-align: right;
    }
    }
}