@import'../../../../modules/exam-form/components/exam-form-view/attache-exam-template/attache-exam-template.component.scss';
.attache-exam-list{
    height: auto;
}

.internal_scroll_list_group
 {
    height: 52vh;
    overflow-y: scroll;
 }

