@import'../../../../modules/exam-form/components/exam-form-view/attache-exam-template/attache-exam-template.component.scss';
@import '../../../../modules/program/components/program-details/programs-tabs/days/days.component.scss';

.attache-exam-list{
    height: auto;
    padding: 0;

}

.internal_scroll_list_group
 {
    height: 52vh;
    overflow-y: auto;
    &:lang(ar)
    {
     padding-left: 0.5rem;
    }
    &:lang(en) 
    {
       padding-right: 0.5rem;
    }
 }

