

<div class="details_day" >
    <div class="row mx-0">    
        {{listOfMessagess.length}}
        <ng-container *ngFor="let message of listOfMessagess; let i = index"  >
            <div class="col-12 cardRecourd" >
                <p class="ellipsis mb-0 ">
                    {{ message.message }}
                   
                </p>
                <p> {{ message.date }} </p>      
            </div>
        </ng-container>
    </div>

    <div class="form-group" *ngIf="listOfMessagess">
        <div class="row">
            <div class="form-group col-lg-12 mx-auto mb-0 mt-4">
                <input type="text" class="form-control"  [(ngModel)]="messageChat" >
     
             </div>
             <div class="form-group col-lg-12 mx-auto mb-0 mt-4">
                <button type="submit" class="btn UserLogin__Submit" (click)="addMessageToGroup(messageChat)"> {{ 'GENERAL.SAVE' | translate }} </button>
            </div>
        </div>

        

    </div>
</div>
    
