
@import '../../../../../../assets/scss/buttons';
@import '../../../../../../styles.scss';
@import '../../../../../modules/program/components/program-details/programs-tabs/days/days.component.scss';

.details_day{
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 1.7rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    .head_groupName{
        color: #8E2520;
        font-size: 0.93rem;
        font-family:Almarai-Bold ;
         border-bottom: 1px solid #d6d7d8;
         padding-bottom: 0.5rem;

    }
    .chat_details{
        height: 48vh; 
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 0.5rem;
    }
    .message_date{
        color: #C1C7D0;
        font-family: Almarai-Regular;
        font-size: 9px;
        &:lang(ar){text-align: left;}
        &:lang(en){text-align: right;}
        
    }
    .cardRecour{
        padding: 0.5rem 1rem;
        background-color: #e4e4e43b;
        border-radius: 15px 15px 15px 0;
        margin: 0.2rem;
        max-width: 75%;
        // display:inline-block;
        // text-align: right;
    }
    .message_message
    {
        font-family: Almarai-Regular;
        color: #3A3A3A;
        font-size:0.8rem

    }
    .current_user_cardRecour{
        padding: 0.5rem 1rem;
        background-color: #8E2520;
        border-radius: 15px 15px 15px 0;
        margin: 0.2rem;
        max-width: 75%;

        .message_message
        {
            font-family: Almarai-Regular;
            color: white;
            font-size:0.8rem;

        }

        .message_date{
            color: white;
            font-family: Almarai-Regular;
            font-size: 9px;
            &:lang(ar){text-align: left;}
            &:lang(en){text-align: right;}
            
        }
    }

    .w-90{
        width: 90%;
    }
    .w-10{
        width: 10%;
    }
      .UserLogin__Submit
    {
        text-align: center;
        background-color: #CB9118;
    }
    .sendIcon{
        width: 21px;
        height: 24px;
    }
    .userGroupIcon{
        width: 64px;
        height: 64px;
        background-color:  #CB9118;
        padding:  0.2REM;
        border-radius: 7px;
    }
    .head {
        font-weight: bold;
        font-size: 1rem;
    }
    &:lang(en)
    {
        text-align: left;
    }
    &:lang(ar)
    {
        text-align: right;
    }
        .header_input{
            font-family:Almarai-Bold ;
            font-size: 14px;
        }
   
        .img_user{
            width: 150px;
            // height: 150px;
            border: 1px solid #C1C7D0;
            border-radius: 5px;
          }
}