<div class="details_day" >
    <div class="head_groupName  d-flex  align-items-center">
            <img class="userGroupIcon" src="../../../../../../assets/images/student-program/user-group.svg">
            <P class="mx-2">{{ groupData?.group_name }} </P>
    </div>
    <div class="row mx-0  chat_details">    
        <div class="chat_vontainer w-100">
        <ng-container *ngFor="let message of chatService.allMessagesList; let i = index"  >
            <div class="col-12 cardRecour " [ngClass]="{ 'current_user_cardRecour' : currentUser?.id === message.sender_id,
            'mr-auto ' : currentUser?.id === message.sender_id}">
                <div class="message_name"> {{ message.sender_name }} </div>
                <!-- <div class="message_date"> {{ message.sender_name }} {{translate.currentLang == langEnum.en ? participant.name_en : participant.name_ar}}</div> -->
                <div class=" mb-2 message_message "*ngIf="message.message_type === 'text'" [ngClass]="{ 'current_user_cardRecour' : currentUser?.id === message.sender_id}"> 
                    {{ message.message }}                   
                </div>
                <div class=" mb-2 message_message"*ngIf="message.message_type === 'file'">
                    <!-- <img class="img_user" src="{{ message.file_name }}">  -->
                     <!-- Attachment -->
                    <div class="row mx-0">
                        <ng-container >
                            <div class="col-4 cardRecourd mb-2" (click)="openVerticallyCentered(content)"  >
                                <img src="assets/images/days/book.svg">
                                <p class="ellipsis mb-0 "  matTooltip="{{message.file_name}}">{{message?.file_name}}</p>
                        
                                <!-- <img class="trash" src="assets/images/feelings/trash.svg"  (click)="DeleteAttachment(i,message.id)"> -->
                            </div>
                
                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{message?.message}}</h4>                    
                                </div>
                                <div class="modal-body">
                                    <a  [href]="message.file_name" *ngIf="message.message.split('.').pop() !=='pdf' ">
                                        <ng-container  *ngIf="message.message.split('.').pop() !=='pdf' ">
                                            <img [src]="message.file_name"  class="size_img_model">
                                        </ng-container>
                                    </a>
                                    <a [href]="message.file_name" *ngIf="message.file_name.split('.').pop() ==='pdf' ">
                                        <ng-container *ngIf="message.file_name.split('.').pop() ==='pdf' ">
                                            <pdf-viewer [src]="message.file_name" [render-text]="true" [original-size]="false" [fit-to-page]="true" [show-all]="true" [zoom-scale]="'page-width'">
                                            </pdf-viewer>
                                        </ng-container>                                        
                                    </a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                        </ng-container>            
                    </div>
                    <!-- End Attachment-->
                </div>

                <div class="message_date"> {{ message.date }} </div>      
            </div>
        </ng-container></div>
    </div>

    <div class="form-group" *ngIf="listOfMessagess">
        <div class="row">
            <div class="form-group col-lg-12 mx-auto mb-0 mt-4 d-flex justify-content-between" [ngClass]="{ 'dimmed' : groupData?.allowed === false }">

                <!-- <div class="input-group-prepend ">
                    <input type="file" class="input-group-text bg-white pl-2 pr-2 border-md UserLogin_icon_input"
                       (change)="onFileChange($any($event.target).files)">
                </div>
                <input (keypress)="addMessageToGroup(messageChat,messageType, $event)" class=" px-3 form-control UserLogin__FormControl bg-white  border-md input-sm" [(ngModel)]="messageChat">
                <button type="submit" class="btn UserLogin__Submit w-10 mx-2" (click)="addMessageToGroup(messageChat,messageType, 'Enter')" > 
                   <img class="sendIcon" src="../../../../../../assets/images/student-program/sendicon.svg">
                </button>
      -->

                <div class="input-group  mb-3" >
                    <div class="input-group-prepend ">
                        <label for="upload-photo" class="input-group-text bg-white pl-2 pr-2 border-md ">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </label>
                        <input type="file" class="input-group-text bg-white"  name="photo" id="upload-photo"  (change)="onFileChange($any($event.target).files)"/>
                    </div>
                    <input (keypress)="addMessageToGroup(messageChat,messageType, $event)" class=" px-3 form-control UserLogin__FormControl bg-white  border-md input-sm" [(ngModel)]="messageChat">  
                </div>
                <button type="submit" class="btn UserLogin__Submit w-10 mx-2" (click)="addMessageToGroup(messageChat,messageType, 'Enter')" > 
                    <img class="sendIcon" src="../../../../../../assets/images/student-program/sendicon.svg">
                 </button>


             </div>
            
        </div>

        

    </div>
</div>
    
