<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row group_header">
                <div class="item_group" (click)="showtap='teacher'" [ngClass]="{'item_group_active': showtap=='teacher'}" >
                    {{'TEACHER_SUBSCRIBERS.TEACHERS' | translate}}
                </div>
                
                <div class="item_group" (click)="showtap='student'" [ngClass]="{'item_group_active': showtap=='student'}" >
                    {{'TEACHER_SUBSCRIBERS.STUDENTS' | translate}}
                </div>

                <div class="item_group" (click)="showtap='scientificProblem'" [ngClass]="{'item_group_active': showtap=='scientificProblem'}" >
                    {{'ADMIN_MESSAGING.SCIENTIFIC_PROBLEM' | translate}}
                </div>
                
                <div class="item_group" (click)="showtap='chat'" [ngClass]="{'item_group_active': showtap=='chat'}" >
                    {{'ADMIN_MESSAGING.CHAT' | translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
            <app-teacher-program-request-view *ngIf='showtap=="teacher"'> </app-teacher-program-request-view>
            <app-student-program-request-view *ngIf='showtap=="student"'> </app-student-program-request-view>
            <app-scientific-problems-view *ngIf='showtap=="scientificProblem"'></app-scientific-problems-view>
            <app-chat-view *ngIf='showtap=="chat"'></app-chat-view>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <app-scientific-problems (showAddReplyToScProblem)='showAddReplyToScProblemView($event)'
             (showAddScProblemToQuestionBank)='showAddScProbToQuestionBankView($event)'></app-scientific-problems>
        </div>
    </div>
    <div class="overlay" *ngIf="showAddReplyOverlay">
        <app-add-scientifi-problem-reply (closeAddReplyToScProblem)='showAddReplyToScProblemView($event)' [scProbObjForAddReplyView]='scProbObjForAddReplyView'></app-add-scientifi-problem-reply>
    </div>
    <div class="overlay" *ngIf="showAddScProbToQuestionBankOverlay">
        <app-add-scientifi-problem-to-question-bank (closeAddScProblemToQuestionBankView)='showAddScProbToQuestionBankView($event)' [scProbObjForAddToQuestionBankView]='scProbObjForAddToQuestionBankView'></app-add-scientifi-problem-to-question-bank>
    </div> -->
</div>

<!-- <div class="showoverlay" (click)="closeOverlay()" [ngClass]="{'disableBlock': showAddReplyOverlay || showAddScProbToQuestionBankOverlay}"></div> -->