<div class="container-fluid">
    <div class="row">
       
        <div class="col">
            <div class="row group_header">

                <div class="item_group" (click)="showtap='USERS'" [ngClass]="{'item_group_active': showtap=='scientificProblem'}" >
                    {{'ADMIN_MESSAGING.SCIENTIFIC_PROBLEM' | translate}}
                </div>
               

            </div>
         
           <div class="row">
                <app-scientific-problems ></app-scientific-problems>
           </div>



          
            
        </div>
    </div>

  

</div>