@import 'src/assets/scss/_variables.scss';

.group_header{
    margin-top: 1.5%;
    border-bottom:1px solid #CB9118;
    .item_group{
        cursor: pointer;
        background-color: #EBEBEB;
        font-size: .9rem;
        color: #828282;
        text-align: center;
        margin: 0 4px;
        padding: 10px 20px;
        border-radius: 10px 10px 0  0;
    }
    .item_group_active{
        background-color: #CB9118;
        color: #FFFFFF;
    }
}
*{
    font-family: Almarai-Bold;
}
.save-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background: #8E2520 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    opacity: 1;
    width:100%;
    padding: 0.5rem;
    height: 2.31rem;
    border: none;
    color: #ffffff;
    display: block;
    }
    .cancel-btn{
        background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
        background:$icon_input ;
        border-radius: 12px;
        opacity: 1;
        width:100%;
        padding: 0.5rem;
        height: 2.31rem;
        border: none;
        color: #ffffff;
        display: block;
        }