
.input-group-prepend {
    margin-right: -4px;
    a
    {
       background-color: white;
    }
    .input-group-text{
        &:lang(ar)
         {
           border-left-color: #ced4da !important;
           border-right-color: transparent;
           border-top-left-radius:0.65rem ;
           border-top-right-radius: 0 ;
           border-bottom-left-radius: 0.65rem ;
           border-bottom-right-radius: 0 ;
       }
       &:lang(en) {
           border-right-color: #ced4da !important;
           border-left-color: transparent;
           border-top-left-radius:0 ;
           border-top-right-radius: 0.65rem ;
           border-bottom-left-radius: 0rem ;
           border-bottom-right-radius: 0.65rem ;
   
       }
   }
   .UserLogin_icon_input {
    width: 1rem;
    height: 1.5rem;
   }
   .input-group-text_with-audio{
            &:lang(ar), &:lang(en)
            {
            border-right-color: #ced4da !important;
            border-left-color: #ced4da !important;
            border-top-left-radius:  0.65rem;
            border-top-right-radius: 0.65rem;
            border-bottom-left-radius: 0.65rem;
            border-bottom-right-radius: 0.65rem;
        }
        }
}

audio{
    margin: 0 1rem;
}

  