.input-group-text{
    border-top-left-radius:0.65rem ;
    border-top-right-radius: 0 ;
    border-bottom-left-radius: 0.65rem ;
    border-bottom-right-radius: 0 ;
    border-left-color: #ced4da;
    border-right-color: transparent;

}
.input-group-prepend {
    margin-right: -4px;
}

    .UserLogin_icon_input {
        width: 1rem;
        height: 1.5rem;
    }
