<div class="container-fluid reuest_container">
  <div class="row">
    <div class="col-12  justify-content-end text-right d-flex align-items-center">
      <app-search-input class="mr-3 ml-3" (searchTerm)=searchByText($event)
                        [searchKey]='this.teacherAppointmentFilterRequestModel.usrName || ""'></app-search-input>
      <a class="advanced_search mb-3" (click)="openAdvancedSearch()"> {{ 'TEACHER_APPOINTMENT.ADVANCED_SEARCH' | translate}}</a>
    </div>
    <div class="col-12">
      <div class="row group_header fix_margin w-100">
        <div class="item_group" (click)="onPendingChange()"
             [ngClass]="{ item_group_active: showTap == statusEnum.Pending }">
          {{'STUDENT_VACATION.NEW_VACATION_REQUESTS' | translate}}
        </div>
        <div class="item_group" (click)="onAcceptChange()"
             [ngClass]="{ item_group_active: showTap == statusEnum.Accept }">
          {{'STUDENT_VACATION.ACCEPTANCE_REQUESTS' | translate}}
        </div>
        <div class="item_group" (click)="onRejectedChange()"
             [ngClass]="{ item_group_active: showTap == statusEnum.Rejected }">
          {{'STUDENT_VACATION.REJECTANCE_REQUESTS' | translate}}
        </div>


      </div>
    </div>

  </div>
  <div class="row fix_margin w-100 ">

    <div class="col-12 px-2 interTab mb-3 pt-3">

      <div *ngIf='showTap == statusEnum.Pending'>
        <app-teacher-appointment-requests-grid *ngIf=' teacherAppointmentRequestsList.length > 0'
                                               [teacherAppointmentRequestsItems]='teacherAppointmentRequestsList'
                                               (rejectTeacherAppointmentRequest)="rejectTeacherAppointmentRequestMethod($event)"
                                               (teacherAppointmentRequest)='acceptTeacherAppointmentRequest($event)'
                                               (acceptAllTeacherAppointmentRequestsChecked)='acceptAllTeacherAppointmentRequestsChecked()'
                                               [numberPerRow]='numberItemsPerRow'
                                               [teacherAppointmentRequestsEnum]='statusEnum.Pending'
                                               [totalCount]='totalCount'
                                               [teacherAppointmentFilterRequestModel]='teacherAppointmentFilterRequestModel'
                                               (teacherAppointmentFilterEvent)="teacherAppointmentPendingChangePage($event)"
        >
        </app-teacher-appointment-requests-grid>
        <div *ngIf='teacherAppointmentRequestsList.length === 0'>
          {{ 'GENERAL.NO_DATA' | translate}}
        </div>
      </div>

      <div *ngIf='showTap == statusEnum.Accept'>
        <app-teacher-appointment-requests-grid *ngIf=' teacherAppointmentRequestsList.length > 0'

                                               [teacherAppointmentRequestsItems]='teacherAppointmentRequestsList'
                                               (teacherAppointmentRequest)='acceptTeacherAppointmentRequest($event)'
                                               (acceptAllTeacherAppointmentRequestsChecked)='acceptAllTeacherAppointmentRequestsChecked()'
                                               [teacherAppointmentRequestsEnum]='statusEnum.Accept'
                                               [numberPerRow]='numberItemsPerRow'
                                               [totalCount]='totalCount'
                                               [teacherAppointmentFilterRequestModel]='teacherAppointmentFilterRequestModel'
                                               (teacherAppointmentFilterEvent)="teacherAppointmentAcceptChangePage($event)"
        >
        </app-teacher-appointment-requests-grid>
        <div *ngIf='teacherAppointmentRequestsList.length === 0'>
          {{ 'GENERAL.NO_DATA' | translate}}
        </div>
      </div>

      <div *ngIf='showTap == statusEnum.Rejected'>
        <app-teacher-appointment-requests-grid *ngIf='teacherAppointmentRequestsList.length > 0'
                                               [teacherAppointmentRequestsItems]='teacherAppointmentRequestsList'
                                               (teacherAppointmentRequest)='rejectTeacherAppointmentRequestMethod($event)'
                                               [numberPerRow]='numberItemsPerRow'
                                               [teacherAppointmentRequestsEnum]='statusEnum.Rejected'
                                               [totalCount]='totalCount'
                                               [teacherAppointmentFilterRequestModel]='teacherAppointmentFilterRequestModel'
                                               (teacherAppointmentFilterEvent)="teacherAppointmentRejectedChangePage($event)"
        >
        </app-teacher-appointment-requests-grid>
        <div *ngIf='teacherAppointmentRequestsList.length === 0'>
          {{ 'GENERAL.NO_DATA' | translate}}
        </div>
      </div>

    </div>

  </div>

</div>

