<form class="form-group DataForm mt-5 pl-3 pr-3">
    <h3 class=" head  bold">{{ "STUDENT_SUBSCRIBERS.REJECTION_APPLICATION" | translate }} </h3>
    <div class="form-group">
        <label  class="label">
            {{ "GENERAL_DROP_OUT_REQUEST.STUDENT_REJECTED" | translate }}<span class="data_input"> {{ translate.currentLang == langEnum.en ? itemStudentDropOutRequestForReject.usrNameEn : itemStudentDropOutRequestForReject.usrNameAr}} </span> 
        </label>
        <label  class="label mt-4">
            {{ "STUDENT_SUBSCRIBERS.REJECTED_REASON" | translate }}
        </label>

        <textarea  class="form-control " cols="1"  rows="5" 
        [(ngModel)]='itemStudentDropOutRequestForReject.reasonReject'  [ngModelOptions]="{standalone: true}" >
        </textarea>
     
        <section class="mt-5">
            <div  class="row direction-rtl buttons-center mt-5">
                <button  (click)='saveRejectRequest()' type="submit" class="save-btn"> 
                    {{ "GENERAL.SAVE" | translate }}
                </button>
                <button   (click)='closeRejectRequest()' type="reset" class="cancel-btn"> 
                    {{ "GENERAL.CANCEL" | translate }}
                </button>
            </div>
        </section>

        <div *ngIf="resultMessage.message" class="alert alert-{{ resultMessage.type }} my-4 py-2">
            {{ resultMessage.message }}
        </div>
   </div>
</form>