<div class="container-fluid">
  <div class="row stu-program-subscriptions">
    <div class="col-12 d-flex justify-content-between align-items-center mt-3 mb-3">
      <p class="mb-0 head"> برامجنا</p>
      <img src="../../../../../assets/images/student-program/program-sub/certification.png" >
    </div>

    <div class="col-12 d-flex justify-content-between align-items-center">
      <app-search-input class="w-90"></app-search-input>

    </div>

    <div class="col-12 internal_scroll_program">
      <app-teacher-stu-program-for-subscription-grid
        [studentItems]='programsForStudentSubscriptionsLst'
        [studentFilterRequestModel] = 'filterRequest'
        [totalCountForStudent]='totalCount'
        [userMode]="studentCard"  >
      </app-teacher-stu-program-for-subscription-grid>

    </div>
  </div>
</div>
