<div class="list-group list-group_program-list">
    <div class="d-flex mb-4 justify-content-between align-items-center">
        <p class="bold mb-0">الواجب اليومي</p>
          <img src="../../../../assets/images/sc-problem/exporticon.svg" class="cursor-pointer">
      </div>
  
    <app-search-input ></app-search-input>
    <div class="internal_scroll_list_group">
      <a class="list-group-item p-2" *ngFor="let program  of programs; let i = index"
         [class.active]="selectedIndex === i">
        <div class="justify-content-between d-flex align-items-center">
         <p class="selected_day mb-0">اليوم - 1</p>
         <p class="selected_data mb-0">01-01-1442</p>
         <span class="count">1</span>
        </div>
        <div class="justify-content-between d-flex align-items-center">
          <p class="mb-0 edu_leval">مستوى التعليمي</p>
          <p class="value_progressbar">75 %</p>
        </div>
        
      <p class="mb-0"><ngb-progressbar type="warning" [value]="75" height=".5rem"></ngb-progressbar></p>
      </a>
      
    </div>
    <!-- <div *ngIf="resMessage.message" class="alert alert-{{ resMessage.type }} my-4 py-2">
      {{ resMessage.message }}
    </div> -->
  </div>