@import '../admin-student-program-list/admin-student-program-list.component.scss';

.list-group-item
{
    &:lang(ar){
        text-align: right;
    }
    &:lang(en){
        text-align: left;
    }

    .selected_data{
        font-size: 0.85rem;
        color: #C1C7D0;
        font-family:Almarai-Regular;
        
       }  
        .selected_day{
               color: #8E2520;
               font-size: 1rem;
               font-family:Almarai-Bold;
           }
           .count{
            background: #fff;
            color: #8E2520;
            padding: 0.5rem;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            font-size: 1rem;
            top: 50%;
            text-align: center; 
           }
           .edu_leval{
               font-size: 0.75rem;
               color: #C1C7D0;
               font-family:Almarai-Regular;
           }
           .value_progressbar{
            font-size:0.85rem;
            color: #3A3A3A;
            font-family:Almarai-Bold;
           }
           
           .count{
            background: #C1C7D0;
           }
          
           .selected_day,
           .edu_leval{
               color: #8E2520;
           }
         
           &:active ,&:hover{
                
                .selected_day,.value_progressbar{
                    color: #fff;
                }
               
                .edu_leval{
                    color: #C1C7D0;
                }
           }   
          
}

.list-group_program-list {
    height: 75vh;
}
.head{
    font-size: 1rem;
}