<div class="tab_page notifacation_page condition_details">
    <div class=" pt-3 mb-3">
        <div class="row">
            <div class="col-md-12 container_haeder mb-2">
         
               <button class="cancel-btn" (click)="addConditions()" >
                إضافة شرط
               </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 max_h">

        <div class="row ">
            <ng-container  *ngFor="let item of programConditionsPredefinedList ;let i=index">
                  <div class="col-3 mb-3" *ngIf="programConditionsEnum.age===item.conditionNo">
                    <app-setting-age [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [isViewToProgCond]='true'></app-setting-age>
                  </div>
         <div class="col-3 mb-3" *ngIf="programConditionsEnum.qualifications===item.conditionNo">
            <app-setting-qualifications [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [isViewToProgCond]='true'></app-setting-qualifications>
         </div>
         <!--  -->
         <div class="col-3 mb-3" *ngIf="programConditionsEnum.dgreeaLastProgram===item.conditionNo">
                <app-setting-degree-last-program [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [isViewToProgCond]='true'></app-setting-degree-last-program>
            </div>
            <div class="col-3 mb-3" *ngIf="programConditionsEnum.programFinished===item.conditionNo">
                <app-setting-last-program [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [isViewToProgCond]='true'></app-setting-last-program>
            </div>
    
            <div class="col-3 mb-3" *ngIf="programConditionsEnum.numberStudentSubscribtion===item.conditionNo">
                <app-setting-maxmum-subscribe [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [isViewToProgCond]='true'></app-setting-maxmum-subscribe>
            </div>
            <div class="col-3 mb-3" *ngIf="programConditionsEnum.memorizeQuran===item.conditionNo">
                <app-setting-part-qraan [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [isViewToProgCond]='true'></app-setting-part-qraan>
            </div>
            <div class="col-6 mb-3" *ngIf="programConditionsEnum.accept===item.conditionNo">
                <app-setting-accept [programConditionsModel] ='item' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()' [isViewToProgCond]='true'></app-setting-accept>
            </div>
           
           </ng-container >
        </div>

        <hr>
        <div class="row">
        <ng-container  *ngFor="let item of programConditionsCustomList ;let i=index">
                    <div class="col-3 mb-3">
                        <app-custom-conditions [customConditionsModel]='item' [isViewToProgCond]='true' (progIdToLoadProgCond)='getProgramConditionsLisByProgId()'></app-custom-conditions>
                    </div>
        </ng-container>
          </div>
    
 
    </div>
    </div>

   <div class="overlay" *ngIf="showAddConditionListForm">
        <app-program-condition-list [progId]='progId' (closeConditionList)='closeConditionList($event)'></app-program-condition-list>
    </div>
