<div class="tab_page notifacation_page condition_details">
    <div class=" pt-3 mb-3">
        <div class="row">
            <div class="col-md-12 container_haeder mb-2">
         
               <button class="cancel-btn" (click)="addConditions()" >
                إضافة شرط
               </button>
            </div>
        </div>
    </div>
    <div class="d-flex  row justify-content-between align-items-center mb-3">
        <div class="row">
            <ng-container  *ngFor="let item of programConditionsList ;let i=index">
                  <div class="col-6" *ngIf="programConditionsEnum.age===item.conditionNo">
                    <app-setting-age [ageModel] ='ageModel'></app-setting-age>
                  </div>
    
         <div class="col-6" *ngIf="programConditionsEnum.qualifications===item.conditionNo">
            <app-setting-qualifications ></app-setting-qualifications>
         </div>
         <div class="col-6" *ngIf="programConditionsEnum.dgreeaLastProgram===item.conditionNo">
                <app-setting-degree-last-program></app-setting-degree-last-program>
            </div>
            <div class="col-6" *ngIf="programConditionsEnum.programFinished===item.conditionNo">
                <app-setting-last-program></app-setting-last-program>
            </div>
    
            <div class="col-4" *ngIf="programConditionsEnum.numberStudentSubscribtion===item.conditionNo">
                <app-setting-maxmum-subscribe></app-setting-maxmum-subscribe>
            </div>
            <div class="col-4" *ngIf="programConditionsEnum.memorizeQuran===item.conditionNo">
                <app-setting-part-qraan></app-setting-part-qraan>
            </div>
            <div class="col-4" *ngIf="programConditionsEnum.accept===item.conditionNo">
                <app-setting-accept></app-setting-accept>
            </div>
           
           </ng-container >
        </div>
    </div>

    <hr>

        <div  class="row  buttons-center mt-5">
                <button   type="submit" class="save-btn" (click)="saveProgramConditions()"> 
                    {{ "GENERAL.SAVE" | translate }}
                </button>
        </div>
    <div class="overlay" *ngIf="showAddConditionListForm">
        <app-program-condition-list [progId]='progId' (closeConditionList)='closeConditionList($event)'></app-program-condition-list>
    </div>
</div>

