<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-drop-out-request-grid  (createDropOutOverlayEvent)="openTeacherDropOutRequestCreatePopup($event)"></app-drop-out-request-grid>
        </div>
    </div>

    <div class="overlay" *ngIf="openTeacherDropOutRequestCreateOverlay">
        <app-add-drop-out-request
            (closeCreateDropOutOverlay)="closeCreateTeacherDropOutRequestOverlay($event)"
            [createDropOut]="createDropOut"
        ></app-add-drop-out-request>
    </div>
    
</div>