@import '../program-duty-days/program-duty-days.component.scss';
.cancel-btn{
    background: var(--unnamed-color-8e2520) 0% 0% no-repeat padding-box;
    background:$icon_input ;
    border-radius: 12px;
    opacity: 1;
    width:50%;
    padding: 0.5rem;
    height: 2.31rem;
    border: none;
    color: #ffffff;
    display: block;
    }
.title_card{
    color: #8E2520;
    font-size: 1rem;
    font-weight: bold;
}

.arrangeIcon{
    width: 0.5rem;
}