


<div class="list-group list-group_program-list">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <p class="mb-0 head"> {{ 'PROGRAM_DAY_TASKS.TASKS' | translate }}</p>
        <button class="cancel-btn"(click)="newDayTasks()">
            {{ 'PROGRAM_DAY_TASKS.ADD_ITEM' | translate }}
           </button>
    </div>
   
  <div class="internal_scroll_list_group programDays ">
    
    
      <mat-accordion *ngIf='programDayTasksLists' class="taskDays"
                cdkDropList
                #unassignedList="cdkDropList"
                [cdkDropListData]="programDayTasksLists"
                        [cdkDropListConnectedTo]="[items1]"
                (cdkDropListDropped)="drop($event)">
                    <mat-expansion-panel cdkDrag  disabled *ngFor="let item of programDayTasksLists ; let i = index;">
                      
                       
                        <mat-expansion-panel-header (click)='setProgrmeDayTask(item); defaultSelectedDay = i'
                        [class.active]="defaultSelectedDay === i">
                            
                            <mat-panel-title class="qestionHeader">
                             

                                    <span class=" span_question"><img  src="../../../../assets/images/feelings/arrange2.svg" class="arrange" >  
                                        {{this.translate.currentLang===langEnum.en?item.dayTaskNameEn : item.dayTaskNameAr}}
                                    </span> 

                                <div class="d-flex">
                                  
                                      
                                      <i class="far fa-copy " (click)="copyTask(item.id)"></i>
                                      <i class="far fa-trash-alt ml-1 mr-1" (click)="confirmDialog(item.id)"></i>
                              </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="p_answer">{{this.translate.currentLang===langEnum.en?item.dayTaskNameEn : item.dayTaskNameAr}}</p>
                    </mat-expansion-panel>
                </mat-accordion>
    </div>
  
  </div>
  
  

  