<p>question-bank-questions-view works!</p>


<div class="col-lg-12">
    <div class="row">

        <div class=" row">
            <!-- class="row text-left" -->
         <div class="col text-righ"><p>The question</p></div>
         <div class="col text-righ">
            <a [routerLink]="['/questionBank/add-question-bank-question']">Add question</a> 
         </div>
         <div class="col text-left">
            <input type="text" placeholder="Search.." name="search">
         </div>
               
          
           
        </div>      
    </div> 
</div>

<div class="col-lg-12">
   
        <div class="col-lg-12">
            <p>Q</p>
        </div>
        <div class="col-lg-12">
            <p>A</p>
        </div>        
   
</div>