
.card{
  width: 95%;
  border-color: transparent;

}
.asend_desend_btn{
  background-color: #CB9118;
  color: #fff;
  border: 1px solid #CB9118;
  width: auto;
  font-size: 0.75rem;
  font-family: Almarai-Regular;
  height: 34px;
  border-radius: 8px;
  padding: 0 1rem;
  margin: 0 0.3rem;

}
.default_btn{
  background-color: #fff;
  color: #CB9118;
  border: 1px solid #CB9118;
  width: auto;
  font-size: 0.75rem;
  font-family: Almarai-Regular;
  height: 34px;
  border-radius: 8px;
  padding: 0 1rem;
  margin: 0 0.3rem;
}
.asend_btn{
  transform: rotate(180deg);

}
.asend_btn,
.desend_btn
{
  margin: 0 0.3rem;
}
.exportIcon
{

  width: 1.1rem;
  height: 1.2rem;

}
.text-right{
  &:lang(ar){
    text-align: left !important;
  }
  &:lang(en){
    text-align: right !important;

  }
}
.fa-trash-alt{
  color: #8E2520;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
  pointer-events:none;
  opacity: 0.2;
}
.fa-check{
  color: #8E2520;
}
.default_btn{

  padding: 0 0.5rem;
}
.dimmed{
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
  pointer-events: none;
  opacity: 0.2;
}
