<div class="container mb-5 mt-5 phone-dir">
  <div class="row">
    <input type="text"
    [value]="telInputParam?.phoneNumber || ''"
    ng2TelInput
    [ng2TelInputOptions]="telInputOptions"
    (hasError)="hasError($event)"
    (ng2TelOutput)="getNumber($event)"
    (intlTelInputObject)="telInputObject($event)"
    (countryChange)="onCountryChange($event)"/>
  </div>
</div>

<div *ngIf="!valid && telInputParam?.isRequired" class="alert alert-danger mt-2 mb-2">  
  {{ 'GENERAL.INVALID_PHONE_NUMBER' | translate }}
</div>

<!-- <div *ngIf="phoneLengthValidation()" class="alert alert-danger mt-2 mb-2">
  length
</div> -->
