<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-student-drop-out-tab-request  (advancedSearchEvent)="openStudentDropOutRequestAdvancedSearchPopup($event)" (itemStudentDropOutRequest)="openRejectRequest($event)"></app-student-drop-out-tab-request>
        </div>
    </div>
    <div class="overlay" *ngIf="openStudentDropOutRequestRejectOverlay">
        <app-student-drop-out-request-rejected [itemStudentDropOutRequestForReject]='itemStudentDropOutRequestForReject' (closeRejectedRequest)="closeRejectedRequest()"></app-student-drop-out-request-rejected>
    </div>

    <div class="overlay" *ngIf="openStudentDropOutRequestAdvancedSearch">
        <app-student-advanced-search
            (closeAdvancedSearch)="closeStudentDropOutRequestAdvancedSearch($event)"
            [filter]="filter"
        ></app-student-advanced-search>
    </div>
    
</div>