<div class="card-request">
    <div class="card_header">
      <section class="example-section mt-2"  *ngIf='typeDropOutRequestEnum.Pending === typeEnum'>
        <mat-checkbox class="example-margin"  [(ngModel)]="studentDropOutRequestFilterRequestAdminModel.checked" ></mat-checkbox>
      </section>
    <div>
        <span> {{'STUDENT_SUBSCRIBERS.TIME' | translate}} </span>        

        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>{{studentDropOutRequestFilterRequestAdminModel.requestDate  | date: 'dd/MM/yyyy'}}</span> 
    </div>
    </div>
  
    <div class="card_body">
      <span>{{studentDropOutRequestFilterRequestAdminModel?.no}}</span>
      <div class="d-flex align-items-center mb-3">
        <img *ngIf='!studentDropOutRequestFilterRequestAdminModel.avatarLink'
        (click)="studentDetails(studentDropOutRequestFilterRequestAdminModel?.usrId,studentDropOutRequestFilterRequestAdminModel?.progName)"
        class="img_user" src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='studentDropOutRequestFilterRequestAdminModel.avatarLink' class="img_user"
        (click)="studentDetails(studentDropOutRequestFilterRequestAdminModel?.usrId ,studentDropOutRequestFilterRequestAdminModel?.progName)"
        src="{{studentDropOutRequestFilterRequestAdminModel.avatarLink}}" >
      <div class="mx-1">
      
          <p class="name_user bold mb-2 ellipsis p-0" (click)="studentDetails(studentDropOutRequestFilterRequestAdminModel?.usrId ,studentDropOutRequestFilterRequestAdminModel?.progName)"
          title=" {{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestAdminModel?.usrNameEn : studentDropOutRequestFilterRequestAdminModel?.usrNameAr}}">
            {{ translate.currentLang == langEnum.en ? studentDropOutRequestFilterRequestAdminModel?.usrNameEn : studentDropOutRequestFilterRequestAdminModel?.usrNameAr}}</p>
       
            <p class="program_user bold mb-2 ellipsis p-0 "
            title="  {{translate.currentLang === langEnum.en ? studentDropOutRequestFilterRequestAdminModel.enProgBatchName: studentDropOutRequestFilterRequestAdminModel.arProgBatchName}}"
            > 

              {{translate.currentLang === langEnum.en ? studentDropOutRequestFilterRequestAdminModel.enProgBatchName: studentDropOutRequestFilterRequestAdminModel.arProgBatchName}}
      </p>
     
           
          </div>

      </div>

      <div class="program_reason ">
        <p class="mb-0 pb-2"  > 
        <span>
           {{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}}  :
        </span>
        <span class="program_user bold mb-0 " *ngIf="!studentDropOutRequestFilterRequestAdminModel.reason ">{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}} </span>
        <span class="program_user bold mb-0 ">{{ studentDropOutRequestFilterRequestAdminModel.reason }}</span>
        </p>
        <p class=" mb-0 pb-2" *ngIf='typeDropOutRequestEnum.Rejected === typeEnum' > 
          <span class="bold mx-1">{{'STUDENT_SUBSCRIBERS.REASON_REJECT' | translate}}  :</span> 
        <span class="program_user bold mb-0 " *ngIf="!studentDropOutRequestFilterRequestAdminModel.reasonReject ">{{'STUDENT_SUBSCRIBERS.NO_DATA' | translate}} </span>

          <span>
            {{ studentDropOutRequestFilterRequestAdminModel.reasonReject }}
          </span>
        </p>
      
    </div>
 
  <ng-container *ngIf="typeEnum === typeDropOutRequestEnum.Pending">
    <div class="body_footer" >
        <button class="btn cancel-btn" (click)="acceptStudentAdminDropOutRequestEvent()"> {{'STUDENT_SUBSCRIBERS.ACCEPT' | translate}}   </button>
        <button  class=" btn save-btn"         
          (click)="rejectStudentAdminDropOutRequestEvent(studentDropOutRequestFilterRequestAdminModel)" 
          [attr.disabled]="studentDropOutRequestFilterRequestAdminModel.checked" > {{'STUDENT_SUBSCRIBERS.REJECT' | translate}} </button>
      </div>
  </ng-container>
    
  </div>
