@import "../stu-card-request/stu-card-request.component.scss";
@import '../../../../assets/scss/status';

.ellipsis{
    width: 200px;
}
.program_reason

{
    max-height: 10vh;
    overflow-y: auto;
}
.card_body{

    padding-bottom: 0;
}.card-request {
    
    height: 38vh;
}.card-request .body_footer {
   
    padding: 0 10px;
    .btn{
        text-align: center;
    }
}