@import "../stu-card-request/stu-card-request.component.scss";
.status{
    width: 20px;
    height: 20px;
   
    border-radius: 50%;
}

.rejected{
    color: red;
    background: red;
}

.pending{
    color: #EFDD39;
    background: #EFDD39;
}

.accept{
    color: #39B91A;
    background: #39B91A;
}
.ellipsis{
    width: 200px;
}