<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-program-duty-days [progDaysList]='progDetails?.progDays' (progDutyDayEvent)='progDutyDayEventCallBk($event)'></app-program-duty-days>
        </div>
        <div class="col-3">
            <app-program-day-tasks (openAddDayTasks)="openAddDayTasksForm()" [programDutyDay]='programDutyDay' (taskDetailsEvent)="sendTaskIdToProgDayTaskDetails($event)"></app-program-day-tasks>
        </div>
        <div class="col-6" > 
            <app-program-day-tasks-details [taskDetails]='taskDetails' ></app-program-day-tasks-details >
        </div>
    </div>
</div>


<div class="overlay" *ngIf="showAddDayTasksForm">
    <app-add-program-day-tasks  [programDutyDay]='programDutyDay'
    (closeDayTasks)='closeDayTasks($event)'
    ></app-add-program-day-tasks>
</div>
