<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-program-duty-days [progDaysList]='progDetails?.progDays'  [programDetails]='progamDetails'
            (progDutyDayEvent)='progDutyDayEventCallBk($event)' (progDutyDaysCheckBoxEvent)='progDutyDaysCheckBoxCallBK($event)'></app-program-duty-days>
        </div>
        <div class="col-3">
            <app-program-day-tasks  [programDetails]='progamDetails'   (openAddDayTasks)="openAddDayTasksForm($event)" [programDutyDay]='programDutyDay' (taskDetailsEvent)="sendTaskIdToProgDayTaskDetails($event)"></app-program-day-tasks>
        </div>
        <div class="col-6" *ngIf='taskDetails'>
            <app-program-day-tasks-details [taskDetails]='taskDetails' [progamDetails]='progamDetails' ></app-program-day-tasks-details >
        </div>
    </div>
</div>


<div class="overlay" *ngIf="showAddDayTasksForm">
    <app-add-program-day-tasks  [programDutyDay]='programDutyDay' [selectedProgDutyDays]='selectedProgDutyDays' [haveMemorize]='haveMemorize'
    (closeDayTasks)='closeDayTasks($event)'
    ></app-add-program-day-tasks>
</div>
