@import 'src/assets/scss/_variables.scss';
.result{
    width: 100%;
    box-shadow: none;
    font-family: Almarai-Bold;
    padding: 0 35px;
    .title{
        font-size: 18px;
    }
    .title:lang(ar){
        text-align: right;
    }
    .title:lang(en){
        text-align: left;
    }
}
.role-section:lang(ar){
    text-align: right;
}
.role-section:lang(en){
    text-align: left;
}
.role-section-child{
    padding: 0 30px;
}

.role-section i{
    font-size: 18px;
    margin: 0 6px;
    color: $icon_input;
}

.role-section-child i{
    font-size: 18px;
    margin: 0 6px;
    color: $icon_input;
}
.children-down{
    cursor: pointer;
    color: black !important;
    position: relative;
    top: -5px;
    right: -2px;
}

.children-left:lang(ar){
    cursor: pointer;
    color: black !important;
    position: relative;
    top: -2px;
    right: -4px;
}
.children-left:lang(en){
    cursor: pointer;
    color: black !important;
    position: relative;
    top: -2px;
    transform: rotate(180deg); 
    right: 4px;
}
