/* You can add global styles to this file, and also import other style files */
@import 'src/assets/scss/_typography.scss';

html {
  font-size:16px;
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// login page 

.LoginBackground_left_img
{
    background-color: $login_background;
    height: 100vh;

}
.identity_img{
     background-image: url(../../huffaz-app/src/assets/images/Group18169.png);
    background-color: $login_background;
    max-width: 100%;
    width: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 100px;
    top: 0;
}



.LoginBackground_Right_img{
   
    //  background-color: $login_background;
    // background: linear-gradient(#8E2520, #4F1512);
    // background: #8E2520;
    // background-image: url(../../huffaz-app/src/assets/images/opacity_background.png); 
    background-image: url(../../huffaz-app/src/assets/images/shash.png), linear-gradient(#8E2520, #4F1512);

     background-position-x: center;
     background-position-y: center;
     background-repeat: no-repeat;
     
}
.repeater_img{
    position: absolute;
    bottom: 2%;
    height: 10%;
    background-image: url(../../huffaz-app/src/assets/images/Group18161.png);
    background-repeat: repeat-x;
    z-index: 100;

}
.test{
  background-image: linear-gradient(#8E252000, #8E252050, #4F1512);
  position: absolute;
  height: 40%;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
}
.UserLogin__FormContainer{
    height: 76px;
    background-color:$main_background;
    
}
.box {
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 2px 8px 16px $shadow_color !important;
    border-radius: 16px;
    padding: 24px;
    margin-top: 1rem;
    width: 35.812rem;
    height: 33.25rem
   
}
.content_form
{
   padding-left: 3.5rem;
  padding-right: 3.5rem;
  min-height: 50vh;
}
.content_form:lang(ar){
  text-align: right;
}
.input-group:lang(ar){

  flex-direction: row-reverse;
}

.form-control,.input-group-text {
  border-radius: 0.75rem;
}
.form-control:focus,.input-group-text:focus{
  border-color:$border-input
}
.UserLogin__FormControl::placeholder {
  color:$placeholder_inputs;
  font-weight: 300;
  font-size: 0.875rem
}
.UserLogin__FormControl:focus {
  box-shadow: none;
}
.UserLogin__Label{
  color: $labels;
}


.UserLogin__Submit{
  background-color: $user-color;
  width: 15rem;
  height: 2.31rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 1rem;
  color: $white;
  display: block;
}

.UserLogin__SignUp{
  margin-top: 1.25rem;
  background-color: $main_background;
  width: 15rem;
  height: 2.31rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 1rem;
  color: $fill_button;
  display: block;

}
.text-muted{
  color: $icon_input;
}
.UserLogin_icon_input
{
  width: 1rem;
    height: 0.9rem;
}
// footer of login page 
.UserLogin__Register{
  
  background-color: $main_background;
  width: 11rem;
  height: 2.31rem;
 
  border: none;
  border-radius: 1rem;
  color: $fill_button;
  font-size: 12px;
  color: $p_color;
  
}

.footer_form_p{
  font-size: 12px;
  color: $p_color;
}
.list-inline-item:not(:last-child) {
  margin-right: 3rem;
}
.list-inline-item:lang(ar){
  margin-right: 3rem;
}
.hint_yellow{
  color: $hint_yellow;
  font-size: 0.68rem
}
// check box 


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #8E2520 !important;

}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #8E2520 !important;
}



