@import '../teacher-appointment-reject/teacher-appointment-reject.component';
.input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation)>.custom-select:not(:last-child), .input-group:not(.has-validation)>.form-control:not(:last-child){
  border: 5px;
}
