<div class="card-request">
    <div class="card_header">
      <section class="example-section mt-2">
        <mat-checkbox class="example-margin"  [(ngModel)]="studentSubscripModel.checked" ></mat-checkbox>
      </section>
    <div>
        <span> {{'STUDENT_SUBSCRIBERS.TIME' | translate}} </span>        

        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <span>{{studentSubscripModel.requestDate  | date: 'dd/MM/yyyy'}}</span> 
    </div>
    </div>
  
    <div class="card_body">
      <div class="d-flex justify-content-between mb-3">
        <img *ngIf='!studentSubscripModel.avatarLink' class="img_user  cursor-pointer"
        (click)="studentJoinId(studentSubscripModel?.usrId)"  src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='studentSubscripModel.avatarLink' 
        (click)="studentJoinId(studentSubscripModel?.usrId)" class="img_user cursor-pointer"
        src="{{studentSubscripModel.avatarLink}}" >
      <div class="mx-1 container-width">
        <p class="number_request mb-3">{{studentSubscripModel.programStaNum}}</p>
        <p class="name_user bold mb-2 ellipsis p-0"  (click)="studentJoinId(studentSubscripModel?.usrId)" title="{{studentSubscripModel.usrNameAr}}">{{studentSubscripModel.usrNameAr}}</p>
        <!-- <p class="program_user bold mb-2 "> {{studentSubscripModel.progName}}</p> -->
        <p class="program_user bold mb-2 ellipsis p-0"
        title=" {{translate.currentLang === langEnum.en ? studentSubscripModel.enProgBatName : studentSubscripModel.arProgBatName }}"
        > 
          {{translate.currentLang === langEnum.en ? studentSubscripModel.enProgBatName : studentSubscripModel.arProgBatName }}</p>
        <p class="program_user bold mb-0 "> 
        <span> {{'STUDENT_SUBSCRIBERS.REQUEST_RESULT' | translate}} </span>        

          : 100/{{studentSubscripModel.examDegree}}  <a class="exam_link">  {{'STUDENT_SUBSCRIBERS.TEST_VIEW' | translate}}</a></p>
       
      </div>
        <div class="d-flex">
         <a><img src="../../../../../assets/images/chat.svg"></a> 
        </div>
      </div>

      <ng-container *ngIf="studentSubscripModel.reasonReject">
        <p class="program_rejected  mb-0 pb-2"  *ngIf="typeEnum === tabTypeSelected.Rejected"> 
          <span class="bold mx-1">سبب الرقض:</span> 
          <span>
            {{studentSubscripModel.reasonReject}}
          </span>
        </p>
      </ng-container>

    </div>
 
  <ng-container *ngIf="typeEnum === tabTypeSelected.Pending ">
    <div class="body_footer" >
        <button class="btn cancel-btn" (click)="rejectedStudentReq()" 
        [attr.disabled]="studentSubscripModel.checked" > {{'STUDENT_SUBSCRIBERS.REJECT' | translate}}  </button>
        <button  class=" btn save-btn" (click)="acceptStudentReq()"> {{'STUDENT_SUBSCRIBERS.ACCEPT' | translate}}  </button>
      </div>
  </ng-container>
    
  </div>
