<div class="card-request" >
    <div class="card_body">
      <div class="d-flex justify-content-between ">
  
        <img *ngIf='!availableTeacherResponseModel.avr' class="img_user cursor-pointer" 
             src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='availableTeacherResponseModel.avr' class="img_user cursor-pointer" 
             src="{{availableTeacherResponseModel.avr}}">
          <div class="mx-1 d-inline-block">
           
            <p class="program_user bold mb-2 ellipsis p-0"
            title="{{translate.currentLang === langEnum.en ? availableTeacherResponseModel.techNameEn: availableTeacherResponseModel.techNameAr}}"
            > {{translate.currentLang === langEnum.en ? availableTeacherResponseModel.techNameEn: availableTeacherResponseModel.techNameAr}}</p>

            <ngb-rating [(rate)]="availableTeacherResponseModel.rte || starsSelected" [max]="5" [readonly]="true">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>

          </div>
      </div>
      </div>
         <div class="d-flex card_chattin_footer">
            <button class="btn cancel-btn"  >
              <img   src="/assets/images/request/callWhite.svg">
             </button>
              <button  class=" btn save-btn" >
              <img   src="/assets/images/request/vedioWhite.svg">
             </button>
        </div>
    </div>
  
  

