@import '../../../../assets/scss/buttons';
@import '../../../../assets/scss/variables';

.card-request {
  background: $white;
  margin:  0 0.2rem;
  box-shadow: 0px 3px 15px $box-shadow;
  border-radius: 12px;
  padding: 0  ;
  padding-bottom: 0.7rem;
  overflow: hidden;
  font-family: Almarai-Regular;
  font-size: 14px;
  
      .bold{
        font-family:Almarai-Bold ;
        font-size: 1rem;

      }


      .card_body{
        background-color: $white;
        min-height:100px;
        padding:  20px ;
        padding-bottom:0;
        padding-top: 10px;
        color: #363636;
        :lang(en){text-align: left;}
        :lang(ar){text-align: right;}
        .name_user{
          color: $user-color;
          font-size: 1.125rem;

        }}
        .number_request {
          color: #9C9C9C;
          font-family: Almarai-Bold;
          font-size: .75rem;
        }
      
        .img_user{
          width: 75px;
          height: 75px;
          border-radius: 5px;
          border: 1px solid #C1C7D0;

        }
        .program_user{
          color: #3A3A3A;
          font-size: 0.875rem;
        }
        .daily_work{
          color: #C1C7D0;
          font-size: 0.75rem;
          font-family: Almarai-Regular;

        }
    
      
    .ellipsis {
      width: 130px;
    }

    .star{
      font-size: 12px;
    }


    .cancel-btn{
        margin: 1rem;
        padding: 0.5rem;
        height: 2.31rem;
        border: none;
        color: #ffffff;
        display: block;
    }

    .btn{
      margin-top: 0;
      margin-bottom: 0;
    }
      
  } 
