@import 'src/assets/scss/_variables.scss';
 .list-category{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 1.7rem;
    height : 100%;;
    margin-top: 1rem;
    .list-category ul {
        padding-inline-start: 0 !important;
    }
    .internal_scroll_list_group:lang(ar) {
        // background-color: antiquewhite;
                height: 57vh;
                overflow-y: auto;
            }
            .internal_scroll_list_group:lang(en) {
                // background-color: antiquewhite;
                        height: 57vh;
                        overflow-y: auto;
                    }

                    .Catogry_Icon_Sort{
                        padding: 0.5rem;
                       background-color: #F4F5F7;
                       margin-right: 0.3rem;
                       margin-left: 0.3rem;
                       border-radius: 0.5rem;
                       width: 1;
                       height: 29px;
                       align-self: center;
                       }
                       .Catogry_Icon_Add{
                        align-self: center;  
                        margin-right: 0.3rem;
                        margin-left: 0.3rem;
                       }

}
 .list-category:lang(en){
    margin-left: 1rem;
   
  }
  .list-category:lang(ar){
   
    margin-right: 0rem;
  }
.list-category> p{
    font-family: Almarai-Bold;
    font-size: 20px;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}
.list-category> p:lang(ar){
    text-align: right;}
.list-category
.list-group-item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // box-shadow: 0px 3px 15px #0000000D;
    border-radius: 12px;
    letter-spacing: 0px;
    color: #828282;
    margin-bottom: 1rem;
    opacity: 1;
    margin-top: 1rem;
    font-family: Almarai-Bold;
    font-size: 1rem;
    justify-content: space-between;
        &.active ,&:hover {    
        background: #CB9118 0% 0% no-repeat padding-box;       
        // box-shadow: 0px 0px 15px #31313173;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
        
    }

        // &:first-child{
        //     background-color:#CB9118 !important;
        //     color: #FFFFFF !important;
        //     border: 1px solid #CB9118;
        // } 

        &.active .fa-trash-alt , &.active  .fa-pencil-alt
        ,&:hover .fa-trash-alt , &:hover .fa-pencil-alt
        {
            color: #FFFFFF;
        }
       
}
.link_Add{
    color:$icon_input;
} 
.p_header{
    // margin-bottom: 1rem;
    font-size: large;
    font-weight: bold;
}

.no-data{
    font: normal normal  1.25rem Almarai;
      color:black; 
      padding-top: 2rem;
    
  }
  .no-data:lang(en){
    text-align: left;
  
   padding-left: 2rem;
  }
  .no-data:lang(ar){
    text-align: right ;
  
    padding-right: 2rem;
  }

  .question-categories:lang(ar){
      text-align: right;

  }

