

<div class="list-group teacher-list-request">

    <p class="mb-0 head_groupName"> جهات الاتصال </p>

    <a (click)="showAdd()"  class="teacher-list-request__addGroup mb-2">
        {{ "Role_Management.ADD_GROUP" | translate }} <i class="fas fa-plus mx-2"></i>
    </a>
      <app-search-input (searchTerm)=filterByText($event) ></app-search-input>
      <!-- <app-search-input (searchTerm)="filterByNameSearchKey($event)"></app-search-input> -->

    <div class="internal_scroll_list_group">
        <ng-container *ngFor="let groupOfItem of chatService.allChatGroupsList; let i = index" >
            <div class="list-group-item " 
            (click)="getGroupDetails(groupOfItem)">
                <div  class="d-flex justify-content-between" >
                    <p class=" ellipsis p-0  group_name" title=" {{ groupOfItem.group_name }} "> {{ groupOfItem.group_name }}  </p>   
                    <p class="last_date"> {{ groupOfItem.last_date }} </p>    
                </div>
                <div  class="d-flex justify-content-between" >  
                    <p class=" ellipsis p-0 last_message" title="{{ groupOfItem.last_message }} "> {{ groupOfItem.last_message }}   </p>      
                    
                    <span  class="trash_icon"
                    (click)="getParticipantsFormFirebase(groupOfItem.participants , groupOfItem.key)">
                        <i class="far fa-trash-alt"></i>
                    </span> 
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- 
<div  class=" d-flex" >
    <span> {{ groupOfItem.group_name }} </span>   
    <span> {{ groupOfItem.last_date }} </span>    
</div>
<div  class=" d-flex" >  
    <span> {{ groupOfItem.last_message }} </span>      
    
    <span (click)="getParticipantsFormFirebase(groupOfItem.key)">
        <i class="far fa-trash-alt"></i>
    </span> 
</div> -->