@import 'src/assets/scss/_variables.scss';
 .teacher-list-request{
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 1.7rem;
    height: 74vh;
    margin-top: 1rem;
  .head_groupName{
    color: #3A3A3A;
    font-size: 1.23rem;
    font-family: Almarai-Bold;
    padding-bottom: 1rem;
  }
    .internal_scroll_list_group{
      
                height: 63vh;
                overflow-y: auto;
                height: 63vh;
                overflow-x: hidden;
                padding: 0.3rem;
            }
                    .Catogry_Icon_Sort{
                        padding: 0.5rem;
                       background-color: #F4F5F7;
                       margin-right: 0.3rem;
                       margin-left: 0.3rem;
                       border-radius: 0.5rem;
                       width: 1;
                       height: 29px;
                       align-self: center;
                       }
                       .Catogry_Icon_Add{
                        align-self: center;  
                        margin-right: 0.3rem;
                        margin-left: 0.3rem;
                       }

}
 .teacher-list-request{
        &:lang(en){
            margin-left: 1rem;
            text-align: left;
        }
        &:lang(ar){
            margin-right: 0rem;
            text-align: right;

        }
        &__addGroup{
            color: #CB9118;
            font-size:0.85rem ;
            font-family: Almarai-Bold;
            justify-content: flex-end;
            display: flex;
            align-items: center;
        }
    p{
        font-family: Almarai-Bold;
        font-size: 20px;
        letter-spacing: 0px;
        color: #3A3A3A;
        opacity: 1;
        }

        .list-group-item{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            color: #828282;
            border-radius: 12px;
            letter-spacing: 0px;
            margin-bottom: 1rem;
            opacity: 1;
            margin-top: 1rem;
            font-family: Almarai-Bold;
            font-size: 1rem;
            justify-content: space-between;
            padding: 0.5rem;
               
                .group_name{
                 color: #8E2520;
                 font-family: Almarai-Bold;
                 font-size: 15px;
                }
                .last_date{
                    color: #3A3A3A;
                    font-family: Almarai-Regular;
                    font-size: 9px; 
                }
                .last_message{
                color: #3A3A3A;
                 font-family: Almarai-Regular;
                 font-size: 10px; 
                }
                .trash_icon{
                    color:#8E2520;
                    margin-right: 0.2rem;
                    margin-left: 0.2rem;
                }
                 
                &.active ,&:hover
                {    
               background: #CB9118 0% 0% no-repeat padding-box;       
               color: #FFFFFF;
               opacity: 1;
               text-decoration: none;
               .trash_icon,.last_message,.last_date,.group_name{
                color:#fff;
                }
            }   
            .ellipsis{
                width: 80%;
            }   
}
        
}    

       
   