@import "../stu-card-request/stu-card-request.component.scss";
.card-request{
      
      .ellipsis {
        width: 145px;
      }
}

    .program_rejected
    {
        height: 10vh;
        overflow-y: auto;
    }