<div class="card-request">
    <div class="card_header  align-items-center ">
      <section class="example-section mt-2" *ngIf="typeEnum === tabTypeSelected.Pending">
      <mat-checkbox  class="example-margin" [(ngModel)]="teacherSubscripModel.checked" (ngModelChange)="updateAllItemsCheckedCall()"></mat-checkbox>
    </section>
    
    <div>

      <span>  {{'TEACHER_SUBSCRIBERS.REQUEST_DATE' | translate}}  </span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span> {{teacherSubscripModel.requestDate | date: 'dd/MM/yyyy'}}</span> 
    </div>
    
    </div>
  
    <div class="card_body">

      <div class="d-flex  justify-content-end" *ngIf='typeEnum === tabTypeSelected.Empty' >
        <p class="program__num mb-0  mr-3 ml-3">
          {{ translate.currentLang == langEnum.en ? teacherSubscripModel?.enStatName : teacherSubscripModel?.arStatName}}</p>
        <span class="status mb-0" [ngClass]="{ 'accept' : teacherSubscripModel.statusNum === tabTypeSelected.Accept ,
                                  'pending' : teacherSubscripModel.statusNum === tabTypeSelected.Pending ,
                                  'rejected' : teacherSubscripModel.statusNum === tabTypeSelected.Rejected}
                                 ">
        </span>
      </div>
      
      <div class="d-flex justify-content-between mb-3">
        <img *ngIf='!teacherSubscripModel.avatarLink'  (click)="showDetails(teacherSubscripModel?.usrId , teacherSubscripModel?.progName)" class="img_user cursor-pointer" src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='teacherSubscripModel.avatarLink'   (click)="showDetails(teacherSubscripModel?.usrId,teacherSubscripModel?.progName)" class="img_user cursor-pointer" src="{{teacherSubscripModel.avatarLink}}" >
      <div class="mx-1 container-width">
        <p class="number_request mb-3">{{teacherSubscripModel.no}}</p>
        <p class="name_user bold mb-2 ellipsis p-0" title="{{teacherSubscripModel.usrNameAr}}" (click)="showDetails(teacherSubscripModel?.usrId,teacherSubscripModel?.progName)">{{teacherSubscripModel.usrNameAr}}</p>
        <!-- <p class="program_user bold mb-0 "> {{teacherSubscripModel.progName}}</p> -->
        <p class="program_user bold mb-0 ellipsis p-0" 
        title=" {{translate.currentLang === langEnum.en ? teacherSubscripModel.enProgBatName : teacherSubscripModel.arProgBatName }}"> {{translate.currentLang === langEnum.en ? teacherSubscripModel.enProgBatName : teacherSubscripModel.arProgBatName }}</p>
        <!-- <p class="program_user bold mb-0 "> المقابلة {{teacherSubscripModel.interviewTime}}</p> -->
      </div>
        <!-- <div class="d-flex" >
          <a> <img  class="vedio" src="../../../../assets/images/request/vedio.svg"></a>
          <a> <img  class="call"  src="../../../../assets/images/request/call.svg"></a>
        </div> -->
      </div>
      <ng-container *ngIf="teacherSubscripModel.rejReas">
        <p class="program_rejected  mb-0 pb-2"  *ngIf="typeEnum === tabTypeSelected.Rejected"> 
          <span class="bold mx-1">{{'TEACHER_SUBSCRIBERS.REJECT_REASON' | translate}}:  </span> 
          <span>
            {{teacherSubscripModel.rejReas}}
          </span>
        </p>
      </ng-container>
    </div>

    <div class="body_footer" *ngIf="typeEnum === tabTypeSelected.Pending ">
    <button class="btn cancel-btn" (click)='acceptTeacherProgramSubscriptionEvent()' [disabled]="teacherSubscripModel.checked">
      {{ "GENERAL.ACCEPT" | translate }} </button>
      <!-- <button class=" btn btn_replay" [attr.disabled]="showAddReplyArea || scientificProblem.repText ? true : null" (click)='showAddReplyAreaTog()'> {{'SCIENTIFIC_PROBLEM.REPLY_ANSWER' | translate}}</button> -->
      <button  class=" btn save-btn" (click)='rejectTeacherProgramSubscriptionEvent()' >  {{ "GENERAL.REJECT" | translate }} </button>
    </div>
  </div>
