<div class="card-request">
    <div class="card_header  align-items-center ">
      <section class="example-section mt-2" *ngIf="typeEnum === tabTypeSelected.Pending ">
      <mat-checkbox  class="example-margin" [(ngModel)]="teacherSubscripModel.checked" ></mat-checkbox>
    </section>
    
    <div>
      <span> تاريخ الطلب</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span> {{teacherSubscripModel.requestDate}}</span> 
    </div>
    
    </div>
  
    <div class="card_body">
      <div class="d-flex justify-content-between mb-3">
        <img *ngIf='!teacherSubscripModel.avatarLink' class="img_user" src="../../../../assets/images/student/user-profile.svg">
        <img *ngIf='teacherSubscripModel.avatarLink' class="img_user" src="{{teacherSubscripModel.avatarLink}}" > 
      <div class="mx-1">
        <p class="number_request mb-1 ">{{teacherSubscripModel.programStaNum}}</p>
        <p class="name_user bold mb-2">{{teacherSubscripModel.usrNameAr}}</p>
        <!-- <p class="program_user bold mb-0 "> {{teacherSubscripModel.progName}}</p> -->
        <p class="program_user bold mb-0 "> {{translate.currentLang === langEnum.en ? teacherSubscripModel.enProgBatName : teacherSubscripModel.arProgBatName }}</p>
        <!-- <p class="program_user bold mb-0 "> المقابلة الاحد 18:30 {{teacherSubscripModel.timeDegree}}</p> -->
      </div>
        <div class="d-flex">
         <!-- <a><img src="../../../../../assets/images/chat.svg"></a>  -->
          <a> <img  class="vedio" src="../../../../assets/images/request/vedio.svg"></a>
          <a> <img  class="call"  src="../../../../assets/images/request/call.svg"></a>
        </div>
      </div>
    </div>

    <div class="body_footer" *ngIf="typeEnum === tabTypeSelected.Pending ">
    <button class="btn cancel-btn" (click)='rejectTeacherProgramSubscriptionEvent()' [disabled]="teacherSubscripModel.checked">  {{ "GENERAL.REJECT" | translate }}  </button>
      <!-- <button class=" btn btn_replay" [attr.disabled]="showAddReplyArea || scientificProblem.repText ? true : null" (click)='showAddReplyAreaTog()'> {{'SCIENTIFIC_PROBLEM.REPLY_ANSWER' | translate}}</button> -->
      <button  class=" btn save-btn" (click)='acceptTeacherProgramSubscriptionEvent()'>  {{ "GENERAL.ACCEPT" | translate }} </button>
    </div>
  </div>
