@import '../../../../../../admin-teacher-tab/admin-teacher-tab/admin-teacher-tabs-details/admin-teacher-program/admin-teacher-program-list/admin-teacher-program-list.component.scss';
.list-group_program-list{
    height: 78vh;
}
