
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <app-user-requests-categories-view (selectedCategoryId)="setSelectedCategory($event)" (inputCategoryId)="setInputCategoryId($event)">
                
            </app-user-requests-categories-view>
        </div>
        <div class="col-lg-9  col-md-9 col-sm-12 pl-0"*ngIf='showScientificProbreqs'> 
            <app-user-scientific-problem (openScientificProblem)="openScientificProblem($event)" ></app-user-scientific-problem>
        </div>
        <div class="col-lg-9  col-md-9 col-sm-12 pl-0" *ngIf='showJoinReqs'>
            <app-user-join-requests></app-user-join-requests>
        </div>

        <div class="col-lg-9  col-md-9 col-sm-12 pl-0" *ngIf='showWithdrawalReqs'>
            <app-user-withdrawal-requests></app-user-withdrawal-requests>
        </div>
       
    </div>

    <div class="overlay" *ngIf="showAddscientificProblemForm">
        <app-add-scientific-problem 
        (closeScientificProblem)='closeScientificProblem($event)'
        ></app-add-scientific-problem>
    </div>

</div>


