
<div class="container-fluid"> 
        <div class="row group_header fix_margin w-100">
        <div class="item_group item_group_active" >
            البيانات الاساسية
        </div>
        <div class="item_group" >
            الشروط
        </div>
        <div class="item_group" >
            إختبارات الانضمام
        </div>
        <div class="item_group" >
            الايام
        </div>
        <div class="item_group" >
            الاختبارات الدورية
        </div>
        <div class="item_group" >
            إلية التنبيه
        </div>
      
    </div>
    <!-- {{selectedRoleId | json}} -->
   
    <div class="row fix_margin w-100" >
        <div class="col-12 px-0 ">
           ohcsodf 

        </div>
     
      </div>
    </div>
