<div class=" row setting-list">    
    <section class="row contanier_setting-card ">
        <a class="setting-card col-lg-5 col-md-5 col-sm-12 m-2 disabled_sidenav" >
            <div class="row">             
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p> {{ 'SETTING_PG.NOTIFICATION' | translate }} </p>    
                    </div>               
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span> <img class="MaskGroup" src="assets/images/setting/MaskGroup17.svg" alt=""></span>
                </div>
            </div>  
        </a>

        <a class="setting-card col-lg-5 col-md-5 col-sm-12 m-2 disabled_sidenav">
            <div class="row">             
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p> {{ 'SETTING_PG.CRETIFICATION' | translate }} </p>    
                    </div>               
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span> <img class="MaskGroup" src="assets/images/setting/MaskGroup15.svg" alt=""></span>
                </div>
            </div>  
        </a>

        <a class="setting-card col-lg-5 col-md-5 col-sm-12 m-2" [routerLink] = "['/walk-through/view-all-walk-through']">
            <div class="row">             
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p> {{ 'SETTING_PG.PROVIDED_SCREEN' | translate }} </p>    
                    </div>               
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span> <img class="MaskGroup" src="assets/images/setting/MaskGroup16.svg" alt=""></span>
                </div>
            </div>  
        </a>
        

        <a class="setting-card col-lg-5 col-md-5 col-sm-12 m-2 disabled_sidenav" [routerLink] = "['/dashboard']">
            <div class="row">             
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p> {{ 'SETTING_PG.USER_MANAGEMENT' | translate }} </p>    
                    </div>               
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span> <img class="MaskGroup" src="assets/images/setting/MaskGroup20.svg" alt=""></span>
                </div>
            </div>  
        </a>

        <a class="setting-card col-lg-5 col-md-5 col-sm-12 m-2" [routerLink]="['/content-management/content-management-system-view']">
            <div class="row">             
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p> {{ 'SETTING_PG.ABOUT_HUFFAZ' | translate }} </p>    
                    </div>               
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span> <img class="MaskGroup" src="assets/images/setting/MaskGroup21.svg" alt=""></span>
                </div>
            </div>  
        </a>

        <a class="setting-card col-lg-5 col-md-5 col-sm-12 m-2 disabled_sidenav">
            <div class="row">             
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p> {{ 'SETTING_PG.POWER' | translate }} </p>    
                    </div>               
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span> <img class="MaskGroup" src="assets/images/setting/MaskGroup22.svg" alt=""></span>
                </div>
            </div>  
        </a>
    </section>
</div> 