

@import 'src/assets/scss/_variables.scss';
input{
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right:0 !important ;
}

input:focus{
    box-shadow:none
}

.border_radius:lang(ar){
    left: 0 !important;
    border: 1px solid $border-input !important;
    // border-left: 0 !important;
    border-right:0 !important ;
    border-radius: 10px 0px 0px 10px !important;
}
.border_radius:lang(en){
    left: 0 !important;
    border: 1px solid $border-input !important;
    // border-left: 0 !important;
    border-left:0 !important ;
    border-radius: 0 10px 10px 0 !important;
}

.plus_input{
    color: $icon_input;
}