
  <div class="row scientific-problem-grid" >
  
    <div class="col-8 d-flex justify-content-start">
            <ngb-pagination 
            [collectionSize]="totalCount"
            [(page)]="teacherSystemSubscriptionFilterRequestModel.page" 
            [pageSize]="teacherSystemSubscriptionFilterRequestModel.take"
            [rotate]="true"
            [boundaryLinks]="true" 
            (pageChange)="onTeacherPageChange()">
            </ngb-pagination>
      <button  [ngClass]="{'default_btn': teacherSystemSubscriptionFilterRequestModel.sortField != 'userNameAr' && teacherSystemSubscriptionFilterRequestModel.sortField != 'UserNameEn', 'asend_desend_btn' : this.teacherSystemSubscriptionFilterRequestModel.sortField != 'requestdate' }"
      (click)='sortTeacherByName()'>
      {{'User_Requests.SORT_NAME' | translate}} 
          <span *ngIf='this.teacherSystemSubscriptionFilterRequestModel.sortField != "userNameAr" && this.teacherSystemSubscriptionFilterRequestModel.sortField != "UserNameEn"'>
                  <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span> 
          <span *ngIf='sortTeacherByNameOrderType() == "asend"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span> 
          <span *ngIf='sortTeacherByNameOrderType() == "desend"'>
              <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span>
      </button>
      <button  [ngClass]="{'asend_desend_btn': teacherSystemSubscriptionFilterRequestModel.sortField != 'userNameAr' && teacherSystemSubscriptionFilterRequestModel.sortField != 'UserNameEn', 'default_btn' : this.teacherSystemSubscriptionFilterRequestModel.sortField != 'requestdate'}"
      (click)='sortTeacherRequestDate()'> 
       {{'User_Requests.SORT_DATE' | translate}}
       
          <span *ngIf='this.teacherSystemSubscriptionFilterRequestModel.sortField != "requestdate"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/Group 18449.svg">
          </span>
          <span *ngIf='sortTeacherRequestDateOrderType() == "asend"'>
              <img  class="asend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span> 
          <span *ngIf='sortTeacherRequestDateOrderType() == "desend"'>
              <img  class="desend_btn" src="../../../../assets/images/sc-problem/desend.svg">
          </span>
       </button>
      </div> 
       <div class="col-4 pl-4 text-right align-self-center">
          <mat-checkbox class="example-margin ml-1 mr-1 scProblem"
                    [checked]="allSelected"
                    [indeterminate]="someTeachertItemsChecked()"
                    (change)="setTeacherAllChecked($event.checked)"></mat-checkbox>

          <a class=" ml-2 mr-2" [class.disabled]='!enableTeacherSelectOperations()'
          [ngClass]="{'dimmed': typeTeacheEnum === teacherTabTypeSelected.Accept ||  typeTeacheEnum === teacherTabTypeSelected.Rejected}">
              <i (click)='acceptAllTeacherSystemSubscriptionChechedEvent()' class="fa fa-check fa-lg "></i>
          </a>
          <a class=" ml-1 mr-1" [class.disabled]='!enableTeacherSelectOperations()'>
              <img  class="exportIcon" (click)='exportTeacherCSV()' 
              src="../../../../assets/images/sc-problem/exporticon.svg">
          </a>
       </div>
  </div>

  <mat-grid-list cols="{{numberPerRow}}" rowHeight="3:3">
    <ng-container >
        <mat-grid-tile *ngFor='let item of teacherSystemSubscriptionItems' >
         <app-teacher-system-card-request class="card" 
         [teacherSystemSubscriptionModel]='item' 
         (rejectTeacherSystemSubscription)="rejectTeacherSystemSubscriptionEvent($event)"
         (acceptTeacherSystemSubscription)="acceptTeacherSystemSubscriptionEvent($event)"
         [typeEnum]='typeEnum' 
         ></app-teacher-system-card-request>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>
