
<div class="day-memorize">
    <div class="row">
    <h3 class="ml-3">الحفظ</h3>
        
        <mat-checkbox  class="example-margin mx-2"   [(ngModel)]="dayTaskMemorizenModel.isMndatory"
        class="example-margin ">الزامى </mat-checkbox>
    </div>
    
    
    
     <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input"> الدرجة</label>
    
               <input type="text" class="form-control w-50" [(ngModel)]="dayTaskMemorizenModel.degree" >
        
            </div>
    
        </div>
        
    </div>
    
   
  
    
    <div class="form-group">
        <label class="custom-file custom-file__text" for="importFile">
         
            <span> 
                <!-- <img calss="page-image"    src="assets/images/walk-through/Group 18093.svg"  > -->
                <p> إختر الملفات لرفعها / اسحبها وضعها هنا</p>
            </span>
        </label>
        
        <input type="file" class="custom-file-input" id="importFile" [(ngModel)]="dayTaskMemorizenModel.bookAttatchments"
        (change)="onFileChange($any($event.target).files)" >
    
        
                <div class="col-4 cardRecourd"  *ngFor="let item of fileList;let i=index" >
                    <img src="assets/images/days/book.svg">
                    <span>00</span>
                    <i class="fas fa-play-circle"></i>
                    <img src="assets/images/trash-2.svg" (click)="DeleteAttachment(i,item.id)">
                </div>
    </div>
    
   

    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label class="text-right header_input"> الصفحات</label>
            <div class="d-flex ">
                <input type="text" class="form-control  " [(ngModel)]="dayTaskMemorizenModel.frmoPage" >
                
                <input type="text" class="form-control mx-2" [(ngModel)]="dayTaskMemorizenModel.toPage" >

                <mat-checkbox  class="example-margin mx-2"  
                class="example-margin ">الزامى </mat-checkbox>

            </div>
              
            </div>
    
        </div>
        
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label class="text-right header_input"> السؤال الذي يظهر للطالب </label>
    
               <input type="text" class="form-control " [(ngModel)]="dayTaskMemorizenModel.questionToStudent" >
        
            </div>
    
        </div>
        
    </div>
    
    
    
    <section class="mt-5">
        <div  class="row direction-rtl buttons-center mt-5">
            <button   type="submit" class="save-btn" (click)="saveUpload()" > 
                <!-- {{ "GENERAL.SAVE" | translate }} -->
                SAVE
            </button>
           
            <button    type="reset" class="cancel-btn"  > 
                <!-- {{ "GENERAL.CANCEL" | translate }} -->
                CANCEL
                
            </button>
        </div>
    </section>
    
    
    
    </div>