<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 pl-0">
            <app-programs-list (selectedProgram)="setSelectedProgram($event)"></app-programs-list>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 pl-0">
            <app-material-list (materialId)=loadSelectedMateial($event) [selectedProgram]="selectedProgram">
            </app-material-list>
        </div>
       
    </div>

<div class="overlay" *ngIf="showMaterialForm">
    <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeMaterialForm()">&times;</a> -->
    <app-add-scientific-material [selectedMaterialId]="selectedMaterialId"
        (submitSuccess)="closeMaterialFormAfterSave($event)"></app-add-scientific-material>
</div>

</div>