<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 ">
            <app-programs-list (selectedProgramId)="setSelectedProgram($event)"></app-programs-list>
        </div>
        <div class="col-lg-8  col-md-8 col-sm-8 ">
            <app-material-list (materialId)=loadSelectedMateial($event) [selectedProgramId]="selectedProgramId">
            </app-material-list>
        </div>
       
    </div>

<div class="overlay" *ngIf="showMaterialForm">
    <a href="javascript:void(0)" class="closebtn" (click)="closeMaterialForm()">&times;</a>
    <app-add-scientific-material [selectedMaterialId]="selectedMaterialId"
        (submitSuccess)="closeMaterialFormAfterSave($event)"></app-add-scientific-material>
</div>

</div>