<div class="container-fluid UpdateUser" >
    <div class="row">
        <div class="box_container">


                <div class="col-12 profile p-0 mb-3">
                    <div class="profile_background"></div>
                    <img class="img_profile" src="../../../../../assets/images/profile1.png">
                    <input type="file" style="display: none;" #fileInput>
                    <a class="custom_file_input"  style="text-decoration: none;" id="upload_link">
                        <!-- {{'UPDATE_USER_PG.CHANGE_PIC' | translate}} -->
                        <img src="assets/images/update-user/UploadImage.svg"/>
                    </a>
                  
                </div>

                <div class="col-12 textLeft">
                    <a (click)="navEditProf()"><img  class="ml-2 mr-2" src="../../../../../assets/images/student/edit.svg">
                    <span class="profile_edit">{{'UPDATE_USER_PG.EDIT_PROFILE' | translate }}</span></a>
                 </div>
                
             <div class="col-12">
                 <div class=" row info_profile">
                


<!--  view teacher profile -->
                    <div class="col-9  info_profile ">
                    <div class="row">
                       <div class="col-5"></div>
                        <div class="col-5  mt-4  mb-4 border text-center">
                            <!-- <p class="update_item_profile-name"> {{ translate.currentLang === langEnum.en ? teacherProfileDetails?.fnameEn : teacherProfileDetails?.fnameAr }} {{ translate.currentLang === langEnum.en ? teacherProfileDetails?.mnameEn : teacherProfileDetails?.mnameAr }} {{ translate.currentLang === langEnum.en ? teacherProfileDetails?.faNameEn : teacherProfileDetails?.fanameAr }} </p>  -->
                            <!-- <p class="update_item_profile-name"> {{ translate.currentLang === lang.en ? teacherProfileDetails?.engNatName : teacherProfileDetails?.arbNatName}} </p> -->

                            <p class="update_item_profile-name">
                                {{ translate.currentLang === lang.en ? teacherProfileDetails?.fnameEn : teacherProfileDetails?.fnameAr }} 
                                {{ translate.currentLang === lang.en ? teacherProfileDetails?.mnameEn : teacherProfileDetails?.mnameAr }} 
                                {{ translate.currentLang === lang.en ? teacherProfileDetails?.faNameEn : teacherProfileDetails?.fanameAr }} 
                                
                            </p>
                            <p class="brith_date">starts</p>
                            <span class="brith_date"> {{ teacherProfileDetails?.hijriBirthDate }} </span>
                        </div>
                        
                           
                            <!-- start data -->
                            <div class="col-12 internal_scroll">
                                <div class="row">
                                    <div class="col-4  mb-3">
                                        <span class="label_info">{{ 'GENERAL.EMAIL' | translate }} </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{ teacherProfileDetails?.usrEmail }}
                                        </span>
                                    </div>
                                    <div class="col-8  mb-3">
                                        <span class="label_info">{{ 'GENERAL.PHONE_NUMBER' | translate }} </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{ teacherProfileDetails?.mobile }}
                                        </span>
                                    </div>

                                    <div class="col-4  mb-3">
                                        <span class="label_info">{{ 'GENERAL.NATIONALITY' | translate}}</span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{  translate.currentLang === lang.en ? teacherProfileDetails?.engNatName : teacherProfileDetails?.arbNatName }}                                    
                                        </span>
                                    </div>

                                    <div class="col-4  mb-3">
                                        <span class="label_info"> {{ 'UPDATE_USER_PG.COUNTRY' | translate }}</span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{  translate.currentLang === lang.en ? teacherProfileDetails?.countryEn : teacherProfileDetails?.countryAr }}
                                        </span>
                                    </div>

                                    <div class="col-4  mb-3">
                                        <span class="label_info"> {{ 'UPDATE_TEACHER_PG.CITY' | translate }}</span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{  translate.currentLang === lang.en ? teacherProfileDetails?.cityEn : teacherProfileDetails?.cityAr }}
                                        </span>
                                    </div>

                                    <div class="col-12  mb-5">
                                        <span class="label_info">  {{ 'UPDATE_USER_PG.ADDRESS' | translate }} </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{ teacherProfileDetails?.address }}
                                        </span>
                                    </div>
<!-- التعليم الاكاديمى -->
                                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 ml-3 mr-3 mt-3 mb-4 border_bottom">
                                    <label class="UpdateUser__Label"> {{ 'UPDATE_TEACHER_PG.EDU' | translate }} </label>
                                    </div>

                                    <div class="col-12"></div>
                                    <div class="col-4  mb-3">
                                        <span class="label_info"> {{ 'UPDATE_TEACHER_PG.EDU' | translate }} </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{  translate.currentLang === lang.en ? teacherProfileDetails?.educationLevelEn : teacherProfileDetails?.educationLevelAr }} 
                                        </span>
                                    </div>

                                    <div class="col-4  mb-3">
                                            <span class="label_info"> {{ 'UPDATE_USER_PG.EDU_LEVEL' | translate }} </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{  translate.currentLang === lang.en ? teacherProfileDetails?.qualifiEn : teacherProfileDetails?.qualifiAr }}                                       </span>
                                    </div>

                                    <div class="col-4  mb-3">
                                        <span class="label_info">  {{ 'UPDATE_USER_PG.OCCUPATION' | translate }}
                                        </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        <span class="data_view">
                                            {{  translate.currentLang === lang.en ? teacherProfileDetails?.speciaEn : teacherProfileDetails?.speciaAr }}
                                        </span>
                                    </div>

                                    <div class="col-3  ">
                                        <span class="label_info"> {{ 'UPDATE_TEACHER_PG.LEARN_THEQURAN' | translate }}  </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        </div>
                                    <div class="col-9  ">
                                       <div class="row">
                                        <div class="col-5">
                                            <div class="badges " >
                                                <div class="badge badge-info p-2 " >
                                                <div class="d-flex justify-content-between mt-0">
                                                    <p class="ellipsis mb-0" matTooltip="fff">  {{  translate.currentLang === lang.en ? teacherProfileDetails?.eduYearEn : teacherProfileDetails?.eduYearAr }} - {{  translate.currentLang === lang.en ? teacherProfileDetails?.agencyEn : teacherProfileDetails?.agencyAr }}</p>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                      </div>
                                        

                                      <div class="col-3  ">
                                        <span class="label_info">   {{ 'UPDATE_TEACHER_PG.LEAVE_RECITATION_VIEW' | translate }}   </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        </div>
                                    <div class="col-9  ">
                                       <div class="row">
                                        <div class="col-5" *ngFor="let item of teacherProfileDetails?.rewayats">
                                            <div class="badges " >
                                                <div class="badge badge-info p-2 " >
                                                <div class="d-flex justify-content-between mt-0">
                                                    <p class="ellipsis mb-0" matTooltip="fff">  {{  translate.currentLang === lang.en ? item?.nameEn : item?.nameAr }} </p>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                      </div>
                                   

                                      <div class="col-3  ">
                                        <span class="label_info">   {{ 'UPDATE_TEACHER_PG.LANGUAGES' | translate }}   </span>
                                        <span>  &nbsp; </span>
                                        <span>  &nbsp; </span>
                                        </div>
                                    <div class="col-9  ">
                                       <div class="row">
                                        <div class="col-5" *ngFor="let item of teacherProfileDetails?.languages">
                                            <div class="badges  " >
                                                <div class="badge badge-info p-2 " >
                                                <div class="d-flex justify-content-between mt-0">
                                                    <p class="ellipsis mb-0" matTooltip="fff">   {{  translate.currentLang === lang.en ? item?.nameEn : item?.nameAr }}  </p>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                      </div>


                                      <!--البرامج و الاوقات المتاحة -->
                                    <div class="col-4 mt-4 mb-3 pl-0 pr-0 ml-3 mr-3  mt-3 mb-4 border_bottom">
                                        <label class="UpdateUser__Label"> {{ 'UPDATE_TEACHER_PG.AVAILABLE_PROGRAMS_AND_TIMES' | translate }} </label>
                                    </div>
                                    <div class="col-12 times_programs">
                                        <div class="row">
                                        <div class="col-4" *ngFor="let item of teacherProfileDetails?.interviewDays">
                                            <div class="badges" >
                                                <div class="badge badge-info p-2 ">
                                                <div class="d-flex justify-content-between mt-0">
                                                    <p class="ellipsis mb-0" > 
                                                        {{  translate.currentLang === lang.en ? item?.nameEn : item?.nameAr }} <span>&nbsp; </span>
                                                        <!-- <span>من 5:00 الي 8:00</span> -->
                                                        <span *ngIf="translate.currentLang === lang.en">
                                                            From {{ item.fromTime }} To {{ item.toTime }}
                                                        </span>
                                                        <span *ngIf="translate.currentLang === lang.ar">
                                                            من {{ item.toTime }} الي {{ item.fromTime }}
                                                        </span>

                                                    </p>
                                                    <a ><img src="../../../../../assets/images/update-user/cancel.svg"> </a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    
                                    <!-- end data -->
                                </div>


                           </div>
                     </div>
                </div>
          
     <!-- left side -->
     <div class="col-3 leftside mt-3">
        <div class="count_data mt-3">
           <p class="leftside_item">
               ساعات العمل المخططة
           </p>
           <p class="leftside_item_count">
               30
           </p>
           <hr>
       </div>
       <div class="count_data mt-3">
           <p class="leftside_item">
               ساعات العمل المخططة
           </p>
           <p class="leftside_item_count">
               30
           </p>
           <hr>
       </div>
       <div class="count_data mt-3">
           <p class="leftside_item">
               ساعات العمل المخططة
           </p>
           <p class="leftside_item_count">
               30
           </p>
           <hr>
       </div>
       <div class="count_data mt-3">
           <p class="leftside_item">
               ساعات العمل المخططة
           </p>
           <p class="leftside_item_count">
               30
           </p>
           <hr>
       </div>

       </div>
            <!--  end left side -->







<!-- end  view teacher profile -->



             </div>
        </div>
    </div>
</div>
