<div class="container-fluid UpdateUser" >
    <div class="row">
        <div class="box_container">


                <div class="col-12 profile p-0 mb-3">
                    <div class="profile_background"></div>
                    <img class="img_profile" src="../../../../../assets/images/profile1.png">
                    <input type="file" style="display: none;" #fileInput>
                    <a class="custom_file_input"  style="text-decoration: none;" id="upload_link">
                        <!-- {{'UPDATE_USER_PG.CHANGE_PIC' | translate}} -->
                        <img src="assets/images/update-user/UploadImage.svg"/>
                    </a>
                  
                </div>

                <div class="col-12 textLeft">
                    <a><img  class="ml-2 mr-2" src="../../../../../assets/images/student/edit.svg">
                    <span class="profile_edit">{{'UPDATE_USER_PG.EDIT_PROFILE' | translate }}</span></a>
                 </div>
                

                 <div class="internal_scroll">

                    <div class="col-8 border">
                        <label class="UpdateUser__Label mt-3">{{'UPDATE_USER_PG.PERSONAL_INFORMATION' | translate}} </label>
                    </div>
          
        </div>
    </div>
</div>
