
@import '../../../user/components/update-user-profile/update-user-profile.scss';

.box_container{
  width: 99%;
  height: 88vh;
}
.profile_background{

  background: url(../../../../../assets/images/profile_img.svg) !important;
  height: 207px;
  width: 100%;
  border-radius: 30px;
  
}
.textLeft:lang(en){
  text-align: right;
}
.textLeft:lang(ar){
  text-align: left;
}


.profile_edit
{
  color: $edit;
  font-family:Almarai-Bold ;
  font-size: 0.7rem;
  cursor: pointer;
}
// new
.UpdateUser{
  .info_profile{
    .internal_scroll{
      max-height:30vh;
   }

    .leftside{
      border: 1px solid #fff;
      border-radius: 10px;
      background-color: #fff;
      hr{
         width: 66%;
         margin-top: 0rem !important;
         margin-bottom: 0rem !important;
      }
    }

    .leftside_item{
      color: #C1C7D0;
      font-family:Almarai-Regular ;
      font-size: 0.825rem;

    }
    .leftside_item_count{
      color: #8E2520;
      font-family:Almarai-Bold ;
      font-size: 1.56rem;

    }
    .count_data
    {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .update_item_profile-name
    {
      font-size: 2.1875rem;
      font-family: Almarai-Bold;
      line-height: 2rem;

    }
    .brith_date{
      font-size: 1rem;
      font-family: Almarai-Bold;
    }
    .label_info{
      color: #C1C7D0;
      font-family: Almarai-Regular;
      font-size: 0.825rem;


    }
    .data_view{
      color: #7A869A;
      font-size: .875rem;
      font-family: Almarai-Bold;
    }
    .ellipsis{
      max-width: 14rem;
      width: 98%;
      min-width: 10rem;
      }

      .times_programs{
        .ellipsis
        {
        max-width: 15rem;
        width: 98%;
        min-width: 14rem;
        }
    
      }
  }
}
