<div class="card-admin-scientific-problem">
    <div class="card_header">
      <section class="example-section">
        <mat-checkbox class="example-margin">{{scientificProblem.scNo}}</mat-checkbox>
      </section>
    
    <div>
      <span>{{'SCIENTIFIC_PROBLEM.TIME_QUESTION' | translate}} </span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span> {{scientificProblem.scCreatedOn}}</span> 
    </div>
    
    </div>
  
    <div class="card_body">
      <div class="d-flex justify-content-between mb-3">
      <img class="img_user" src="../../../../../assets/images/profile1.png">
      <div class="mt-4">
        <p class="name_user bold mb-0">{{ translate.currentLang === langEnum.en ? scientificProblem.studNameEn : scientificProblem.studNameAr}}</p>
        <!-- <p class="program_user bold mb-0 ">{{scientificProblem.progId}}</p>
        <p class="daily_work mb-0">{{scientificProblem.day}}</p> -->
      </div>
      <div><a> <img src="../../../../../assets/images/chat.svg"></a></div>
      </div>
      <div class="body_header">
        <span>{{'SCIENTIFIC_PROBLEM.QUESTION' | translate}}</span>
      </div>
     
      <div class="body_container">
        <p>
          {{scientificProblem.questText}}
         </p>
      </div>
      <div class="body_header">
      <span >{{'SCIENTIFIC_PROBLEM.REPLY' | translate}}</span>
      <span class="teacher_name bold">{{ translate.currentLang === langEnum.en ? scientificProblem.adNameEn : scientificProblem.adNameAr}}</span>
      </div>
      <div class="body_container">
        <p>
          {{scientificProblem.repText}}
         </p>
      </div>
     
    </div>
    <div class="body_footer">
      <button class="btn cancel-btn"> {{'SCIENTIFIC_PROBLEM.ADDLINK' | translate}}</button>
      <button class=" btn btn_replay"> {{'SCIENTIFIC_PROBLEM.REPLAYANSWER' | translate}}</button>
      <button class=" btn save-btn"> {{'SCIENTIFIC_PROBLEM.DELETE' | translate}}</button>
    </div>
  </div>