@import '../../../../assets/scss/buttons';
@import '../../../../assets/scss/variables';

.card-admin-scientific-problem {
    background: $white;
    box-shadow: 0px 3px 15px $box-shadow;
    border-radius: 12px;
    padding: 0  ;
    // 20px 100px 20px
    overflow: hidden;
     font-family: Almarai-Regular;
     font-size: 14px;
    
     
     .bold{
      font-family:Almarai-Bold ;
      font-size: 1rem;
      
      }
    .card_header{
      background-color: $user-color;
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px ;
      font-size: 0.75rem;
      font-family:Almarai-Regular;
      // .label-date{
      //   font-size: 0.75rem;
      //   font-family: Almarai-Regular;
  
      // }
      // .date-card{
      //   font-size:0.875rem;
      //   font-family: Almarai-Regular;
  
      // }
      
    }
  
  
    .card_body{
      background-color: $white;
      height: 230px;
      padding:  20px ;
      padding-top: 10px;
      color: #363636;
      :lang(en){text-align: left;}
      :lang(ar){text-align: right;}
      .name_user{
        color: $user-color;
        font-size: 18px;
  
      }
      .card_body_data{
        height: 60%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
      .img_user{
        width: 75px;
        height: 75px;
        border: 1px solid #C1C7D0;
        border-radius: 5px;
      }
      .program_user{
        color: #3A3A3A;
        font-size: 0.875rem;
      }
      .daily_work{
        color: #C1C7D0;
        font-size: 0.75rem;
        font-family: Almarai-Regular;
        
      }
      .body_header{
        background-color: $white;
        display: flex;
        justify-content: space-between;
        // padding-bottom: 0.5rem;
        color: #9C9C9C;
        font-family:Almarai-Bold ;
        font-weight: bold;
        font-size: 1rem;
  
        .teacher_name{
          color: #CB9118;
        font-size: 1rem;
  
        }
      }
      .body_container{
        font-family: Almarai-Bold;
        font-size: 0.875rem;
        color: #363636;
        
  
      }
    } // card body
    .body_footer{
      display: flex;
      justify-content: space-between; 
      padding: 0 20px;
      margin-bottom: 0.7rem;
      margin-top: 0.5rem;
      .btn{
        margin: 0rem;
        height: 2rem;
        width: auto;
        min-width: 5.5rem;
        font-size: 0.7rem;
      }
     } //footer
   
  
  }
