<div class="days_details">

    sdfsf {{readExplanationDetailsModel?.isMndatory}}
    qurestino {{readExplanationDetailsModel?.questionToStudent}}

    <app-program-day-task-hearing *ngIf="detailsTypeEnum.taskHearing===taskDetails?.huffazTask"
     [hearingTaskDetailsModel]='hearingTaskDetailsModel'>
    </app-program-day-task-hearing>

    <app-program-day-task-read-explanation *ngIf="detailsTypeEnum.TaskReadExplanation===taskDetails?.huffazTask"
    [readExplanationDetailsModel] ='readExplanationDetailsModel'></app-program-day-task-read-explanation>

    <!-- <app-program-day-task-memorize *ngIf="detailsTypeEnum.TaskMemorize===taskDetails?.huffazTask" [memorizeDetailsModel] ='memorizeDetailsModel'></app-program-day-task-memorize>
    <app-program-day-task-repetition *ngIf="detailsTypeEnum.TaskRepetition===taskDetails?.huffazTask" [repetitionDetailsModel]="repetitionDetailsModel"></app-program-day-task-repetition>
    <app-program-day-task-linking *ngIf="detailsTypeEnum.TaskLinking===taskDetails?.huffazTask" [linkingDetailsModel]="linkingDetailsModel"></app-program-day-task-linking>
    <app-program-day-task-daily-test *ngIf="detailsTypeEnum.TaskLinking===taskDetails?.huffazTask" [dailyTestDetailsModel]="dailyTestDetailsModel"></app-program-day-task-daily-test>
    <app-program-day-task-encouragement-letter *ngIf="detailsTypeEnum.TaskEncouragementLetter===taskDetails?.huffazTask" [encouragementLetterDetailsModel]="encouragementLetterDetailsModel"></app-program-day-task-encouragement-letter>
    <app-program-day-task-video *ngIf="detailsTypeEnum.TaskVideo===taskDetails?.huffazTask" [VideoDetailsModel]="VideoDetailsModel"></app-program-day-task-video>
    <app-program-day-task-review *ngIf="detailsTypeEnum.TaskReview===taskDetails?.huffazTask" [reviewDetailsModel]="reviewDetailsModel"></app-program-day-task-review>
    <app-program-day-task-recitation *ngIf="detailsTypeEnum.TaskRecitation===taskDetails?.huffazTask" [recitationDetailsModel]="recitationDetailsModel"></app-program-day-task-recitation>
    <app-program-day-task-recitation-students *ngIf="detailsTypeEnum.TaskRecitationStudents===taskDetails?.huffazTask" [dailyTestDetailsModel]="dailyTestDetailsModel"></app-program-day-task-recitation-students> -->
    <!-- <app-program-day-task-tasmea *ngIf="detailsTypeEnum.TaskTasmea===taskDetails?.huffazTask" []=""></app-program-day-task-tasmea> -->
    <!-- <app-program-day-task-test-phased *ngIf="detailsTypeEnum.TaskTestPhased===taskDetails?.huffazTask" [testPhasedDetailsModel]="testPhasedDetailsModel"></app-program-day-task-test-phased> -->
   

    <button (click)='save()'>SAVE</button>
</div>