<div class="days_details">

    sdfsf {{hearingTaskDetailsModel?.isMndatory}}
    qurestino {{hearingTaskDetailsModel?.questionToStudent}}
    <app-program-day-task-hearing *ngIf="detailsTypeEnum.taskHearing===taskDetails?.huffazTask" [hearingTaskDetailsModel]='hearingTaskDetailsModel'></app-program-day-task-hearing>
    <!-- <app-program-day-task-video></app-program-day-task-video> -->
    <!-- <app-program-day-task-read-explanation></app-program-day-task-read-explanation> -->
    <!-- <app-program-day-task-repetition></app-program-day-task-repetition> -->
    <!-- <app-program-day-task-memorize></app-program-day-task-memorize> -->
    <!-- <app-program-day-task-linking></app-program-day-task-linking> -->

    <button (click)='save()'></button>
</div>