@import '../../../../../../../assets/scss/buttons';
.days_details
{
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    padding: 2rem 0.5rem;

    height: 95%;
    margin-top: 1rem;
    .head {
        font-weight: bold;
        font-size: 1rem;
    }
    &:lang(en)
    {
        text-align: left;
    }
    &:lang(ar)
    {
        text-align: right;
    }
}
.save-btn, .cancel-btn
{
  height: 2.31rem;
  margin: 1rem;

 }


