
<div class="row interTab">
    <div class="col-6" *ngIf='feelingsNotPublishedList'>
        <h3 class="head"> 
            مشاعر الطلاب الجديدة
        </h3>
        
        <ng-container *ngFor="let feelingNotItem of feelingsNotPublishedList">
        <app-card-feelings 
        [feelingsDetailsModel] = "feelingNotItem"  
        (deleteFeeling) = "deleteFeeling($event)"
        (approveCancelFeeling) = "approveCancelFeeling($event)"
        >
        </app-card-feelings>
        </ng-container>
    </div>

    <div class="col-6" *ngIf='feelingsPublishedList'>
        <h3 class="head">
            قائمة مشاعر الطلاب

        </h3>
        <div class="list_old">
            <ng-container>
                <mat-accordion class="feelingCard__OldList"
                    cdkDropList
                    #unassignedList="cdkDropList"
                [cdkDropListData]="feelingsPublishedList"
                        [cdkDropListConnectedTo]="[items1]"
                (cdkDropListDropped)="drop($event)">
                    <mat-expansion-panel cdkDrag  disabled *ngFor="let feelingItem of feelingsPublishedList">
                      <mat-expansion-panel-header >
                        <app-card-feelings 
                        [feelingsDetailsModel] = "feelingItem"  
                        (cancelFeeling)="cancelFeeling($event)"
                        (swapUpEvent)='swapUp($event)'
                        (swapDownEvent)='swapDown($event)'>
                        </app-card-feelings>
                         
                      </mat-expansion-panel-header>
                    </mat-expansion-panel>
              
              
              </mat-accordion>
              </ng-container>
       
            <!-- <ng-container *ngFor="let feelingItem of feelingsPublishedList">
                <app-card-feelings 
                [feelingsDetailsModel] = "feelingItem"  
                (cancelFeeling)="cancelFeeling($event)"
                >
                </app-card-feelings>
            </ng-container> -->
    </div>
</div>
</div>
