
<div class="row interTab">
    <div class="col-6">
        <h3 class="head"> 
            مشاعر الطلاب الجديدة
        </h3>
        
        
        <ng-container *ngFor="let FeelingItem of FeelingsDetailsModel">
        <app-card-feelings 
        [FeelingsDetailsModel] = "FeelingItem"  
        (deleteFeeling) = "deleteFeelingCard($event)"
        (publishList) = "goPublishList($event)"
        >
        </app-card-feelings>
        </ng-container>
    </div>





  
    


    <div class="col-6">
        <h3 class="head">
            قائمة مشاعر الطلاب

        </h3>
        <div class="list_old">
       
            <ng-container *ngFor="let item of FeelingsDetailsModel">
                <app-card-feelings 
                [FeelingsDetailsModel] = "item"  
                (cancelFeeling)="cancelFeelingCard(item.feelId)"
                >
                </app-card-feelings>
            </ng-container>
    </div>
</div>
</div>
