
<div class="row interTab">
    <div class="col-6">
        <h3 class="head"> 
            مشاعر الطلاب الجديدة
        </h3>
        
        <ng-container *ngFor="let item of FeelingsDetailsModel">
        <app-card-feelings [FeelingsDetailsModel] = "item"  (deleteFeeling)="deleteFeelingCard($event)"></app-card-feelings>
        </ng-container>
    </div>





    <mat-accordion 
            cdkDropList
            #unassignedList="cdkDropList"
            [cdkDropListData]=""
                    [cdkDropListConnectedTo]="[]"
            (cdkDropListDropped)="FeelingsDetailsModel" >
        <mat-expansion-panel cdkDrag  disabled>
           
            <mat-expansion-panel-header>
                
                <mat-panel-title class="qestionHeader">
             
                    <div class="col span_question" >
                        <span>
                            mmmm
                        </span> 
                    </div>
                </mat-panel-title>
                <mat-panel-title class="qestionHeader">
             
                    <div class="col span_question" >
                        <span>
                            mmmm
                        </span> 
                    </div>
                </mat-panel-title>

            </mat-expansion-panel-header>
        </mat-expansion-panel>


    </mat-accordion>
    


    <!-- <div class="col-6">
        <div class="list_old">
        <h3 class="head">
            قائمة مشاعر الطلاب

        </h3>
        <app-card-feelings></app-card-feelings>

    </div>
</div> -->
</div>
